{% extends 'base.html' %}
{% load nova_tags %}


{% block breadcrumb %}
    <div class='breadcrumb'>
        <div class='container'>
            <a href="{% url 'sacwis:person_index' %}">All Persons</a>
            <a href="{% url 'sacwis:person_dtl' person_id=instance.id %}">{{instance}}</a>
            {{title}}
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class='container print-hide'>
        <div class="row justify-content-left margin-top-2">
            <div class="col-md-12">
                <h2>{{title}}</h2>
                {% if not instance.nova_client %}
                    <p>
                        This eWiSACWIS Person is not currently linked to a Nova Client.
                    </p>
                    <form name="frm-create-client-from-repl-{{item.id}}" method="post" action="{% url 'sacwis:create_client_from_repl' %}"  class="list-form">
                        {% csrf_token %}
                        <input type="hidden" name="repl_person_id" value="{{instance.id}}" />
                        <input type="hidden" name="repl_person_name" value="{{instance.get_name}}" />
                        <input type="button" onclick='createClientFromReplModal(this)' class="btn btn-secondary btn-sm" value="Create Nova Client" />
                    </form>
                {% else %}
                    <form name="frm-unlink-repl-from-client-{{item.id}}" method="post" action="{% url 'sacwis:unlink_repl_from_client' %}"  class="list-form">
                        {% csrf_token %}
                        <input type="hidden" name="repl_person_id" value="{{instance.id}}" />
                        <input type="hidden" name="repl_person_name" value="{{instance.get_name}}" />
                        <input type="hidden" name="nova_client_id" value="{{instance.nova_client.id}}" />
                        <input type="hidden" name="nova_client_name" value="{{instance.nova_client.name}}" />
                        <input type="button" onclick='unlinkPersonClientModal(this)' class="btn btn-secondary btn-sm" value="Remove Link" />
                    </form>
                {% endif %}


                <table class="listview-table-no-order-no-search mt-4" style="font-size:1.25rem">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Last</th>
                            <th>First</th>
                            <th>Middle</th>
                            <th>Birthdate</th>
                            <th>Age</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="cell"><strong>eWiSACWIS</strong></span></td>
                            <td><span class="cell">{{instance.last_name|default:''}}</span></td>
                            <td><span class="cell">{{instance.first_name|default:''}}</span></td>
                            <td><span class="cell">{{instance.middle_initial|default:''}}</span></td>
                            <td><span class="cell">
                                {% if instance.birthdate %}
                                    {{instance.get_age|default:''}}
                                {% endif %}
                            </span></td>
                            <td><span class="cell">{{instance.birthdate|list_date|default:''}}</span></td>
                            <td><span class="cell"><strong></strong></span></td>
                        </tr>

                        <tr>
                            <td><span class="cell"><strong>Nova</strong></span></td>
                            {% if instance.nova_client %}
                                <td><span class="cell {% if instance.nova_client.last_name == instance.last_name %}ac-green{%else%}ac-red{%endif%}">{{instance.nova_client.last_name}}</span></td>
                                <td><span class="cell {% if instance.nova_client.first_name == instance.first_name %}ac-green{%else%}ac-red{%endif%}">{{instance.nova_client.first_name}}</span></td>
                                <td><span class="cell {% if instance.nova_client.middle_name == instance.middle_initial %}ac-green{%else%}ac-red{%endif%}">{{instance.nova_client.middle_initial|default:''}}</span></td>
                                <td><span class="cell {% if instance.nova_client.get_age == instance.get_age %}ac-green{%else%}ac-red{%endif%}">{{instance.nova_client.get_age}}</span></td>
                                <td><span class="cell {% if instance.nova_client.birthdate == instance.birthdate %}ac-green{%else%}ac-red{%endif%}">{{instance.nova_client.birthdate|list_date}}</span></td>
                                <td><a href="{% url 'client:client_edit' client_id=instance.nova_client.id %}">Go to Nova Client</a></td>
                            {% else %}
                                <td><span class="cell">----------</span></td>
                                <td><span class="cell">----------</span></td>
                                <td><span class="cell">----------</span></td>
                                <td><span class="cell">----------</span></td>
                                <td><span class="cell">----------</span></td>
                                <td><span class="cell"></span></td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>
{% if not instance.nova_client %}
    {% if suggested %}
        <div class='container'>
            <div class="row justify-content-left margin-top-4">
                <div class="col-md-12">
                    <h4 class>Suggested Matches</h4>
                </div>
            </div>

            <div class="row margin-top-1">
                <div class='col-12'>
                    <table class="listview-table-no-order-no-search">
                        <thead>
                            <tr>
                                <th>Nova ID</th>
                                <th>Last</th>
                                <th>First</th>
                                <th>Middle</th>
                                <th>Birthdate</th>
                                <th>Linked</th>
                                <th>Match Reason</th>
                                <th class="center">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item, value in suggested.items %}
                            <tr>
                                <td><span class="cell">{{item.id}}</span></td>
                                <td><span class="cell {% if item.last_name == instance.last_name %}ac-green{%else%}ac-red{%endif%}">{{item.last_name}}</span></td>
                                <td><span class="cell {% if item.first_name == instance.first_name %}ac-green{%else%}ac-red{%endif%}">{{item.first_name}}</span></td>
                                <td><span class="cell {% if item.middle_name == instance.middle_initial %}ac-green{%else%}ac-red{%endif%}">{{item.middle_name|default:''}}</span></td>
                                <td><span class="cell {% if item.birthdate == instance.birthdate %}ac-green{%else%}ac-red{%endif%}">{{item.birthdate|list_date|default:''}}</span></td>
                                <td><span class="cell">{% if item.sacperson %}Yes ({{item.sacperson.id}} - {{item.sacperson.get_name}}){% else %}No{% endif %}</span></td>
                                <td><span class="cell">{{value}}</span></td>
                                <td class="center"><span class="">
                                    <form name="frm-link-suggested-repl-to-client-{{item.id}}" method="post" action="{% url 'sacwis:link_repl_to_client' %}"  class="list-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="repl_person_id" value="{{instance.id}}" />
                                        <input type="hidden" name="repl_person_name" value="{{instance.get_name}}" />
                                        <input type="hidden" name="nova_client_id" value="{{item.id}}" />
                                        <input type="hidden" name="nova_client_name" value="{{item.name}}" />
                                        <input type="button" onclick='linkPersonClientModal(this)' class="btn btn-secondary btn-sm" value="Link" />
                                    </form>
                                </span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}



    <div class='container'>
        <div class="row justify-content-left margin-top-2">
            <div class="col-md-12">
                <h4>Nova Client Lookup</h4>
                <form id="frm" method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% include "form_buttons.html" with filter=True %}
                </form>
            </div>
        </div>
    </div>

    {% if page %}
        <div class='container'>
            <div class="row margin-top-1">
                <div class='col-12'>
                    <table class="listview-table-no-order-no-search">
                        <thead>
                            <tr>
                                <th>Nova ID</th>
                                <th>Last</th>
                                <th>First</th>
                                <th>Middle</th>
                                <th>Birthdate</th>
                                <th>Linked</th>
                                <th class="center">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in page %}
                            <tr>
                                <td><span class="cell">{{item.id}}</span></td>
                                <td><span class="cell {% if item.last_name == instance.last_name %}ac-green{%else%}ac-red{%endif%}">{{item.last_name}}</span></td>
                                <td><span class="cell {% if item.first_name == instance.first_name %}ac-green{%else%}ac-red{%endif%}">{{item.first_name}}</span></td>
                                <td><span class="cell {% if item.middle_name == instance.middle_initial %}ac-green{%else%}ac-red{%endif%}">{{item.middle_name|default:''}}</span></td>
                                <td><span class="cell {% if item.birthdate == instance.birthdate %}ac-green{%else%}ac-red{%endif%}">{{item.birthdate|list_date|default:''}}</span></td>
                                <td><span class="cell">{% if item.sacperson %}Yes ({{item.sacperson.id}} - {{item.sacperson.get_name}}){% else %}No{% endif %}</span></td>
                                 <td class="center"><span class="">
                                    <form name="frm-link-repl-to-client-{{item.id}}" method="post" action="{% url 'sacwis:link_repl_to_client' %}"  class="list-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="repl_person_id" value="{{instance.id}}" />
                                        <input type="hidden" name="nova_client_id" value="{{item.id}}" />
                                        <input type="hidden" name="nova_client_name" value="{{item.name}}" />
                                        <input type="hidden" name="repl_person_name" value="{{instance.get_name}}" />
                                        <input type="button" onclick='linkPersonClientModal(this)' class="btn btn-secondary btn-sm" value="Link" />
                                    </form>
                                </span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'page_controls.html' %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row margin-top-2">
                <div class="col-md-12 center">
                    <hr>
                    <h4>No results found</h4>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}




{%endblock%}

{% block page_javascript %}
<script>
function linkPersonClientModal(ele) {
    // Depending on if this repl person is already linked, display a message
    // asking the user to confirm their decision
    let newClientName = ele.form.elements["nova_client_name"].value;
    let newClientId = ele.form.elements["nova_client_id"].value;

    {% if instance.nova_client %}
        let msg = `eWiSACWIS Person <strong>{{instance.get_name}}</strong> is already linked to Nova Client <strong>{{instance.nova_client.name}} ({{instance.nova_client.id}})</strong>.
<br><br>Performing this action will remove the existing link and replace it with Nova Client <strong>${newClientName} (${newClientId})</strong>.
Please confirm you action to continue.`
    {% else %}
        let msg = `Are you sure you would like to link Nova Client <strong>${newClientName} (${newClientId})</strong> with eWiSACWIS Person <strong>{{instance.get_name}}</strong>? Please confirm your action to continue.`
    {% endif %}

    showModal(
        titleText="Confirm REPL to Nova Link",
        bodyText=msg,
        primaryText="Confirm Link",
        secondaryText="Cancel",
        primaryAction=function(){ele.form.submit();},
        secondaryAction=hideModal,
        opacity=1,
        loadAction=null,
        customHtml=null,
    );
}


function unlinkPersonClientModal(ele) {
    // Confirm that the user wants to remove the link betweent he REPL person
    // and the Nova client
    let newClientName = ele.form.elements["nova_client_name"].value;
    let newClientId = ele.form.elements["nova_client_id"].value;

    let msg = `
        Are you sure you would like to remove the link between eWiSACWIS Person
        <strong>{{instance.get_name}}</strong> and Nova Client
        <strong>${newClientName} (${newClientId})</strong>?
    `

    showModal(
        titleText="Confirm Unlink",
        bodyText=msg,
        primaryText="Remove Link",
        secondaryText="Cancel",
        primaryAction=function(){ele.form.submit();},
        secondaryAction=hideModal,
        opacity=1,
        loadAction=null,
        customHtml=null,
    );
}



function createClientFromReplModal(ele) {
    // Confirm that the user wants to remove the link betweent he REPL person
    // and the Nova client

    let msg = `
        <p>
            <u><strong>This should be used only if a matching client does not
            exist in Nova.</u></strong>
        </p>
        <p>
            Create a <strong>New Nova Client</strong> from the information available on
            the eWiSACWIS Person <strong>{{instance.get_name}}</strong>. Are you sure?
        </p>

    `

    showModal(
        titleText="Confirm Create",
        bodyText=msg,
        primaryText="Create Nova Client",
        secondaryText="Cancel",
        primaryAction=function(){ele.form.submit();},
        secondaryAction=hideModal,
        opacity=1,
        loadAction=null,
        customHtml=null,
    );
}

</script>
{% endblock %}


