{% extends 'base.html' %}
{% load nova_tags %}

{% block breadcrumb %}
    <div class='breadcrumb'>
        <div class='container'>
            <a href="{% url 'sacwis:person_index' %}">All Persons</a>
            <a href="{% url 'sacwis:person_dtl' person_id=instance.id %}">{{instance}}</a>
            {{title}}
        </div>
    </div>
{% endblock %}

{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left margin-top-2">
        <div class="col-md-12">
            <h2>{{title}}</h2>
            {% if not instance.nova_vendor %}
                <p>
                    This eWiSACWIS Person is not currently linked to a Nova Vendor.
                </p>
                <form name="frm-create-vendor-from-repl-{{item.id}}" method="post" action="{% url 'sacwis:create_vendor_from_repl' %}"  class="list-form">
                    {% csrf_token %}
                    <input type="hidden" name="repl_person_id" value="{{instance.id}}" />
                    <input type="hidden" name="repl_person_name" value="{{instance.get_name}}" />
                    <input type="button" onclick='createVendorFromReplModal(this)' class="btn btn-secondary btn-sm" value="Create Nova vendor" />
                </form>
            {% else %}
                <form name="frm-unlink-repl-from-vendor-{{item.id}}" method="post" action="{% url 'sacwis:unlink_repl_from_vendor' %}"  class="list-form">
                    {% csrf_token %}
                    <input type="hidden" name="repl_person_id" value="{{instance.id}}" />
                    <input type="hidden" name="repl_person_name" value="{{instance.get_name}}" />
                    <input type="hidden" name="nova_vendor_id" value="{{instance.nova_vendor.id}}" />
                    <input type="hidden" name="nova_vendor_name" value="{{instance.nova_vendor.name}}" />
                    <input type="button" onclick='unlinkPersonVendorModal(this)' class="btn btn-secondary btn-sm" value="Remove Link" />
                </form>
            {% endif %}


            <table class="listview-table-no-order-no-search mt-4" style="font-size:1.25rem">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="cell"><strong>eWiSACWIS</strong></span></td>
                        <td><span class="cell">{{instance.last_name|default:''}}{% if instance.first_name %}, {{instance.first_name|default:''}}{% endif %}</span></td>
                        <td><span class="cell"><strong></strong></span></td>
                    </tr>

                    <tr>
                        <td><span class="cell"><strong>Nova</strong></span></td>
                        {% if instance.nova_vendor %}
                            <td><span class="cell">{{instance.nova_vendor.name}}</span></td>
                            <td><a href="{% url 'config:vendor_edit' pk=instance.nova_vendor.id %}">Go to Nova Vendor</a></td>
                        {% else %}
                            <td><span class="cell">----------</span></td>
                            <td><span class="cell">----------</span></td>
                            <td><span class="cell"></span></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr>
{% if not instance.nova_vendor %}
    <div class='container'>
        <div class="row justify-content-left margin-top-2">
            <div class="col-md-12">
                <h4>Nova Vendor Lookup</h4>
                <form id="frm" method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% include "form_buttons.html" with filter=True %}
                </form>
            </div>
        </div>
    </div>

    {% if page %}
        <div class='container'>
            <div class="row margin-top-1">
                <div class='col-12'>
                    <table class="listview-table-no-order-no-search">
                        <thead>
                            <tr>
                                <th>Nova ID</th>
                                <th>Name</th>
                                <th>Number</th>
                                <th>City</th>
                                <th>Street</th>
                                <th>Notes</th>
                                <th>Linked</th>
                                <th class="center">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in page %}
                            <tr>
                                <td><span class="cell">{{item.id}}</span></td>
                                <td><span class="cell">{{item.name}}</span></td>
                                <td><span class="cell">{{item.vendor_number}}</span></td>
                                <td><span class="cell">{{item.city|default:''}}</span></td>
                                <td><span class="cell">{{item.street|default:''}}</span></td>
                                <td><span class="cell">{{item.notes|default:''}}</span></td>
                                <td><span class="cell">{% if item.sacperson %}Yes ({{item.sacperson.id}} - {{item.sacperson.get_name}}){% else %}No{% endif %}</span></td>
                                 <td class="center"><span class="">
                                    <form name="frm-link-repl-to-vendor-{{item.id}}" method="post" action="{% url 'sacwis:link_repl_to_vendor' %}"  class="list-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="repl_person_id" value="{{instance.id}}" />
                                        <input type="hidden" name="nova_vendor_id" value="{{item.id}}" />
                                        <input type="hidden" name="nova_vendor_name" value="{{item.name}}" />
                                        <input type="hidden" name="repl_person_name" value="{{instance.get_name}}" />
                                        <input type="button" onclick='linkPersonVendorModal(this)' class="btn btn-secondary btn-sm" value="Link" />
                                    </form>
                                </span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'page_controls.html' %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row margin-top-2">
                <div class="col-md-12 center">
                    <hr>
                    <h4>No results found</h4>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}




{%endblock%}

{% block page_javascript %}
<script>
function linkPersonVendorModal(ele) {
    // Depending on if this repl person is already linked, display a message
    // asking the user to confirm their decision
    let newVendorName = ele.form.elements["nova_vendor_name"].value;
    let newVendorId = ele.form.elements["nova_vendor_id"].value;

    {% if instance.nova_vendor %}
        let msg = `eWiSACWIS Person <strong>{{instance.get_name}}</strong> is already linked to Nova Vendor <strong>{{instance.nova_vendor.name}} ({{instance.nova_vendor.id}})</strong>.
<br><br>Performing this action will remove the existing link and replace it with Nova Vendor <strong>${newVendorName} (${newVendorId})</strong>.
Please confirm you action to continue.`
    {% else %}
        let msg = `Are you sure you would like to link Nova Vendor <strong>${newVendorName} (${newVendorId})</strong> with eWiSACWIS Person <strong>{{instance.get_name}}</strong>? Please confirm your action to continue.`
    {% endif %}

    showModal(
        titleText="Confirm REPL to Nova Link",
        bodyText=msg,
        primaryText="Confirm Link",
        secondaryText="Cancel",
        primaryAction=function(){ele.form.submit();},
        secondaryAction=hideModal,
        opacity=1,
        loadAction=null,
        customHtml=null,
    );
}


function unlinkPersonVendorModal(ele) {
    // Confirm that the user wants to remove the link betweent he REPL person
    // and the Nova Vendor
    let newVendorName = ele.form.elements["nova_vendor_name"].value;
    let newVendorId = ele.form.elements["nova_vendor_id"].value;

    let msg = `
        Are you sure you would like to remove the link between eWiSACWIS Person
        <strong>{{instance.get_name}}</strong> and Nova Vendor
        <strong>${newVendorName} (${newVendorId})</strong>?
    `

    showModal(
        titleText="Confirm Unlink",
        bodyText=msg,
        primaryText="Remove Link",
        secondaryText="Cancel",
        primaryAction=function(){ele.form.submit();},
        secondaryAction=hideModal,
        opacity=1,
        loadAction=null,
        customHtml=null,
    );
}



function createVendorFromReplModal(ele) {
    // Confirm that the user wants to remove the link betweent he REPL person
    // and the Nova Vendor

    let msg = `
        <p>
            <u><strong>This should be used only if a matching vendor does not
            exist in Nova.</u></strong>
        </p>
        <p>
            Create a <strong>New Nova Vendor</strong> from the information available on
            the eWiSACWIS Person <strong>{{instance.get_name}}</strong>. Are you sure?
        </p>

    `

    showModal(
        titleText="Confirm Create",
        bodyText=msg,
        primaryText="Create Nova Vendor",
        secondaryText="Cancel",
        primaryAction=function(){ele.form.submit();},
        secondaryAction=hideModal,
        opacity=1,
        loadAction=null,
        customHtml=null,
    );
}

</script>
{% endblock %}


