<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container{% if popup%}-fluid{%endif%} print-hide'>
    <div class="row">
        <div class="col-12">
            <h3>{{ title }}</h3>
            <form id="frm" method="post" action="">
                {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" %}
            </form>
        </div>
    </div>
</div>

{%endblock%}
