{% extends 'base.html' %}
{% load nova_tags %}

{% block breadcrumb %}
    <div class='breadcrumb'>
        <div class='container'>
            <a href="{% url 'sacwis:service_type_index' %}">All Service Types</a>
            {{instance}}
        </div>
    </div>
{% endblock %}

{% block content %}
<div class='container'>
    <div class='row margin-top-2'>
        <div class="col-md-12">
            {% if instance.nova_service %}
                <h3>{{instance}}<small><br>Linked with Nova Service: {{instance.nova_service}}</small></h3>
            {% else %}
                <h3>{{instance}}<small><br>Not linked with a Nova Service</small></h3>
            {% endif %}


        </div>
        <div class="col-md-12">
            {% if not instance.nova_service %}
                <form name="frm-create-service-from-repl-{{item.id}}" method="post" action="{% url 'sacwis:create_service_from_repl' %}"  class="list-form">
                    {% csrf_token %}
                    <input type="hidden" name="repl_service_type_id" value="{{instance.id}}" />
                    <input type="hidden" name="repl_service_type_string" value="{{instance}}" />
                    <input type="button" onclick='createServiceFromReplModal(this)' class="btn btn-secondary btn-sm" value="Create Nova Service" />
                </form>


                 <div class="row justify-content-left mt-4">
                    <div class="col-md-6">
                        <table style="font-size:1.2rem">
                            <tr>
                                <td class='center' colspan="2"><strong><u>eWiSACWIS</u></strong></td>
                            </tr>

                            <tr>
                                <td><strong>Description</strong></td>
                                <td>{{instance.description|default:''}}</td>
                            </tr>

                            <tr>
                                <td><strong>SPC Code</strong></td>
                                <td>{{instance.spc_code|default:''}}</td>
                            </tr>

                            <tr>
                                <td><strong>Code</strong></td>
                                <td>{{instance.code|default:''}}</td>
                            </tr>

                            <tr>
                                <td><strong>Category</strong></td>
                                <td>{{instance.category|default:''}}</td>
                            </tr>

                            <tr>
                                <td><strong>Subcategory</strong></td>
                                <td>{{instance.subcategory|default:''}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% else %}
                <form name="frm-unlink-repl-from-service-{{item.id}}" method="post" action="{% url 'sacwis:unlink_service_type' %}"  class="list-form">
                    {% csrf_token %}
                    <input type="hidden" name="repl_service_type_id" value="{{instance.id}}" />
                    <input type="hidden" name="nova_service_id" value="{{instance.nova_service.id}}" />
                    <input type="hidden" name="repl_service_type_string" value="{{instance}}" />
                    <input type="hidden" name="nova_service_string" value="{{instance.nova_service}}" />
                    <input type="button" onclick='unlinkServiceTypeModal(this)' class="btn btn-secondary btn-sm" value="Remove Link" />
                </form>


                <div class="row justify-content-center mt-4">
                    <div class="col-md-12">
                        <table style="font-size:1.2rem">
                            <tr>
                                <td class='center' colspan="2"><strong><u>eWiSACWIS</u></strong></td>
                                <td class='center' colspan="2"><strong><u>Nova</u></strong></td>
                            </tr>

                            <tr>
                                <td><strong>Description</strong></td>
                                <td>{{instance.description|default:''}}</td>
                                <td><strong>Name</strong></td>
                                <td>{{instance.nova_service.name|default:''}}</td>
                            </tr>

                            <tr>
                                <td><strong>SPC Code</strong></td>
                                <td>{{instance.spc_code|default:''}}</td>
                                <td><strong>SPC Code</strong></td>
                                <td>{{instance.nova_service.spc_code|default:''}}</td>
                            </tr>

                            <tr>
                                <td><strong>Code</strong></td>
                                <td>{{instance.code|default:''}}</td>
                                <td><strong>Procedure Code</strong></td>
                                <td>{{instance.nova_service.procedure_code|default:''}}</td>
                            </tr>

                            <tr>
                                <td><strong>Category</strong></td>
                                <td>{{instance.category|default:''}}</td>

                                <td class='center' colspan="2">
                                    <a href="javascript:showPopup('{% url 'sacwis:nova_service_edit' nova_service_id=instance.nova_service.id  %}');">Go to Nova Service</a>
                                </td>
                            </tr>

                            <tr>
                                <td><strong>Subcategory</strong></td>
                                <td>{{instance.subcategory|default:''}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</div>
<hr>


{% if not instance.nova_service %}
    <div class="container">
        <div class="row justify-content-left margin-top-2">
            <div class="col-md-12">
                <h4>Nova Service Lookup</h4>
                <form id="frm" method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% include "form_buttons.html" with filter=True %}
                </form>
            </div>
        </div>
    </div>

     {% if page %}
        <div class='container'>
            <div class="row margin-top-4">
                <div class='col-12'>
                    <table class="listview-table-no-order-no-search">
                        <thead>
                            <tr>

                                <th>Name</th>
                                <th>SPC</th>
                                <th>Procedure</th>
                                <th>Units</th>
                                <th>Linked</th>
                                <th class="center">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in page %}
                            <tr>
                                <td><span class="cell">{{item.name|default:''}}</span></td>
                                <td><span class="cell">{{item.spc_code|default:''}}</span></td>
                                <td><span class="cell">{{item.procedure_code|default:''}}</span></td>
                                <td><span class="cell">{{item.default_unit|default:''}}</span></td>
                                <td><span class="cell">{% if item.sacservicetype %}Yes ({{item.sacservicetype.id}} - {{item.sacservicetype}}){% else %}No{% endif %}</span></td>
                                 <td class="center"><span class="">
                                    <form name="frm-link-sacwis-to-service-{{item.id}}" method="post" action="{% url 'sacwis:link_service_type' %}"  class="list-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="repl_service_type_id" value="{{instance.id}}" />
                                        <input type="hidden" name="nova_service_id" value="{{item.id}}" />
                                        <input type="hidden" name="repl_service_type_string" value="{{instance}}" />
                                        <input type="hidden" name="nova_service_string" value="{{item}}" />
                                        <input type="button" onclick='linkServiceTypeModal(this)' class="btn btn-secondary btn-sm" value="Link" />
                                    </form>
                                </span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'page_controls.html' %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row margin-top-2">
                <div class="col-md-12 center">
                    <hr>
                    <h4>No results found</h4>
                </div>
            </div>
        </div>
    {% endif %}


{% endif %}


{%endblock%}


{% block page_javascript %}
<script>
function linkServiceTypeModal(ele) {
    // Depending on if this eWiSACWIS Service Type is already linked, display a message
    // asking the user to confirm their decision
    let newServiceString = ele.form.elements["nova_service_string"].value;
    let newServiceId = ele.form.elements["nova_service_id"].value;

    {% if instance.nova_service %}
        let msg = `eWiSACWIS Service Type <strong>{{instance}}</strong> is already linked to Nova Service <strong>{{instance.nova_service}} ({{instance.nova_service.id}})</strong>.
<br><br>Performing this action will remove the existing link and replace it with Nova Service <strong>${newServiceString} (${newServiceId})</strong>.
Please confirm you action to continue.`
    {% else %}
        let msg = `Are you sure you would like to link Nova Service <strong>${newServiceString} (${newServiceId})</strong> with eWiSACWIS Service Type <strong>{{instance}}</strong>? Please confirm your action to continue.`
    {% endif %}

    showModal(
        titleText="Confirm eWiSACWIS to Nova Link",
        bodyText=msg,
        primaryText="Confirm Link",
        secondaryText="Cancel",
        primaryAction=function(){ele.form.submit();},
        secondaryAction=hideModal,
        opacity=1,
        loadAction=null,
        customHtml=null,
    );
}


function unlinkServiceTypeModal(ele) {
    // Confirm that the user wants to remove the link betweent he eWiSACWIS Service Type
    // and the Nova Service
    let newServiceString = ele.form.elements["nova_service_string"].value;
    let newServiceId = ele.form.elements["nova_service_id"].value;

    let msg = `
        Are you sure you would like to remove the link between eWiSACWIS Service Type
        <strong>{{instance}}</strong> and Nova Service
        <strong>${newServiceString} (${newServiceId})</strong>?
    `

    showModal(
        titleText="Confirm Unlink",
        bodyText=msg,
        primaryText="Remove Link",
        secondaryText="Cancel",
        primaryAction=function(){ele.form.submit();},
        secondaryAction=hideModal,
        opacity=1,
        loadAction=null,
        customHtml=null,
    );
}



function createServiceFromReplModal(ele) {
    // Confirm that the user wants to remove the link betweent he eWiSACWIS Service Type
    // and the Nova Service

    let msg = `
        <p>
            <u><strong>This should be used only if a matching service does not
            exist in Nova.</u></strong>
        </p>
        <p>
            Create a <strong>New Nova Service</strong> from the information available on
            the eWiSACWIS Service Type <strong>{{instance}}</strong>. Are you sure?
        </p>

    `

    showModal(
        titleText="Confirm Create",
        bodyText=msg,
        primaryText="Create Nova Service",
        secondaryText="Cancel",
        primaryAction=function(){ele.form.submit();},
        secondaryAction=hideModal,
        opacity=1,
        loadAction=null,
        customHtml=null,
    );
}

</script>
{% endblock %}
