{% extends 'base.html' %}
{% load nova_tags %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left margin-top-2">
        <div class="col-md-12">
            <h2>eWiSACWIS REPL Data</h2>
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
    </div>
</div>

{% if page %}
    <div class='container'>
        <div class="row margin-top-1">
            <div class='col-12'>
                <table class="listview-table-no-order-no-search">
                    <thead>
                        <tr>
                            <th>Nova ID</th>
                            <th>REPL ID</th>
                            <th>Name</th>
                            <th>Birthdate</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Episodes</th>
                            <th>Linked</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in page %}
                        <tr>
                            <td><a href="{% url 'sacwis:repl_person' repl_person_id=item.id %}">{{item.id}}</a></td>
                            <td><a href="{% url 'sacwis:repl_person' repl_person_id=item.id %}">{{item.sacid}}</a></td>
                            <td><a href="{% url 'sacwis:repl_person' repl_person_id=item.id %}">{{item.get_name}}</a></td>
                            <td><a href="{% url 'sacwis:repl_person' repl_person_id=item.id %}">{{item.birthdate|list_date|default:''}}</a></td>
                            <td><a href="{% url 'sacwis:repl_person' repl_person_id=item.id %}">{{item.repl_insert|list_date}}</a></td>
                            <td><a href="{% url 'sacwis:repl_person' repl_person_id=item.id %}">{{item.repl_update|list_date}}</a></td>
                            <td><a href="{% url 'sacwis:repl_person' repl_person_id=item.id %}">{{item.sacepisode_set.all|length}}</a></td>
                            <td><a href="{% url 'sacwis:repl_person' repl_person_id=item.id %}">{% if item.client %}Yes{% else %}No{% endif %}</a></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'page_controls.html' %}
            </div>
        </div>
    </div>
{% else %}
    <div class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}



{%endblock%}
