{% extends 'base.html' %}
{% load nova_tags %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left margin-top-2">
        <div class="col-md-12">
            <h2>eWiSACWIS Service Type</h2>
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
    </div>
</div>

{% if page %}
    <div class='container'>
        <div class="row margin-top-4">
            <div class='col-12'>
                <table class="listview-table-no-order-no-search">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Category</th>
                            <th>Subcategory</th>
                            <th>Description</th>
                            <th>SPC Code</th>
                            <th>Linked</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in page %}
                        <tr>
                            <td><a href="{% url 'sacwis:service_type_dtl' service_type_id=item.id %}">{{item.code}}</a></td>
                            <td><a href="{% url 'sacwis:service_type_dtl' service_type_id=item.id %}">{{item.category}}</a></td>
                            <td><a href="{% url 'sacwis:service_type_dtl' service_type_id=item.id %}">{{item.subcategory}}</a></td>
                            <td><a href="{% url 'sacwis:service_type_dtl' service_type_id=item.id %}">{{item.description}}</a></td>
                            <td><a href="{% url 'sacwis:service_type_dtl' service_type_id=item.id %}">{{item.spc_code|default:''}}</a></td>
                            <td><a href="{% url 'sacwis:service_type_dtl' service_type_id=item.id %}">{% if item.nova_service %}Yes{%else%}No{%endif%}</a></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'page_controls.html' %}
            </div>
        </div>
    </div>
{% else %}
    <div class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}



{%endblock%}
