{% extends 'base.html' %}
{% load humanize %}
{% load nova_tags %}
{% block content %}

{% if not popup %}
<div class='breadcrumb print-hide'>
    <div class='container'>
        <a href="{% url 'sacwis:sac_check_write_index' %}">eWiSACWIS Check Write Files</a>
        {{instance}}
    </div>
</div>
{% endif %}



<div class='container{% if popup%}-fluid{%endif%}'>
    <div class="row">
        <div class="col-12">
            <h3>
                {{ title }}<br>
                <small>'{{instance.filename}}' ({{instance.id}})</small>
            </h3>
            {% if subtitle and not popup %}
                <h5>{{subtitle}}</h5>
            {%endif%}
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row margin-top-4">
        <div class="col-12">
            <h3>
                Check Write Lines
            </h3>

        </div>
    </div>
    <div class="row margin-top-1">
        <div class="col-12">
            <table class="listview-table-no-search" data-order='[[ 1, "asc" ]]'>
                <thead>
                    <tr>
                        <th>Auth</th>
                        <th>Child</th>
                        <th>Payee</th>
                        <th>Service</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Days</th>
                        <th class="right">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in instance.saccheckwriteline_set.all %}
                        <tr>
                            <td>
                                {% if line.match_auth_status is True %}
                                    {{line.authorization}}
                                {% endif %}
                            </td>

                            <td>
                                {% if line.get_client %}
                                    <a href="{% url 'sacwis:sac_link_to_client_mgmt' sacid=line.child_id %}">{{line.child_last}}, {{line.child_first}} -> {{line.get_client.name}} ({{line.get_client.id}})</a>
                                {% elif line.get_client is False %}
                                    <a href="{% url 'sacwis:sac_link_to_client_mgmt' sacid=line.child_id %}"><span class='fas fa-unlink'></span> {{line.child_last}}, {{line.child_first}}</a>
                                {% elif line.get_client is None %}
                                    <span class="cell">Could not find child</span>
                                {% endif %}
                            </td>

                            <td>
                                {% if line.get_vendor %}
                                    <a href="{% url 'sacwis:link_to_vendor_mgmt' sac_check_write_line_id=line.id%}">{{line.payee_name}} -> {{line.get_vendor.name}} ({{line.get_vendor.id}})</a>
                                {% else %}
                                    <a href="{% url 'sacwis:link_to_vendor_mgmt' sac_check_write_line_id=line.id  %}?filter_name={{line.payee_name}}"><span class='fas fa-unlink'></span> {{line.payee_name}}</a>
                                {% endif %}

                            </td>

                            <td>
                                {% if line.get_service %}
                                    <a href="{% url 'sacwis:sacservicetype_dtl' service_type_code=line.service_code %}">{{line.service_desc}} {{line.service_code}} {{line.spc}} -> {{line.get_service}} ({{line.get_service.id}})</a>
                                {% elif line.get_service is False %}
                                    <a href="{% url 'sacwis:sacservicetype_dtl' service_type_code=line.service_code %}"><span class='fas fa-unlink'></span> {{line.service_desc}} {{line.service_code}} {{line.spc}}</a>
                                {% endif %}
                            </td>
                            <td><span class="cell">{{line.payment_start|list_date}}</span></td>
                            <td><span class="cell">{{line.get_end_date|list_date}}</span></td>
                            <td><span class="cell">{{line.num_days}}</span></td>
                            <td class="right monospace"><span class="cell">{{line.amount|intcomma}}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="8" class='right total nowrap'>
                            <span class="cell">
                                <strong>
                                    Total lines: <span style="min-width:4rem" class="monospace d-inline-block right">{{instance.saccheckwriteline_set.all|length}}</span>
                                </strong>
                            </span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

{%endblock%}
