{% extends 'base.html' %}
{% load nova_tags %}
{% block content %}
<div class='container'>
    <div class='row margin-top-2'>
        <div class="col-md-12">
            <h2>
                eWiSACWIS Check Write Files
            </h2>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table-no-search" data-order='[[1, "asc"]]'>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Filename</th>
                        <th>Lines</th>
                    </tr>
                </thead>
                {% if check_data %}
                <tbody>
                    {% for item in check_data %}
                    <tr>
                        <td><a href="{% url 'sacwis:sac_check_write_dtl' check_write_id=item.id %}">{{item.get_status}}</a></td>
                        <td><a href="{% url 'sacwis:sac_check_write_dtl' check_write_id=item.id %}">{{item.created_at|list_date}}</a></td>
                        <td><a href="{% url 'sacwis:sac_check_write_dtl' check_write_id=item.id %}">{{item.filename}}</a></td>
                        <td><a href="{% url 'sacwis:sac_check_write_dtl' check_write_id=item.id %}">{{item.get_line_count}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>

</div>
{%endblock%}
