{% extends 'base.html' %}
{% load nova_tags %}
{% block breadcrumb %}
    <div class='breadcrumb'>
        <div class='container'>
            <a href="{% url 'sacwis:person_index' %}">All Persons</a>
            {{instance}}
        </div>
    </div>
{% endblock %}

{% block content %}
<div class='container'>
    <div class='row margin-top-2'>
        <div class="col-md-12">
            <h3>{{instance}}</h3>
            <hr>
        </div>
        <div class="col-md-12">
            {% if instance.nova_client %}
                Linked to Nova Client:
                <a href="{% url 'client:client_edit' client_id=instance.nova_client.id  %}">
                    '{{instance.nova_client}}'
                </a>
                <a class="btn btn-sm btn-secondary ml-4" href="{% url 'sacwis:link_to_client_mgmt' person_id=instance.id %}">Manage Link</a>
            {% else %}
                Not linked to a Nova Client.
                <a class="btn btn-sm btn-secondary ml-4" href="{% url 'sacwis:link_to_client_mgmt' person_id=instance.id %}">Link to Nova Client</a>

            {% endif %}

        </div>
    </div>
</div>

{% if instance.get_family %}
    <div class="container">
        <div class="row margin-top-2">
            <div class="col-md-12">
                <h4>Family</h4>
                <table class='listview-table-no-order-no-search'>
                    <thead>
                        <tr>
                            <th>Relationship</th>
                            <th>Person</th>
                            <th>Nova Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in instance.get_family.items %}
                            <tr>
                                <td><span class="cell">{{key}}</span></td>
                                <td><a href="{% url 'sacwis:person_dtl' person_id=value.id %}">{{value}}</a></td>
                                <td>
                                    {% if value.nova_client %}
                                        <a href="{% url 'client:client_edit' client_id=value.nova_client.id %}">{{value}}</a>
                                    {% else %}
                                        <span class="cell">Not linked</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}

<div class="container">
    <div class="row margin-top-2">
        <div class="col-md-12">
            <h4>Episodes</h4>
        </div>
    </div>

     <div class="row margin-top-1">
        <div class="col-12">
            <table class="listview-table-no-order-no-search" data-order='[[ 0, "asc" ]]'>
                <thead>
                    <tr>
                        <th>Start</th>
                        <th>End</th>
                        <th>Service Type</th>
                        <th>SPC Code</th>
                        <th>Target Group</th>
                        <th>Nova Service</th>
                    </tr>
                </thead>
                <tbody>
                    {% for episode in instance.sacepisode_set.all %}
                        <tr>
                            <td><span class="cell">{{episode.start|list_date|default:''}}</span></td>
                            <td><span class="cell">{{episode.end|list_date|default:''}}</span></td>
                            <td>
                                {% if episode.sacservicetype %}
                                    <a href="{% url 'sacwis:service_type_dtl' service_type_id=episode.sacservicetype.id %}">{{episode.sacservicetype}}</a>
                                {% endif %}
                            </td>
                            <td><span class="cell">{{episode.sacservicetype.spc_code|default:''}}</span></td>
                            <td><span class="cell">{{episode.target_group}}</span></td>
                            <td><span class="cell">{{episode.sacservicetype.nova_service|default:'Not linked'}}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container">
    <div class="row margin-top-2">
        <div class="col-md-12">
            <h4>Transactions</h4>
        </div>
    </div>

     <div class="row margin-top-1">
        <div class="col-12">
            <table class="listview-table-no-order-no-search" data-order='[[ 0, "asc" ]]'>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Fiscal Year</th>
                        <th>Fiscal Period</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Nova Service</th>
                        <th>Nova Auth</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in person_transactions %}
                        <tr>
                            <td><span class="cell"></span></td>
                            <td><span class="cell"></span></td>
                            <td><span class="cell"></span></td>
                            <td><span class="cell"></span></td>
                            <td><span class="cell"></span></td>
                            <td><span class="cell"></span></td>
                            <td><span class="cell"></span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}
