<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container'>

    <div class='row margin-top-2'>
        <div class="col-md-12">
            <h2>Account
                <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/accounting/account/new/');">
                    Create Account
                </a>
            </h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class='row margin-top-4'>
        <div class="col-md-12 text-right">
            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv/?report_id={{report_id}}&report_name=Accounts">
                Download as CSV
            </a>
        </div>
    </div>
</div>

<div class='container-fluid'>
<div class="row margin-top-1">
    <div class='col-12'>
    	<table class="{{ table_class }}" data-order='[[ 1, "asc" ]]'>
    		<thead>
    			<tr>
                    <th>Type</th>
                    <th>Account</th>
                    <th>Description</th>
                    <th>County Account</th>
                    <th>County Description</th>
                    <th>Funding Profile</th>
                    <th>CFDA Number</th>
    			</tr>
    		</thead>
    		{% if account_data %}
    		<tbody>
    			{% for item in account_data %}
    			<tr>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/account/{{ item.id }}/');">{{ item.get_type_display }}</a></td>
                    <td><a class="active-{{item.active}} monospace" href="javascript:showPopup('/accounting/account/{{ item.id }}/');">{{ item.name }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/account/{{ item.id }}/');">{{ item.description }}{% if item.writeoff_account %} (WRITEOFF){% endif %}</a></td>
                    <td><a class="active-{{item.active}} monospace" href="javascript:showPopup('/accounting/account/{{ item.id }}/');">{{ item.county_name|default:'' }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/account/{{ item.id }}/');">{{ item.county_description|default:'' }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/account/{{ item.id }}/');">{{ item.funding_profile|default:'' }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/account/{{ item.id }}/');">{{ item.cfda_number|default:'' }}</a></td>
                </tr>
    			{% endfor %}
    		</tbody>
    		{% endif %}
    	</table>
    </div>
</div>

</div>
{%endblock%}
