<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% extends 'base.html' %}
{% block content %}

{% if not popup %}
<div class='breadcrumb print-hide'>
    <div class='container'>
        <a href="{% url 'accounting:auth_index' %}">Authorization</a>
        {% if instance %}{{instance}}
        {% else %}New Authorization
        {%endif%}
    </div>
</div>
{% endif %}



<div class='container{% if popup%}-fluid{%endif%}'>
    <div class="row">
        <div class="col-12">
            <h3>{{ title }}</h3>
            {% if subtitle and not popup %}
                <h5>{{subtitle}}</h5>
            {%endif%}
            <form id="frm" method="post" action="">
                {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
                {% csrf_token %}

                <div class="form-section">
                    <p class="w20">
                        {{ form.auth_date_from.label_tag }}
                        {{ form.auth_date_from }}
                    </p>

                    <p class="w20">
                        {{ form.auth_date_to.label_tag }}
                        {{ form.auth_date_to }}
                    </p>

                    <p class="w20">
                        {{ form.auth_week.label_tag }}
                        {{ form.auth_week }}
                    </p>

                    <p class="w50 clear-left">
                        {{ form.auth_caseworker.label_tag }}
                        {{ form.auth_caseworker }}
                    </p>

                    <p class="w50">
                        {{ form.auth_client_lookup.label_tag }}
                        {{ form.auth_client_lookup }}
                        {{ form.auth_client }}
                    </p>

                    <p class="w50">
                        {{ form.auth_account_lookup.label_tag }}
                        {{ form.auth_account_lookup }}
                        {{ form.auth_account }}
                    </p>

                    <p class="w50">
                        {{ form.auth_vendor_lookup.label_tag }}
                        {{ form.auth_vendor_lookup }}
                        {{ form.auth_vendor }}
                    </p>


                    <p class="w20">
                        {{ form.auth_service_date_from.label_tag }}
                        {{ form.auth_service_date_from }}
                    </p>

                    <p class="w20">
                        {{ form.auth_service_date_to.label_tag }}
                        {{ form.auth_service_date_to }}
                    </p>

                    <p class="w20">
                        {{ form.auth_service_lookup.label_tag }}
                        {{ form.auth_service_lookup }}
                        {{ form.auth_service }}
                    </p>

                    <p class="w15">
                        {{ form.auth_amount.label_tag }}
                        {{ form.auth_amount }}
                    </p>

                    <p class="w15">
                        {{ form.auth_unit_type.label_tag }}
                        {{ form.auth_unit_type }}
                    </p>

                    <p class="w10">
                        {{ form.auth_units.label_tag }}
                        {{ form.auth_units }}
                    </p>





                    <p class="w16 clear-left">
                        {{ form.auth_target_group.label_tag }}
                        {{ form.auth_target_group }}
                    </p>

                    <p class="w16">
                        {{ form.auth_wic_cat.label_tag }}
                        {{ form.auth_wic_cat }}
                    </p>

                    <p class="w16">
                        {{ form.auth_iii_b_cat.label_tag }}
                        {{ form.auth_iii_b_cat }}
                    </p>

                    <p class="w16">
                        {{ form.auth_iii_e_cat.label_tag }}
                        {{ form.auth_iii_e_cat }}
                    </p>

                    <p class="w16">
                        {{ form.auth_cst_cat.label_tag }}
                        {{ form.auth_cst_cat }}
                    </p>

                    <p class="w16">
                        {{ form.auth_elder_abuse_cat.label_tag }}
                        {{ form.auth_elder_abuse_cat }}
                    </p>

                    <p class="w100">
                        {{ form.auth_notes.label_tag }}
                        {{ form.auth_notes }}
                    </p>


                </div>


                {% if not instance or not instance.id %}
                    <div class="form-section">
                        <h4>Client</h4>
                        <hr>

                        <p class="w25">
                            {{ form.client_last_name.label_tag }}
                            {{ form.client_last_name }}
                        </p>

                        <p class="w25">
                            {{ form.client_first_name.label_tag }}
                            {{ form.client_first_name }}
                        </p>

                        <p class="w20">
                            {{ form.client_middle_name.label_tag }}
                            {{ form.client_middle_name }}
                        </p>

                        <p class="w15">
                            {{ form.client_birthdate.label_tag }}
                            {{ form.client_birthdate }}
                        </p>

                        <p class="w15">
                            {{ form.client_gender.label_tag }}
                            {{ form.client_gender }}
                        </p>
                    </div>

                    {% comment %}
                    <div class="form-section">
                        <h4>Vendor</h4>
                        <hr>

                        <p class="w25">
                            {{ form.ven_etf_payment.label_tag }}
                            {{ form.ven_etf_payment }}
                        </p>

                        <p class="w50">
                            {{ form.ven_name.label_tag }}
                            {{ form.ven_name }}
                        </p>

                        <p class="w25">
                            {{ form.ven_vendor_number.label_tag }}
                            {{ form.ven_vendor_number }}
                        </p>



                        <p class="w25 clear-left">
                            {{ form.ven_street.label_tag }}
                            {{ form.ven_street }}
                        </p>

                        <p class="w15">
                            {{ form.ven_suite.label_tag }}
                            {{ form.ven_suite }}
                        </p>

                        <p class="w30">
                            {{ form.ven_city.label_tag }}
                            {{ form.ven_city }}
                        </p>

                        <p class="w15">
                            {{ form.ven_state.label_tag }}
                            {{ form.ven_state }}
                        </p>

                        <p class="w15">
                            {{ form.ven_zip.label_tag }}
                            {{ form.ven_zip }}
                        </p>
                    </div>
                    {% endcomment %}
                {% endif %}


                {% include "form_buttons.html" %}
            </form>
        </div>
    </div>
</div>
{%endblock%}


{% block page_javascript %}
<script>
    $(document).ready(function() {

        {% if not instance %}
            duplicateNameDetect(
                id_first="id_client_first_name",
                id_last="id_client_last_name",
                id_birthdate="id_client_birthdate");
        {% endif %}

    });
</script>
{% endblock %}
