<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container'>

    <div class='row margin-top-2'>
        <div class="col-md-12">
            <h2>Authorization</h2>
            <a class="btn btn-sm btn-secondary ml-4" href="/accounting/auth/new/">
                Create Authorization
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">

    {% include 'table_filter.html' %}
    <div class="row margin-top-1">

        <div class='col-12'>
        	<table class="listview-table-no-search"  data-order='[[ 0, "desc" ]]'>
        		<thead>
        			<tr>
                        <th>Auth #</th>
                        <th>Date</th>
                        <th>Vendor</th>
                        <th>Client</th>
                        <th>Service</th>
                        <th>Utilization</th>
        			</tr>
        		</thead>
        		{% if auth_data %}
            		<tbody>
            			{% for item in auth_data %}
            			<tr>
                            <td>
                                <a class="" href="/accounting/auth/{{ item.id }}/">{{ item.get_auth_number }}</a>
                            </td>
                            <td>
                                <a class="monospace nowrap" href="/accounting/auth/{{ item.id }}/">
                                    <span class="d-none">{{ item.date_from|date:'Ymd' }}{{ item.date_to|date:'Ymd' }}</span>
                                    {{item.date_from|date:'Y/m/d'}} - {{item.date_to|date:'Y/m/d'}}
                                </a>
                            </td>
                            <td><a class="" href="/accounting/auth/{{ item.id }}/">{{ item.vendor }}</a></td>
                            <td><a class="" href="/accounting/auth/{{ item.id }}/">{{ item.client|default:'' }}</a></td>
                            <td><a class="" href="/accounting/auth/{{ item.id }}/">{{ item.service }}</a></td>
                            <td><a class="" href="/accounting/auth/{{ item.id }}/">{{ item.get_usage_fancy }}</a></td>
                        </tr>
            			{% endfor %}
            		</tbody>
        		{% endif %}
        	</table>
            {% include 'page_controls.html' %}
        </div>
    </div>

</div>

{%endblock%}
