<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-12">
            <h3>
                {{ title }}
            </h3>
            {% if instance %}
                <h5 style="padding-left:1rem">
                    {{instance.get_auth_number}}
                </h5>

                <p class="small">
                    {% for hist in instance.get_history %}
                        <strong>
                            {% if hist.action == "create" %}
                                Created
                            {% elif hist.action == "save" %}
                                Saved
                            {% elif hist.action == "user_sign" %}
                                Signed by User
                            {% elif hist.action == "super_sign" %}
                                Signed by Supervisor
                            {% elif hist.action == "user_reopen" %}
                                Reopened by User
                            {% elif hist.action == "super_reopen" %}
                                Reopened by Supervisor

                            {% else %}
                                {{hist.action}}

                            {% endif %}
                        </strong>
                        <br>
                        {{hist.action_at|date:'m/d/Y H:i:s'}} - {{hist.user.userconfig}}
                        <br><br>
                    {% endfor %}
                </p>

                <div class="col-md-12 text-right">
                    {% if instance and not instance.user_signed_by and not instance.super_signed_by and request.user.userconfig.super_auth is False %}
                        <a href="javascript:renderPasswordModal('auth_user');" class="ml-4 mb-2 btn btn-sm btn-primary">
                            Sign as User
                        </a>
                    {% endif %}

                    {% if instance and not instance.super_signed_by and request.user.userconfig.super_auth is True %}
                        <a href="javascript:renderPasswordModal('auth_super');" class="ml-4 mb-2 btn btn-sm btn-primary">
                            Sign as Supervisor
                        </a>
                    {% endif %}

                    {% if instance and instance.user_signed_by and not instance.super_signed_by %}
                        <a href="/accounting/auth/{{instance.id}}/reopen/" class="ml-4 mb-2 btn btn-sm btn-secondary">
                            Reopen
                        </a>
                    {% endif %}

                    {% if instance and instance.super_signed_by and request.user.userconfig.super_auth is True %}
                        <a href="/accounting/auth/{{instance.id}}/reopen/" class="ml-4 mb-2 btn btn-sm btn-secondary">
                            Reopen
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            {% if subtitle and not popup %}
                <h5>{{subtitle}}</h5>
            {%endif%}
            <form id="frm" method="post" action="">
                {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" %}
            </form>
        </div>
    </div>

    <div class="row margin-top-2">
        {% if instance %}
            <div class="col-md-8">
                <h4 class="">Supporting Documentation</h4>
                    {% if not form.locked %}
                        <a class="btn btn-sm btn-secondary ml-2" href="javascript:showPopup('/accounting/auth_file/new/{{instance.id}}');">
                            Upload a Document
                        </a>
                    {% endif %}

                <table class="listview-table-no-order-no-search mt-4">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>File</th>
                            <th>Uploaded by</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in instance.authfile_set.all %}
                        <tr>
                            <td>
                                <a href="javascript:showPopup('/accounting/auth_file/{{item.id}}/');">{{item.date|date:'m/d/Y'}}</a>
                            </td>
                            <td>
                                <a href="javascript:showPopup('/accounting/auth_file/{{item.id}}/');">{{item.get_filename}}</a>
                            </td>
                            <td>
                                <a href="javascript:showPopup('/accounting/auth_file/{{item.id}}/');">{{item.uploaded_by.userconfig}}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        {% endif %}
    </div>


</div>
{%endblock%}


{% block page_javascript %}
<script>

function renderPasswordModal(sigType="auth_user") {
    let customHtml = `
        <label class='hide-after' for='auth_signature_password'>Your password</label>
        <input id='auth_signature_password' class='form-control' type='password' />
    `;

    showModal(
        titleText="Password Required",
        bodyText=null,
        primaryText="Submit",
        secondaryText="Cancel",
        primaryAction=function() {
            verifyPassword(
                token="{{ csrf_token }}",
                inputId="auth_signature_password",
                sigType=sigType,
                instanceId={{instance.id}});
        },
        secondaryAction=hideModal,
        opacity=1,
        loadAction=null,
        customHtml=customHtml
    );
}




</script>
{% endblock %}