<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container'>

<div class='row margin-top-2'>
    <div class="col-md-12">
        <h2>Budget
            <span class="btn btn-sm btn-secondary ml-4" onClick="newBudget()">
                Create Budget
            </span>
        </h2>
    </div>
</div>

<div class="row margin-top-1">
    <div class='col-12'>
    	<table class="{{ table_class }}">
    		<thead>
    			<tr>
                    <th>Year</th>
                    <th>Name</th>
    			</tr>
    		</thead>
    		{% if budget_data %}
    		<tbody>
    			{% for item in budget_data %}
    			<tr>
                    <td><a class="active-{{item.active}} monospace" href="/accounting/budget/{{ item.id }}/">{{ item.year }}</a></td>
                    <td><a class="active-{{item.active}}" href="/accounting/budget/{{ item.id }}/">{{ item.name }}</a></td>
                </tr>
    			{% endfor %}
    		</tbody>
    		{% endif %}
    	</table>
    </div>
</div>

</div>

{%endblock%}
