<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
<div class='container'>

    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12">
            <h4>Budget Item
                <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/accounting/budget_item/new/?budget={{instance.id}}');">
                    Create Budget Item
                </a>
            </h4>

            <div class="col-md-12 text-right">
                <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv/?report_id={{report_id}}&report_name=Budget_export">
                    Download as CSV
                </a>
            </div>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
        	<table class="{{ table_class }}">
        		<thead>
        			<tr>
                        <th>Account</th>
                        <th class='right'>Amount</th>
                        <th class='right'>Utilization</th>
        			</tr>
        		</thead>
        		{% if budget_item_data %}
        		<tbody>
        			{% for item in budget_item_data %}
        			<tr>
                        <td><a href="javascript:showPopup('/accounting/budget_item/{{ item.id }}/');" >{{ item.account }}</a></td>
                        <td><a class='right monospace' href="javascript:showPopup('/accounting/budget_item/{{ item.id }}/');" >{{ item.amount|floatformat:2 }}</a></td>
                        <td><a class='right monospace' href="javascript:showPopup('/accounting/budget_item/{{ item.id }}/');" ><span class="d-none">{{item.get_usage_percent_raw}}</span>{{ item.get_usage_fancy }}</a></td>
                    </tr>
        			{% endfor %}
        		</tbody>
        		{% endif %}
        	</table>
        </div>
    </div>

</div>
