<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load humanize %}

 {% block breadcrumb %}
<div class='breadcrumb print-hide'>
    <div class='container'>
        <a href="{% url 'accounting:contract_index' %}">Contract</a>
        {% if instance %}{{instance}}
        {% else %}New Contract
        {%endif%}
    </div>
</div>
{% endblock %}


{% block content %}

<div class='container{% if popup%}-fluid{%endif%}'>
    <div class="row">
    	<div class="col-5">
    		<h3>{{ title }}</h3>
            {% if subtitle and not popup %}
            <h5>{{subtitle}}</h5>
            {%endif%}
    		<form id="frm" method="post" action="">
                {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
    			{% csrf_token %}
    			{{ form.as_p }}
                {% if instance %}
                <p>
                    <label class="hide-after">Total contract utilization: {{instance.get_usage_fancy}}</label>
                </p>
                {% endif %}

    			{% include "form_buttons.html" %}
    		</form>
    	</div>

        {% if instance %}
        <div class="col-7">
            <h3>Services
                {% if not locked %}
                <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/accounting/contract_service/{{instance.id}}/add/');">
                    Add Service
                </a>
                {% endif %}
            </h3>

            {% if services %}
            <table class="listview-table-no-order-no-search">
                <thead>
                    <th>Service</th>
                    <th class="right">Amount</th>
                    <th class="right">Rate</th>
                    <th>Unit</th>
                    <th class="right">Utilization</th>
                </thead>
                <tbody>
                    {% for service in services %}
                        {% comment %}
                            we don't want to show any anchor tags if the user is
                            not admin or financial. We want case workers to be
                            able to view contracts, but they will get a 403 if
                            they click on any of the links
                        {% endcomment %}
                        {% if request.user.userconfig.user_type == "1" or request.user.userconfig.user_type == "3" %}
                            <tr>
                                <td><a href="javascript:showPopup('/accounting/contract_service/{{instance.id}}/{{service.id}}/');">{{service.service}}</a></td>
                                <td class="monospace right"><a href="javascript:showPopup('/accounting/contract_service/{{instance.id}}/{{service.id}}/');">{{service.amount|intcomma}}</a></td>
                                <td class="monospace right"><a href="javascript:showPopup('/accounting/contract_service/{{instance.id}}/{{service.id}}/');">{{service.rate|default:''}}</a></td>
                                <td class=""><a href="javascript:showPopup('/accounting/contract_service/{{instance.id}}/{{service.id}}/');">{{service.unit|default:''}}</a></td>
                                <td class="monospace right"><a href="javascript:showPopup('/accounting/contract_service/{{instance.id}}/{{service.id}}/');">{{service.get_usage_fancy}}</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><span class="cell">{{service.service}}</span></td>
                                <td class="monospace right"><span class="cell">{{service.amount|intcomma}}</span></td>
                                <td class="monospace right"><span class="cell">{{service.rate|default:''}}</span></td>
                                <td class=""><span class="cell">{{service.unit|default:''}}</span></td>
                                <td class="monospace right"><span class="cell">{{service.get_usage_fancy}}</span></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

        </div>
        {% endif %}
    </div>






{% if instance %}
    <div class='row margin-top-4'>
        <div class="col-md-12">
            <h4>Authorizations
                {% if not locked %}
                <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/accounting/authorization/new/?contract={{instance.id}}');">
                    Create Authorization
                </a>
                {% endif %}
            </h4>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table">
                <thead>
                    <tr>
                        <th>Auth #</th>
                        <th>Date</th>
                        <th>Vendor</th>
                        <th>Client</th>
                        <th>Service</th>
                        <th>Utilization</th>
                    </tr>
                </thead>
                {% if auth_data %}
                <tbody>
                    {% for item in auth_data %}
                        {% comment %}
                                we don't want to show any anchor tags if the user is
                                not admin or financial. We want case workers to be
                                able to view contracts, but they will get a 403 if
                                they click on any of the links
                            {% endcomment %}
                            {% if request.user.userconfig.user_type == "1" or request.user.userconfig == "3" %}
                                <tr>
                                    <td>
                                        <a class="" href="javascript:showPopup('/accounting/authorization/{{ item.id }}/');">{{ item.get_auth_number }}</a>
                                    </td>
                                    <td>
                                        <a class="monospace" href="javascript:showPopup('/accounting/authorization/{{ item.id }}/');">
                                            <span class="d-none">{{ item.date_from|date:'Ymd' }}{{ item.date_to|date:'Ymd' }}</span>
                                            {{item.date_from|date:'Y/m/d'}} - {{item.date_to|date:'Y/m/d'}}
                                        </a>
                                    </td>
                                    <td><a class="" href="javascript:showPopup('/accounting/authorization/{{ item.id }}/');">{{ item.vendor }}</a></td>
                                    <td><a class="" href="javascript:showPopup('/accounting/authorization/{{ item.id }}/');">{{ item.client|default:'' }}</a></td>
                                    <td><a class="" href="javascript:showPopup('/accounting/authorization/{{ item.id }}/');">{{ item.service }}</a></td>
                                    <td><a class="monospace nowrap" href="javascript:showPopup('/accounting/authorization/{{ item.id }}/');">{{ item.get_usage_fancy }}</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>
                                        <span class="cell">{{ item.get_auth_number }}</span>
                                    </td>
                                    <td>
                                        <span class="monospace">
                                            <span class="d-none">{{ item.date_from|date:'Ymd' }}{{ item.date_to|date:'Ymd' }}</span>
                                            {{item.date_from|date:'Y/m/d'}} - {{item.date_to|date:'Y/m/d'}}
                                        </span>
                                    </td>
                                    <td><span class="cell">{{ item.vendor }}</span></td>
                                    <td><span class="cell">{{ item.client|default:'' }}</span></td>
                                    <td><span class="cell">{{ item.service }}</span></td>
                                    <td><span class="monospace nowrap">{{ item.get_usage_fancy }}</span></td>
                                </tr>

                            {% endif %}
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>
{% endif %}








</div>

{% endblock %}
