<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class='container'>


        <div class='row margin-top-2'>
            <div class="col-md-12">
                <h2>{% if show_all is False %}Contracts for {{year}}{% else %}All Contracts{% endif %}
                    {% if request.user.userconfig.user_type == "1" or request.user.userconfig == "3" %}
                    <a class="btn btn-sm btn-secondary ml-4" href="/accounting/contract/new/">
                        Create Contract
                    </a>
                    {% endif %}
                </h2>
            </div>
        </div>

</div>

<div class="container">



    {% include 'table_filter.html' %}
    <div class="row margin-top-1">
        <div class='col-12'>
        	<table class="listview-table-no-order-no-search" data-order='[[0, "desc"]]'>
        		<thead>
        			<tr>
                        <th class='left'>Year</th>
                        <th>Vendor</th>
                        <th>Service</th>
                        <th class='nowrap'>Rate</th>
                        <th class='right nowrap'>Amount</th>
                        <th class='right nowrap'>Used</th>
                        <th class='right nowrap'>Percent</th>
        			</tr>
        		</thead>
        		{% if contract_data %}
        		<tbody>
        			{% for item in contract_data %}
        			<tr>
                        <td><a class='monospace' href="/accounting/contract/{{ item.id }}/">{{ item.year }}</a></td>
                        <td><a href="/accounting/contract/{{ item.id }}/">{{ item.vendor }}</a></td>
                        <td><a href="/accounting/contract/{{ item.id }}/">{{item.get_services_html|default:''|safe}}</a></td>

                        <td><a class='right monospace nowrap' href="/accounting/contract/{{ item.id }}/">
                            {% for csitem in item.contractservice_set.all %}
                                <br>{{ csitem.rate|default:'' }}
                            {% endfor %}
                        </a></td>

                        <td><a class='right monospace nowrap' href="/accounting/contract/{{ item.id }}/">
                            {{ item.amount | intcomma }}
                            {% for amount in item.get_service_amounts %}
                                <br>{{ amount|intcomma }}
                            {% endfor %}
                        </a></td>

                        <td><a class='right monospace nowrap' href="/accounting/contract/{{ item.id }}/">
                            {{ item.get_usage.0|intcomma }}
                            {% for usage in item.get_service_utilizations %}
                                <br>{{ usage.0|intcomma }}
                            {% endfor %}
                        </a></td>

                        <td><a class='right monospace nowrap' href="/accounting/contract/{{ item.id }}/">
                            {{ item.get_usage.2 }}
                            {% for usage in item.get_service_utilizations %}
                                <br>{{ usage.2 }}
                            {% endfor %}
                        </a></td>

                    </tr>
        			{% endfor %}
        		</tbody>
        		{% endif %}
        	</table>
            {% include 'page_controls.html' %}
        </div>
    </div>
</div>
{%endblock%}
