<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}

{% block breadcrumb %}
<div class='breadcrumb'>
    <div class='container'>
        <a href="{% url 'accounting:journal_entry_index' %}">Journal Entry</a>
        {% if instance %}{{instance}}
        {%else%}New Journal Entry
        {%endif%}
    </div>
</div>
{% endblock %}


{% block content %}


<div class='container'>
    <div class="row">
    	<div class="col-md-6">
    		<h3>{{ title }}</h3>
            {% if subtitle and not popup %}
            <h5>{{subtitle}}</h5>
            {%endif%}
    		<form id="frm" method="post" action="">
                {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
    			{% csrf_token %}
    			{{ form.as_p }}
                {% if instance.supervisor_reviewed is True %}
                    <p>Reviewed by {{instance.supervisor_user.userconfig}} on {{instance.supervisor_review_date|date:'m/d/Y'}}
                {% endif %}
                <p></p>
    			{% include "form_buttons.html" %}
    		</form>


            {% if instance and instance.verified %}
                <div class="row margin-top-2">

                    <div class="col-md-12">
                        {% if request.user.userconfig.super_je and instance.verified and instance.supervisor_reviewed is False %}
                            <a class="btn btn-sm btn-primary  ml-2" href="javascript:confirmJEReview({{instance.id}});">
                                Confirm Review
                            </a>
                        {% endif %}

                        {% if instance.verified and request.user.userconfig.je_unverify is True %}
                            {% if last_exported  %}
                                <a class="btn btn-sm btn-secondary  ml-2" href="javascript:unverifyJournalEntry({{instance.id}});">
                                    Unverify Journal Entry
                                </a>
                            {% else %}
                                <!-- No need to show warning, this JE has never been exported -->
                                <a class="btn btn-sm btn-secondary  ml-2" href="/accounting/journal_entry/unverify/{{instance.id}}/">
                                    Unverify Journal Entry
                                </a>
                            {% endif %}
                        {% endif %}


                    </div>

                    <div class="col-md-12 margin-top-2">
                        {% if balanced  and instance.has_transactions and instance.verified and instance.supervisor_reviewed is False %}
                            <a class="btn btn-sm btn-secondary ml-2" href="/accounting/journal_entry/{{instance.id}}/export/">
                                Export Journal Entry
                            </a>
                            {% if last_exported %}
                                <span>Last exported on {{last_exported}}</span>
                            {% endif %}
                        {% endif %}

                    </div>

                </div>
            {% endif %}





    	</div>

        {% if instance %}
            <div class="col-md-6">
                <h4 class="mt-3">Supporting Documentation</h4>
                    {% if not locked %}
                        <a class="btn btn-sm btn-secondary ml-2" href="javascript:showPopup('/accounting/journal_file/new/{{instance.id}}');">
                            Upload a Document
                        </a>
                    {% endif %}

                <table class="listview-table-page-no-order mt-4">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>File</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="d-none"></td>
                            <td class="center" colspan="3"><span class="cell"><strong>Journal Documents</strong></span></td>
                        </tr>
                        {% for item in instance.journalfile_set.all %}
                        <tr>
                            <td><a href="javascript:showPopup('/accounting/journal_file/{{item.id}}/');">{{item.date|date:'m/d/Y'}}</td></a>
                            <td><a href="javascript:showPopup('/accounting/journal_file/{{item.id}}/');">{{item.get_filename}}</td></a>
                        </tr>
                        {% endfor %}

                        {% if instance.get_transaction_files %}
                            <tr>
                                <td class="d-none"></td>
                                <td class="center" colspan="3"><span class="cell"><strong>Transaction Documents</strong></span></td>
                            </tr>

                            {% for tf in instance.get_transaction_files %}
                                <tr>
                                    <td class="ml-4"><a target="_blank" href="/accounting/transaction_file/{{item.id}}/transaction_files/{{tf.id}}/{{tf.get_filename}}">{{tf.date|date:'m/d/Y'}}</td></a>
                                    <td><a target="_blank" href="/accounting/transaction_file/{{tf.id}}/transaction_files/{{tf.id}}/{{tf.get_filename}}">{{tf.get_filename}}</td></a>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

            </div>
        {% endif %}
    </div>


</div>


    {% if instance %}
    <div class="container-fluid">
        {% include 'accounting/journal_trans_index.html' %}
    </div>
    {%endif%}

</div>
{%endblock%}


{% block page_javascript %}

<script>
$(document).ready(function(){
    $('#create-offset').click(function(){
        //console.log("Create offset");
        // add up all the selected amounts
        var offset_amount = 0;
        $('.list-check').not('.list-check[disabled=disabled]').each(function(){
            if ($(this).prop('checked')){
                // parse to int of cents, then add a decimal before sending
                // this is because js doesn't have a decimal and this is money
                offset_amount += parseInt($(this).attr('value').replace('.',''));
                //console.log("Offset amount");
                //console.log(offset_amount);
            }
        });

        if (offset_amount == 0){
            // generate an offset for the total remaining.
            showPopup('/accounting/journal_trans/new/?entry={{instance.id}}&amount={{offby_credit}}&offset=true');
        }
        else {
            if (offset_amount < 0){
                var strAmount = "";
            }            

            else{
                var strOffset = offset_amount.toString();
                var dollars = strOffset.slice(0, (strOffset.length-2) );
                var cents = strOffset.slice( (strOffset.length-2), strOffset.length);
                var strAmount = dollars +"." + cents; 
            }
   
            showPopup("/accounting/journal_trans/new/?entry={{instance.id}}&amount="+strAmount+"&offset=true");
        }

        //var url = "/accounting/journal_entry/verify?ids=" + trans_list.join(",");
        // window.location = url;
    });

    /* Show a modal when verifying the journal entry. Verified JEs can still
        be exported to the county financial system, but they cannot be changed
        unless they are unlocked by an admin.
    */
    $("#id_verified").click(function(e){        
        if ($(this).prop("checked") == true){
            e.preventDefault();
            verifyJournalEntry();
        }

    });
});
</script>

{% endblock %}
