<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load nova_tags %}
{% block content %}
<div class='container'>

<div class='row margin-top-2'>
    <div class="col-md-12">
        <h2>Journal Entry
            <a class="btn btn-sm btn-secondary ml-4" href="/accounting/journal_entry/new/">
                Create Journal Entry
            </a>
        </h2>
    </div>
</div>


{% include 'table_filter.html' %}
<div class="row margin-top-1">

    <div class='col-12'>
    	<table data-order='[[1, "desc"]]' class="listview-table-no-order-no-search">
    		<thead>
    			<tr>
                    <th>Verified</th>
                    <th>Date</th>
                    <th>Year</th>
                    <th>Period</th>
                    <th>Description</th>
                    <th>Entries</th>
    			</tr>
    		</thead>
    		{% if page %}
    		<tbody>
    			{% for item in page %}
    			<tr>
                    <td><a class="ac-{{item.get_color}}" href="/accounting/journal_entry/{{ item.id }}/">{{ item.verified | yesno}}</a></td>
                    <td><a class="ac-{{item.get_color}} monospace" href="/accounting/journal_entry/{{ item.id }}/"><span class='d-none'>{{ item.date|date:'Ymd' }}</span>{{ item.date|date:'m/d/Y' }}</a></td>
                    <td><a class="ac-{{item.get_color}} monospace" href="/accounting/journal_entry/{{ item.id }}/">{{ item.fiscal_year }}</a></td>
                    <td><a class="ac-{{item.get_color}} monospace" href="/accounting/journal_entry/{{ item.id }}/">{{ item.fiscal_period }}</a></td>
                    <td><a class="ac-{{item.get_color}}" href="/accounting/journal_entry/{{ item.id }}/">{{item.get_balanced}}{{ item.description }}</a></td>
                    <td><a class="ac-{{item.get_color}} monospace" href="/accounting/journal_entry/{{ item.id }}/">{{ item.transaction_count }}</a></td>
                </tr>
    			{% endfor %}
    		</tbody>
    		{% endif %}
    	</table>
        
        {% include 'page_controls.html' %}

    </div>
</div>

</div>
{%endblock%}
