<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% load humanize %}

<div class='row margin-top-4'>
    <div class="col-md-12">
        <h4>Journal Transactions
            {% if locked is False and instance.verified is False %}
            <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/accounting/journal_trans/new/?entry={{instance.id}}');">
                Create Transaction
            </a>
            <a class="btn btn-sm btn-secondary ml-2" href="javascript:showPopup('/config/popup_lookup/?mod=transaction&pmod=journal_entry&pid={{instance.id}}&table_class=listview-table', 'wider');">
                Link Existing
            </a>
            <button id="create-offset" class="btn btn-sm btn-secondary ml-2">
                Create Offset
            </button>

            <a class="btn btn-sm btn-secondary btn-delete ml-2" href="javascript:unlinkAllJournalTransactions({{instance.id}});">
                Unlink All
            </a>
            {%endif%}            
        </h4>
    </div>
</div>

<div class="row margin-top-1">
    <div class='col-12'>
    	<table class="listview-table" data-order='[[ "2", "asc" ]]'>
    		<thead>
    			<tr>
                    {% if instance.verified is False %}<th>Unlink</th>{% endif %}
                    {% if instance.verified is False %}<th><input id='select-all' type='checkbox' sortable="false"></input></th>{% endif %}
                    <th>Account</th>
                    <th>Batch</th>
                    <th>Description</th>
                    <th class='right'>Debit</th>
                    <th class='right'>Credit</th>
    			</tr>
    		</thead>
    		{% if journaltrans_data %}
    		<tbody>
    			{% for item in journaltrans_data %}
    			<tr>
                    {% if instance.verified is False %}<td><a href="javascript:unlinkTransaction({{item.id}});"><span class='fas fa-unlink'></span></a></td>{%endif%}
                    {% if instance.verified is False %}<td class='td-check'>{% if instance.verified is False %}{% if item.account.cash_account == False %}<input class='list-check' type="checkbox" value='{{item.get_offset_amount}}'></input>{% endif %}{%endif%}</td>{% endif %}
                    <td><a href="/accounting/journal_trans/{{ item.id }}/" >{{ item.account }}</a></td>
                    <td><a href="/accounting/journal_trans/{{ item.id }}/" >{{ item.lot }}</a></td>
				    <td><a href="/accounting/journal_trans/{{ item.id }}/">{{ item.description|default:'' }}</a></td>
				    {% if item.trans_type == '1' %}
				    <td><a class='right monospace' href="/accounting/journal_trans/{{ item.id }}/" >{{ item.amount|floatformat:2|intcomma }}</a></td>
				    <td><a href="/accounting/journal_trans/{{ item.id }}/"></a></td>
				    {%else%}
				    <td><a href="/accounting/journal_trans/{{ item.id }}/"></a></td>
				    <td><a class='right monospace' href="/accounting/journal_trans/{{ item.id }}/" >{{ item.amount|floatformat:2|intcomma }}</a></td>
				    {%endif%}
                </tr>
    			{% endfor %}
    		</tbody>
    		{% endif %}

            <tfoot>
    			<tr style='font-weight:bold;'>
                    {% if instance.verified is False %}<td class='pt-5'></td>{% endif %}
                    {% if instance.verified is False %}<td class='pt-5'></td>{% endif %}
    				<td class='pt-5'></td>
                    <td class='pt-5'></td>
    				<td class='pt-5 right pad-right-20'><span class='cell'>Totals:</span></td>
    				<td class='pt-5 right monospace {{total_class}}'><span class='cell'>{{total_debit|floatformat:2|intcomma}}</span></td>
    				<td class='pt-5 right monospace {{total_class}}'><span class='cell'>{{total_credit|floatformat:2|intcomma}}</span></td>
    			</tr>

                <tr style='font-weight:bold;'>
                    {% if instance.verified is False %}<td class='pt-5'></td>{% endif %}
                    {% if instance.verified is False %}<td class='pt-1'></td>{% endif %}
                    <td class='pt-1'></td>
                    <td class='pt-1'></td>
                    <td class='pt-1 right pad-right-20'><span class='cell'>Disbursement Total:</span></td>                    
                    <td class='pt-1 right monospace {{total_class}}'><span class='cell'>{{disb_total|floatformat:2|intcomma}}</span></td>
                    <td class='pt-1'></td>
                </tr>

                {% if offby_debit or offby_credit %}
    			<tr style='font-weight:bold;'>
                    {% if instance.verified is False %}<td class='pt-5'></td>{% endif %}
                    {% if instance.verified is False %}<td class='pt-1'></td>{% endif %}
    				<td class='pt-1'></td>
                    <td class='pt-1'></td>
    				<td class='pt-1 right pad-right-20'><span class='cell'>Off by:</span></td>
    				<td class='pt-1 right monospace {{total_class}}'><span class='cell'>{{offby_debit|floatformat:2|intcomma}}</span></td>
    				<td class='pt-1 right monospace {{total_class}}'><span class='cell'>{{offby_credit|floatformat:2|intcomma}}</span></td>
    			</tr>
                {% endif %}
		    </tfoot>

    	</table>
    </div>
</div>



