<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container{% if popup%}-fluid{%endif%}'>
    <div class="row">
    	<div class="col-12">
    		<h3>{{ title }}</h3>
            {% if subtitle and not popup %}
            <h5>{{subtitle}}</h5>
            {%endif%}
    		<form id="frm" method="post" action="">
                {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
    			{% csrf_token %}
    			{{ form.as_p }}
    			{% include "form_buttons.html" %}
    		</form>
    	</div>
    </div>
    {% if instance.transactionfile_set.all %}
        <div class="row mt-4">
            <div class="col-12">
                <h4>Supporting Documentation</h4>
            </div>
        </div>
        <div class="row margin-top-1">
            <div class="col-12">
                <table class="listview-table-no-order-no-search mt-4">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>File</th>
                            <th>Uploaded by</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in instance.transactionfile_set.all %}
                        <tr>
                            <td><a target="_blank" href="/accounting/transaction_file/{{item.id}}/transaction_files/{{item.id}}/{{item.get_filename}}">{{item.date|date:'m/d/Y'}}</td></a>
                            <td><a target="_blank" href="/accounting/transaction_file/{{item.id}}/transaction_files/{{item.id}}/{{item.get_filename}}">{{item.get_filename}}</td></a>
                            <td><a target="_blank" href="/accounting/transaction_file/{{item.id}}/transaction_files/{{item.id}}/{{item.get_filename}}">{{item.uploaded_by.userconfig}}</td></a>
                            <td><a target="_blank" href="/accounting/transaction_file/{{item.id}}/transaction_files/{{item.id}}/{{item.get_filename}}">{{item.description}}</td></a>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
{%endblock%}
