<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container'>

<div class='row margin-top-2'>
    <div class="col-md-12">
        <h2>Transaction Batch
            <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/accounting/lot/new/');">
                Create Transaction Batch
            </a>
            {% if show_all is False %}
            <a class="btn btn-sm btn-secondary ml-4" href="/accounting/lot/all/">
                Show Batches for All Years
            </a>
            {% else %}
            <a class="btn btn-sm btn-secondary ml-4" href="/accounting/lot/">
                Show Batches for {{year}}
            </a>
            {% endif %}
        </h2>
    </div>
</div>

<div class="row margin-top-1">
    <div class='col-12'>
    	<table class="{{ table_class }}">
    		<thead>
    			<tr>
                    <th>Active</th>
                    <th>Type</th>
                    <th>Year</th>
                    <th>Name</th>
                    <th>Description</th>
    			</tr>
    		</thead>
    		{% if lot_data %}
    		<tbody>
    			{% for item in lot_data %}
    			<tr>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/lot/{{ item.id }}/');" >{{ item.active }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/lot/{{ item.id }}/');" >{{ item.get_batch_type_display }}</a></td>
                    <td><a class="active-{{item.active}} monospace" href="javascript:showPopup('/accounting/lot/{{ item.id }}/');" >{{ item.year }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/lot/{{ item.id }}/');" >{{ item.name }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/lot/{{ item.id }}/');" >{{ item.description }}</a></td>
                </tr>
    			{% endfor %}
    		</tbody>
    		{% endif %}
    	</table>
    </div>
</div>

</div>
{%endblock%}
