<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load nova_tags %}
{% load humanize %}


{% if not popup %}
{% block breadcrumb %}
<div class='breadcrumb print-hide'>
    <div class='container'>
        <a href="{% url 'accounting:payroll_dist_index' %}">Payroll Distribution</a>
        {% if instance %}{{instance}}
        {% else %}New Payroll Distribution
        {%endif%}
    </div>
</div>
{% endblock %}
{% endif %}


{% block content %}



<div class='container{% if popup %}-fluid{%endif%} print-hide'>
    <div class="row">
        <div class="col-lg-6">
            <h3>{{ title }}</h3>
            {% if subtitle and not popup %}
            <h5>{{subtitle}}</h5>
            {%endif%}
            <form id="frm" method="post" action="">
                {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" %}
            </form>
        </div>
    </div>
</div>


{% if instance %}
<div class="container">
    <div class="row margin-top-4">
        <div class='col-lg-6'>
            <h4>Employees</h4>
            <table class="listview-table-no-order-no-search">
                <thead>
                    <tr>
                        <th>Last name</th>
                        <th>First name</th>
                        <th>Home cash account</th>
                    </tr>
                </thead>
                {% if employee_data %}
                <tbody>
                    {% for emp in employee_data %}
                    <tr>                        
                        <td><a href="javascript:payrollJe({{instance.id}}, {{emp.id}});" >{{ emp.last_name }}</a></td>
                        <td><a href="javascript:payrollJe({{instance.id}}, {{emp.id}});" >{{ emp.first_name }}</a></td>
                        <td><a href="javascript:payrollJe({{instance.id}}, {{emp.id}});" >{{ emp.home_cash_account }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>

        <div class='col-lg-6'>
            <h4>Payroll Journal Entries</h4>
            <table class="listview-table-no-order-no-search">
                <thead>
                    <tr>
                        <th>Last name</th>
                        <th>First name</th>
                        <th>Description</th>
                        <th class="right">Amount</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for entry in entries_data %}
                    <tr>                        
                        <td><a href="/accounting/payroll_je/{{ entry.id }}/" >{{ entry.employee.last_name }}</a></td>
                        <td><a href="/accounting/payroll_je/{{ entry.id }}/" >{{ entry.employee.first_name }}</a></td>
                        <td><a href="/accounting/payroll_je/{{ entry.id }}/" >{{ entry.description }}</a></td>
                        <td><a href="/accounting/payroll_je/{{ entry.id }}/" class="monospace right">{{ entry.get_credit_debit.0|intcomma:2 }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <td></td>
                    <td></td>
                    <td><span class="cell right"><b>Total: </b></span></td>
                    <td><span class="cell monospace right">{{entries_total|floatformat:2|intcomma}}</span></td>
                </tfoot>
                
            </table>
        </div>
    </div>
</div>

{% endif %}


{%endblock%}
