<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container'>

    <div class='row margin-top-2'>
        <div class="col-md-12">
            <h2>Payroll Distribution
                <a class="btn btn-sm btn-secondary ml-4" href="/accounting/payroll/new/">
                    Create Payroll Distribution
                </a>
            </h2>
        </div>
    </div>
</div>

<div class="container">
    {% if data %}
    <div class="row margin-top-1">
        <div class='col-12'>
        	<table class="{{table_class}}" data-order='[["0", "desc"]]'>
        		<thead>
        			<tr>
                        <th>Date From</th>
                        <th>Date To</th>
                        <th>Paycheck Date</th>
        			</tr>
        		</thead>

        		<tbody>
        			{% for item in data %}
                    {% with valid=item.payroll_valid %}
        			<tr>
                        <td><a href="/accounting/payroll/{{item.id}}/"><span class='d-none'>{{item.date_from|date:'Ymd'}}</span>{{item.date_from|date:'m/d/Y'}}</a></td>
                        <td><a href="/accounting/payroll/{{item.id}}/"><span class='d-none'>{{item.date_to|date:'Ymd'}}</span>{{item.date_to|date:'m/d/Y'}}</a></td>     
                        <td><a href="/accounting/payroll/{{item.id}}/"><span class='d-none'>{{item.paycheck_date|date:'Ymd'}}</span>{{item.paycheck_date|date:'m/d/Y'}}</a></td>                
                    </tr>
                    {% endwith %}
        			{% endfor %}
        		</tbody>

        	</table>
        </div>
    </div>
    {% endif %}

</div>

{%endblock%}
