<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class='breadcrumb'>
    <div class='container'>
        <a href="{% url 'accounting:payroll_dist_index' %}">Payroll Distribution</a>
        {% if instance %}
        <a href="/accounting/payroll/{{instance.payrolldist.id}}/">{{instance.payrolldist.get_fmt_name}}</a>
        Payroll Journal Entry for {{instance.employee}}
        {%else%}
        <a href="/accounting/payroll/{{parent.id}}/">{{parent.get_fmt_name}}</a>
        Payroll Journal Entry
        {%endif%}
    </div>
</div>

<div class='container'>
    <div class="row">
        <div class="col-12">
            <h3>{{ title }}</h3>
            {% if subtitle and not popup %}
            <h5>{{subtitle}}</h5>
            {%endif%}
            <form id="frm" method="post" action="">
                {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" %}
            </form>
        </div>
    </div>

    {% if instance and instance.verified %}
    <div class="row margin-top-2">
        <div class="col-md-12">
            {% if balanced %}
            <a class="btn btn-sm btn-secondary ml-2" href="/accounting/journal_entry/{{instance.id}}/export/">
                Export Journal Entry
            </a>
            {% if last_exported %}
            <span> Last exported on {{last_exported}}</span>
            {% endif %}
            {% endif %}
        </div>
    </div>
    {% endif %}


{% if journaltrans_data %}
<div class="row margin-top-4">
    <div class='col-12'>
        <table class="listview-table-no-search" data-order='[[ "2", "asc" ]]'>
            <thead>
                <tr>                    
                    <th>Account</th>
                    <th>Description</th>
                    <th class='right'>Debit</th>
                    <th class='right'>Credit</th>
                </tr>
            </thead>
                        
            <tbody>
                {% for item in journaltrans_data %}
                <tr>                    
                    <td><a href="javascript:showPopup('/accounting/journal_trans/{{ item.id }}/');" >{{ item.account }}</a></td>
                    <td><a href="javascript:showPopup('/accounting/journal_trans/{{ item.id }}/');">{{ item.description|default:'' }}</a></td>
                    {% if item.trans_type == '1' %}
                    <td><a class='right monospace' href="javascript:showPopup('/accounting/journal_trans/{{ item.id }}/');" >{{ item.amount|floatformat:2|intcomma }}</a></td>
                    <td><a href="javascript:showPopup('/accounting/journal_trans/{{ item.id }}/');"></a></td>
                    {%else%}
                    <td><a href="javascript:showPopup('/accounting/journal_trans/{{ item.id }}/');"></a></td>
                    <td><a class='right monospace' href="javascript:showPopup('/accounting/journal_trans/{{ item.id }}/');" >{{ item.amount|floatformat:2|intcomma }}</a></td>
                    {%endif%}
                </tr>
                {% endfor %}
            </tbody>


            <tfoot>
                <tr style='font-weight:bold;'>
                    <td class='pt-5'></td>
                    <td class='pt-5 right pad-right-20'><span class='cell'>Totals:</span></td>
                    <td class='pt-5 right monospace {{total_class}}'><span class='cell'>{{total_debit|floatformat:2|intcomma}}</span></td>
                    <td class='pt-5 right monospace {{total_class}}'><span class='cell'>{{total_credit|floatformat:2|intcomma}}</span></td>
                </tr>

                {% if offby_debit or offby_credit %}
                <tr style='font-weight:bold;'>
                    <td class='pt-1'></td>
                    <td class='pt-1 right pad-right-20'><span class='cell'>Off by:</span></td>
                    <td class='pt-1 right monospace {{total_class}}'><span class='cell'>{{offby_debit|floatformat:2|intcomma}}</span></td>
                    <td class='pt-1 right monospace {{total_class}}'><span class='cell'>{{offby_credit|floatformat:2|intcomma}}</span></td>
                </tr>
                {% endif %}
            </tfoot>

        </table>
    </div>
</div>
{% endif %}


</div>
{%endblock%}


{% block page_javascript %}

<script>
$(document).ready(function(){
    $('#create-offset').click(function(){
        console.log("Create offset");
        // add up all the selected amounts
        var offset_amount = 0;
        $('.list-check').not('.list-check[disabled=disabled]').each(function(){
            if ($(this).prop('checked')){
                // parse to int of cents, then add a decimal before sending
                // this is because js doesn't have a decimal and this is money
                offset_amount += parseInt($(this).attr('value').replace('.',''));
                console.log("Offset amount");
                console.log(offset_amount);
            }
        });

        if (offset_amount == 0){
            // generate an offset for the total remaining.
            showPopup('/accounting/journal_trans/new?entry={{instance.id}}&amount={{offby_credit}}&offset=true');
        }
        else {
            if (offset_amount < 0){
                var strAmount = "";
            }            

            else{
                // js sucks
                var strOffset = offset_amount.toString();
                var dollars = strOffset.slice(0, (strOffset.length-2) );
                var cents = strOffset.slice( (strOffset.length-2), strOffset.length);
                var strAmount = dollars +"." + cents; 
            }
   
            showPopup("/accounting/journal_trans/new?entry={{instance.id}}&amount="+strAmount+"&offset=true");
        }

        //var url = "/accounting/journal_entry/verify?ids=" + trans_list.join(",");
        // window.location = url;
    });
});
</script>

{% endblock %}
