<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load nova_tags %}
{% block content %}
<div class='container'>
    <div class='row margin-top-2'>
        <div class="col-md-12">
            <h2>Rate
                <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/accounting/rate/new/');">
                    Create Rate
                </a>
            </h2>
        </div>
    </div>
</div>

<div class="container-fluid">
<div class="row margin-top-1">
    <div class='col-12'>
    	<table class="{{ table_class }}" data-order='[[1, "desc"]]'>
    		<thead>
    			<tr>
                    <th>Active</th>
                    <th>Year</th>
                    <th>Name</th>
                    <th>Account</th>
                    <th>Interval</th>
                    <th class='right'>Amount</th>
                    <th>Birth to 3</th>
                    <th>Birth to 3 Pre-Admit</th>
                    <th>Clinic Pre-Admit</th>
                    <th>CLTS</th>
                    <th>CLTS Pre-Admit</th>
                    <th>Crisis</th>
                    <th>CST</th>
                    <th>R &amp; I</th>
                    <th>TCM</th>
    			</tr>
    		</thead>
    		{% if data %}
    		<tbody>
    			{% for item in data %}
    			<tr>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/rate/{{ item.id }}/');" >{{ item.active|yesno }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/rate/{{ item.id }}/');" >{{ item.year }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/rate/{{ item.id }}/');" >{{ item.name }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/rate/{{ item.id }}/');" >{{ item.account }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/rate/{{ item.id }}/');" >{{ item.get_interval_display }}</a></td>
                    <td><a class="active-{{item.active}} right monospace" href="javascript:showPopup('/accounting/rate/{{ item.id }}/');" >{{ item.amount }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/rate/{{ item.id }}/');" >{{ item.b3_rate|yesno }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/rate/{{ item.id }}/');" >{{ item.b3_preadmit_rate|yesno }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/rate/{{ item.id }}/');" >{{ item.clinic_preadmit_rate|yesno }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/rate/{{ item.id }}/');" >{{ item.clts_rate|yesno }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/rate/{{ item.id }}/');" >{{ item.clts_preadmit_rate|yesno }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/rate/{{ item.id }}/');" >{{ item.crisis_rate|yesno }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/rate/{{ item.id }}/');" >{{ item.cst_rate|yesno }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/rate/{{ item.id }}/');" >{{ item.randi_rate|yesno }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/accounting/rate/{{ item.id }}/');" >{{ item.tcm_rate|yesno }}</a></td>

                </tr>
    			{% endfor %}
    		</tbody>
    		{% endif %}
    	</table>
    </div>
</div>
</div>
{%endblock%}
