<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% extends 'base.html' %}
{% load humanize %}
{% load nova_tags %}
{% block content %}

{% if not popup %}
<div class='breadcrumb print-hide'>
    <div class='container'>
        <a href="{% url 'accounting:sac_check_write_index' %}">eWiSACWIS Check Write Files</a>
        {{instance}}
    </div>
</div>
{% endif %}



<div class='container{% if popup%}-fluid{%endif%}'>
    <div class="row">
        <div class="col-12">
            <h3>
                {{ title }}<br>
                <small>'{{instance.filename}}' ({{instance.id}})</small>
            </h3>
            {% if subtitle and not popup %}
                <h5>{{subtitle}}</h5>
            {%endif%}
        </div>
    </div>
</div>



<div class="container">
    <div class="row margin-top-4">
        <div class="col-12">
            <h3>
                Check Write Lines
            </h3>

        </div>
    </div>
    <div class="row margin-top-1">
        <div class="col-12">
            <table class="listview-table-no-search" data-order='[[ 1, "asc" ]]'>
                <thead>
                    <tr>
                        <th>Auth</th>
                        <th>Payee</th>
                        <th>Voucher #</th>
                        <th>Voucher Date</th>
                        <th>Start Date</th>
                        <th>Days</th>
                        <th>SPC</th>
                        <th>Service Desc</th>
                        <th class="right">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in instance.saccheckwriteline_set.all %}
                        <tr>
                            <td>{{line.auth}}</td>
                            <td>{{line.payee_name}}</td>
                            <td>{{line.vouch_num}}</td>
                            <td>{{line.vouch_date|list_date}}</td>
                            <td>{{line.payment_start|list_date}}</td>
                            <td>{{line.num_days}}</td>
                            <td>{{line.spc}}</td>
                            <td>{{line.service_desc}}</td>

                            <td class="right monospace">{{line.amount|intcomma}}</td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="9" class='right total nowrap'>
                            <span class="cell">
                                <strong>
                                    Total lines: <span style="min-width:4rem" class="monospace d-inline-block right">{{instance.saccheckwriteline_set.all|length}}</span>
                                </strong>
                            </span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

{%endblock%}
