<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load humanize %}
{% block content %}


<div class='container'>
    <div class="row justify-content-left margin-top-2">
    	<div class="col-md-6">
    		<h2>Transaction Filter</h2>
            <p class='small'>
                Looking for the <a href="/report/transaction/">transaction report?</a>
            </p>
    		<form id="frm" method="post" action="">
    			{% csrf_token %}
    			{{ form.as_p }}
    			{% include "form_buttons.html" with filter=True %}
    		</form>
    	</div>
    </div>

    <div class='row margin-top-4'>
        <div class="col-12">
            <h2>
                Transactions
                <a class="btn btn-sm btn-secondary ml-4" href="/accounting/transaction/new/">Transaction</a>
                <a class="btn btn-sm btn-secondary ml-2" href="/accounting/payroll_transaction/new/">Payroll Transaction</a>
                <a class="btn btn-sm btn-secondary ml-2" href="/accounting/client_payment/new/">Client Payment</a>
                <a id='verify-selected' class="btn btn-sm btn-secondary ml-2" href="javascript:void(0);">Add to Journal Entry</a>
                <a class="btn btn-sm btn-secondary ml-2" href="javascript:atpAutoDischarge();">ATP Auto Discharge</a>
            </h2>
        </div>
    </div>
</div>

<div class='container-fluid'>
    <div class="row">
        <div class='col-12'>
        	<table class="{{ table_class }}">
        		<thead>
        			<tr>
                        <th><input id='select-all' type='checkbox'></input></th>
                        <th>Year</th>
                        <th>Period</th>
        				<th class="nowrap">Service Date</th>
                        <th>Service Code</th>
        				<th>Vendor</th>
        				<th>Client/Employee</th>
        				<th>Description</th>
        				<th class='right'>Amount</th>
                        <th>Account</th>
                        <th>Batch</th>
                        <th>Invoice</th>
                        <th>Verified</th>

        			</tr>
        		</thead>
        		{% if trans_data %}
        		<tbody>
        			{% for item in trans_data %}
        			<tr>
                        <td class='td-check'><input class='list-check' type="checkbox" value='{{item.id}}' {% if item.verified or item.journal_entry %}disabled='disabled'{%endif%}></input></td>
                        <td><a class=" monospace nowrap" href="{{item.get_url}}">{{ item.fiscal_year }}</a></td>
                        <td><a class=" monospace nowrap" href="{{item.get_url}}">{{ item.fiscal_period }}</a></td>
                        <td><a class=" monospace nowrap" href="{{item.get_url}}"><span class='d-none'>{{ item.service_date|date:'Ymd' }}</span>{{ item.service_date|date:'m/d/Y' }}</a></td>
                        <td><a class=" monospace nowrap" href="{{item.get_url}}">{{ item.service.spc_code|default:'' }}</a></td>
                        <td><a class="" href="{{item.get_url}}">{{ item.vendor|default:'' }}</a></td>
            			<td><a class="" href="{{item.get_url}}">{% if item.employee %}{{item.employee}}{% else %}{{ item.client|default:'' }}{% endif %}</a></td>
            			<td><a class="" href="{{item.get_url}}">
                            {% if item.journal_entry %}
                                Journal: {{item.journal_entry.description|default:''}}
                            {% elif item.employee %}
                                Payroll: {{ item.description|default:''}}
                            {% else %}
                                {{ item.description|default:''}}
                            {% endif %}
                        </a></td>
            			<td><a class=" monospace align-right {{item.get_color}}" href="{{item.get_url}}" >{{ item.amount|floatformat:2|intcomma }}</a></td>
                        <td><a class="" href="{{item.get_url}}">{{ item.account }}</a></td>
                        <td><a class="" href="{{item.get_url}}">{{ item.lot|default:'' }}</a></td>
                        <td><a class="" href="{{item.get_url}}">{{ item.invoice|default:'' }}</a></td>
                        <td><a class="" href="{{item.get_url}}">{{ item.journal_entry.verified }}</a></td>
                    </tr>
        			{% endfor %}
        		</tbody>
        		{% endif %}
        	</table>

        </div>
    </div>
</div>

{%endblock%}

{% block page_javascript %}
<script>
$(document).ready(function(){
    $('#verify-selected').click(function(){
        // Gather all selected records
        var trans_list = [];
        $('.list-check').not('.list-check[disabled=disabled]').each(function(){
            if ($(this).prop('checked')){
                var trans_id = $(this).attr('value');
                trans_list.push(trans_id);
            }
        });

        if (trans_list.length == 0){
            alert("Please select at least one transaction to add to a new journal entry.");
            return false;
        }

        var url = "/accounting/journal_entry/verify?ids=" + trans_list.join(",");
        window.location = url;
    });
});
</script>

<script>
    renderTableFieldClearButtons();
</script>
{%endblock%}
