<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% if request.user.is_authenticated %}
<script>
    window.location = "/loginsort"
</script>
{% endif %}


{% load static %}
{% load nova_tags %}
<html lang="en">
<head>
<title>Login - NOVA</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
<meta name="description" content="">


<link rel="icon" href="{% static 'images/favicon-16x16.png' %}">

{% include 'css_base.html' %}


</head>

<body class='login'>

<div class='container'>
    <div class='row justify-content-md-center'>
        <div id="content-main" class="col-md-12">
        </div>
    	<div id="login-container" style='margin-top:20vh; max-width:30rem' class='col-md-12 color-white'>
            <div class="center">
        		<h1 style='font-weight:bold; font-size:4.5rem'>N<span style="color: #FF7733;">O</span>VA</h1>
            </div>

    		<form id='login-form' method="post" class="center">
    			{% csrf_token %}
    			{{ form.as_p }}

    			<div class="center mt-3">
    				<button type="submit" id="password-login" name="return" value="return" class="btn btn-primary">Log in with Nova Account</button>
                </div>
    		</form>



            <div class="margin-top-4 center" >
                <a href="/accounts/password_reset/" style="background-color: rgba(0, 0, 0, 0.7); padding:0.5rem 1rem;" target="_blank">Need to reset your password?</a>
            </div>
    	</div>
    </div>
</div>


</body>

{% include 'javascript_base.html' %}

<script>
$(document).ready(function(){
    renderLowercaseInput("id_username");

    $('input').each(function(){
        $(this).addClass('form-control');
    });

    if (window.location !== window.parent.location){
        window.parent.location = "/login"
    }
});

function renderLowercaseInput(id=null) {
    document.querySelectorAll('.lowercase-input').forEach(function(input) {
        input.addEventListener('input', function(e) {
            e.target.value = e.target.value.toLowerCase();
        });
    });

    if (id != null) {
        document.getElementById(id).addEventListener('input', function(e) {
            if (!e.target.classList.contains("lowercase-input")) {
                e.target.value = e.target.value.toLowerCase();
            }
        });
    }
}
</script>





 </html>
