<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}
<p class="w33">
    <span>Service date</span>{{ instance.date|date:'m/d/Y' }}
</p>
<p class="w33">
    <span>Creator</span>{{ instance.created_by.userconfig.full_name}}
</p>


<div class="form-section">
    <h4>Assessment Description and Background Information</h4>
    <hr>

    <p class="w100">
        <span>Assessment date</span>{{ instance.assessment_date|date:'m/d/Y' }}
    </p>
    <p class="w100">
        <span>Assessment type</span>{{instance.get_assessment_type_display}}
    </p>
    <p class="100">
        <span>Medicaid type</span>{{ instance.get_medicaid_type_display }}
    </p>
    <p class="w100">
        <span>Target group</span>{{ instance.get_target_groups_html|safe }}
    </p>
    <p class="w100">
        <span>Patient rights and grievances</span> {{ instance.get_patient_rights_and_grievances_display }}
    </p>
    <p class="w100">
        <span>Parents</span>{{ instance.parents|linebreaksbr }}
    </p>

    <p class="w100">
        <span>Information collected from</span>{{instance.info_collected_from|linebreaksbr}}
    </p>
    <p class="w100">
        <span>Background information</span>{{ instance.background_info|linebreaksbr }}
    </p>

</div>



<div class="form-section">
    <h4>Social Functioning</h4>
    <hr>

    <p class="w100">
        <span>Strengths and needs</span> {{instance.strengths_needs_social|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Formal/informal supports and friendships</span> {{instance.formal_informal_supports|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Community involvement</span>{{ instance.community_involvement|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Cultural, ethnic, and spiritual traditions and beliefs</span>{{ instance.beliefs|linebreaksbr}}
    </p>
</div>

<div class="form-section">
    <h4>Medical and Physical</h4>
    <hr>

    <p class="w100">
        <span>Diagnoses and current health</span>{{ instance.current_health|linebreaksbr}}
    </p>
    <p class="w100">
        <span>Medication</span>{{ instance.medication|linebreaksbr}}
    </p>
    <p class="w100">
        <span>Primary care physician</span>{{ instance.primary_care_dr }}
    </p>
    <p class="w100">
        <span>Eye care</span>{{instance.eye_care}}
    </p>
    <p class="w00">
        <span>Dental care</span>{{ instance.dental_care }}
    </p>
    <p class="w100">
        <span>Hearing care</span>{{ instance.hearing_care }}
    </p>
    <p class="w100">
        <span>Specialty care</span>{{ instance.specialty_care}}
    </p>
</div>


<div class="form-section">
    <h4>Activities of Daily Living</h4>
    <hr>

    <p class="w100">
        <span>Bathing and grooming</span>{{instance.bathing_grooming|linebreaksbr}}
    </p>
    <p class="w100">
        <span>Dressing and undressing</span>{{instance.dressing_undressing|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Feeding</span>{{ instance.feeding|linebreaksbr }}
    </p>

    <p class="w100">
        <span>Toileting</span>{{ instance.toileting|linebreaksbr }}
    </p>

    <p class="w100">
        <span>Mobility and transfers</span>{{ instance.mobility_transfers|linebreaksbr }}
    </p>

    <p class="w100">
        <span>Communication</span>{{ instance.communication|linebreaksbr }}
    </p>

    <p class="w100">
        <span>Daily living activities</span>{{ instance.daily_living_activities|linebreaksbr}}
    </p>

</div>

<div class="form-section">
    <h4>Emotional and Behavioral</h4>
    <hr>

    <p class="w100">
        <span>Emotional and behavioral</span>{{ instance.emo_behave|linebreaksbr }}
    </p>

</div>

<div class="form-section">
    <h4>Cognitive Functioning</h4>
    <hr>

    <p class="w100">
        <span>Cognitive testing</span>{{ instance.cognitive_testing|linebreaksbr}}
    </p>
    <p class="w100">
        <span>Summary of cognitive functioning</span>{{ instance.cognitive_summary|linebreaksbr}}
    </p>
</div>

<div class="form-section">
    <h4>Education and Employment</h4>
    <hr>

    <p class="w100">
        <span>School</span>{{instance.school}}
    </p>
    <p class="w100">
        <span>Grade</span>{{ instance.grade }}
    </p>
    <p class="w100">
        <span>IEP and 504 plan</span>{{ instance.iep_504_plan|linebreaksbr }}
    </p>
    <p class="w100">
        <span>Physical therapy</span>{{ instance.physical_therapy }}
    </p>
    <p class="w100">
        <span>Speech language</span>{{ instance.speech_language }}
    </p>
    <p class="w100">
        <span>Occupational therapy</span>{{ instance.occupational_therapy }}
    </p>
    <p class="w100">
        <span>Testing completed</span>{{ instance.testing_completed|linebreaksbr }}
    </p>
    <p class="w100">
        <span>Additional school information</span>{{ instance.adtl_school_info|linebreaksbr }}
    </p>
    <p class="w100">
        <span>Employed</span>{{ instance.employed }}
    </p>
    <p class="w100">
        <span>Interests in getting a job</span>{{ instance.interest_getting_job }}
    </p>
    <p class="w100">
        <span>Supports needed on the job</span>{{ instance.supports_needed_job|linebreaksbr }}
    </p>
</div>


<div class="form-section">
    <h4>Current Services and Supports and Needs</h4>
    <hr>

    <p class="w100">
        <span>Current services and supports and needs</span>{{ instance.current_services_and_needs|linebreaksbr }}
    </p>

</div>

<div class="form-section">
    <h4>Personal Preferences</h4>
    <hr>


    <p class="w100">
        <span>Preference on living situation, living environment, and daily activities</span>{{instance.living_and_daily|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Future goals and plans</span>{{ instance.future_goals_plans|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Ability to direct supports</span>{{ instance.ability_to_direct|linebreaksbr }}
    </p>

</div>

<div class="form-section">
    <h4>Additional Information</h4>
    <hr>

    <p class="w100">
        <span>Additional information</span>{{ instance.addtl_information|linebreaksbr }}
    </p>
</div>








<div class="form-section">
    <h4>Linked Docs</h4>
    <hr>
    <p class="w100 mt-4">
        <span>Linked docs</span>
        {{ instance.get_linked_docs|safe }}
    </p>
</div>


