<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}

<p class="w33">
    <span>Date</span>{{ instance.date|date:'m/d/Y' }}
</p>
<p class="w33">
    <span>Creator</span>{{ instance.created_by.userconfig.full_name}}
</p>


<div class="form-section">
    <p class="w100">
        <span>Credentials</span>{{instance.get_credentials_display}}
    </p>

    <p class="w100">
        <span>Diagnosis</span>{{instance.diagnosis}}
    </p>

    <p class="w100">
        <span>Place of service</span>{{instance.get_place_of_service_display}}
    </p>

    <p class="w25">
        <span>Service start</span>{{instance.service_start|date:'H:i'}}
    </p>

    <p class="w25">
        <span>Service end</span>{{instance.service_end|date:'H:i'}}
    </p>

    <p class="w25 clear-left">
        <span>Service minutes</span>{{instance.service_minutes|default:'0'}}
    </p>

    <p class="w25">
        <span>Travel minutes</span>{{instance.travel_minutes|default:'0'}}
    </p>

    <p class="w25">
        <span>Doc minutes</span>{{instance.doc_minutes|default:'0'}}
    </p>

    <p class="w25">
        <span>Total minutes</span>{{instance.total_minutes|default:'0'}}
    </p>

    <p class="w25">
        <span>Billing code</span>{{instance.billing_code}}
    </p>

    <p class="w25">
        <span>Units</span>{{instance.units}}
    </p>

    <p class="w100">
        <span>Note</span>{{instance.note|linebreaksbr|safe}}
    </p>


</div>



<div class="form-section">
    <h4>Linked Docs</h4>
    <hr>
    <p class="w100">
        <span>Linked docs</span>{{ instance.get_linked_docs|safe }}
    </p>
</div>

