<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}
<p class="w33">
    <span>Creator</span>{{ instance.created_by.userconfig.full_name}}
</p>


<div class="form-section">
    <h4>Service Summary</h4>
    <hr>

    <p class="w100">
        <span>Date</span>{{ instance.date|date:'m/d/Y' }}
    </p>

    <p class="w100">
        <span>Living situation</span>{{instance.living_situation}}
    </p>

    <p class="w100">
        <span>County of placement</span>{{ instance.get_county_of_placement_display}}
    </p>

    <p class="w100">
        <span>County of responsibility</span>{{ instance.get_county_of_responsibility_display}}
    </p>

    <p class="w100">
        <span>Plan developer</span>{{ instance.plan_developer }}
    </p>

    <p class="w100">
        <span>Agency name</span>{{ instance.agency_name }}
    </p>

    <p class="w100">
        <span>Agency address</span>{{ instance.agency_address }}
    </p>

    <p class="w100">
        <span>Phone/contact</span>{{ instance.phone_contact }}
    </p>
</div>

<div class="form-section">
    <h4>Known Cautions</h4>
    <hr>

    <p class="w100">
        {{instance.caution_firearms|chk|safe}}<span>Firearms</span>
    </p>

    {% if instance.caution_firearms %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.caution_firearms_dtl}}
        </p>

    {% endif %}

    <p class="w100">
        {{instance.caution_animals|chk|safe}}<span>Animals</span>
    </p>

    {% if instance.caution_animals %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.caution_animals_dtl}}
        </p>

    {% endif %}

    <p class="w100">
        {{instance.caution_other|chk|safe}}<span>Other</span>
    </p>

    {% if instance.caution_other %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.caution_other_dtl}}
        </p>

    {% endif %}

</div>

<div class="form-section">
    <h4>Communication</h4>
    <hr>


    <p class="w100">
        <span>Verbal</span>{{instance.get_verbal_display}}
    </p>

    <p class="w100">
        <span>Other communication preferences</span>{{ instance.other_com_preferences}}
    </p>

</div>

<div class="form-section">
    <h4>Crisis Plan Information</h4>
    <hr>

    <p class="w100">
        <span>Strengths</span><br>{{ instance.strengths|linebreaksbr }}
    </p>

    <p class="w100">
        <span>Needs</span><br>{{instance.needs|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Past behaviors/situations that would indicate safety concerns (include dates and outcomes of past emergency mental health services)</span><br>{{instance.past_behavior|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Progressive list of interventions to respond to a crisis/safety situation</span><br>{{instance.intervention_list|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Approaches/interventions to avoid</span><br>{{instance.interventions_avoid|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Additional helpful Info</span><br>{{instance.helpful_info|linebreaksbr}}
    </p>
</div>


<div class="form-section">
    <h4>Critical Support Contacts</h4>
    <hr>
    <h5>
        Important people in the person’s life that may help develop a rapport and
        respond appropriately during a crisis. (Consider: Guardian/POA, family, Therapist,
        Case Management, other supports)
    </h5>



    <p class="w100">
        <span>Name</span>{{instance.contact_name}}
    </p>
    <p class="w100">
        <span>Agency/relation</span>{{instance.contact_relation}}
    </p>
    <p class="w100">
        <span>Phone</span>{{instance.contact_phone}}{{instance.contact_phone_ext|ext}}
    </p>
    <p class="w100">
        <span>Address</span>{{instance.contact_address}}
    </p>
    <p class="w100">
        <span>Extra notes</span>{{instance.contact_note}}
    </p>

    {% if instance.contact_name2 %}
        <p class="w100 mt-2">
            <span>Name</span>{{instance.contact_name2}}
        </p>
        <p class="w100">
            <span>Agency/relation</span>{{instance.contact_relation2}}
        </p>
        <p class="w100">
            <span>Phone</span>{{instance.contact_phone2}}{{instance.contact_phone_ext2|ext}}
        </p>
        <p class="w100">
            <span>Address</span>{{instance.contact_address2}}
        </p>
        <p class="w100">
            <span>Extra notes</span>{{instance.contact_note2}}
        </p>
    {% endif %}

    {% if instance.contact_name3 %}
        <p class="w100 mt-2">
            <span>Name</span>{{instance.contact_name3}}
        </p>
        <p class="w100">
            <span>Agency/relation</span>{{instance.contact_relation3}}
        </p>
        <p class="w100">
            <span>Phone</span>{{instance.contact_phone3}}{{instance.contact_phone_ext3|ext}}
        </p>
        <p class="w100">
            <span>Address</span>{{instance.contact_address3}}
        </p>
        <p class="w100">
            <span>Extra notes</span>{{instance.contact_note3}}
        </p>
    {% endif %}

    {% if instance.contact_name4 %}
        <p class="w100 mt-2">
            <span>Name</span>{{instance.contact_name4}}
        </p>
        <p class="w100">
            <span>Agency/relation</span>{{instance.contact_relation4}}
        </p>
        <p class="w100">
            <span>Phone</span>{{instance.contact_phone4}}{{instance.contact_phone_ext4|ext}}
        </p>
        <p class="w100">
            <span>Address</span>{{instance.contact_address4}}
        </p>
        <p class="w100">
            <span>Extra notes</span>{{instance.contact_note4}}
        </p>
    {% endif %}


    {% if instance.contact_name5 %}
        <p class="w100 mt-2">
            <span>Name</span>{{instance.contact_name5}}
        </p>
        <p class="w100">
            <span>Agency/relation</span>{{instance.contact_relation5}}
        </p>
        <p class="w100">
            <span>Phone</span>{{instance.contact_phone5}}{{instance.contact_phone_ext5|ext}}
        </p>
        <p class="w100">
            <span>Address</span>{{instance.contact_address5}}
        </p>
        <p class="w100">
            <span>Extra notes</span>{{instance.contact_note5}}
        </p>
    {% endif %}
</div>

<div class="form-section">
    <h4>Usual Daily Schedule</h4>
    <hr>
    <h5>Consider: school/work/social activities</h5>

    <p class="w100">
        <span>Usual daily schedule</span><br>{{instance.daily_schedule|linebreaksbr}}
    </p>
</div>

<div class="form-section">
    <h4>Diagnostic Impression/Past Emergency Mental Health Services/Medical</h4>
    <hr>

    <p class="w100">
        <span>Diagnosis</span>{{instance.diagnosis1}}
    </p>
    <p class="w100">
        <span>Diagnosis formed by</span>{{instance.diag_formed_by}}
    </p>
    <p class="w100">
        <span>Diagnosis last confirmed date</span>{{instance.diag_last_date|date:'m/d/Y'}}
    </p>

    {% if instance.diagnosis2 %}
        <p class="w100 mt-2">
            <span>Diagnosis</span>{{instance.diagnosis2}}
        </p>
        <p class="w100">
            <span>Diagnosis formed by</span>{{instance.diag_formed_by2}}
        </p>
        <p class="w100">
            <span>Diagnosis last confirmed date</span>{{instance.diag_last_date2|date:'m/d/Y'}}
        </p>
    {% endif %}

    {% if instance.diagnosis3 %}
        <p class="w100 mt-2">
            <span>Diagnosis</span>{{instance.diagnosis3}}
        </p>
        <p class="w100">
            <span>Diagnosis formed by</span>{{instance.diag_formed_by3}}
        </p>
        <p class="w100">
            <span>Diagnosis last confirmed date</span>{{instance.diag_last_date3|date:'m/d/Y'}}
        </p>
    {% endif %}

    {% if instance.diagnosis4 %}
        <p class="w100 mt-2">
            <span>Diagnosis</span>{{instance.diagnosis4}}
        </p>
        <p class="w100">
            <span>Diagnosis formed by</span>{{instance.diag_formed_by4}}
        </p>
        <p class="w100">
            <span>Diagnosis last confirmed date</span>{{instance.diag_last_date4|date:'m/d/Y'}}
        </p>
    {% endif %}

    {% if instance.diagnosis5 %}
        <p class="w100 mt-2">
            <span>Diagnosis</span>{{instance.diagnosis5}}
        </p>
        <p class="w100">
            <span>Diagnosis formed by</span>{{instance.diag_formed_by5}}
        </p>
        <p class="w100">
            <span>Diagnosis last confirmed date</span>{{instance.diag_last_date5|date:'m/d/Y'}}
        </p>
    {% endif %}

    <p class="w100 mt-2">
        <span>Past mental health diagnoses</span><br>{{instance.past_mh_diag|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Known physical or medical diagnoses and/or needs</span><br>{{instance.known_needs|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Psychotropic and medical medications including PRNs</span><br>{{instance.prescriptions|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Past E.M.H. services</span><br>{{instance.past_emh_services|linebreaksbr}}
    </p>
</div>

<div class="form-section">
    <h4>Providers</h4>
    <hr>

    <div class="w50 float-left">
         <p class="w100">
            {{instance.psych|chk|safe}}<span>Psychiatrist</span>
        </p>
        {% if instance.psych %}
            <p class="w100 ml-4">
                <span>Provider name</span>{{instance.psych_name}}
            </p>

            <p class="w100 ml-4">
                <span>Clinic/facility</span>{{instance.psych_clinic}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.psych_phone}}{{instance.psych_phone_ext|ext}}
            </p>

            <p class="w100 ml-4">
                <span>Notes</span><br>{{instance.psych_note|linebreaksbr}}
            </p>
        {% endif %}


        <p class="w100">
            {{instance.pharm|chk|safe}}<span>Primary Physician/NP/PA</span>
        </p>
        {% if instance.primary_provider %}
            <p class="w100 ml-4">
                <span>Provider name</span>{{instance.primary_name}}
            </p>

            <p class="w100 ml-4">
                <span>Clinic/facility</span>{{instance.primary_clinic}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.primary_phone}}{{instance.primary_phone_ext|ext}}
            </p>

            <p class="w100 ml-4">
                <span>Notes</span><br>{{instance.primary_note|linebreaksbr}}
            </p>
        {% endif %}


        <p class="w100">
            {{instance.pharm|chk|safe}}<span>Pharmacy</span>
        </p>
        {% if instance.pharm %}
            <p class="w100 ml-4">
                <span>Provider name</span>{{instance.pharm_name}}
            </p>

            <p class="w100 ml-4">
                <span>Clinic/facility</span>{{instance.pharm_clinic}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.pharm_phone}}{{instance.pharm_phone_ext|ext}}
            </p>

            <p class="w100 ml-4">
                <span>Notes</span><br>{{instance.pharm_note|linebreaksbr}}
            </p>
        {% endif %}
    </div>


    <div class="w50 float-left">
        <p class="w100">
            {{instance.therapist|chk|safe}}<span>Therapist</span>
        </p>
        {% if instance.therapist %}
            <p class="w100 ml-4">
                <span>Provider name</span>{{instance.therapist_name}}
            </p>

            <p class="w100 ml-4">
                <span>Clinic/facility</span>{{instance.therapist_clinic}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.therapist_phone}}{{instance.therapist_phone_ext|ext}}
            </p>

            <p class="w100 ml-4">
                <span>Notes</span><br>{{instance.therapist_note|linebreaksbr}}
            </p>
        {% endif %}


        <p class="w100">
            {{instance.other_provider|chk|safe}}<span>Other provider</span>
        </p>
        {% if instance.other_provider %}
            <p class="w100 ml-4">
                <span>Provider name</span>{{instance.other_name}}
            </p>

            <p class="w100 ml-4">
                <span>Clinic/facility</span>{{instance.other_clinic}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.other_phone}}{{instance.other_phone_ext|ext}}
            </p>

            <p class="w100 ml-4">
                <span>Notes</span><br>{{instance.other_note|linebreaksbr}}
            </p>
        {% endif %}
    </div>
</div>


<div class="form-section">
    <h4>Legal Status</h4>
    <hr>

    <div class="w50 float-left">
         <p class="w100">
            {{instance.ch51_comit|chk|safe}}<span>Chapter 51 commitment</span>
        </p>
        {% if instance.ch51_comit %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.ch51_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.ch51_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.ch51_phone}}{{instance.ch51_phone_ext|ext}}
            </p>

            <p class="w100 ml-4">
                <span>Expiration date</span>{{instance.ch51_comit_expire|date:'m/d/Y'}}
            </p>

            <p class="w100 ml-4">
                {{instance.ch51_med_order|chk|safe}}<span>Med order</span>
            </p>
        {% endif %}



        <p class="w100">
            {{instance.pp|chk|safe}}<span>Protective placement</span>
        </p>
        {% if instance.pp %}
            <p class="w100 ml-4">
                <span>Contact name</span>{{instance.pp_name}}
            </p>

            <p class="w100 ml-4">
                <span>Agency</span>{{instance.pp_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.pp_phone}}{{instance.pp_phone_ext|ext}}
            </p>
        {% endif %}
    </div>


    <div class="w50 float-left">
        <p class="w100">
            {{instance.guardianship|chk|safe}}<span>Guardianship</span>
        </p>
        {% if instance.guardianship %}
            <p class="w100 ml-4">
                <span>Guardian name</span>{{instance.guardian_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.guardian_phone}}{{instance.guardian_phone_ext|ext}}
            </p>

            <p class="w100 ml-4">
                <span>Address</span>{{instance.guardian_address}}
            </p>
        {% endif %}


        <p class="w100">
            {{instance.probation|chk|safe}}<span>Probation/parole</span>
        </p>

        {% if instance.probation %}
            <p class="w100 ml-4">
                <span>Agent name</span>{{instance.prob_agent}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.prob_phone}}{{instance.prob_phone_ext|ext}}
            </p>

            <p class="w100 ml-4">
                <span>Address</span>{{instance.prob_address}}
            </p>

        {% endif %}
    </div>

</div>


<div class="form-section">
    <h4>Other Program Affiliation</h4>
    <hr>

    <div class="w50 float-left">
        <p class="w100">
            {{instance.ccs|chk|safe}}<span>CCS</span>
        </p>
        {% if instance.ccs %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.ccs_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.ccs_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.ccs_phone}}{{instance.ccs_phone_ext|ext}}
            </p>
        {% endif %}


        <p class="w100">
            {{instance.csp|chk|safe}}<span>CSP</span>
        </p>
        {% if instance.csp %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.csp_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.csp_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.csp_phone}}{{instance.csp_phone_ext|ext}}
            </p>
        {% endif %}


        <p class="w100">
            {{instance.cst|chk|safe}}<span>CST</span>
        </p>
        {% if instance.cst %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.cst_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.cst_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.cst_phone}}{{instance.cst_phone_ext|ext}}
            </p>
        {% endif %}


        <p class="w100">
            {{instance.clts|chk|safe}}<span>CLTS</span>
        </p>
        {% if instance.clts %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.clts_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.clts_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.clts_phone}}{{instance.clts_phone_ext|ext}}
            </p>
        {% endif %}


        <p class="w100">
            {{instance.fc|chk|safe}}<span>Family care</span>
        </p>
        {% if instance.fc %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.fc_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.fc_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.fc_phone}}{{instance.fc_phone_ext|ext}}
            </p>
        {% endif %}


        <p class="w100">
            {{instance.iris|chk|safe}}<span>IRIS</span>
        </p>
        {% if instance.iris %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.iris_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.iris_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.iris_phone}}{{instance.iris_phone_ext|ext}}
            </p>
        {% endif %}
    </div>


    <div class="w50 float-left">
        <p class="w100">
            {{instance.cps|chk|safe}}<span>CPS</span>
        </p>
        {% if instance.cps %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.cps_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.cps_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.cps_phone}}{{instance.cps_phone_ext|ext}}
            </p>
        {% endif %}



        <p class="w100">
            {{instance.jj|chk|safe}}<span>Juvenile justice</span>
        </p>
        {% if instance.jj %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.jj_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.jj_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.jj_phone}}{{instance.jj_phone_ext|ext}}
            </p>
        {% endif %}


        <p class="w100">
            {{instance.aps|chk|safe}}<span>APS</span>
        </p>
        {% if instance.aps %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.aps_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.aps_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.aps_phone}}{{instance.aps_phone_ext|ext}}
            </p>
        {% endif %}



        <p class="w100">
            {{instance.adrc|chk|safe}}<span>ADRC</span>
        </p>
        {% if instance.adrc %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.adrc_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.adrc_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.adrc_phone}}{{instance.adrc_phone_ext|ext}}
            </p>
        {% endif %}

        <p class="w100">
            {{instance.other|chk|safe}}<span>Other</span>
        </p>
        {% if instance.other %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.other_pa_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.other_pa_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.other_pa_phone}}{{instance.other_pa_phone_ext|ext}}
            </p>
        {% endif %}
    </div>
</div>





<div class="form-section">
    <h4>Linked Docs</h4>
    <hr>
    <p class="w100">
        <span>Linked docs</span>{{ instance.get_linked_docs|safe }}
    </p>
</div>
