<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}

<p class="w50">
    <span>Alert Date</span>{{ instance.date|date:'m/d/Y' }}
</p>
<p class="w50">
    <span>Alert end date (not to exceed 30 days)</span>{{ instance.alert_end_date|date:'m/d/Y'}}
</p>
<p class="w50">
    <span>Creator</span>{{ instance.created_by.userconfig.full_name}}
</p>


<div class="form-section">
    <p class="w50">
        <span>County of responsibility</span>{{ instance.get_county_of_responsibility_display}}
    </p>

    <p class="w50">
        <span>County of placement</span>{{instance.get_county_of_placement_display}}
    </p>

    <p class="w100">
        <span>Plan developer</span>{{instance.plan_developer}}
    </p>

    <p class="w100">
        <span>Agency name</span>{{instance.agency_name}}
    </p>

    <p class="w100">
        <span>Agency address</span>{{instance.agency_address}}
    </p>

    <p class="w100">
        <span>Phone/contact</span>{{instance.phone_contact}}{{instance.phone_contact_ext|ext}}
    </p>
</div>

<div class="form-section">
    <h4>Known Cautions</h4>
    <hr>

    <p class="w100">
        {{instance.caution_firearms|chk|safe}}<span>Firearms</span>
    </p>
    {% if instance.caution_firearms %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.caution_firearms_dtl|linebreaksbr}}
        </p>
    {% endif %}


    <p class="w100">
        {{instance.caution_animals|chk|safe}}<span>Animals</span>
    </p>
    {% if instance.caution_animals %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.caution_animals_dtl|linebreaksbr}}
        </p>
    {% endif %}

    <p class="w100">
        {{instance.caution_other|chk|safe}}<span>Other</span>
    </p>
    {% if instance.caution_other %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.caution_other_dtl|linebreaksbr}}
        </p>
    {% endif %}
</div>

<div class="form-section">
    <h4>Communication</h4>
    <hr>

    <p class="w100">
        <span>Verbal/non-verbal</span>{{instance.get_verbal_display}}
    </p>

    <p class="w100">
        <span>Other communication preferences</span>{{instance.other_com_preferences}}
    </p>
</div>

<div class="form-section">
    <h4>Crisis Alert Information</h4>
    <hr>

    <p class="w100">
        <span>Reason for alert</span><br>{{instance.reason_for_alert|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Established plan to deal with crisis</span><br>{{instance.established_plan|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Living situation</span><br>{{instance.living_situation|linebreaksbr}}
    </p>


</div>

<div class="form-section">
    <h4>Critical Support Contacts</h4>
    <hr>

    <p class="w100">
        <span>Name</span>{{instance.contact_name}}
    </p>
    <p class="w100">
        <span>Agency/relation</span>{{instance.contact_relation}}
    </p>
    <p class="w100">
        <span>Phone</span>{{instance.contact_phone}}{{instance.contact_phone_ext|ext}}
    </p>
    <p class="w100">
        <span>Address</span>{{instance.contact_address}}
    </p>
    <p class="w100">
        <span>Availability</span>{{instance.contact_avil}}
    </p>

    {% if instance.contact_name2 %}
        <p class="w100 mt-2">
        <span>Name</span>{{instance.contact_name2}}
        </p>
        <p class="w100">
            <span>Agency/relation</span>{{instance.contact_relation2}}
        </p>
        <p class="w100">
            <span>Phone</span>{{instance.contact_phone2}}{{instance.contact_phone_ext|ext}}
        </p>
        <p class="w100">
            <span>Address</span>{{instance.contact_address2}}
        </p>
        <p class="w100">
            <span>Availability</span>{{instance.contact_avil2}}
        </p>
    {% endif %}

    {% if instance.contact_name3 %}
        <p class="w100 mt-2">
        <span>Name</span>{{instance.contact_name3}}
        </p>
        <p class="w100">
            <span>Agency/relation</span>{{instance.contact_relation3}}
        </p>
        <p class="w100">
            <span>Phone</span>{{instance.contact_phone3}}{{instance.contact_phone_ext|ext}}
        </p>
        <p class="w100">
            <span>Address</span>{{instance.contact_address3}}
        </p>
        <p class="w100">
            <span>Availability</span>{{instance.contact_avil3}}
        </p>
    {% endif %}


    {% if instance.contact_name4 %}
        <p class="w100 mt-2">
        <span>Name</span>{{instance.contact_name4}}
        </p>
        <p class="w100">
            <span>Agency/relation</span>{{instance.contact_relation4}}
        </p>
        <p class="w100">
            <span>Phone</span>{{instance.contact_phone4}}{{instance.contact_phone_ext|ext}}
        </p>
        <p class="w100">
            <span>Address</span>{{instance.contact_address4}}
        </p>
        <p class="w100">
            <span>Availability</span>{{instance.contact_avil4}}
        </p>
    {% endif %}

    {% if instance.contact_name5 %}
        <p class="w100 mt-2">
        <span>Name</span>{{instance.contact_name5}}
        </p>
        <p class="w100">
            <span>Agency/relation</span>{{instance.contact_relation5}}
        </p>
        <p class="w100">
            <span>Phone</span>{{instance.contact_phone5}}{{instance.contact_phone_ext|ext}}
        </p>
        <p class="w100">
            <span>Address</span>{{instance.contact_address5}}
        </p>
        <p class="w100">
            <span>Availability</span>{{instance.contact_avil5}}
        </p>
    {% endif %}
</div>

<div class="form-section">
    <h4>Mental Health &amp; Physical Health</h4>
    <hr>

    <p class="w100">
        <span>Mental health diagnoses and needs (self-report or known)</span><br>{{instance.mh_diag_needs|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Known physical or medical diagnoses and/or needs</span><br>{{instance.phys_med_needs|linebreaksbr}}
    </p>

    <p class="w100">
        <span>List of prescribed psychotropic &amp; medical medications (including PRNs)</span><br>{{instance.medications|linebreaksbr}}
    </p>

</div>

<div class="form-section">
    <h4>Past Emergency Mental Health Services</h4>
    <hr>

    <p class="w100">
        <span>Summary of past emergency mental health services</span><br>{{instance.past_emh_services|linebreaksbr}}
    </p>
</div>

<div class="form-section">
    <h4>Legal Status</h4>
    <hr>

    <p class="w100">
        {{instance.ch51_comit|chk}}<span>Chapter 51 commitment</span>
    </p>

    {% if instance.ch51_comit %}
        <p class="w100 ml-4">
            <span>Agency</span>{{instance.ch51_agency}}
        </p>

        <p class="w100 ml-4">
            <span>Name</span>{{instance.ch51_name}}
        </p>

        <p class="w100 ml-4">
            <span>Phone</span>{{instance.ch51_phone}}{{instance.ch51_phone_ext|ext}}
        </p>

        <p class="w100 ml-4">
            <span>Expiration date</span>{{instance.ch51_comit_expire|date:'m/d/Y'}}
        </p>

        <p class="w100 ml-4">
            {{instance.ch51_med_order|chk}}<span>Med order</span>
        </p>
    {% endif %}


    <p class="w100 mt-2">
        {{instance.ch55_pp|chk}}<span>Chapter 55 protective placement</span>
    </p>
    {% if instance.ch55_pp %}
        <p class="w100 ml-4">
            <span>Agency</span>{{instance.ch55_agency}}
        </p>

        <p class="w100 ml-4">
            <span>Name</span>{{instance.ch55_name}}
        </p>

        <p class="w100 ml-4">
            <span>Phone</span>{{instance.ch55_phone}}{{instance.ch55_phone_ext|ext}}
        </p>

    {% endif %}


    <p class="w100 mt-2">
        {{instance.guardianship|chk}}<span>Guardianship</span>
    </p>
    {% if instance.guardianship %}
        <p class="w100 ml-4">
            <span>Agency</span>{{instance.guardian_agency}}
        </p>

        <p class="w100 ml-4">
            <span>Name</span>{{instance.guardian_name}}
        </p>

        <p class="w100 ml-4">
            <span>Phone</span>{{instance.guardian_phone}}{{instance.guardian_phone_ext|ext}}
        </p>
    {% endif %}


    <p class="w100 mt-2">
        {{instance.probation|chk}}<span>Probation/parole</span>
    </p>
    {% if instance.probation %}
        <p class="w100 ml-4">
            <span>Agent name</span>{{instance.probation_agent}}
        </p>

        <p class="w100 ml-4">
            <span>Phone</span>{{instance.probation_phone}}{{instance.probation_phone_ext|ext}}
        </p>
    {% endif %}
</div>

<div class="form-section">
    <h4>Other Program Affiliation</h4>
    <hr>


    <div class="w50 float-left">
        <p class="w100">
            {{instance.ccs|chk}}<span>CCS</span>
        </p>
        {% if instance.ccs %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.ccs_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.ccs_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.ccs_phone}}{{instance.ccs_phone_ext|ext}}
            </p>
        {% endif %}


        <p class="w100 mt-2">
            {{instance.csp|chk}}<span>CSP</span>
        </p>
        {% if instance.csp %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.csp_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.csp_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.csp_phone}}{{instance.csp_phone_ext|ext}}
            </p>
        {% endif %}

        <p class="w100 mt-2">
            {{instance.cst|chk}}<span>CST</span>
        </p>
        {% if instance.cst %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.cst_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.cst_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.cst_phone}}{{instance.cst_phone_ext|ext}}
            </p>
        {% endif %}

        <p class="w100 mt-2">
            {{instance.clts|chk}}<span>CLTS</span>
        </p>
        {% if instance.clts %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.clts_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.clts_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.clts_phone}}{{instance.clts_phone_ext|ext}}
            </p>
        {% endif %}


        <p class="w100 mt-2">
            {{instance.fc|chk}}<span>Family care</span>
        </p>
        {% if instance.fc %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.fc_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.fc_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.fc_phone}}{{instance.fc_phone_ext|ext}}
            </p>
        {% endif %}


        <p class="w100 mt-2">
            {{instance.iris|chk}}<span>IRIS</span>
        </p>
        {% if instance.iris %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.iris_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.iris_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.iris_phone}}{{instance.iris_phone_ext|ext}}
            </p>
        {% endif %}
    </div>


    <div class="w50 float-left">
         <p class="w100 mt-2">
            {{instance.cps|chk}}<span>CPS</span>
        </p>
        {% if instance.cps %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.cps_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.cps_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.cps_phone}}{{instance.cps_phone_ext|ext}}
            </p>
        {% endif %}



        <p class="w100 mt-2">
            {{instance.jj|chk}}<span>Juvenile justice</span>
        </p>
        {% if instance.jj %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.jj_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.jj_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.jj_phone}}{{instance.jj_phone_ext|ext}}
            </p>
        {% endif %}


        <p class="w100 mt-2">
            {{instance.aps|chk}}<span>APS</span>
        </p>
        {% if instance.aps %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.aps_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.aps_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.aps_phone}}{{instance.aps_phone_ext|ext}}
            </p>
        {% endif %}


        <p class="w100 mt-2">
            {{instance.adrc|chk}}<span>ADRC</span>
        </p>
        {% if instance.adrc %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.adrc_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.adrc_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.adrc_phone}}{{instance.adrc_phone_ext|ext}}
            </p>
        {% endif %}


        <p class="w100 mt-2">
            {{instance.other_pa|chk}}<span>Other</span>
        </p>
        {% if instance.other_pa %}
            <p class="w100 ml-4">
                <span>Agency</span>{{instance.other_pa_agency}}
            </p>

            <p class="w100 ml-4">
                <span>Name</span>{{instance.other_pa_name}}
            </p>

            <p class="w100 ml-4">
                <span>Phone</span>{{instance.other_pa_phone}}{{instance.other_pa_phone_ext|ext}}
            </p>
        {% endif %}

    </div>





</div>

<div class="form-section">
    <h4>Additional Documentation</h4>
    <hr>

    <p class="w100">
        <span>Supporting documents to reference</span><br>{{instance.supporting_docs|linebreaksbr}}
    </p>
</div>


<div class="form-section">
    <h4>Linked Docs</h4>
    <hr>
    <p class="w100">
        <span>Linked docs</span>{{ instance.get_linked_docs|safe }}
    </p>
</div>
