<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}
<p class="w33">
    <span>Creator</span>{{ instance.created_by.userconfig.full_name}}
</p>

<div class="form-section">
    <h4>Demographic Information</h4>
    <hr>

    <p class="w100">
        <span>First name</span>{{instance.emrepisode.client.first_name}}
    </p>

    <p class="w100">
        <span>Last name</span>{{instance.emrepisode.client.last_name}}
    </p>

    <p class="w100">
        <span>DOB</span>{{instance.emrepisode.client.birthdate|date:'m/d/Y'}}
    </p>

    <p class="w100">
        <span>Gender</span>{{instance.emrepisode.client.get_gender_display}}
    </p>

    <p class="w100">
        <span>Address</span>{{instance.emrepisode.client.get_address.get_long_address}}
    </p>

    <p class="w100">
        <span>Phone</span>{{instance.emrepisode.client.phone}}{{instance.emrepisode.client.phone_ext|ext}}
    </p>

    <p class="w100">
        <span>Race</span>{{instance.emrepisode.client.get_race_display}}
    </p>

    <p class="w100">
        <span>Ethnicity</span>{{instance.emrepisode.client.get_hispanic_display}}
    </p>
</div>


<div class="form-section">
    <h4>Agency and Service Information</h4>
    <hr>

    <p class="w100">
        <span>Agency of responsibility</span>{{instance.agency_of_resp}}
    </p>

    <p class="w100">
        <span>Provider WPI/NPI</span>{{instance.provider_wpi_npi}}
    </p>

    <p class="w100">
        <span>Service</span>{{instance.service}}
    </p>
</div>


<div class="form-section">
    <h4>Consumer Status Report</h4>
    <hr>

    <p class="w100">
        <span>Status time frame</span>Enrollment
    </p>

    <p class="w100">
        <span>Commitment status</span>{{instance.get_commit_stat_display}}
    </p>

    <p class="w100">
        <span>Employment status</span>{{instance.get_employ_stat_display}}
    </p>

    <p class="w100">
        <span>Living arrangement</span>{{instance.get_living_stat_display}}
    </p>
</div>


<div class="form-section">
    <h5>Criminal Justice System Involvement</h5>

    <p class="w100">
        <span>None</span>{{instance.cjs_none|chk}}
    </p>

    <p class="w100">
        <span>On probation</span>{{instance.cjs_probation|chk}}
    </p>

    <p class="w100">
        <span>Arrests</span>{{instance.cjs_arrests|chk}}
    </p>

    <p class="w100">
        <span>Jail</span>{{instance.cjs_jail|chk}}
    </p>

    <p class="w100">
        <span>On parole</span>{{instance.cjs_parole|chk}}
    </p>

    <p class="w100">
        <span>Juvenile justice system contact</span>{{instance.cjs_juv|chk}}
    </p>

    <p class="w100">
        <span>Unknown</span>{{instance.cjs_unknown|chk}}
    </p>

    <p class="w100">
        <span>Number of arrests in the past 30 days</span>{{instance.num_arrests}}
    </p>

    <p class="w100">
        <span>Number of arrests in the past 6 months</span>{{instance.num_arrests_sixmonths}}
    </p>
</div>






