<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}
<p class="w33">
    <span>Service date</span>{{ instance.date|date:'m/d/Y' }}
</p>
<p class="w33">
    <span>Creator</span>{{ instance.created_by.userconfig.full_name}}
</p>




<p class="w100">
    <span>Referral source</span>{{ instance.ref_source }}
</p>
{% if instance.ref_source == "agency" %}
    <p class="w100">
        <span>Agency name</span>{{ instance.ref_agency_name }}
    </p>
{% endif %}
<p class="w100">
    <span>Person referring</span>{{ instance.ref_name }}
</p>
<p class="w50">
    <span>Referrer phone</span>{{ instance.ref_phone}}
    {% if instance.ref_phone_ext %} ext {{instance.ref_phone_ext}}{% endif %}
</p>

<p class="w50">
    <span>Referrer email</span>{{ instance.ref_email }}
</p>

{% if instance.ref_source == "other" %}
    <p class="w100">
        <span>Name</span>{{ instance.ref_other_name }}
    </p>
    <p class="w100">
        <span>Relationship to client</span>{{ instance.ref_other_relation }}
    </p>
{% endif %}

<p class="w100">
    <span>Legal status</span>{{ instance.get_legal_status_display }}
</p>
{% if instance.legal_status != 'self' %}
    <p class="w100">
        <span>Guardian/POA/parent name</span>{{ instance.guardian_name }}
    </p>
    <p class="w100">
        <span>Guardian phone</span>{{ instance.guardian_phone}}
        {% if instance.guardian_phone_ext %} ext {{instance.guardian_phone_ext}}{% endif %}
    </p>
{% endif %}


<p class="w100">
    {{ instance.ref_for_out|chk|safe }}<span>Referral for Outpatient Counseling Only</span>
</p>

<p class="w100 ml-4">
    {{ instance.ref_for_out_mh|chk|safe }}<span>Mental health</span>
</p>

<p class="w100 ml-4">
    {{ instance.ref_for_out_su|chk|safe }}<span>Substance use</span>
</p>

<p class="w100">
    {{ instance.ref_for_other|chk|safe }}<span>Referral for other program services</span>
</p>

<p class="w100">
    <span>Reason for referral and expected outcomes</span>{{ instance.ref_reason|linebreaksbr }}
</p>





<p class="w100 mt-4">
    <span>Linked docs</span>
    {{ instance.get_linked_docs }}
</p>


