<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}
<p class="w33">
    <span>Service date</span>{{ instance.date|date:'m/d/Y' }}
</p>
<p class="w33">
    <span>Creator</span>{{ instance.created_by.userconfig.full_name}}
</p>




<p class="w100">
    <span>Referring worker</span>{{ instance.ref_worker }}
</p>

<p class="w100">
    <span>Legal status</span>{{ instance.get_legal_status_display }}
</p>
<p class="w50">
    <span>Guardian name</span>{{ instance.guardian_name }}
</p>
<p class="w100">
    <span>Guardian phone</span>{{ instance.guardian_phone }}
    {% if instance.guardian_phone_ext %} ext {{instance.guardian_phone_ext}}{% endif %}
</p>


<div class="form-section hide-from-index">
    <h5>Referring to</h5>
    <p class="w50">
        {{ instance.refto_op_bh|chk|safe }}<span>Outpatient behavioral health clinic</span>
    </p>
    <p class="w50 ml-4">
        {{ instance.refto_op_mh|chk|safe }}<span>Mental health</span>
    </p>
    <p class="w50 ml-4">
        {{ instance.refto_sa|chk|safe }}<span>Substance use</span>
    </p>

    <p class="w50">
        {{ instance.refto_ccs|chk|safe }}<span>CCS</span>
    </p>

    <p class="w50">
        {{ instance.refto_csp|chk|safe}}<span>CSP</span>
    </p>

    <p class="w50">
        {{ instance.refto_clts|chk|safe }}<span>CLTS</span>
    </p>

    <p class="w50">
        {{ instance.refto_clts_preadmit|chk|safe }}<span>CLTS pre-admit</span>
    </p>

    <p class="w50">
        {{ instance.refto_cst|chk|safe }}<span>CST</span>
    </p>

    <p class="w50">
        {{ instance.refto_crisis|chk|safe}}<span>Crisis</span>
    </p>

    <p class="w50">
        {{ instance.refto_res_aoda|chk|safe }}<span>Residential AODA treatment</span>
    </p>
</div>

<p class="w100">
    <span>Expected outcomes of service</span>{{ instance.expected_outcomes|linebreaksbr }}
</p>


<div class="form-section">
    <h4>Linked Docs</h4>
    <hr>
    <p class="w100">
        <span>Linked docs</span>{{ instance.get_linked_docs|safe }}
    </p>
</div>

