<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}
<p class="w33">
    <span>Date</span>{{ instance.date|date:'m/d/Y' }}
</p>
<p class="w33">
    <span>Creator</span>{{ instance.created_by.userconfig.full_name}}
</p>


<div class="form-section">
    <h4>Demographics</h4>
    <hr>

    <p class="w100">
        <span>County of residence</span>{{instance.get_county_of_residence_display}}
    </p>

    <p class="w100">
        <span>Living arrangement</span>{{instance.get_living_arr_display}}
    </p>

    <p class="w100">
        <span class='hide-after'>Is individual a veteran?</span>{{instance.get_veteran_status_display}}
    </p>

    {% if instance.veteran_status == 'yes' %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.veteran_status_dtl|linebreaksbr}}
        </p>
    {% endif %}


    <p class="w100">
        <span class='hide-after'>Is individual a student?</span>{{instance.get_student_status_display}}
    </p>

    {% if instance.student_status == 'yes' %}
        <p class="w100 ml-4">
            <span>School name/location</span>{{instance.school_name|linebreaksbr}}
        </p>
    {% endif %}


    <p class="w100">
        <span class='hide-after'>Does the individual have insurance?</span>{{instance.get_has_insurance_display}}
    </p>

    {% if instance.has_insurance == 'yes' %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.has_insurance_dtl|linebreaksbr}}
        </p>
    {% endif %}

</div>


<div class="form-section">
    <h4>PPS</h4>
    <hr>


    <p class="w100">
        <span>BRC target population</span>{{instance.get_brc_target_pop_display}}
    </p>

    <p class="w100">
        <span>Presenting problem</span>{{instance.get_presenting_problem_display}}
    </p>

    <p class="w100">
        <span>Characteristics code</span>{{instance.char_code}}
    </p>

    <p class="w100">
        <span>Commitment status code</span>{{instance.get_commitment_status_display}}
    </p>

    <p class="w100">
        <span>Referral source</span>{{instance.get_ref_source_display}}
    </p>

    <p class="w100">
        <span>SPC end reason</span> {{instance.get_spc_end_reason_display}}
    </p>
</div>


<div class="form-section">
    <h4>Billing</h4>
    <hr>

    <p class="w100">
        <span>Place of service</span>{{instance.get_place_of_service_display}}
    </p>

    <p class="w100">
        <span>Diagnosis</span>{{instance.diagnosis}}
    </p>

    <p class="w100">
        <span>Billing code</span>{{instance.billing_code}}
    </p>

    {% if instance.service_start %}
        <p class="w100">
            <span>Service duration</span>
            {{instance.service_start|date:"H:i"}} - {{instance.service_end|date:"H:i"}}{% if instance.service_start2 %},
            {{instance.service_start2|date:"H:i"}} - {{instance.service_end2|date:"H:i"}}{% endif %}{% if instance.service_start3 %},
            {{instance.service_start3|date:"H:i"}} - {{instance.service_end3|date:"H:i"}}{% endif %}{% if instance.service_start4 %},
            {{instance.service_start4|date:"H:i"}} - {{instance.service_end4|date:"H:i"}}{% endif %}{% if instance.service_start5 %},
            {{instance.service_start5|date:"H:i"}} - {{instance.service_end5|date:"H:i"}}{% endif %}{% if instance.service_start6 %},
            {{instance.service_start6|date:"H:i"}} - {{instance.service_end6|date:"H:i"}}{% endif %}{% if instance.service_start7 %},
            {{instance.service_start7|date:"H:i"}} - {{instance.service_end7|date:"H:i"}}{% endif %}{% if instance.service_start8 %},
            {{instance.service_start8|date:"H:i"}} - {{instance.service_end8|date:"H:i"}}{% endif %}{% if instance.service_start9 %},
            {{instance.service_start9|date:"H:i"}} - {{instance.service_end9|date:"H:i"}}{% endif %}{% if instance.service_start10 %},
            {{instance.service_start10|date:"H:i"}} - {{instance.service_end10|date:"H:i"}}{% endif %}

        </p>
    {% endif %}

    <p class="w25">
        <span>Service minutes</span>{{instance.service_minutes|default:'0'}}
    </p>

    <p class="w25">
        <span>Travel minutes</span>{{instance.travel_minutes|default:'0'}}
    </p>

    <p class="w25">
        <span>Doc minutes</span>{{instance.doc_minutes|default:'0'}}
    </p>

    <p class="w25">
        <span>Total minutes</span>{{instance.total_minutes|default:'0'}}
    </p>

    <p class="w100">
        <span>Units</span>{{instance.units}}
    </p>

    <p class="w100">
        <span>Staff name</span>{{instance.staff_name1}}
    </p>

    <p class="w100">
        <span>Staff credentials</span>{{instance.staff_creds1}}
    </p>

    {% if instance.staff_name2 %}
        <p class="w100">
            <span>Staff name</span>{{instance.staff_name2}}
        </p>

        <p class="w100">
            <span>Staff credentials</span>{{instance.staff_creds2}}
        </p>
    {% endif %}

    <p class="w100">
        <span>Type of contact</span>{{instance.get_type_of_contact_display}}
    </p>

    {% if instance.type_of_contact != "walkin" %}
        <div class="ml-4">
            <p class="w100">
                <span>Caller name</span>{{instance.caller_name}}
            </p>

            <p class="w100">
                <span>Caller phone</span>{{instance.caller_phone1}}{% if instance.caller_phone1 %} ext {{instance.caller_phone1_ext}}{% endif %}
            </p>

            {% if instance.caller_phone2 %}
                <p class="w100">
                    <span>2nd Caller phone</span>{{instance.caller_phone2}}{% if instance.caller_phone2 %} ext {{instance.caller_phone_ext}}{% endif %}
                </p>
            {% endif %}

            <p class="w100">
                <span>Agency or relationship</span>{{instance.caller_agency_or_rel}}
            </p>
        </div>
    {% endif %}

</div>


<div class="form-section">
    <h4>Supports</h4>
    <hr>

    <p class="w30">
        <span>Name</span>{{instance.contact_name}}
    </p>

    <p class="w20">
        <span>Relationship</span>{{instance.contact_relationship}}
    </p>

    <p class="w30">
        <span>Address</span>{{instance.contact_address}}
    </p>

    <p class="w20">
        <span>Phone</span>{{instance.contact_phone}}{% if contact_phone_ext %} ext {{instance.contact_phone_ext}}{% endif %}
    </p>

    {% if instance.contact_name2 %}
        <p class="w30">
            <span>Name</span>{{instance.contact_name2}}
        </p>

        <p class="w20">
            <span>Relationship</span>{{instance.contact_relationship2}}
        </p>

        <p class="w30">
            <span>Address</span>{{instance.contact_address2}}
        </p>

        <p class="w20">
            <span>Phone</span>{{instance.contact_phone2}}{% if contact_phone_ext2 %} ext {{instance.contact_phone_ext2}}{% endif %}
        </p>
    {% endif %}


    {% if instance.contact_name3 %}
        <p class="w30">
            <span>Name</span>{{instance.contact_name3}}
        </p>

        <p class="w20">
            <span>Relationship</span>{{instance.contact_relationship3}}
        </p>

        <p class="w30">
            <span>Address</span>{{instance.contact_address3}}
        </p>

        <p class="w20">
            <span>Phone</span>{{instance.contact_phone3}}{% if contact_phone_ext3 %} ext {{instance.contact_phone_ext3}}{% endif %}
        </p>
    {% endif %}

    {% if instance.contact_name4 %}
        <p class="w30">
            <span>Name</span>{{instance.contact_name4}}
        </p>

        <p class="w20">
            <span>Relationship</span>{{instance.contact_relationship4}}
        </p>

        <p class="w30">
            <span>Address</span>{{instance.contact_address4}}
        </p>

        <p class="w20">
            <span>Phone</span>{{instance.contact_phone4}}{% if contact_phone_ext4 %} ext {{instance.contact_phone_ext4}}{% endif %}
        </p>
    {% endif %}

    {% if instance.contact_name5 %}
        <p class="w30">
            <span>Name</span>{{instance.contact_name5}}
        </p>

        <p class="w20">
            <span>Relationship</span>{{instance.contact_relationship5}}
        </p>

        <p class="w30">
            <span>Address</span>{{instance.contact_address5}}
        </p>

        <p class="w20">
            <span>Phone</span>{{instance.contact_phone5}}{% if contact_phone_ext5 %} ext {{instance.contact_phone_ext5}}{% endif %}
        </p>
    {% endif %}

    <p class="w100">
        <span class='hide-after'>Does the individual have a parent, guardian, or Power of Attorney?</span>{{instance.get_parent_guardian_display}}
    </p>

    {% if instance.parent_guardian == 'yes' %}
        <p class="w100 ml-4">
            <span>Name</span>{{instance.parent_guardian_name}}
        </p>

        <p class="w100 ml-4">
            <span>Address</span>{{instance.parent_guardian_address}}
        </p>

        <p class="w100 ml-4">
            <span>Phone</span>{{instance.parent_guardian_phone}}{% if instance.parent_guardian_phone_ext %} ext {{instance.parent_guardian_phone_ext}}{% endif %}
        </p>
    {% endif %}

    <p class="w100">
        <span class='hide-after'>Was the parent/guardian/power of attorney contacted as part of this assessment?</span>{{instance.get_parent_guardian_contacted_display}}
    </p>

    {% if instance.parent_guardian_contacted %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.parent_guardian_contacted_dtl|linebreaksbr}}
        </p>
    {% endif %}
</div>

<div class="form-section">
    <h4>Rights and Grievance</h4>
    <hr>

    <p class="w100">
        <span class='hide-after'>How was information related to individual rights, informed consent, and HIPAA provided?</span>{{instance.get_rights_informed_display}}
    </p>
</div>


<div class="form-section">
    <h4>Mandated Reporting</h4>
    <hr>

    <p class="w100">
        <span>Mandated reporting</span>{{instance.get_mandated_reporting_display}}
    </p>

    {% if instance.mandated_reporting != "na" %}
        <p class="w100 ml-4">
            <span>Name</span>{{instance.mandated_reporting_dtl}}
        </p>
    {% endif %}
</div>

<div class="form-section">
    <h4>Assessment</h4>
    <hr>

    <p class="w100">
        <span class='hide-after'>Was the individual interviewed?</span>{{instance.get_was_interviewed_display}}
    </p>

    {% if instance.was_interviewed == "no" %}
        <p class="w100 ml-4">
            <span>If not, why?</span>{{instance.not_interviewed_reason|linebreaksbr}}
        </p>
    {% endif %}

    <p class="w100">
        <span>Previous crisis contacts</span>
        {% if instance.previous_crisis_contacts == 'true' %}
            {% comment %}
                after this form was created, the users asked to change this
                field from a true/false to a choices field. This 'fixes'
                any forms that were created before the change without
                invalidating the signature
            {% endcomment %}
            Yes
        {% else %}
            {{instance.get_previous_crisis_contacts_display}}
        {% endif %}
    </p>

    {% if instance.previous_crisis_contacts %}
        <p class="w100 ml-4">
            <span>Brief summary of any known prior crisis contacts</span>{{instance.previous_crisis_contacts_dtl|linebreaksbr}}
        </p>
    {% endif %}


    <p class="w100">
        <span class='hide-after'>Was alcohol/substance use a factor in this call?</span>{{instance.get_alcohol_sa_factor_display}}
    </p>

    <p class="w100">
        <span class="hide-after">Was the individual under the influence of alcohol/other substances?</span>{{instance.get_under_influence_display}}
    </p>

    {% if instance.under_influence == 'yes' %}
        <p class="w100 ml-4">
            <span>Please describe</span>{{instance.under_influence_dtl|linebreaksbr}}
        </p>

        <p class="w100 ml-4">
            <span>PBT</span>{{instance.pbt}}
        </p>

        <p class="w100 ml-4">
            <span>Time PBT obtained</span>{{instance.pbt_time}}
        </p>


        <p class="w100 ml-4">
            <span>BAC</span>{{instance.bac}}
        </p>

        <p class="w100 ml-4">
            <span>Time BAC obtained</span>{{instance.bac_time}}
        </p>



    {% endif %}

    <p class="w100">
        <span class="hide-after">Substance use history (indicate substance, frequency, amount, method of use, and last use)</span>{{instance.sub_use_hist}}
    </p>

    <p class="w100">
        <span>Withdrawal needs</span>{{instance.withdrawal_needs|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Overdose history</span>{{instance.od_history|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Self or collateral reported mental health diagnoses</span>{{instance.self_reported_diag|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Services received (i.e. therapy, psychiatrist, county programming)</span>{{instance.get_service_received_display|linebreaksbr}}
    </p>

    {% if instance.service_received == 'yes' %}
        <p class="w100">
            <span>If Yes, what services/program, where and contact information if available</span>{{instance.service_received_dtl|linebreaksbr}}
        </p>
    {% endif %}

    <p class="w100">
        <span>Follow-up appointments</span>{{instance.followup_apt|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Current medications (prescription/over the counter)</span>{{instance.get_cm_display}}
    </p>

    {% if instance.cm == 'yes' %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.cm_dtl|linebreaksbr}}
        </p>

        <p class="w100 ml-4">
            <span class='hide-after'>Are these taken as prescribed?</span>{{instance.get_cm_as_prescribed_display}}
        </p>

        <p class="w100 ml-4">
            <span>Agency</span>{{instance.cm_agency}}
        </p>

        <p class="w100 ml-4">
            <span>Name</span>{{instance.cm_name}}
        </p>

        <p class="w100 ml-4">
            <span>Phone</span>{{instance.cm_phone}}{% if instance.cm_phone_ext %} ext {{instance.cm_phone_ext}}{% endif %}
        </p>
    {% endif %}


    <p class="w100">
        <span>History of prior hospitalizations</span>{{instance.get_prior_hosp_hist_display}}
    </p>

    {% if instance.prior_hosp_hist == 'yes' %}
        <p class="w100 ml-4">
            <span>Details (when and where)</span>{{instance.prior_hosp_hist_dtl|linebreaksbr}}
        </p>
    {% endif %}


    <p class="w100">
        <span>Legal status and history (i.e. probation, parole, civil commitment, guardianship)</span>{{instance.get_legal_stat_hist_display}}
    </p>

    {% if instance.legal_stat_hist == 'yes' %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.legal_stat_hist_dtl|linebreaksbr}}
        </p>
    {% endif %}

</div>

<div class="form-section">
    <h4>Safety Assessment & CSSRS</h4>
    <hr>

    <p class="w100">
        <span class='hide-after'>1. Have you wished you were dead or wished you could go to sleep and not wake up?</span>{{instance.get_cs_scale_wish_dead_display}}
    </p>

    {% if instance.cs_scale_wish_dead == 'yes' %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.cs_scale_wish_dead_dtl|linebreaksbr}}
        </p>
    {% endif %}

    <p class="w100">
        <span class='hide-after'>2. Have you actually had any thoughts of killing yourself?</span>{{instance.get_cs_scale_thoughts_display}}
    </p>

    {% if instance.cs_scale_thoughts == 'yes' %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.cs_scale_thoughts_dtl|linebreaksbr}}
        </p>
    {% endif %}


    <p class="w100">
        <span class="hide-after">3. Have you been thinking about how you might kill yourself?</span>{{instance.get_cs_scale_how_kill_display}}
    </p>

    {% if instance.cs_scale_how_kill == 'yes' %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.cs_scale_how_kill_dtl|linebreaksbr}}
        </p>
    {% endif %}


    <p class="w100">
        <span class="hide-after">5. Have you started to work out or worked out the details of how to kill yourself?</span>{{instance.get_cs_scale_intent_display}}
    </p>



    {% if instance.cs_scale_intent == 'yes' %}
        <p class="w100 ml-4">
            <span class="hide-after">Do you intend to carry out this plan?</span>{{instance.get_cs_scale_details_intent_display}}
        </p>

        <p class="w100 ml-4">
            <span>Details</span>{{instance.cs_scale_intent_dtl|linebreaksbr}}
        </p>
    {% endif %}

    <p class="w100">
        <span class="hide-after">6. Have you ever done anything, started to do anything, or prepared to do anything to end your life?</span>{{instance.get_cs_scale_actions_display}}
    </p>

    {% if instance.cs_scale_actions == 'yes' %}
        <p class="w100 ml-4">
            <span class="hide-after">How long ago did you do any of these?</span>{{instance.get_cs_scale_actions_time_display}}
        </p>

        <p class="w100 ml-4">
            <span>Details</span>{{instance.cs_scale_actions_dtl|linebreaksbr}}
        </p>
    {% endif %}


</div>

<div class="form-section">
    <h5>HOMICIDALITY / SELF-INJURY / LETHAL MEANS</h5>

    <p class="w100">
        <span class="hide-after">7. Are you having thoughts or feelings of wanting to harm or kill someone else?</span>{{instance.get_cs_scale_thoughts_someone_else_display}}
    </p>

    {% if instance.cs_scale_thoughts_someone_else == 'yes' %}
        <p class="w100 ml-4">
            <span class="hide-after">Have you ever done anything or prepared to do anything to harm/kill someone?</span>{{instance.get_cs_scale_thoughts_someone_else_prepare_display}}
        </p>

        <p class="w100 ml-4">
            <span>Details</span>{{instance.cs_scale_thoughts_someone_else_dtl|linebreaksbr}}
        </p>
    {% endif %}

    <p class="w100">
        <span>Self-injury behavior (i.e. cutting, burning, etc.)</span>{{instance.get_si_behavior_display}}
    </p>

    {% if instance.si_behavior == 'yes' %}
        <p class="w100 ml-4">
            <span class="hide-after">How often do you injure yourself?</span>{{instance.si_how_often|linebreaksbr}}
        </p>

        <p class="w100 ml-4">
            <span class="hide-after">How do you harm yourself (method)?</span>{{instance.si_method|linebreaksbr}}
        </p>

        <p class="w100 ml-4">
            <span class="hide-after">What is the intent or purpose of your self-injury?</span>{{instance.si_intent|linebreaksbr}}
        </p>
    {% endif %}

    <p class="w100">
        <span>Access to firearms, potential hazards or items identified for self-injury and/or suicide</span>{{instance.get_si_access_display}}
    </p>

    {% if instance.si_access == 'yes' %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.si_access_dtl|linebreaksbr}}
        </p>
    {% endif %}
</div>

<div class="form-section">
    <h4>Mental Status</h4>
    <hr>
</div>

<div class="form-section no-bold-labels">
    <h5>Orientation</h5>

    <p class="w25">
        {{instance.ori_alert|chk|safe}}<span>Alert</span>
    </p>

    <p class="w25">
        {{instance.ori_not_ori|chk|safe}}<span>Not oriented</span>
    </p>

    <p class="w25">
        {{instance.ori_person|chk|safe}}<span>Person</span>
    </p>

    <p class="w25">
        {{instance.ori_place|chk|safe}}<span>Place</span>
    </p>

    <p class="w25">
        {{instance.ori_time|chk|safe}}<span>Time</span>
    </p>

    <p class="w25">
        {{instance.ori_situation|chk|safe}}<span>Situation</span>
    </p>

</div>

<div class="form-section no-bold-labels">
    <h5>Speech</h5>

    <p class="w25">
        {{instance.speech_rapid|chk|safe}}<span>Rapid</span>
    </p>

    <p class="w25">
        {{instance.speech_slurred|chk|safe}}<span>Slurred</span>
    </p>

    <p class="w25">
        {{instance.speech_delayed|chk|safe}}<span>Delayed</span>
    </p>

    <p class="w25">
        {{instance.speech_normal|chk|safe}}<span>Normal</span>
    </p>
</div>

<div class="form-section no-bold-labels">
    <h5>Thought Content/Processes</h5>

    <p class="w25">
        {{instance.thought_delusions|chk|safe}}<span>Delusions</span>
    </p>

    <p class="w25">
        {{instance.thought_disorganized|chk|safe}}<span>Disorganized</span>
    </p>

    <p class="w25">
        {{instance.thought_hallucinations|chk|safe}}<span>Hallucinations</span>
    </p>

    <p class="w25">
        {{instance.thought_paranoid|chk|safe}}<span>Paranoid</span>
    </p>

    <p class="w50">
        {{instance.thought_unknown|chk|safe}}<span>Unknown cognitive impairment</span>
    </p>

    <p class="w25">
        {{instance.thought_organized|chk|safe}}<span>Organized</span>
    </p>
</div>

<div class="form-section no-bold-labels">
    <h5>Mood</h5>

    <p class="w25">
        {{instance.mood_depressed|chk|safe}}<span>Depressed</span>
    </p>

    <p class="w25">
        {{instance.mood_elevated|chk|safe}}<span>Elevated</span>
    </p>

    <p class="w25">
        {{instance.mood_anxious|chk|safe}}<span>Anxious</span>
    </p>

    <p class="w25">
        {{instance.mood_guarded|chk|safe}}<span>Guarded</span>
    </p>

    <p class="w25">
        {{instance.mood_irritable|chk|safe}}<span>Irritable</span>
    </p>

    <p class="w25">
        {{instance.mood_normal|chk|safe}}<span>Normal</span>
    </p>
</div>

<div class="form-section no-bold-labels">
    <h5>Behavior</h5>

    <p class="w25">
        {{instance.behave_cooperative|chk|safe}}<span>Cooperative</span>
    </p>

    <p class="w25">
        {{instance.behave_impulsive|chk|safe}}<span>Impulsive</span>
    </p>

    <p class="w25">
        {{instance.behave_aggressive|chk}}<span>Aggressive</span>
    </p>

    <p class="w25">
        {{instance.behave_uncooperative|chk|safe}}<span>Uncooperative</span>
    </p>

    <p class="w25">
        {{instance.behave_withdrawn|chk|safe}}<span>Withdrawn/Guarded</span>
    </p>

    <p class="w25">
        {{instance.behave_agitated|chk|safe}}<span>Agitated/Restless</span>
    </p>

</div>

<div class="form-section no-bold-labels">
    <h5>Intellectual functioning</h5>

    <p class="w25">
        {{instance.intel_below_avg|chk|safe}}<span>Below average</span>
    </p>

    <p class="w25">
        {{instance.intel_above_avg|chk|safe}}<span>Above average</span>
    </p>

    <p class="w25">
        {{instance.intel_avg|chk|safe}}<span>Average</span>
    </p>

    <p class="w25">
        {{instance.intel_not_noted|chk|safe}}<span>Not noted</span>
    </p>
</div>

<div class="form-section no-bold-labels">
    <h5>Insight</h5>

    <p class="w25">
        {{instance.insight_good|chk|safe}}<span>Good</span>
    </p>

    <p class="w25">
        {{instance.insight_fair|chk|safe}}<span>Fair</span>
    </p>

    <p class="w25">
        {{instance.insight_poor|chk|safe}}<span>Poor</span>
    </p>

</div>

<div class="form-section no-bold-labels">
    <h5>Judgement</h5>

    <p class="w25">
        {{instance.judgement_good|chk|safe}}<span>Good</span>
    </p>

    <p class="w25">
        {{instance.judgement_fair|chk|safe}}<span>Fair</span>
    </p>

    <p class="w25">
        {{instance.judgement_poor|chk|safe}}<span>Poor</span>
    </p>

</div>

<div class="form-section no-bold-labels">
    <h4>Summary of Assessment</h4>
    <hr>

    <p class="w100">
        <span>Summary of assessment</span>{{instance.summary_of_assessment}}
    </p>

    <p class="w100">
        <span>Risk factors</span>{{instance.risk_factors}}
    </p>

    <p class="w100">
        <span>Protective factors</span>{{instance.protective_factors}}
    </p>

    <p class="w100">
        <span>Coping skills</span>{{instance.coping_skills}}
    </p>

    <p class="w100">
        <span>Supports</span>{{instance.supports}}
    </p>
</div>

<div class="form-section">
    <h4>Response Plan</h4>
    <hr>

    <p class="w100">
        <span>Outcome</span>{{instance.get_rp_outcome_display}}
    </p>

    {%  if instance.rp_outcome == 'medical_primary' or instance.rp_outcome == 'adult_crisis_bed' or instance.rp_outcome == 'youth_crisis_bed' or instance.rp_outcome == 'voluntary_inpatient' or instance.rp_outcome == 'voluntary_detox' or instance.rp_outcome == '5145_ncap' or instance.rp_outcome == '55_emergency' or instance.rp_outcome == '5115_emergency' or instance.rp_outcome == 'juvenile_detention'    %}

         <p class="w100 ml-4">
             <span>Facility</span>{{instance.rp_outcome_facility}}
         </p>

    {% endif %}


    {% if instance.rp_outcome == '5115_emergency' %}
        <p class="w100 ml-4">
            <span>For an individual under the age of 21, was the Certification of Need form completed for an admission to WMHI?</span>{{instance.get_rp_con_complete_display}}
        </p>
    {% endif %}

    <p class="w100">
        <span>Plan (indicate why outcome was chosen versus other outcomes)</span>{{instance.rp_plan}}
    </p>

    <p class="w100">
        <span>Follow-up appointments</span>{{instance.rp_follow_up}}
    </p>

    <p class="w100">
        <span>Supports</span>{{instance.rp_supports}}
    </p>

    <p class="w100">
        {{instance.rp_nwc_contact_provided|chk|safe}}<span>Northwest Connection/Jackson County Crisis Line provided</span>
    </p>

    <p class="w100">
        {{instance.resource_988_provided|chk|safe}}<span>988 Resource provided</span>
    </p>

    <p class="w100">
        {{instance.other_resource_provided|chk|safe}}<span>Other resource provided</span>
    </p>

    {% if instance.other_resource_provided is True %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.other_resource_provided_dtl|linebreaksbr}}
        </p>
    {% endif %}

    {% if instance.rp_outcome == '5115_emergency' %}
        <p class="w100">
            <span>Was authorization for emergency detention provided?</span>{{instance.get_ed_provided_display}}
        </p>
    {% endif %}

    {% if instance.ed_provided == 'yes' %}
        <p class="w100 ml-4">
            <span>Title</span>{{instance.ed_title}}
        </p>

        <p class="w100 ml-4">
            <span>Name</span>{{instance.ed_name}}
        </p>

        <p class="w100 ml-4">
            <span>Law enforcement agency</span>{{instance.ed_dept|linebreaksbr}}
        </p>
    {% endif %}

    <p class="w100">
        {{instance.rec_secure_fire|chk|safe}}<span>Recommendation to secure firearms</span>
    </p>

    {% if instance.rec_secure_fire is True %}
        <p class="w100 ml-4">
            <span>Communicated to</span>{{instance.rec_secure_fire_comto|linebreaksbr}}
        </p>

        <p class="w100 ml-4">
            <span>Details</span>{{instance.rec_secure_fire_dtl|linebreaksbr}}
        </p>
    {% endif %}

    <p class="w100">
        {{instance.rec_secure_other|chk|safe}}<span>Recommendation to secure other potential hazards</span>
    </p>

    {% if instance.rec_secure_other is True %}
        <p class="w100 ml-4">
            <span>Communicated to</span>{{instance.rec_secure_other_comto|linebreaksbr}}
        </p>

        <p class="w100 ml-4">
            <span>Details</span>{{instance.rec_secure_other_dtl|linebreaksbr}}
        </p>
    {% endif %}

    <p class="w100">
        {{instance.rec_other|chk|safe}}<span>Other</span>
    </p>

    {% if instance.rec_other is True %}
        <p class="w100 ml-4">
            <span>Communicated to</span>{{instance.rec_other_comto|linebreaksbr}}
        </p>

        <p class="w100 ml-4">
            <span>Details</span>{{instance.rec_other_dtl|linebreaksbr}}
        </p>
    {% endif %}
</div>


<div class="form-section">
    <h4>Linked Docs</h4>
    <hr>
    <p class="w100">
        <span>Linked docs</span>{{ instance.get_linked_docs|safe }}
    </p>
</div>





