<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}

<p class="w33">
    <span>Date</span>{{ instance.date|date:'m/d/Y' }}
</p>
<p class="w33">
    <span>Creator</span>{{ instance.created_by.userconfig.full_name}}
</p>



<div class="form-section">
    <h4>Contact Summary Details</h4>
    <hr>

    <p class="w100">
        <span>Day of week</span>{{instance.get_day_of_week_display}}
    </p>

    <p class="w00">
        <span class="hide-after">Was alcohol/substance use a factor during Crisis Contact?</span>{{instance.get_alcohol_substance_factor_display}}
    </p>

    <p class="w100">
        <span class="hide-after">Was law enforcement involved with the Crisis Contact?</span>{{instance.get_law_inv_display}}
    </p>

    {% if instance.law_inv %}
        <p class="w100 ml-4">
            <span>Law enforcement department involved</span>{{instance.get_law_dept_display}}
        </p>

        {% if instance.law_dept == 'other' %}
            <p class="w100 ml-4">
                <span>Other law enforcement department</span>{{instance.law_dept_other}}
            </p>
        {% endif %}

    {% endif %}

    <p class="w100">
        <span>Outcome of contact</span>{{instance.get_outcome_of_contact_display}}
    </p>

    {% if instance.outcome_of_contact == 'other' %}
        <p class="w100 ml-4">
            <span>Other outcome to contact</span>{{instance.outcome_other|linebreaksbr}}
        </p>
    {% endif %}

    <p class="w100">
        <span class="hide-after">Was a summary highlight provided on the NWC Note?</span>{{instance.get_summary_highlight_display}}
    </p>

    {% if instance.summary_highlight %}
        <p class="w100 ml-4">
            <span>Summary highlight narrative</span>{{instance.summary_highlight_dtl|linebreaksbr}}
        </p>
    {% endif %}

    <p class="w100">
        <span>County of residence</span>{{instance.get_county_of_residence_display}}
    </p>

    <p class="w100">
        <span>County of incident</span>{{instance.get_county_of_incident_display}}
    </p>
</div>

<div class="form-section">
    <h4>Billing</h4>
    <hr>

    <p class="w100">
        <span>Place of service</span>{{instance.get_place_of_service_display}}
    </p>

    <p class="w100">
        <span>ICD10</span>{{instance.diagnosis}}
    </p>

    <p class="w100">
        <span>Billing code</span>{{instance.billing_code}}
    </p>

    <p class="w25">
        <span>Service minutes</span>{{instance.service_minutes}}
    </p>

    <p class="w25">
        <span>Doc minutes</span>{{instance.doc_minutes}}
    </p>

    <p class="w25">
        <span>Total minutes</span>{{instance.total_minutes}}
    </p>

    <p class="w25">
        <span>Units</span>{{instance.units}}
    </p>

    <p class="w100">
        <span>Staff name</span>{{instance.staff_name1}}
    </p>

    <p class="w100 ml-4">
        <span>Credentials</span>{{instance.get_staff_creds1_display}}
    </p>

    <p class="w100">
        <span>Type of contact</span>{{instance.get_type_of_contact_display}}
    </p>

</div>


<div class="form-section">
    <h4>PPS</h4>
    <hr>

    <p class="w100">
        <span>BRC target population</span>{{instance.get_brc_target_pop_display}}
    </p>

    <p class="w100">
        <span>Primary Presenting Problem</span>{{instance.get_presenting_problem_display}}
    </p>

    <p class="w100">
        <span>Characteristics code</span>{{instance.get_char_code_display}}
    </p>

    <p class="w100">
        <span>Referral source</span>{{instance.get_ref_source_display}}
    </p>
</div>


<div class="form-section">
    <h4>Linked Docs</h4>
    <hr>
    <p class="w100">
        <span>Linked docs</span>{{ instance.get_linked_docs|safe }}
    </p>
</div>

