<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}
<p class="w33">
    <span>Date</span>{{ instance.date|date:'m/d/Y' }}
</p>
<p class="w33">
    <span>Creator</span>{{ instance.created_by.userconfig.full_name}}
</p>


<div class="form-section">
    <h4>Contact Summary Details</h4>
    <hr>

    <p class="w100">
        <span class="hide-after">Was alcohol/substance use a factor during Crisis Contact?</span>{{instance.get_alcohol_substance_factor_display}}
    </p>

    <p class="w100">
        <span class="hide-after">Was law enforcement involved with the Crisis Contact?</span>{{instance.get_law_inv_display}}
    </p>

    {% if instance.law_dept %}
        <p class="w100">
            <span>Law enforcement department Involved</span>{{instance.get_law_dept_display}}
        </p>
    {% endif %}

    {% if instance.law_dept_other %}
        <p class="w100">
            <span>Other law enforcement department</span>{{instance.law_dept_other}}
        </p>
    {% endif %}

    <p class="w100">
        <span>Outcome of contact</span>{{instance.get_outcome_of_contact_display}}
    </p>

    {% if instance.outcome_other %}
    <p class="w100">
        <span>Outcome of contact other information</span>{{instance.outcome_other}}
    </p>

    {% endif %}

    <p class="w100">
        <span>Facility name and location</span>{{instance.hospital_location}}
    </p>

    <p class="w50">
        <span>County of residence</span>{{instance.get_county_of_residence_display}}
    </p>

    <p class="w50">
        <span>County of incident</span>{{instance.get_county_of_incident_display}}
    </p>

    <p class="w100">
        <span>Day of the Week</span>{{ instance.get_day_of_week_display }}
    </p>

</div>



<div class="form-section">
    <h4>Billing</h4>
    <hr>

    <p class="w100">
        <span>Place of service</span>{{ instance.get_place_of_service_display}}
    </p>

    <p class="w100">
        <span>ICD10 code</span>{{ instance.diagnosis}}
    </p>

    <p class="w100">
        <span>Billing code</span>{{instance.billing_code}}
    </p>

    {% if instance.service_start %}
        <p class="w100">
            <span>Service duration</span>
            {{instance.service_start|date:"H:i"}} - {{instance.service_end|date:"H:i"}}{% if instance.service_start2 %},
            {{instance.service_start2|date:"H:i"}} - {{instance.service_end2|date:"H:i"}}{% endif %}{% if instance.service_start3 %},
            {{instance.service_start3|date:"H:i"}} - {{instance.service_end3|date:"H:i"}}{% endif %}{% if instance.service_start4 %},
            {{instance.service_start4|date:"H:i"}} - {{instance.service_end4|date:"H:i"}}{% endif %}{% if instance.service_start5 %},
            {{instance.service_start5|date:"H:i"}} - {{instance.service_end5|date:"H:i"}}{% endif %}{% if instance.service_start6 %},
            {{instance.service_start6|date:"H:i"}} - {{instance.service_end6|date:"H:i"}}{% endif %}{% if instance.service_start7 %},
            {{instance.service_start7|date:"H:i"}} - {{instance.service_end7|date:"H:i"}}{% endif %}{% if instance.service_start8 %},
            {{instance.service_start8|date:"H:i"}} - {{instance.service_end8|date:"H:i"}}{% endif %}{% if instance.service_start9 %},
            {{instance.service_start9|date:"H:i"}} - {{instance.service_end9|date:"H:i"}}{% endif %}{% if instance.service_start10 %},
            {{instance.service_start10|date:"H:i"}} - {{instance.service_end10|date:"H:i"}}{% endif %}

        </p>
    {% endif %}


    <p class="w100">
        <span>Service minutes</span>{{instance.service_minutes}}
    </p>

    <p class="w100">
        <span>Travel minutes</span>{{instance.travel_minutes}}
    </p>

    <p class="w100">
        <span>Total minutes</span>{{instance.total_minutes}}
    </p>

    <p class="w100">
        <span>Staff name</span>{{instance.staff_name1}} {{instance.get_staff_creds1_display}}
    </p>

    {% if instance.staff_name2 %}
        <p class="w100">
            <span>Staff name 2</span>{{instance.staff_name2}} {{instance.get_staff_creds2_display}}
        </p>
    {% endif %}

    <p class="w100">
        <span>Type of contact</span>{{instance.get_type_of_contact_display}}
    </p>
</div>

<div class="form-section">
    <h4>PPS</h4>
    <hr>

    <p class="w100">
        <span>BRC target population</span>{{instance.get_brc_target_pop_display}}
    </p>

    <p class="w100">
        <span>Presenting problem code</span>{{instance.get_presenting_problem_display}}
    </p>

    <p class="w100">
        <span>Characteristics code</span>{{instance.get_char_code_display}}
    </p>

    <p class="w100">
        <span>Commitment status</span>{{instance.get_legal_status_display}}
    </p>

    <p class="w100">
        <span>Referral source</span>{{instance.get_ref_source_display}}
    </p>
</div>

<div class="form-section">
    <h4>Note</h4>
    <hr>

    <p class="w100">
        <span>Note</span>{{instance.note|linebreaksbr}}
    </p>
</div>



<div class="form-section">
    <h4>Linked Docs</h4>
    <hr>
    <p class="w100">
        <span>Linked docs</span>{{ instance.get_linked_docs|safe }}
    </p>
</div>
