<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}
<p class="w33">
    <span>Service date</span>{{ instance.date|date:'m/d/Y' }}
</p>
<p class="w33">
    <span>Creator</span>{{ instance.created_by.userconfig.full_name}}
</p>

<div class="form-section">
    <h4>Source of Intake Information</h4>
    <hr>
    <p class="w100">
        <span>Information from</span>{{ instance.get_info_from_display }}
    </p>
    <p class="ml-4 w100">
        <span>Contact name</span>{{ instance.contact_name }}
    </p>
    <p class="ml-4 w100">
        <span>Contact phone</span>{{ instance.contact_phone}}
        {% if instance.contact_phone_ext %} ext {{ instance.contact_phone_ext }}{% endif %}
    </p>
    <p class="ml-4 w100">
        <span>Notes</span>{{instance.contact_notes}}
    </p>


    {% if instance.info_from2 %}
        <p class="w100">
            <span>Information from</span>{{ instance.get_info_from2_display }}
        </p>
        <p class="ml-4 w100">
            <span>Contact name</span>{{ instance.contact_name2 }}
        </p>
        <p class="ml-4 w100">
            <span>Contact phone</span>{{ instance.contact_phone2 }}
            {% if instance.contact_phone_ext %} ext {{ instance.contact_phone_ext2 }}{% endif %}
        </p>
        <p class="ml-4 w100">
            <span>Notes</span>{{instance.contact_notes2 }}
        </p>
    {% endif %}


    {% if instance.info_from3 %}
        <p class="w100">
            <span>Information from</span>{{ instance.get_info_from3_display }}
        </p>
        <p class="ml-4 w100">
            <span>Contact name</span>{{ instance.contact_name3 }}
        </p>
        <p class="ml-4 w100">
            <span>Contact phone</span>{{ instance.contact_phone3 }}
            {% if instance.contact_phone_ext %} ext {{ instance.contact_phone_ext3 }}{% endif %}
        </p>
        <p class="ml-4 w100">
            <span>Notes</span>{{instance.contact_notes3 }}
        </p>
    {% endif %}


    {% if instance.info_from4 %}
        <p class="w100">
            <span>Information from</span>{{ instance.get_info_from4_display }}
        </p>
        <p class="ml-4 w100">
            <span>Contact name</span>{{ instance.contact_name4 }}
        </p>
        <p class="ml-4 w100">
            <span>Contact phone</span>{{ instance.contact_phone4 }}
            {% if instance.contact_phone_ext %} ext {{ instance.contact_phone_ext4 }}{% endif %}
        </p>
        <p class="ml-4 w100">
            <span>Notes</span>{{instance.contact_notes4 }}
        </p>
    {% endif %}
</div>

<div class="form-section">
    <h4>Diagnosis Information</h4>
    <hr>

    {% if instance.info_from5 %}
        <p class="w100">
            <span>Information from</span>{{ instance.get_info_from5_display }}
        </p>
        <p class="ml-4 w100">
            <span>Contact name</span>{{ instance.contact_name5 }}
        </p>
        <p class="ml-4 w100">
            <span>Contact phone</span>{{ instance.contact_phone5 }}
            {% if instance.contact_phone_ext %} ext {{ instance.contact_phone_ext5 }}{% endif %}
        </p>
        <p class="ml-4 w100">
            <span>Notes</span>{{instance.contact_notes5 }}
        </p>
    {% endif %}


    <p class="w100">
        <span>Diagnosis 1</span>{{instance.diagnosis1}}
    </p>
    <p class="ml-4 w100">
        <span>Age of onset</span>{{ instance.age_of_onset1 }}
    </p>
    <p class="ml-4 w100">
        <span>Source</span>{{ instance.source1 }}
    </p>

    {% if instance.diagnosis2 %}
        <p class="w100">
            <span>Diagnosis 2</span>{{instance.diagnosis2}}
        </p>
        <p class="ml-4 w100">
            <span>Age of onset</span>{{ instance.age_of_onset2 }}
        </p>
        <p class="ml-4 w100">
            <span>Source</span>{{ instance.source2 }}
        </p>
    {% endif %}


    {% if instance.diagnosis3 %}
        <p class="w100">
            <span>Diagnosis 3</span>{{instance.diagnosis3}}
        </p>
        <p class="ml-4 w100">
            <span>Age of onset</span>{{ instance.age_of_onset3 }}
        </p>
        <p class="ml-4 w100">
            <span>Source</span>{{ instance.source3 }}
        </p>
    {% endif %}


    {% if instance.diagnosis4 %}
        <p class="w100">
            <span>Diagnosis 4</span>{{instance.diagnosis4}}
        </p>
        <p class="ml-4 w100">
            <span>Age of onset</span>{{ instance.age_of_onset4 }}
        </p>
        <p class="ml-4 w100">
            <span>Source</span>{{ instance.source4 }}
        </p>
    {% endif %}

    {% if instance.diagnosis5 %}
        <p class="w100">
            <span>Diagnosis 5</span>{{instance.diagnosis5}}
        </p>
        <p class="ml-4 w100">
            <span>Age of onset</span>{{ instance.age_of_onset5 }}
        </p>
        <p class="ml-4 w100">
            <span>Source</span>{{ instance.source5 }}
        </p>
    {% endif %}

    {% if instance.diagnosis6 %}
        <p class="w100">
            <span>Diagnosis 6</span>{{instance.diagnosis6}}
        </p>
        <p class="ml-4 w100">
            <span>Age of onset</span>{{ instance.age_of_onset6 }}
        </p>
        <p class="ml-4 w100">
            <span>Source</span>{{ instance.source6 }}
        </p>
    {% endif %}

    {% if instance.diagnosis7 %}
        <p class="w100">
            <span>Diagnosis 7</span>{{instance.diagnosis7}}
        </p>
        <p class="ml-4 w100">
            <span>Age of onset</span>{{ instance.age_of_onset7 }}
        </p>
        <p class="ml-4 w100">
            <span>Source</span>{{ instance.source7 }}
        </p>
    {% endif %}

    {% if instance.diagnosis8 %}
        <p class="w100">
            <span>Diagnosis 8</span>{{instance.diagnosis8}}
        </p>
        <p class="ml-4 w100">
            <span>Age of onset</span>{{ instance.age_of_onset8 }}
        </p>
        <p class="ml-4 w100">
            <span>Source</span>{{ instance.source8 }}
        </p>
    {% endif %}

    {% if instance.diagnosis9 %}
        <p class="w100">
            <span>Diagnosis 9</span>{{instance.diagnosis9}}
        </p>
        <p class="ml-4 w100">
            <span>Age of onset</span>{{ instance.age_of_onset9 }}
        </p>
        <p class="ml-4 w100">
            <span>Source</span>{{ instance.source9 }}
        </p>
    {% endif %}

    {% if instance.diagnosis10 %}
        <p class="w100">
            <span>Diagnosis 10</span>{{instance.diagnosis10}}
        </p>
        <p class="ml-4 w100">
            <span>Age of onset</span>{{ instance.age_of_onset10 }}
        </p>
        <p class="ml-4 w100">
            <span>Source</span>{{ instance.source10 }}
        </p>
    {% endif %}

    {% if instance.diagnosis11 %}
        <p class="w100">
            <span>Diagnosis 11</span>{{instance.diagnosis11}}
        </p>
        <p class="ml-4 w100">
            <span>Age of onset</span>{{ instance.age_of_onset11 }}
        </p>
        <p class="ml-4 w100">
            <span>Source</span>{{ instance.source11 }}
        </p>
    {% endif %}

    {% if instance.diagnosis12 %}
        <p class="w100">
            <span>Diagnosis 12</span>{{instance.diagnosis12}}
        </p>
        <p class="ml-4 w100">
            <span>Age of onset</span>{{ instance.age_of_onset12 }}
        </p>
        <p class="ml-4 w100">
            <span>Source</span>{{ instance.source12 }}
        </p>
    {% endif %}

    <p class="w100">
        <span>Additional information</span>{{ instance.diag_adtl|linebreaksbr }}
    </p>
</div>





<div class="form-section">
    <h4>Current and Past Mental Health/Substance Use Treatment</h4>
    <hr>

    <p class="w50">
        {{ instance.treat_ccs|chk|safe }}<span>CCS</span>

        {% if instance.treat_ccs %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.treat_ccs_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.treat_ch51|chk|safe }}<span>Chapter 51 Commitment/Settlement Agreement</span>

        {% if instance.treat_ch51 %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.treat_ch51_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.treat_csp|chk|safe }}<span>CSP</span>

        {% if instance.treat_csp %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.treat_csp_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.treat_cst|chk|safe }}<span>CST</span>

        {% if instance.treat_cst %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.treat_cst_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.hospital_in|chk|safe }}<span>Inpatient Hospitalization</span>

        {% if instance.hospital_in %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.hospital_in_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.treat_mh_out|chk|safe }}<span>Mental Health Outpatient Counseling</span>

        {% if instance.treat_mh_out %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.treat_mh_out_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.treat_mh_res|chk|safe }}<span>Mental Health Residential</span>

        {% if instance.treat_mh_res %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.treat_mh_res_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.treat_psych|chk|safe }}<span>Psychiatry</span>

        {% if instance.treat_psych %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.treat_psych_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.treat_sa_detox|chk|safe }}<span>Substance Use Detox</span>

        {% if instance.treat_sa_detox %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.treat_sa_detox_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.treat_sa_out|chk|safe }}<span>Substance Use Outpatient Counseling</span>

        {% if instance.treat_sa_out %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.treat_sa_out_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.treat_sa_res|chk|safe }}<span>Substance Use Residential</span>

        {% if instance.treat_sa_res %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.treat_sa_res_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.treat_current_provider|chk|safe }}<span>Current Medical Provider</span>

        {% if instance.treat_current_provider %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.treat_current_provider_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.treat_other|chk|safe }}<span>Other</span>

        {% if instance.treat_other %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.treat_other_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.treat_medication|chk|safe }}<span>Medication</span>

        {% if instance.treat_medication %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.treat_medication_dtl }}</span>
        {% endif %}
    </p>

    <p class="w100">
        <span>Additional information</span>{{ instance.treat_adtl_info|linebreaksbr}}
    </p>
</div>

<div class="form-section">
    <h4>Substance Use</h4>
    <hr>

    <p class="w50">
        {{ instance.sa_none_reported|chk|safe }}<span>No substance use concerns reported</span>
    </p>


    <p class="w50">
        {{ instance.sa_alcohol|chk|safe }}<span>Alcohol</span>

        {% if instance.sa_alcohol %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_alcohol_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.sa_benzos|chk|safe }}<span>Benzodiazepines (Xanax, Valium, etc.)</span>

        {% if instance.sa_benzos %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_benzos_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.sa_cocaine|chk|safe }}<span>Cocaine</span>

        {% if instance.sa_cocaine %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_cocaine_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.sa_barb|chk|safe }}<span>Barbiturates</span>

        {% if instance.sa_barb %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_barb_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.sa_crack|chk|safe }}<span>Crack</span>

        {% if instance.sa_crack %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_crack_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.sa_hallucinogen|chk|safe }}<span>Hallucinogens (LSD, Mushrooms, PCP, etc.)</span>

        {% if instance.sa_hallucinogen %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_hallucinogen_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.sa_opiate|chk|safe }}<span>Opiates (Heroin, Opium, Methadone)</span>

        {% if instance.sa_opiate %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_opiate_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.sa_inhale|chk|safe }}<span>Inhalants</span>

        {% if instance.sa_inhale %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_inhale_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.sa_marijuana|chk|safe }}<span>Marijuana</span>

        {% if instance.sa_marijuana %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_marijuana_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.sa_amphetamine|chk|safe }}<span>Amphetamines (Speed, “Uppers,” Crank, Ecstasy, etc.)</span>

        {% if instance.sa_amphetamine %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_amphetamine_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.sa_meth|chk|safe }}<span>Methamphetamine</span>

        {% if instance.sa_meth %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_meth_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.sa_script|chk|safe }}<span>Prescription Medicine (Opiates, Wellbutrin, Sleep Aids, etc.)</span>

        {% if instance.sa_script %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_script_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.sa_iv|chk|safe }}<span>IV drug use</span>

        {% if instance.sa_iv %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_iv_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.sa_tobacco|chk|safe }}<span>Tobacco/Nicotine (Cigarettes, Chewing Tobacco, Vape, etc.)</span>

        {% if instance.sa_tobacco %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_tobacco_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.sa_caffeine|chk|safe }}<span>Caffeine (Energy Drinks, Sodas, Coffee, etc.)</span>

        {% if instance.sa_caffeine %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_caffeine_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.sa_other|chk|safe }}<span>Other</span>

        {% if instance.sa_other %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.sa_other_dtl }}</span>
        {% endif %}
    </p>

    <p class="w100">
        <span>Withdrawal History/Current Withdrawal Concerns</span>{{ instance.sa_withdrawal|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Additional information</span>{{ instance.sa_adtl_info|linebreaksbr}}
    </p>

</div>

<div class="form-section">
    <h4>Mental Health</h4>
    <hr>

    <p class="w50">
        {{ instance.mh_aggression|chk|safe }}<span>Aggression</span>

        {% if instance.mh_aggression %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_aggression_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_agitation|chk|safe }}<span>Agitation</span>

        {% if instance.mh_agitation %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_agitation_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_anxiety|chk|safe }}<span>Anxiety</span>

        {% if instance.mh_anxiety %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_anxiety_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_chronic_pain|chk|safe }}<span>Chronic pain</span>

        {% if instance.mh_chronic_pain %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_chronic_pain_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_delusions|chk|safe }}<span>Delusions</span>

        {% if instance.mh_delusions %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_delusions_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_depressed|chk|safe }}<span>Depressed</span>

        {% if instance.mh_depressed %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_depressed_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_concentration|chk|safe }}<span>Difficulty with concentration</span>

        {% if instance.mh_concentration %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_concentration_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_eating_pattern|chk|safe }}<span>Disordered eating pattern</span>

        {% if instance.mh_eating_pattern %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_eating_pattern_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_dissociation|chk|safe }}<span>Dissociation</span>

        {% if instance.mh_dissociation %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{ instance.mh_dissociation_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_body_image|chk|safe }}<span>Distorted body image</span>

        {% if instance.mh_body_image %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_body_image_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_elevated_mood|chk|safe }}<span>Elevated mood</span>

        {% if instance.mh_elevated_mood %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_elevated_mood_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_fatigue|chk|safe }}<span>Fatigue</span>

        {% if instance.mh_fatigue %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_fatigue_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_guilt|chk|safe }}<span>Feelings of guilt/shame</span>

        {% if instance.mh_guilt %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_guilt_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_helpless|chk|safe }}<span>Feelings of helplessness</span>

        {% if instance.mh_helpless %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_helpless_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_hopeless|chk|safe }}<span>Feelings of hopelessness</span>

        {% if instance.mh_hopeless %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_hopeless_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_lonely|chk|safe }}<span>Feelings of loneliness</span>

        {% if instance.mh_lonely %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_lonely_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_worthless|chk|safe }}<span>Feelings of Worthlessness</span>

        {% if instance.mh_worthless %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_worthless_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_gender_id|chk|safe }}<span>Gender identity issues</span>

        {% if instance.mh_gender_id %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_gender_id_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_hallucinations|chk|safe }}<span>Hallucinations (Auditory, Visual, Etc.)</span>

        {% if instance.mh_hallucinations %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_hallucinations_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_homicide|chk|safe }}<span>Homicidal Ideations</span>

        {% if instance.mh_homicide %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_homicide_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_hyper|chk|safe }}<span>Hyperactivity</span>

        {% if instance.mh_hyper %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_hyper_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_hypersex|chk|safe }}<span>Hypersexuality</span>

        {% if instance.mh_hypersex %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_hypersex_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_impulse|chk|safe }}<span>Impulsivity</span>

        {% if instance.mh_impulse %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_impulse_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_inattention|chk|safe }}<span>Inattention</span>

        {% if instance.mh_inattention %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_inattention_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_irritable|chk|safe }}<span>Irritable</span>

        {% if instance.mh_irritable %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_irritable_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_loss_interest|chk|safe }}<span>Loss of interest</span>

        {% if instance.mh_loss_interest %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_loss_interest_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_low_esteem|chk|safe }}<span>Low self-esteem</span>

        {% if instance.mh_low_esteem %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_low_esteem_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_malingering|chk|safe }}<span>Malingering</span>

        {% if instance.mh_malingering %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_malingering_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_mania|chk|safe }}<span>Mania</span>

        {% if instance.mh_mania %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_mania_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_memory|chk|safe }}<span>Memory Difficulties</span>

        {% if instance.mh_memory %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_memory_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_mood|chk|safe }}<span>Mood fluctuations/lability</span>

        {% if instance.mh_mood %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_mood_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_nightmares|chk|safe }}<span>Nightmares</span>

        {% if instance.mh_nightmares %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_nightmares_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_self_injury|chk|safe }}<span>Non-suicidal self injury</span>

        {% if instance.mh_self_injury %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_self_injury_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_obsessive|chk|safe }}<span>Obsessive thoughts</span>

        {% if instance.mh_obsessive %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_obsessive_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_other_substance|chk|safe }}<span>Other substance use</span>

        {% if instance.mh_other_substance %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_other_substance_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_occupational|chk|safe }}<span>Occupational problems</span>

        {% if instance.mh_occupational %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_occupational_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_paranoia|chk|safe }}<span>Paranoia</span>

        {% if instance.mh_paranoia %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_paranoia_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_hygene|chk|safe }}<span>Poor Hygiene</span>

        {% if instance.mh_hygene %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_hygene_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_restless|chk|safe }}<span>Restlessness</span>

        {% if instance.mh_restless %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_restless_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_risky|chk|safe }}<span>Risky/dangerous behavior</span>

        {% if instance.mh_risky %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_risky_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_school_work|chk|safe }}<span>School/work difficulties</span>

        {% if instance.mh_school_work %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_school_work_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_sexual_problems|chk|safe }}<span>Sexual problems</span>

        {% if instance.mh_sexual_problems %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_sexual_problems_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_sleep|chk|safe }}<span>Sleep issues</span>

        {% if instance.mh_sleep %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_sleep_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_fears|chk|safe }}<span>Specific fears</span>

        {% if instance.mh_fears %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_fears_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_suicide|chk|safe }}<span>Suicidal ideations</span>

        {% if instance.mh_suicide %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_suicide_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_thought_disorg|chk|safe }}<span>Thought disorganization</span>

        {% if instance.mh_thought_disorg %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_thought_disorg_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_thought_block|chk|safe }}<span>Thought blocking</span>

        {% if instance.mh_thought_block %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_thought_block_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_weight_change|chk|safe }}<span>Weight changes</span>

        {% if instance.mh_weight_change %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_weight_change_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.mh_other|chk|safe }}<span>Other</span>

        {% if instance.mh_other %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.mh_other_dtl }}</span>
        {% endif %}
    </p>

    <p class="w100">
        <span>Additional information</span>{{ instance.mh_adtl_info|linebreaksbr}}
    </p>
</div>

<div class="form-section">
    <h4>Pregnancy Status</h4>
    <hr>

    <p class="w25">
        <span>Pregnant</span>{{ instance.get_pregnant_display }}
    </p>
    <p class="wauto">
        <span>Due date</span>{{ instance.pregnant_due|date:'m/d/Y'}}
    </p>

    <p class="w100">
        <span>Additional information</span>{{ instance.pregnant_adtl_info|linebreaksbr}}
    </p>
</div>

<div class="form-section">
    <h4>Perceived Needs of Client</h4>
    <hr>

    <p class="w50">
        {{ instance.pn_behavior_support|chk|safe }}<span>Behavior support</span>

        {% if instance.pn_behavior_support %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.pn_behavior_support_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.pn_coping_skill|chk|safe }}<span>Coping skill development</span>

        {% if instance.pn_coping_skill %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.pn_coping_skill_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.pn_employment|chk|safe }}<span>Employment skills training</span>

        {% if instance.pn_employment %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.pn_employment_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.pn_community|chk|safe }}<span>Information Regarding Community Resources</span>

        {% if instance.pn_community %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.pn_community_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.pn_life_skills|chk|safe }}<span>Life skills training</span>

        {% if instance.pn_life_skills %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.pn_life_skills_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.pn_med_monitor|chk|safe }}<span>Medication monitoring/assistance</span>

        {% if instance.pn_med_monitor %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.pn_med_monitor_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.pn_mh_counseling|chk|safe }}<span>Mental Health- Counseling</span>

        {% if instance.pn_mh_counseling %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.pn_mh_counseling_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.pn_personal_care|chk|safe }}<span>Personal care</span>

        {% if instance.pn_personal_care %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.pn_personal_care_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.pn_prescribe|chk|safe }}<span>Prescribing services</span>

        {% if instance.pn_prescribe %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.pn_prescribe_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.pn_psy_edu|chk|safe }}<span>Psychoeducation</span>

        {% if instance.pn_psy_edu %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.pn_psy_edu_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.pn_sub_use_counsel|chk|safe }}<span>Substance Use Counseling</span>

        {% if instance.pn_sub_use_counsel %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.pn_sub_use_counsel_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.pn_sub_use_res|chk|safe }}<span>Substance use residential</span>

        {% if instance.pn_sub_use_res %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.pn_sub_use_res_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.pn_transport|chk|safe }}<span>Transportation to appointments</span>

        {% if instance.pn_transport %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.pn_transport_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.pn_other|chk|safe }}<span>Other</span>

        {% if instance.pn_other %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.pn_other_dtl }}</span>
        {% endif %}
    </p>

    <p class="w100">
        <span>Additional information</span>{{ instance.pn_adtl_info }}
    </p>

</div>

<div class="form-section">
    <h4>Living Situation</h4>
    <hr>

    <p class="w50">
        <span>Living situation</span>{{ instance.get_living_situation_display }}
    </p>
    <p class="w100">
        <span>Additional information</span>{{ instance.ls_adtl_info|linebreaksbr }}
    </p>

    </p>
</div>

<div class="form-section">
    <h4>Other Program Affiliation</h4>
    <hr>

    <p class="w50">
        {{ instance.op_probation|chk|safe }}<span>Probation</span>

        {% if instance.op_probation %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.op_probation_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.op_candf|chk|safe }}<span>Children & families</span>

        {% if instance.op_candf %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.op_candf_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.op_public_health|chk|safe }}<span>Public Health (WIC, PNCC)</span>

        {% if instance.op_public_health %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.op_public_health_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.op_aging|chk|safe }}<span>Aging & disability services</span>

        {% if instance.op_aging %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.op_aging_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.op_treat_court|chk|safe }}<span>Treatment court</span>

        {% if instance.op_treat_court %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.op_treat_court_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.op_school_district|chk|safe }}<span>School district</span>

        {% if instance.op_school_district %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.op_school_district_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.op_day_treat|chk|safe }}<span>Day treatment</span>

        {% if instance.op_day_treat %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.op_day_treat_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.op_defer_explu|chk|safe }}<span>Deferred expulsion plan</span>

        {% if instance.op_defer_explu %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.op_defer_explu_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.op_managed_care|chk|safe }}<span>Managed Care (Inclusa, IRIS, etc.)</span>

        {% if instance.op_managed_care %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.op_managed_care_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.op_mat|chk|safe }}<span>MAT program</span>

        {% if instance.op_mat %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.op_mat_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.op_tribal_afil|chk|safe }}<span>Tribal affiliation</span>

        {% if instance.op_tribal_afil %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.op_tribal_afil_dtl }}</span>
        {% endif %}
    </p>

    <p class="w50">
        {{ instance.op_other|chk|safe }}<span>Other</span>

        {% if instance.op_other %}
            <br>
            <span class="ml-4">Details</span>
            <span class="details">{{ instance.op_other_dtl }}</span>
        {% endif %}
    </p>

    <p class="w100">
        <span>Additional information</span>{{ instance.op_adtl_info|linebreaksbr }}
    </p>
</div>









<div class="form-section">
    <h4>Linked Docs</h4>
    <hr>
    <p class="w100">
        <span>Linked docs</span>{{ instance.get_linked_docs|safe }}
    </p>
</div>
