<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}
<p class="w33">
    <span>Creator</span>{{ instance.created_by.userconfig.full_name}}
</p>


<div class="form-section">
    <h4>Demographic Information</h4>
    <hr>

    <p class="w100">
        <span>First name</span>{{instance.emrepisode.client.first_name}}
    </p>

    <p class="w100">
        <span>Last name</span>{{instance.emrepisode.client.last_name}}
    </p>

    <p class="w100">
        <span>DOB</span>{{instance.emrepisode.client.birthdate|date:'m/d/Y'}}
    </p>

    <p class="w100">
        <span>Gender</span>{{instance.emrepisode.client.get_gender_display}}
    </p>

    <p class="w100">
        <span>Address</span>{{instance.emrepisode.client.get_address.get_long_address}}
    </p>

    <p class="w100">
        <span>Phone</span>{{instance.emrepisode.client.phone}}{{instance.emrepisode.client.phone_ext|ext}}
    </p>

    <p class="w100">
        <span>Race</span>{{instance.emrepisode.client.get_race_display}}
    </p>

    <p class="w100">
        <span>Ethnicity</span>{{instance.emrepisode.client.get_hispanic_display}}
    </p>

    <p class="w100">
        <span>County of residence</span>{{instance.get_county_of_residence_display|default:''}}
    </p>

    <p class="w100">
        <span>SPC start date</span>{{ instance.get_spc_start_date|list_date}}
    </p>
</div>


<div class="form-section">
    <h4>Admission Information</h4>
    <hr>

    <p class="w100">
        <span>Service</span>{{instance.service}}
    </p>

    <p class="w100">
        <span>Brief service</span>{{instance.get_brief_service_display}}
    </p>

    <p class="w100">
        <span>Agency of responsibility</span>{{instance.agency_of_resp}}
    </p>

    <p class="w100">
        <span>Provider WPI/NPI</span>{{instance.provider_wpi_npi}}
    </p>

    <p class="w100">
        <span>Referral source</span>{{instance.get_referral_source_display}}
    </p>

    <p class="w100">
        <span>Co-dependent/collateral</span>{{instance.get_cd_collat_display}}
    </p>

    <p class="w100">
        <span>Education</span>{{instance.get_education_display}}
    </p>

    <p class="w100">
        <span>Number of arrests in the past 30 days</span>{{instance.num_arrests}}
    </p>

    <p class="w100">
        <span>Employment status</span>{{instance.get_employ_stat_display}}
    </p>

    <p class="w100">
        <span>Living arrangement</span>{{instance.get_living_stat_display}}
    </p>

    <p class="w100">
        <span>Support group attendance</span>{{instance.get_group_attend_display}}
    </p>

    <p class="w100">
        <span>Pregnant</span>{{instance.get_pregnant_display}}
    </p>

    <p class="w100">
        <span>Primary substance use problem</span>{{instance.get_substance_problem1_display}}
    </p>

    {% if instance.substance_problem1 %}
        <p class="w100 ml-4">
            <span>Usual route of administration</span>{{instance.get_route_admin1_display}}
        </p>

        <p class="w100 ml-4">
            <span>Use frequency</span>{{instance.get_use_freq1_display}}
        </p>

        <p class="w100 ml-4">
            <span>Age at first use</span>{{instance.age_first_use1}}
        </p>
    {% endif %}



    {% if instance.substance_problem2 %}
        <p class="w100">
            <span>Secondary substance use problem</span>{{instance.get_substance_problem2_display}}
        </p>

        <p class="w100 ml-4">
            <span>Usual route of administration</span>{{instance.get_route_admin2_display}}
        </p>

        <p class="w100 ml-4">
            <span>Use frequency</span>{{instance.get_use_freq2_display}}
        </p>

        <p class="w100 ml-4">
            <span>Age at first use</span>{{instance.age_first_use2}}
        </p>
    {% endif %}

    {% if instance.substance_problem3 %}
        <p class="w100">
            <span>Tertiary substance use problem</span>{{instance.get_substance_problem3_display}}
        </p>

        <p class="w100 ml-4">
            <span>Usual route of administration</span>{{instance.get_route_admin3_display}}
        </p>

        <p class="w100 ml-4">
            <span>Use frequency</span>{{instance.get_use_freq3_display}}
        </p>

        <p class="w100 ml-4">
            <span>Age at first use</span>{{instance.age_first_use3}}
        </p>
    {% endif %}
</div>



