<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}
<p class="w33">
    <span>Creator</span>{{ instance.created_by.userconfig.full_name}}
</p>


<div class="form-section">
    <h4>Assessment Description and Background Information</h4>
    <hr>

    <p class="w100">
        <span>Assessment date</span>{{ instance.assessment_date|date:'m/d/Y' }}
    </p>

    <p class="w100">
        <span>Assessment type</span>{{ instance.get_assessment_type_display}}
    </p>

    <p class="w100">
        <span>Patient rights and grievances</span>{{ instance.get_patient_rights_and_grievances_display }}
    </p>

    <p class="w100">
        <span>Presenting problem</span>{{ instance.presenting_problem|linebreaksbr }}
    </p>

    <p class="w100">
        <span>Financial</span>{{ instance.financial|linebreaksbr }}
    </p>
</div>


<div class="form-section">
    <h4>Living Arrangements</h4>
    <hr>

    <p class="w100">
        <span>Living arrangements</span>{{instance.living_arr|linebreaksbr}}
    </p>
</div>

<div class="form-section">
    <h4>Mental Health</h4>
    <hr>

    <p class="w100">
        <span>Mental health diagnoses</span>{{instance.mental_health|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Psychiatric medications</span>{{instance.psych_meds|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Treatment and services</span>{{instance.treat_service|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Trauma history</span>{{instance.trauma_hist|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Safety</span>{{instance.safety|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Access to firearms</span>{{instance.get_access_to_firearms_display}}
    </p>

    {% if instance.access_to_firearms == 'yes' or instance.access_to_firearms == 'unknown' %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.access_to_firearms_dtl|linebreaksbr}}
        </p>
    {% endif %}

    <p class="w100">
        <span>Delusions and/or hallucinations</span>{{instance.delusions|linebreaksbr}}
    </p>

    <p class="w100">
        <span>History of family mental illness</span>{{instance.family_mh_hist|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Strengths and protective factors</span>{{instance.strengths|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Risk factors</span>{{instance.risks|linebreaksbr}}
    </p>
</div>

<div class="form-section">
    <h4>Medical and Physical</h4>
    <hr>

    <p class="w100">
        <span>Physical diagnoses</span>{{instance.phys_diags|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Medications</span>{{instance.medications|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Primary care physician</span>{{instance.primary_doc|linebreaksbr}}
    </p>
</div>

<div class="form-section">
    <h4>Substance Use History</h4>
    <hr>

    <p class="w100">
        <span>Diagnoses</span>{{instance.diags|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Current and past use</span>{{instance.current_past_use|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Overdose history</span>{{instance.od_history|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Withdrawal needs</span>{{instance.withdrawal_needs|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Current and past treatment</span>{{instance.current_past_treat|linebreaksbr}}
    </p>
</div>

<div class="form-section">
    <h4>Social Relationships and Supports</h4>
    <hr>

    <p class="w100">
        <span>Status of current relationships</span>{{instance.current_rel_stat|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Formal service providers</span>{{instance.formal_service_providers|linebreaksbr}}
    </p>

    <p class="w30">
        <span>Name</span>{{instance.contact_name}}
    </p>

    <p class="w20">
        <span>Relationship</span>{{instance.contact_relationship}}
    </p>

    <p class="w30">
        <span>Address</span>{{instance.contact_address}}
    </p>

    <p class="w20">
        <span>Phone</span>{{instance.contact_phone}}{% if contact_phone_ext %} ext {{instance.contact_phone_ext}}{% endif %}
    </p>

    {% if instance.contact_name2 %}
        <p class="w30">
            <span>Name</span>{{instance.contact_name2}}
        </p>

        <p class="w20">
            <span>Relationship</span>{{instance.contact_relationship2}}
        </p>

        <p class="w30">
            <span>Address</span>{{instance.contact_address2}}
        </p>

        <p class="w20">
            <span>Phone</span>{{instance.contact_phone2}}{% if contact_phone_ext2 %} ext {{instance.contact_phone_ext2}}{% endif %}
        </p>
    {% endif %}


    {% if instance.contact_name3 %}
        <p class="w30">
            <span>Name</span>{{instance.contact_name3}}
        </p>

        <p class="w20">
            <span>Relationship</span>{{instance.contact_relationship3}}
        </p>

        <p class="w30">
            <span>Address</span>{{instance.contact_address3}}
        </p>

        <p class="w20">
            <span>Phone</span>{{instance.contact_phone3}}{% if contact_phone_ext3 %} ext {{instance.contact_phone_ext3}}{% endif %}
        </p>
    {% endif %}

    {% if instance.contact_name4 %}
        <p class="w30">
            <span>Name</span>{{instance.contact_name4}}
        </p>

        <p class="w20">
            <span>Relationship</span>{{instance.contact_relationship4}}
        </p>

        <p class="w30">
            <span>Address</span>{{instance.contact_address4}}
        </p>

        <p class="w20">
            <span>Phone</span>{{instance.contact_phone4}}{% if contact_phone_ext4 %} ext {{instance.contact_phone_ext4}}{% endif %}
        </p>
    {% endif %}

    {% if instance.contact_name5 %}
        <p class="w30">
            <span>Name</span>{{instance.contact_name5}}
        </p>

        <p class="w20">
            <span>Relationship</span>{{instance.contact_relationship5}}
        </p>

        <p class="w30">
            <span>Address</span>{{instance.contact_address5}}
        </p>

        <p class="w20">
            <span>Phone</span>{{instance.contact_phone5}}{% if contact_phone_ext5 %} ext {{instance.contact_phone_ext5}}{% endif %}
        </p>
    {% endif %}

    <p class="w100">
        <span class='hide-after'>Does the individual have a parent, guardian, or Power of Attorney?</span>{{instance.get_parent_guardian_display}}
    </p>

    {% if instance.parent_guardian == 'yes' %}
        <p class="w100 ml-4">
            <span>Name</span>{{instance.parent_guardian_name}}
        </p>

        <p class="w100 ml-4">
            <span>Address</span>{{instance.parent_guardian_address}}
        </p>

        <p class="w100 ml-4">
            <span>Phone</span>{{instance.parent_guardian_phone}}{% if instance.parent_guardian_phone_ext %} ext {{instance.parent_guardian_phone_ext}}{% endif %}
        </p>
    {% endif %}

    <p class="w100">
        <span class='hide-after'>Was the parent/guardian/power of attorney contacted as part of this assessment?</span>{{instance.get_parent_guardian_contacted_display}}
    </p>

    {% if instance.parent_guardian_contacted %}
        <p class="w100 ml-4">
            <span>Details</span>{{instance.parent_guardian_contacted_dtl|linebreaksbr}}
        </p>
    {% endif %}
</div>

<div class="form-section">
    <h4>Legal History</h4>
    <hr>

    <p class="w100">
        <span>Involvement with Criminal Justice System</span>{{instance.cjs_involvement|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Does the individual have a parent, guardian, or Power of Attorney?</span>{{instance.parent_guard_poa|linebreaksbr}}
    </p>
</div>

<div class="form-section">
    <h4>Skills and Employment</h4>
    <hr>

    <p class="w100">
        <span>Vocational and educational status</span>{{instance.voc_edu_status|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Employment status</span>{{instance.emp_status|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Access to community resources</span>{{instance.community_resources|linebreaksbr}}
    </p>

    <p class="w100">
        <span>Activities of daily living</span>{{instance.daily_living_activities|linebreaksbr}}
    </p>
</div>






<div class="form-section">
    <h4>Linked Docs</h4>
    <hr>
    <p class="w100">
        <span>Linked docs</span>{{ instance.get_linked_docs|safe }}
    </p>
</div>
