<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}
<p class="w33">
    <span>Creator</span>{{ instance.created_by.userconfig.full_name}}
</p>

<div class="form-section">
    <h4>Demographic Information</h4>
    <hr>

    <p class="w100">
        <span>First name</span>{{instance.emrepisode.client.first_name}}
    </p>

    <p class="w100">
        <span>Last name</span>{{instance.emrepisode.client.last_name}}
    </p>

    <p class="w100">
        <span>DOB</span>{{instance.emrepisode.client.birthdate|date:'m/d/Y'}}
    </p>

    <p class="w100">
        <span>Gender</span>{{instance.emrepisode.client.get_gender_display}}
    </p>

    <p class="w100">
        <span>Address</span>{{instance.emrepisode.client.get_address.get_long_address}}
    </p>

    <p class="w100">
        <span>Phone</span>{{instance.emrepisode.client.phone}}{{instance.emrepisode.client.phone_ext|ext}}
    </p>

    <p class="w100">
        <span>Race</span>{{instance.emrepisode.client.get_race_display}}
    </p>

    <p class="w100">
        <span>Ethnicity</span>{{instance.emrepisode.client.get_hispanic_display}}
    </p>

    <p class="w100">
        <span>County of residence</span>{{instance.get_county_of_residence_display|default:''}}
    </p>
</div>


<div class="form-section">
    <h4>Admission Information</h4>
    <hr>

    <p class="w100">
        <span>Agency of responsibility</span>{{instance.agency_of_resp}}
    </p>

    <p class="w100">
        <span>Provider WPI/NPI</span>{{instance.provider_wpi_npi}}
    </p>

    <p class="w100">
        <span>Service</span>{{instance.service}}
    </p>

    <p class="w100">
        <span>BRC target population</span>{{instance.get_brc_target_pop_display}}
    </p>

    <p class="w100">
        <span>Presenting problem</span>{{instance.get_presenting_problem_display}}
    </p>

    <p class="w100">
        <span>Client characteristic</span>{{instance.get_client_char_display}}
    </p>

    <p class="w100">
        <span>Commitment status</span>{{instance.get_commit_stat_display}}
    </p>

    <p class="w100">
        <span>Referral source</span>{{instance.get_referral_source_display}}
    </p>

    <p class="w100">
        <span>Primary mental health diagnosis</span>{{instance.diagnosis}}
    </p>

    {% if instance.diagnosis2 %}
        <p class="w100 ml-4">
            <span>2nd diagnosis</span>{{instance.diagnosis2}}
        </p>
    {% endif %}

    {% if instance.diagnosis3 %}
        <p class="w100 ml-4">
            <span>3rd diagnosis</span>{{instance.diagnosis3}}
        </p>
    {% endif %}

    {% if instance.diagnosis4 %}
        <p class="w100 ml-4">
            <span>4th diagnosis</span>{{instance.diagnosis4}}
        </p>
    {% endif %}

    {% if instance.diagnosis5 %}
        <p class="w100 ml-4">
            <span>5th diagnosis</span>{{instance.diagnosis5}}
        </p>
    {% endif %}
</div>






