<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <div class='row margin-top-4'>
        <div class="col-md-12">
            <h2>NOVA Settings
                <a class="btn btn-sm btn-primary ml-4" href="javascript:showPopup('/config/app_config/new/');">Create Setting</a>
            </h2>
        </div>
    <div>
    <div class="row margin-top-2">
        <div class="col-md-6">
            <p><strong>Notes:</strong>
                <ul>
                    <li>All config names must be in lower case.</li>
                    <li>Required config items: agency_name, agency_street, agency_city, agency_zip, agency_phone, agency_fax, agency_contact, county_code, casenote_requires_signature, fiscal_year, fiscal_period, lookup_max_results</li>
                </ul>
            </p>
        </div>

        <div class="col-md-6">
            <p>
                <strong>Fiscal year and period open from</strong><br>
                Financial data my not be entered with a fiscal year and period prior to the year and period below.
            </p>
            <p>
                <a class="btn btn-sm btn-secondary" href="javascript:showPopup('/config/change_fiscal/');">Change the fiscal year and period open from setting</a>
            </p>
            <div style="font-weight:bold; font-size:3rem; color:lightgray;">
                    {{year_open}}/{{period_open}}
            </div>

            <div class="margin-top-2">
                <p><strong>Current authorized users</strong> <a href="#" onClick="window.location.reload();" style="margin-left:0.5rem;" class="fas fa-sync"></a></p>
                <ul>
                    {% for user in users %}
                    <li><a target="_blank" href="mailto:{{ user.user.email }}">{{ user.full_name }} &lt;{{ user.user.username}}&gt;</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class='container'>
    <div class="row margin-top-4">
        <div class='col-12'>
        	<table class="{{ table_class }}">
        		<thead>
        			<tr>
        				<th>Name</th>
        				<th>Value</th>
        			</tr>
        		</thead>
        		{% if app_config_data %}
        		<tbody>
        			{% for item in app_config_data %}
                    {% if item.key != "fiscal_period_open_from" and item.key != "fiscal_year_open_from" %}
        			<tr>
            			<td><a href="javascript:showPopup('/config/app_config/{{ item.id }}/');" >{{ item.key }}</a></td>
            			<td><a href="javascript:showPopup('/config/app_config/{{ item.id }}/');" >{{ item.value }}</a></td>
        			</tr>
                    {% endif %}
        			{% endfor %}
        		</tbody>
        		{% endif %}
        	</table>

        </div>
    </div>
</div>

{%endblock%}
