<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% extends 'base.html' %}
{% block content %}

{% if not popup %}
<div class='breadcrumb print-hide'>
    <div class='container'>
        <a href="{% url 'config:user_mgmt_index' %}">User Management</a>
        {% if instance %}{{instance}}
        {% else %}New Auditor
        {%endif%}
    </div>
</div>
{% endif %}



<div class='container{% if popup%}-fluid{%endif%}'>
    <div class="row">
        <div class="col-12">
            <h3>{{ title }}</h3>
            {% if subtitle and not popup %}
            <h5>{{subtitle}}</h5>
            {%endif%}
            <form id="frm" method="post" action="">
                {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" %}
            </form>
        </div>
    </div>
</div>



<div class="container">
    <div class="row margin-top-4">
        <div class="col-12">
            <h3>
                Client Access
                <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/config/popup_lookup/?mod=client&pmod=userconfig&pid={{instance.id}}');">Grant Access to Client</a>
            </h3>
            <p>
                The auditor will have access to the clients in this list.
            </p>
        </div>
    </div>
    <div class="row margin-top-1">
        <div class="col-12">
            <table class="listview-table-no-search" data-order='[[ 0, "asc" ]]'>
                <thead>
                    <tr>
                        <th>Remove Access</th>
                        <th>Client</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in instance.auditor_clients.all %}
                        <tr>
                            <td>
                                <a href="javascript:unlinkAuditorClient({{instance.id}}, {{item.id}});"><span class="fas fa-unlink"></span></a>
                            </td>

                            <td>
                                <span class="cell">{{item}}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{%endblock%}
