<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<div class='container'>
<h2>Audit Log</h2>
</div>

<div class='container-fluid'>
<!-- Draw the report -->
{% if results %}
<div  class='row'>
	<div class='col-md-12 panel-wrapper results'>
		<div>
			<table data-order='[[0, "desc"]]' class="listview-table">
				<thead>
					<tr>
						<th>Date</th>
						<th>User</th>
						<th>Action</th>
						<th>Model</th>
						<th>Form</th>
						<th>URI</th>
						<th>IP</th>
					</tr>
				</thead>

				{% if results %}
				<tbody>
					{% for item in results %}
					<tr>
						<td class='nowrap'><span class='cell'>{{item.date_time|date:'Y-m-d H:i:s'}}{{item.date_time|date:'.u'}}</span></td>
						<td><span class='cell'>{{item.get_short_username}}</span></td>
						<td><span class='cell'>{{item.action_type}}</span></td>
						<td>{%if item.model_type%}<a href='/config/model_data/{{item.id}}/'>{{item.get_short_modeltype}}</a>{%else%}{{item.get_short_modeltype}}{%endif%}</td>
						<td><span class='cell'>{{item.get_short_formtype}}</span></td>
						<td><a href='{{item.raw_uri}}'>{{item.raw_uri}}</a></td>
						<td><span class='cell'>{{item.ip_address}}</span></td>
					</tr>
					{% endfor %}
				</tbody>
				{% endif %}
			</table>
		</div>
	</div>
</div>
{% endif %}
</div>
{%endblock%}
