<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container'>

<div class='row margin-top-2'>
    <div class="col-md-12">
        <h2>
            Changelog
        </h2>
    </div>
</div>

{% for date, scope_group in changes.items %}
<div class="row margin-top-2">
    <div class="col-md-12">
        <h4 class="changelog-title" style="">{{date}}</h4>
        {% for scope, changes_list in scope_group.items %}
        <div class="margin-bottom-1">
            <h5 style="margin-bottom:0; font-weight: bold;">{{scope}}</h5>
                {% for change in changes_list %}
                    <p style="margin-bottom:0;">
                        <span style="font-weight:bold; text-transform: capitalize; margin-left:1rem;">
                            {{change.0}}:</span> {{change.1}}
                        
                    </p>
                {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}


</div>
{%endblock%}
