<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

{% if not popup %}
<div class='breadcrumb print-hide'>
    <div class='container'>
        <a href="{% url 'config:employee_index' %}">Employees</a>
        {% if instance %}{{instance}}
        {% else %}New Employee
        {%endif%}
    </div>
</div>
{% endif %}

<div class='container{% if popup %}-fluid{%endif%} print-hide'>
    <div class="row">
        <div class="col-lg-6">

            <h3>{{ title }}</h3>
            {% if subtitle and not popup %}
            <h5>{{subtitle}}</h5>
            {%endif%}
            <form id="frm" method="post" action="">
                {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" %}
            </form>

        </div>

        
        {% if instance %}
            <div class="col-lg-6">
                <h4 class="margin-top-1">Employee Compensation
                    <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/config/employee_comp/new/{{instance.id}}/');">
                        Create Compensation
                    </a>
                </h4>
            


                <table class="{{ table_class }}">
                    <thead>
                        <tr>
                            <th>Comp type</th>
                            <th class="monospace right">Percent</th>
                            <th>Account</th>
                        </tr>
                    </thead>
                    {% if comp_data %}
                    <tbody>
                        {% for item in comp_data %}
                        <tr>
                            <td><a href="javascript:showPopup('/config/employee_comp/{{ item.id }}/');" >{{ item.get_comp_type_display }}</a></td>
                            <td><a class="monospace right" href="javascript:showPopup('/config/employee_comp/{{ item.id }}/');" >{{ item.percent }}%</a></td>
                            <td><a href="javascript:showPopup('/config/employee_comp/{{ item.id }}/');" >{{ item.account }}</a></td>
                        </tr>
                        {% endfor %}
                        <tfoot>
                            <tr>
                                <td><span class="cell{% if comp_percent != 100 %} ac-red{%endif%}"><strong>Total:</strong></span></td>
                                <td><span class="cell monospace right{% if comp_percent != 100 %} ac-red{%endif%}"><strong>{{comp_percent}}%</strong></span></td>
                                <td><span class="cell"></span></td>
                            </tr>
                        </tfoot>
                    </tbody>
                    {% endif %}
                </table>
            </div>
            {% endif %}
        

        </div>
    </div>
</div>

{%endblock%}
