<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load nova_tags %}
{% block content %}
<div class='container'>
    <div class='row margin-top-2'>
        <div class="col-md-12">
            <h4>Employees
                <a class="btn btn-sm btn-secondary ml-4" href="/config/employee/new/">
                    Create Employee
                </a>
            </h4>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table-no-order">
                <thead>
                    <tr>
                        <th>Active</th>
                        <th>Last name</th>
                        <th>First name</th>
                        <th>Home cash account</th>
                    </tr>
                </thead>
                {% if employee_data %}
                <tbody>
                    {% for emp in employee_data %}
                    <tr>
                        <td><a href="/config/employee/{{ emp.id }}/" >{{ emp.active|yesno }}</a></td>
                        <td><a href="/config/employee/{{ emp.id }}/" >{{ emp.last_name }}</a></td>
                        <td><a href="/config/employee/{{ emp.id }}/" >{{ emp.first_name }}</a></td>
                        <td><a href="/config/employee/{{ emp.id }}/" >{{ emp.home_cash_account }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{%endblock%}
