<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<div class='container{% if popup%}-fluid{%endif%}'>
    <div class="row">
        <div class="col-12">
            <h3>Select EMR Doc</h3>
        </div>
    </div>
</div>

{% if lookup %}
<div class='container-fluid' style="font-size:85%;">
    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="{{table_class}}">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Document Type</th>
                        <th>Description</th>
                        <th>Upload Date</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in lookup %}
                    <tr>
                        <td>
                            <a href="{{anchor}}{{item.id}}" >
                                <span class="d-none">{{item.date|date:'Ymd'}}</span>{{item.date|date:'m/d/Y'}}
                            </a>
                        </td>

                        <td>
                            <a href="{{anchor}}{{item.id}}" >
                                {{item.emrdoctype}}
                            </a>
                        </td>

                        <td>
                            <a href="{{anchor}}{{item.id}}" >
                                {{item.description}}
                            </a>
                        </td>



                        <td>
                            <a href="{{anchor}}{{item.id}}" >
                                <span class="d-none">{{item.upload_date|date:'YmdHis'}}</span>{{item.upload_date|date:'m/d/Y'}}
                            </a>
                        </td>

                       
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>
    </div>
</div>
{% endif %}

{%endblock%}
