<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container{% if popup%}-fluid{%endif%}'>
    <div class="row">
    	<div class="col-12">
    		<h3>Select Transaction</h3>
    	</div>
    </div>
</div>

{% if lookup %}
<div class='container-fluid' style="font-size:85%;">
    <div class="row margin-top-1">
        <div class='col-12'>
        	<table class="{{table_class}}">
        		<thead>
        			<tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Account</th>
                        <th>Batch</th>
                        <th>Vendor</th>
                        <th>Client</th>
                        <th>Description</th>
        			</tr>
        		</thead>

        		<tbody>
        			{% for item in lookup %}
        			<tr>
                        <td>
                            <a class='monospace nowrap' href="{{anchor}}{{item.id}}" >
                                <span class='d-none'>{{item.date|date:'Ymd'}}</span>
                                {{item.date|date:'m/d/Y'}}
                            </a>
                        </td>
                        
                        <td>
                            <a class='right monospace' href="{{anchor}}{{item.id}}" >
                                {{item.amount}}
                            </a>
                        </td>

                        <td>
                            <a href="{{anchor}}{{item.id}}" >
                                {{item.account.name|default:''}}
                            </a>
                        </td>

                        <td>
                            <a href="{{anchor}}{{item.id}}" >
                                {{item.lot.name|default:''}}
                            </a>
                        </td>

                        

                        <td>
                            <a href="{{anchor}}{{item.id}}" >
                                {{item.vendor.name|default:''}}{%if item.vendor.vendor_number%}, {{item.vendor.vendor_number|default:''}}{% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="{{anchor}}{{item.id}}" >
                                {{item.client|default:''}}
                            </a>
                        </td>
                        <td>
                            <a target="_blank" href="{{anchor}}{{item.id}}" >
                                {{item.description|default:''}}
                            </a>
                        </td>
                    </tr>
        			{% endfor %}
        		</tbody>

        	</table>

        </div>
    </div>
</div>
{% endif %}

{%endblock%}
