<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% extends 'base.html' %}
{% load nova_tags %}
{% block content %}
<style>
    .fa-check-circle {
        margin-left: 0.5rem;
    }
</style>
<div class='container'>

    <div class='row margin-top-2'>
        <div class="col-md-12">
            <h2>User Management
                <a id="btn-show-controls" class="btn btn-sm btn-secondary ml-4" href="javascript:showCreateUserControls();">
                    Create User
                </a>
            </h2>
        </div>
    </div>
    <div id="create-user-controls" class="row" style="display: none;">
        <div class="col-md-12 margin-top-2">
            <h4>Create User</h4>
            <p style="width:40%; float: left;">
                <label for="id_email" class="required">Email</label>
                <input id="id_email" type="email" class="form-control lowercase-input">
            </p>

            <p style="width:40%; float: left;">
                <label for="id_full_name" class="required">User's full name</label>
                <input id="id_full_name" type="textbox" class="form-control">
            </p>

            <p style="width:20%; float: left;">
                <label for="id_user_type" class="required">User type</label>
                <select id="id_user_type" class="form-control">
                    <option value="0">Inactive</option>
                    <option value="1">Admin</option>
                    <option value="2">Caseworker</option>
                    <option value="3">Financial</option>
                    <option value="4">Auditor</option>
                </select>
            </p>            

            
        </div> 

        <div class="col-md-12">
            <p class="ml-1">
                <input id="btn-create-user" type="button" class="btn btn-primary" onclick="javascript:createUser();" value="Create User">
            </p>

            <p>
                <hr>
            </p>
        </div> 

    </div>



    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table-no-order" >
                <thead>
                    <tr>
                        <th>Active</th>
                        <th>View Only</th>
                        <th>Email/Login</th>
                        <th>Name</th>   
                        <th>User Type</th>
                        <th>Expires</th>
                        <th>Settings</th>
                        <th>Restrictions</th>
                        <th>User Mgmt</th>
                        <th>Unlock Forms</th>
                        <th>Shared Links</th>
                        <th>Edit Contracts</th>
                        <th>Auditor Mgmt</th>

                    </tr>
                </thead>
                {% if users %}
                <tbody>
                    {% for item in users %}
                    <tr>

                        <td>
                            {% if item.user_type == '4' %}
                                <a href="/config/auditor_edit/{{ item.id }}/">
                            {% else %}
                                <a href="javascript:showPopup('/config/user_mgmt/{{ item.id }}/', 'wide');">
                            {% endif %}
                                {{ item.active|yes:'<i class="fas fa-solid fa-check-circle"></i>' }}
                            </a>
                        </td>

                        <td>
                            {% if item.user_type == '4' %}
                                <a href="/config/auditor_edit/{{ item.id }}/">
                            {% else %}
                                <a href="javascript:showPopup('/config/user_mgmt/{{ item.id }}/', 'wide');">
                            {% endif %}
                                {{ item.view_only|yes:'<i class="fas fa-solid fa-check-circle"></i>' }}
                            </a>
                        </td>

                        <td>
                            {% if item.user_type == '4' %}
                                <a href="/config/auditor_edit/{{ item.id }}/">
                            {% else %}
                                <a href="javascript:showPopup('/config/user_mgmt/{{ item.id }}/', 'wide');">
                            {% endif %}
                                {{ item.user}}
                            </a>
                        </td>

                        <td>
                            {% if item.user_type == '4' %}
                                <a href="/config/auditor_edit/{{ item.id }}/">
                            {% else %}
                                <a href="javascript:showPopup('/config/user_mgmt/{{ item.id }}/', 'wide');">
                            {% endif %}
                                {{ item.full_name }}
                            </a>
                        </td>   

                        <td>
                            {% if item.user_type == '4' %}
                                <a href="/config/auditor_edit/{{ item.id }}/">
                            {% else %}
                                <a href="javascript:showPopup('/config/user_mgmt/{{ item.id }}/', 'wide');">
                            {% endif %}
                                {{ item.get_user_type_display }}
                            </a>
                        </td>

                        <td>
                            {% if item.user_type == '4' %}
                                <a href="/config/auditor_edit/{{ item.id }}/">
                            {% else %}
                                <a href="javascript:showPopup('/config/user_mgmt/{{ item.id }}/', 'wide');">
                            {% endif %}
                                <span class="d-none">{{ item.expires_at|date:"m/d/Y"|default:"Never" }}</span>
                                {{ item.expires_at|date:"m/d/Y"|default:"Never" }}
                            </a>
                        </td>

                        <td>
                            {% if item.user_type == '4' %}
                                <a href="/config/auditor_edit/{{ item.id }}/">
                            {% else %}
                                <a href="javascript:showPopup('/config/user_mgmt/{{ item.id }}/', 'wide');">
                            {% endif %}
                                {{ item.access_settings|yes:'<i class="fas fa-solid fa-check-circle"></i>' }}
                            </a>
                        </td>

                        <td>
                            {% if item.user_type == '4' %}
                                <a href="/config/auditor_edit/{{ item.id }}/">
                            {% else %}
                                <a href="javascript:showPopup('/config/user_mgmt/{{ item.id }}/', 'wide');">
                            {% endif %}
                                {{ item.access_restrictions|yes:'<i class="fas fa-solid fa-check-circle"></i>' }}
                            </a>
                        </td>

                        <td>
                            {% if item.user_type == '4' %}
                                <a href="/config/auditor_edit/{{ item.id }}/">
                            {% else %}
                                <a href="javascript:showPopup('/config/user_mgmt/{{ item.id }}/', 'wide');">
                            {% endif %}
                                {{ item.access_user_mgmt|yes:'<i class="fas fa-solid fa-check-circle"></i>' }}
                            </a>
                        </td>

                        <td>
                            {% if item.user_type == '4' %}
                                <a href="/config/auditor_edit/{{ item.id }}/">
                            {% else %}
                                <a href="javascript:showPopup('/config/user_mgmt/{{ item.id }}/', 'wide');">
                            {% endif %}
                                {{ item.unlock_forms|yes:'<i class="fas fa-solid fa-check-circle"></i>' }}
                            </a>
                        </td>

                        <td>
                            {% if item.user_type == '4' %}
                                <a href="/config/auditor_edit/{{ item.id }}/">
                            {% else %}
                                <a href="javascript:showPopup('/config/user_mgmt/{{ item.id }}/', 'wide');">
                            {% endif %}
                                {{ item.view_all_shared_links|yes:'<i class="fas fa-solid fa-check-circle"></i>' }}
                            </a>
                        </td>

                        <td>
                            {% if item.user_type == '4' %}
                                <a href="/config/auditor_edit/{{ item.id }}/">
                            {% else %}
                                <a href="javascript:showPopup('/config/user_mgmt/{{ item.id }}/', 'wide');">
                            {% endif %}
                                {{ item.edit_contracts|yes:'<i class="fas fa-solid fa-check-circle"></i>' }}
                            </a>
                        </td>

                        <td>
                            {% if item.user_type == '4' %}
                                <a href="/config/auditor_edit/{{ item.id }}/">
                            {% else %}
                                <a href="javascript:showPopup('/config/user_mgmt/{{ item.id }}/', 'wide');">
                            {% endif %}
                                {{ item.auditor_mgmt|yes:'<i class="fas fa-solid fa-check-circle"></i>' }}
                            </a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>

</div>
{%endblock%}

{% block page_javascript %}
<script>
    function showCreateUserControls() {
        $("#create-user-controls").fadeIn();
        $("#btn-show-controls").fadeOut();
    }

    function createUser() {
        var email = $("#id_email").val();
        var full_name = $("#id_full_name").val();
        var user_type = $("#id_user_type").val();

        var error_msg = "";
        if (email.length < 6) {
            error_msg += "Email is required\n";
        }

        if (full_name.length < 6) {
            error_msg += "User's full name is required\n";
        }

        if (user_type != "0" && user_type != "1" && user_type != "2" && user_type != "3" && user_type != "4") {
            error_msg += "User type is required";
        }

        if (error_msg != "") {
            alert(error_msg);
        }
        else {
            $("#btn-create-user").fadeOut();
            window.location = "/config/user_mgmt/create_user/" + email + "/" + full_name + "/" + user_type + "/";
        }

        
    }

</script>
{% endblock %}
