<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-12">
            <h2>{{title}}</h2>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class="col-6">
            <div class='row margin-top-2'>
                <div class="col-12">
                    <h3>Restrict Client
                        <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/config/restrict_client/');">
                            Create Client Restriction
                        </a>
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class='col-12'>
                    <table class="{{ table_class }}" data-order='[[0, "asc"]]'>
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Client</th>
                            </tr>
                        </thead>
                        {% if client_data %}
                        <tbody>
                            {% for item in client_data %}
                            <tr>
                                <td>
                                    <a href="javascript:showPopup('/config/restrict_client/{{ item.id }}/');">{{ item.userconfig }}</a>                                    
                                </td>

                                <td>
                                    <a href="javascript:showPopup('/config/restrict_client/{{ item.id }}/');">{{ item.client }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>

        </div>

        <div class="col-6">
            <div class='row margin-top-2'>
                <div class="col-12">
                    <h3>Restrict URL
                        <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/config/restrict_url/');">
                            Create URL Restriction
                        </a>
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class='col-12'>
                    <table class="{{ table_class }}">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>URL</th>
                            </tr>
                        </thead>
                        {% if url_data %}
                        <tbody>
                            {% for item in url_data %}
                            <tr>
                                <td><a href="javascript:showPopup('/config/restrict_url/{{ item.id }}/');">{{ item.userconfig }}</a></td>
                                <td><a href="javascript:showPopup('/config/restrict_url/{{ item.id }}/');">{{ item.url }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>

        </div>

    </div>


    

</div>
{%endblock%}
