<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<div class='container'>
<div class="row">
	<div class="col-lg-12 col-md-12">

		<h2>{{ title }}</h2>
		{% if not popup %}
        <h3>{{ subtitle }}</h3>
        {%endif%}

        {% if alerts and request.user_type == '1' %}
        <h4 class="margin-top-4">Alerts</h4>
        <ul>
        {% for alert in alerts %}
            <li><a href='{{alert.0}}' target='_blank'>{{alert.1}}</a></li>
        {%endfor%}
        </ul>
        {%endif%}


        <p>
            <a href="/config/changelog/">Changelog</a>
        </p>

        <p>
    		{% if request.user_type == '1'%}
    		
                {% if request.user.is_staff %}
                    <a href="/admin/" target="_blank">Admin</a><br>
                {% endif %}
    		    <a href="/config/audit_trail/">Audit Log</a><br>
            
            {% endif %}

            {% if request.user.userconfig.access_user_mgmt %}
                <a href="/config/user_mgmt/">User Management</a><br>
            {% endif %}

        </p>

        <p>
            <a href="/external/sharedlink/manage/">Manage Shared Links</a>
        </p>


        <a href="/accounts/password_reset/" target="_blank">
            Click here to reset your password.
        </a>

        

        <form id="frm" method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <div style="width: 100%; float:left;">
                <p class="mt-4 mb-4" style="padding-left:0.25rem;">

                </p>
            </div>
            {% include "form_buttons.html" %}
        </form>


		


        



		
	</div>
</div>


{% endblock %}

