<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load nova_tags %}
{% block content %}
<div class='container'>
    <div class="row justify-content-center">
    	<div class="col-md-12">
    		<h2>Filter Vendors</h2>
    		<form id="frm" method="post" action="">
    			{% csrf_token %}
    			{{ form.as_p }}
    			{% include "form_buttons.html" with filter=True %}
    		</form>
    	</div>
    </div>

    <div class='row margin-top-4'>
        <div class="col-12">
            <h2>Vendors
                <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/config/vendor/new/');">Create Vendor</a>
            </h2>
        </div>
        <div class="col-md-12 text-right">
            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv/?report_id={{report_id}}&report_name=Vendor_index">
                Download as CSV
            </a>
        </div>
    </div>
</div>

<div class='container'>
    <div class="row margin-top-1">
        <div class='col-12'>
        	<table class="{{ table_class }}">
        		<thead>
        			<tr>
        				<th>Active</th>
                        <th>ETF</th>
        				<th>Name</th>
        				<th>Number</th>
        				<th>City</th>
        				<th>Street</th>
                        <th>Notes</th>
        			</tr>
        		</thead>

        		{% if data %}
        		<tbody>

        			{% for item in data %}
        			<tr>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/config/vendor/{{ item.id }}/');" >{{ item.active|yesno }}</a></td>
        			<td><a class="active-{{item.active}}" href="javascript:showPopup('/config/vendor/{{ item.id }}/');" >{{ item.etf_payment|yesno }}</a></td>
        			<td><a class="active-{{item.active}}" href="javascript:showPopup('/config/vendor/{{ item.id }}/');" >{{ item.name }}</a></td>
        			<td><a class="active-{{item.active}} monospace" href="javascript:showPopup('/config/vendor/{{ item.id }}/');" >{{ item.vendor_number }}</a></td>
        			<td><a class="active-{{item.active}}" href="javascript:showPopup('/config/vendor/{{ item.id }}/');" >{{ item.city }}</a></td>
        			<td><a class="active-{{item.active}}" href="javascript:showPopup('/config/vendor/{{ item.id }}/');" >{{ item.street }}</a></td>
                    <td><a class="active-{{item.active}}" href="javascript:showPopup('/config/vendor/{{ item.id }}/');" >{{ item.notes|default:'' }}</a></td>

        			</tr>
        			{% endfor %}
        		</tbody>
        		{% endif %}
        	</table>

        </div>
    </div>
</div>

{%endblock%}
