<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<style>
    label[for=id_name]::after {
        content: "if this is an individual please use the Last, First format";
    }
</style>

<div class='container{% if popup%}-fluid{%endif%}'>
    <div class="row">
    	<div class="col-12">
    		<h3>{{ title }}</h3>
    		<form id="frm" method="post" action="">
                {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
    			{% csrf_token %}
    			{{ form.as_p }}
    			{% include "form_buttons.html" %}
    		</form>
    	</div>
    </div>
</div>

{%endblock%}


{% block page_javascript %}
<script>
    $(document).ready(function(){
        $("#id_name").focusout(function(){
            if ($(this).val()) {
                check_if_exist("vendor","name", $(this).val(), "{{instance.id}}")                
            }
        });
    });
</script>
{% endblock %}