<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}

<form id="frm" class="frm-emr-form" method="post" action="">
    {% csrf_token %}

    <p>
        {{ form.date.label_tag }}
        {{ form.date }}
    </p>

    <p class="w50">
        {{ form.legal_status.label_tag }}
        {{ form.legal_status }}
    </p>

    <p class="w50 clear-left">
        {{ form.pregnant.label_tag }}
        {{ form.pregnant }}
    </p>

    <p class="w50 clear-left">
        {{ form.pregnant_dtl.label_tag }}
        {{ form.pregnant_dtl }}
    </p>

    <p class="w100">
        {{ form.iv_drug_use.label_tag }}
        {{ form.iv_drug_use }}
    </p>

    <p class="w33">
        {{ form.mh.label_tag }}
        {{ form.mh }}
    </p>

    <p class="w33">
        {{ form.aoda.label_tag }}
        {{ form.aoda }}
    </p>

    <p class="w33">
        {{ form.mh_and_aoda.label_tag }}
        {{ form.mh_and_aoda }}
    </p>

    <p class="w100">
        {{ form.insurance_info.label_tag }}
        {{ form.insurance_info }}
    </p>

    <p class="w100">
        <table class="listview-table-no-order-no-search">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Provider</th>
                        <th>Group</th>
                        <th>Subscriber</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                {% if insurance_data %}
                <tbody>
                    {% for item in insurance_data %}
                    <tr>
                        <td>
                            <a href="javascript:showPopup('/client/insurance/{{ item.id }}/');">
                                {{ item.get_insurance_type_display }}
                            </a>
                        </td>

                        <td>
                            <a href="javascript:showPopup('/client/insurance/{{ item.id }}/');">
                                {{ item.provider_name|default:'' }}
                            </a>
                        </td>


                        <td>
                            <a href="javascript:showPopup('/client/insurance/{{ item.id }}/');">
                                {{ item.group_number|default:''  }}
                            </a>
                        </td>

                        <td>
                            <a href="javascript:showPopup('/client/insurance/{{ item.id }}/');">
                                {{ item.subscriber_id|default:''  }}
                            </a>
                        </td>

                        <td>
                            <a href="javascript:showPopup('/client/insurance/{{ item.id }}/');">
                                {{ item.notes|default:''  }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
    </p>

    <p class="w100 mt-4">
        {{ form.adtl_info.label_tag  }}
        {{ form.adtl_info }}
    </p>

    <p class="w100">
        {% comment %}

        {% endcomment %}

    </p>

    <p class="w100 mt-4">
        {{ form.linked_docs.label_tag }}
        {{ form.linked_docs }}
    </p>

    {% include "form_buttons.html" %}
</form>




