<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<form id="frm" class="frm-emr-form" method="post" action="">
    {% csrf_token %}

    <p>
        {{ form.date.label_tag}}
        {{ form.date }}
    </p>


    <p class="w15">
        {{ form.ref_source.label_tag}}
        {{ form.ref_source }}
    </p>
    <p class="w20">
        {{ form.ref_agency_name.label_tag}}
        {{ form.ref_agency_name }}
    </p>
    <p class="w20">
        {{ form.ref_name.label_tag}}
        {{ form.ref_name }}
    </p>
    <p class="w15">
        {{ form.ref_phone.label_tag}}
        {{ form.ref_phone}}
    </p>
    <p class="w5">
        {{ form.ref_phone_ext.label_tag }}
        {{ form.ref_phone_ext }}

    </p>
    <p class="w25">
        {{ form.ref_email.label_tag }}
        {{ form.ref_email }}
    </p>

    <p class="w40">
        {{ form.ref_other_name.label_tag }}
        {{ form.ref_other_name }}
    </p>
    <p class="w45">
        {{ form.ref_other_relation.label_tag}}
        {{ form.ref_other_relation }}
    </p>

    <p class="w25">
        {{ form.legal_status.label_tag }}
        {{ form.legal_status }}
    </p>
    <p class="w50">
        {{ form.guardian_name.label_tag }}
        {{ form.guardian_name }}
    </p>
    <p class="w20">
        {{ form.guardian_phone.label_tag }}
        {{ form.guardian_phone }}
    </p>
    <p class="w5">
        {{ form.guardian_phone_ext.label_tag }}
        {{ form.guardian_phone_ext }}
    </p>

    <p class="w100">
        {{ form.ref_for_out.label_tag }}
        {{ form.ref_for_out }}
    </p>

    <p class="w100 ml-2">
        {{ form.ref_for_out_mh.label_tag }}
        {{ form.ref_for_out_mh }}
    </p>

    <p class="w100 ml-2">
        {{ form.ref_for_out_su.label_tag }}
        {{ form.ref_for_out_su }}
    </p>

    <p class="w100">
        {{ form.ref_for_other.label_tag }}
        {{ form.ref_for_other }}
    </p>

    <p class="w100">
        {{ form.ref_reason.label_tag }}
        {{ form.ref_reason }}
    </p>





    <p class="w100 mt-4">
        {{ form.linked_docs.label_tag }}
        {{ form.linked_docs }}
    </p>




    {% include "form_buttons.html" %}
</form>