<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<form id="frm" class="frm-emr-form" method="post" action="">
    {% csrf_token %}

    <p>
        {{ form.date.label_tag}}
        {{ form.date }}
    </p>
    <p class="w50">
        {{ form.ref_worker.label_tag }}
        {{ form.ref_worker }}
    </p>

    <p class="w20">
        {{ form.legal_status.label_tag }}
        {{ form.legal_status }}
    </p>
    <p class="w50">
        {{ form.guardian_name.label_tag }}
        {{ form.guardian_name }}
    </p>
    <p class="w20">
        {{ form.guardian_phone.label_tag }}
        {{ form.guardian_phone }}
    </p>
    <p class="w10">
        {{ form.guardian_phone_ext.label_tag }}
        {{ form.guardian_phone_ext }}
    </p>

    <div class="form-section hide-from-index">
        <p class="w50">
            {{ form.refto_op_bh.label_tag }}
            {{ form.refto_op_bh }}
        </p>
        <p class="w50 ml-2">
            {{ form.refto_mh.label_tag }}
            {{ form.refto_mh }}
        </p>
        <p class="w50 ml-2">
            {{ form.refto_sa.label_tag }}
            {{ form.refto_sa }}
        </p>

        <p class="w50">
            {{ form.refto_ccs.label_tag }}
            {{ form.refto_ccs }}
        </p>

        <p class="w50">
            {{ form.refto_csp.label_tag }}
            {{ form.refto_csp}}
        </p>

        <p class="w50">
            {{ form.refto_clts.label_tag }}
            {{ form.refto_clts }}
        </p>

        <p class="w50">
            {{ form.refto_clts_preadmit.label_tag }}
            {{ form.refto_clts_preadmit }}
        </p>

        <p class="w50">
            {{ form.refto_cst.label_tag }}
            {{ form.refto_cst }}
        </p>

        <p class="w50">
            {{ form.refto_crisis.label_tag }}
            {{ form.refto_crisis}}
        </p>

        <p class="w50">
            {{ form.refto_res_aoda.label_tag }}
            {{ form.refto_res_aoda }}
        </p>
    </div>

    <p class="w100">
        {{ form.expected_outcomes.label_tag }}
        {{ form.expected_outcomes }}
    </p>

    <p class="w100 mt-4">
        {{ form.linked_docs.label_tag }}
        {{ form.linked_docs }}
    </p>




    {% include "form_buttons.html" %}
</form>