
<span id="id_{{ widget.name }}_pretty"  name="{{ widget.name }}_pretty" class="form-control multiple-time-entry-widget"  {% include "django/forms/widgets/attrs.html" %}>
    <span class="multiple-entry-link" onclick="addTimeEntry();">Add time</span>
    <span class="multiple-entry-items"></span>
</span>

<input id="id_{{widget.name}}" name="{{ widget.name }}" type="hidden" value="{% if widget.value %}{{ widget.value }}{% endif %}" />

<script type="text/javascript">


function addTimeEntry() {
    const hiddenEle = document.getElementById("id_{{ widget.name }}");
    const prettyEle = document.getElementById("id_{{ widget.name }}_pretty");
    const startEle = document.getElementById(prettyEle.getAttribute("start_time"));
    const endEle = document.getElementById(prettyEle.getAttribute("end_time"));
    const totalEle = document.getElementById(prettyEle.getAttribute("total_id"));

    //console.log("Start and end:", startEle.value, endEle.value);


    if (validateTimeEntry(startEle, endEle)) {
        startEle.classList.remove('validation-error');
        startEle.labels[0].classList.remove('validation-error');
        endEle.classList.remove('validation-error');
        endEle.labels[0].classList.remove('validation-error');
    }
    else {
        return;
    }

    // Make sure to apply the data-exclude="total_minutes" tag to the start and end
    // elements. This will prevent the get_total_minutes() function from using
    // these fields to update the service_minutes field. This must be done
    // because using the start and end fields with the widget causes all sorts
    // of technical issues and is not intuitive to the end user.
    startEle.setAttribute("data-exclude", "total_minutes");
    endEle.setAttribute("data-exclude", "total_minutes");


    const newEntry = {
        start: startEle.value,
        end: endEle.value
    }


    if (hiddenEle.value) {
        const timeEntries = JSON.parse(hiddenEle.value);

        const dupeFound = timeEntries.some(entry =>
            // Cant have dupes
            newEntry.start == entry.start ||
            newEntry.end == entry.end ||

            // Can't have any start or end times be the same
            newEntry.start == entry.end ||
            newEntry.end == entry.start ||

            // Make sure the entry's end time doesn't fall between any other entries
            (newEntry.end > entry.start && newEntry.end < entry.end) ||

            // Make sure the entry's start time doesn't fall between any other entries
            (newEntry.start > entry.start && newEntry.start < entry.end) ||

            // Make sure the entry doesn't cover another
            (newEntry.start < entry.start && newEntry.end > entry.end) ||

            // Make sure the entry isn't covered
            (newEntry.start > entry.start && newEntry.end < entry.end)
        );


        if (!dupeFound) {
            timeEntries.push(newEntry);
            hiddenEle.value = JSON.stringify(timeEntries);
        }
        else {
            startEle.classList.add('validation-error');
            startEle.labels[0].classList.add('validation-error');
            endEle.classList.add('validation-error');
            endEle.labels[0].classList.add('validation-error');
            return;
        }

    }
    else {
        hiddenEle.value = JSON.stringify([newEntry]);
    }

    startEle.value = null;
    endEle.value = null;

    // Finally need to call renderTimeEntries to make them show up nice
    // and pretty in the prettyElement
    renderTimeEntries(hiddenEle);
}






document.addEventListener("DOMContentLoaded", function() {
    const hiddenEle = document.getElementById("id_{{ widget.name }}");
    const prettyEle = document.getElementById("id_{{ widget.name }}_pretty");
    const startEle = document.getElementById(prettyEle.getAttribute("start_time"));
    const endEle = document.getElementById(prettyEle.getAttribute("end_time"));
    const totalEle = document.getElementById(prettyEle.getAttribute("total_id"));

    // Validation for the dev in case they forgot to include start_time and end_time
    if (!startEle) {
        console.error("Could not find an element with the ID of '"+prettyEle.getAttribute("start_time")+"'")
    }

    else if (!endEle) {
        console.error("Could not find an element with the ID of '"+prettyEle.getAttribute("end_time")+"'")
    }

    else if (!startEle || !endEle) {
        console.error("Make sure you have the start_time and end_time attributes set in your MultipleTimeEntryWidget widget in forms.py. These are the IDs of the time widgets that the user will input their start and end times.");
    }

    else if (!totalEle) {
        console.error("Make sure you have the total_id attribute set in your MultipleTimeEntryWidget widget in forms.py. Its value is the ID of the element that displays the total time in minutes for all the times added to this widget.");
    }
    else if (hiddenEle.value) {
        renderTimeEntries(hiddenEle, prettyEle);
    }

});









</script>
