{% extends "admin/base.html" %}

{% block title %}Admin - NOVA{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a class='navbar-brand' href="{% url 'admin:index' %}">
        N<span style='color: #FF7733;'>O</span>VA
        <span style='font-weight:100'>Administration</span>
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
