<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>


<div class='row'>
    <div class="col-md-12">
        <h4>Address
            <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/client/address/new/?client={{instance.id}}');">
                Create Address
            </a>
            <a id="btn-show-inactive-addresses" class="btn btn-sm btn-secondary btn-delete ml-4" href="javascript:showInactiveAddresses();">
                Show Inactive
            </a>
        </h4>
    </div>
</div>

<div class="row">
    <div class='col-12'>
    	<table class="listview-table-no-order-no-search">
    		<thead>
    			<tr>
                    <th>Type</th>
                    <th>Address</th>
                    <th>Note</th>
    			</tr>
    		</thead>
    		{% if address_data %}
    		<tbody>
    			{% for item in address_data %}
    			<tr {% if item.active is False %}style="display: none;" class="inactive-address"{% endif %}>
                    <td><a class='active-{{item.Active}}' href="javascript:showPopup('/client/address/{{ item.id }}/');" >{{item.get_address_type}}{% if item.active is False%} (inactive){% endif %}</a></td>
    				<td><a class='active-{{item.Active}}' href="javascript:showPopup('/client/address/{{ item.id }}/');" >{{ item.get_long_address }}{% if item.client.is_homeless %} (homeless){% endif %}</a></td>
                    <td><a class='active-{{item.Active}}' href="javascript:showPopup('/client/address/{{ item.id }}/');" >{{ item.note|default:'' }}</a></td>

                </tr>
    			{% endfor %}
    		</tbody>
    		{% endif %}
    	</table>
    </div>
</div>


