<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>

<div class='row margin-top-2'>
    <div class="col-md-12">
        <h3>Assigned Staff
            <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/client/assigned_staff/{{ client.id }}/');">
                Change Assigned Staff
            </a>
        </h3>
    </div>
</div>

<div class="row">
    <div class='col-12'>
    	<table class="listview-table-no-order-no-search">
    		<thead>
    			<tr>
                    <th>Name</th>
    			</tr>
    		</thead>
    		{% if assigned_staff_data %}
    		<tbody>
    			{% for item in assigned_staff_data %}
    			<tr>
                    <td><a href="javascript:showPopup('/client/assigned_staff/{{ client.id }}/');" >{{ item }}</a></td>
                </tr>
    			{% endfor %}
    		</tbody>
    		{% endif %}
    	</table>
    </div>
</div>


