<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container'>

<div class='row margin-top-2'>
    <div class="col-md-12">
        <h4>{{title}}</h4>
    </div>
</div>


{% for note in notes %}
<div class="row margin-top-1">
    <div class='col-12'>
        <p class="bold">
            {{note.date|date:'m/d/Y'}}<br>
            {{note.hours}} hours {{note.minutes}} minutes            
        </p>
        <p>
            {% if note.note %}
            {{ note.note|safe }}
            {% else %}
            No text to display
            {% endif %}
        </p>
    </div>
</div>
{% endfor %}

</div>
{%endblock%} 
