<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<style>
label[for='id_note']::after{ content:"Ctrl+right-click to access QuickPicks"; }
</style>

<div class='breadcrumb'>
    <div class='container'>
        <a href="{% url 'client:client_index' %}">All Clients</a>
        <a href="{% url 'client:me_index' %}">My Clients</a>
        {% if instance and instance.pps_epi_uuid is None %}
        <a href="/client/{{instance.client.id}}/">{{instance.client.name}}</a>
        <a href="/client/case_notes_index/{{instance.client.id}}/">Case Notes</a>
        {{instance}}
        {%endif%}



        {% if instance and instance.pps_epi_uuid %}
        <a href="/client/{{instance.client.id}}/">{{instance.client.name}}</a>
        <a href="/client/pps_epi_sort/{{instance.pps_epi_uuid}}/">{{instance.get_pps_epi_name}}</a>

        {{instance}}
        {% endif %}

        {% if instance is None %}
        <a href="/client/{{parent.id}}/">{{parent.name}}</a>
        New Case Note
        {% endif %}
    </div>
</div>


<div class='container'>
<div class="row">
	<div class="col-12">
		<h3>{{ title }}
            {% if instance.is_open %}
            <a class='ml-4 mb-2 btn btn-sm btn-secondary' href="javascript:closeCaseNote();">
                {% if instance.pps_epi_uuid %}Close {{instance.get_pps_epi_name }} Service{% else %}Close Case Note{% endif %}
            </a>
            {% elif instance.is_open == False %}
            <a class='ml-4 mb-2 btn btn-sm btn-secondary' href="javascript:showSignatureStatus();" alt="Click for signature status">
                {% if instance.pps_epi_uuid %}PPS Service is Closed{% else %}Case Note is Closed{% endif %} as of {{instance.get_signature_datetime|date:'m/d/Y P'}}
                <span class="signature-status">
                    and signature is {% if instance.verify_signature %}valid{% else %}INVALID{% endif %}
                </span>
            </a>

            <a class='ml-4 mb-2 btn btn-sm btn-secondary' href="javascript:reopenCaseNote('{{instance.id}}');">
              Reopen Case Note
            </a>
            {%endif%}
        </h3>
        {% if parent %}
        <h5><a href='/client/{{parent.id}}/'>{{parent}}</a></h5>
        {%endif%}
      </div>
    </div>

  <div class="row">
    <div class="col-12">
		  <form id="frm" class='frm-emr-form' method="post" action="">
            {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
			{% csrf_token %}
			{{ form.as_p }}
			{% include "form_buttons.html" %}
		</form>
    
	</div>
</div>
{% if 'New' not in title %}
    {% include 'client/casenote_file_index.html' %}
{%endif%}
</div>



{%endblock%}

{% block page_javascript %}
<script>

jQuery.fn.extend({
insertAtCaret: function(myValue){
  return this.each(function(i) {
    if (document.selection) {
      //For browsers like Internet Explorer
      this.focus();
      var sel = document.selection.createRange();
      sel.text = myValue;
      this.focus();
    }
    else if (this.selectionStart || this.selectionStart == '0') {
      //For browsers like Firefox and Webkit based
      var startPos = this.selectionStart;
      var endPos = this.selectionEnd;
      var scrollTop = this.scrollTop;
      this.value = this.value.substring(0, startPos)+myValue+this.value.substring(endPos,this.value.length);
      this.focus();
      this.selectionStart = startPos + myValue.length;
      this.selectionEnd = startPos + myValue.length;
      this.scrollTop = scrollTop;
    } else {
      this.value += myValue;
      this.focus();
    }
  });
}
});


$('#id_note').mousedown(function(event){
	if (event.which != 3 || event.ctrlKey != true){
		$(document).contextmenu = null;
		$(document).contextmenu({
			delegate: "#id_note",
			autoTrigger: false,
			menu: [
				{{ quickpicks|safe }}
				],
			select: function(event, ui) {
				//console.log("select " + ui.cmd + " on " + ui.target.text());
				ui.target.insertAtCaret(ui.cmd);
			},
			beforeOpen: function(event, ui){
				//console.log(event);
				//console.log(ui);
			},
		});
		return;
	}

	$(document).contextmenu({
		delegate: "#id_note",
		autoTrigger: true,
		menu: [
			{{ quickpicks|safe }}
			],
		select: function(event, ui) {
			//console.log("select " + ui.cmd + " on " + ui.target.text());
			ui.target.insertAtCaret(ui.cmd);
		},
		beforeOpen: function(event, ui){
			//console.log(event);
			//console.log(ui);
		},
	});


});

</script>
{%endblock%}
