<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>

<div class='container'>
    <div class='row margin-top-4'>
        <div class="col-md-12">
            {% if client %}
            <h3>Case Note
                {% if request.user.userconfig.view_only is False  %}
                <a class="btn btn-sm btn-secondary ml-4" href="/client/casenote/new/?client={{client.id}}">
                    Create Case Note
                </a>
                {% endif %}

                <a class="btn btn-sm btn-secondary ml-4" href="/client/casenote/view_all/{{client.id}}/">
                    View All Case Notes for {{client.name}}
                </a>
            </h3>
            {%else%}
            {% if casenote_data %}
                <h4>Recent Case Notes</h4>
                {% endif %}
            {%endif%}
        </div>
    </div>
</div>

{% if casenote_data %}
<div class='container'>
    <div class="row margin-top-1">
        <div class='col-12'>
        	<table class="listview-table-no-order-no-search">
        		<thead>
        			<tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Caseworker</th>
                        {% if not client %}<th>Client</th>{%endif%}
        				<th>Service</th>
        				<th>Diagnosis</th>
        			</tr>
        		</thead>
        		
        		<tbody>
        			{% for item in casenote_data %}
        			<tr>
                        <td class='nowrap'><a class='monospace active-{{item.is_open}}' href="/client/casenote/{{ item.id }}/"><span class='d-none'>{{ item.date | date:'Ymd' }}</span>{{ item.date | date:'m/d/Y' }}</a></td>
                        <td class='nowrap'><a class='monospace active-{{item.is_open}}' href="/client/casenote/{{ item.id }}/">{{item.get_time}}</a></td>
                        <td><a class='active-{{item.is_open}}' href="/client/casenote/{{ item.id }}/">{{ item.get_signer_user }}</a></td>
   {% if not client %}<td><a class='active-{{item.is_open}}' href="/client/casenote/{{ item.id }}/">{{ item.client }}</a></td>{%endif%}
                        <td><a class='active-{{item.is_open}}' href="/client/casenote/{{ item.id }}/">{% if item.is_open is False %}[Closed] {%endif%}{{ item.service }}</a></td>
        				<td><a class='active-{{item.is_open}}' href="/client/casenote/{{ item.id }}/">{{ item.diagnosis }}</a></td>
                    </tr>
        			{% endfor %}
        		</tbody>
        		
        	</table>
        </div>
    </div>
</div>
{% endif %}
