<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% if instance and instance.pps_epi_uuid is None %}
<div class='row margin-top-4'>
    <div class="col-md-12">
        <h4>Case Note File

            {% if locked is False %}
            <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/client/casenote_file/new/?casenote={{instance.id}}', true);">
                Upload Case Note File {{instance.pps_epi_uuid}}
            </a>
            {%endif%}

        </h4>
    </div>
</div>

<div class="row margin-top-1">
    <div class='col-12'>
    	<table class="listview-table-no-order-no-search">
    		<thead>
    			<tr>
                    <th>File</th>
                    <th>Title</th>
    			</tr>
    		</thead>
    		{% if file_data %}
    		<tbody>
    			{% for item in file_data %}
    			<tr>
                    <td><a href="javascript:showPopup('/client/casenote_file/{{ item.id }}/');" >{{ item.cn_file.name }}</a></td>
                    <td><a href="javascript:showPopup('/client/casenote_file/{{ item.id }}/');" >{{ item.description }}</a></td>
                </tr>
    			{% endfor %}
    		</tbody>
    		{% endif %}
    	</table>
    </div>
</div>
{%endif%}
