<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-12">
            <h4>{{title}}</h3>

            {% if request.user.last_login %}
            <p>
                Logged in as {{request.user.userconfig.full_name}}<br>
            </p>
            {% endif %}

        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row margin-top-2">
        <div class="col-3">
            <h5 style="clear: both;">Client Lookup</h5>
            <p class="d-block">
                <input type="text" name="client_lookup" class="lookup form-control ui-autocomplete-input" app="client" mod="Client" fields="last_name, first_name, id, birthdate" order="last_name, first_name" target="client" autocomplete="off" id="instant_client_lookup">
            </p>

            <br>
            <h5 style="clear: both;">
                <a class="hide-link" href="/client/me/">My Clients</a> |
                <a class='hide-link' href="{% url 'client:client_index' %}">All Clients</a>
            </h5>



            <table class="listview-table-no-order-no-search">
                <thead>
                    <th></th>
                </thead>
                <tbody>
                    {% for client in my_clients %}
                    <tr>
                        <td><a href="/client/{{client.id}}/">{{client}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br><br>
            <h5><a class="hide-link" href="/client/me/">Recent Clients</a></h5>

            <table class="listview-table-no-order-no-search">
                <thead>
                    <th></th>
                </thead>
                <tbody>
                    {% for client in request.user.userconfig.recent_clients %}
                    <tr>
                        <td><a href="/client/{{client.id}}/">{{client.name}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-5">
            <h5><a class="hide-link" href="/report/emr_case_note_report_my_open/">Open Forms</a></h5>

            <table class="listview-table-no-order-no-search">
                <thead>
                    <tr>
                        <th>Episode</th>
                        <th>Form</th>
                        <th>Client</th>                        
                        <th>Created on</th>
                        <th>Updated on</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in open_forms %}
                        <tr>
                            <td><a href="/client/emr_form/{{ item.id }}/">{{item.emrepisode.get_episode_type_pretty}}</a></td>
                            <td><a href="/client/emr_form/{{ item.id }}/">{{item.emrformtype.name}}</a></td>
                            <td><a href="/client/emr_form/{{ item.id }}/">{{item.emrepisode.client}}</a></td>
                            <td><a href="/client/emr_form/{{ item.id }}/">{{item.created_at|date:'m/d/Y'}}</a></td>
                            <td><a href="/client/emr_form/{{ item.id }}/">{{item.updated_at|date:'m/d/Y'}}</a></td>
                         </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br><br>


            <h5>
                <a class="hide-link" href="/report/emr_case_note_report_my_open/">Routes</a>
                <small class="float-right small"><a id='show-complete-routes-toggle' href="javascript:showCompletedRoutes()">Show completed</a></small>
            </h5>
            <table class="listview-table-no-order-no-search">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Details</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for route in routes %}
                        {% if route.get_resource %}
                            <tr id="route-{{route.id}}" class='route-item {%if route.completed_at %}complete d-none{% endif %}'>
                                <td><a href="{{route.get_resource.default_url}}">{{route.created_at|date:'m/d/Y'}}</a></td>
                                <td><a href="{{route.get_resource.default_url}}">
                                    {% if route.created_by == request.user %}
                                        You
                                    {% else %}
                                        {{ route.get_created_by }}
                                    {% endif %}
                                </a></td>
                                <td><a href="{{route.get_resource.default_url}}">
                                    {% if route.assigned_to == request.user %}
                                        You
                                    {% else %}
                                        {{ route.assigned_to.userconfig.full_name }}
                                    {% endif %}
                                </a></td>
                                <td><a href="{{route.get_resource.default_url}}">{{route.get_details}}</a></td>
                                <td><a id="route-{{route.id}}-status" href="{{route.get_resource.default_url}}">{{route.get_status}}</a></td>
                                <td>
                                    {% if request.user == route.assigned_to %}
                                        <a class='text-right' href="javascript:completeRoute({{route.id}})">
                                            <span class='icon fas route fa-check'></span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>



            <br><br>
            <div class="row">
                <div class="col-6">
                    <h5><a class="hide-link" href="/report/">Program Reports</a></h5>
                    <table class="listview-table-no-order-no-search">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        {% if program_reports %}
                        <tbody>
                            {% for report in program_reports %}
                            <tr>
                                <td><a href="/report/{{report.url}}/" >{{ report.name }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>



                <div class="col-6">
                    <h5><a class="hide-link" href="/report/">Financial Reports</a></h5>
                    <table class="listview-table-no-order-no-search">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        {% if all_reports %}
                        <tbody>
                            {% for report in all_reports %}
                            <tr>
                                <td><a href="/report/{{ report.url}}/" >{{report.name}}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>


            </div>

            <br><br>
            
        </div>

        <div class="col-4">
            <h5>Messages
                <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/client/emr_message/');">
                    Create Message
                </a>
            </h5>
            {% for emr_message in emr_messages %}
            <p class="small">
                <a class="hide-link" href="javascript:showPopup('/client/emr_message/{{emr_message.id}}');">
                    <em>Last updated on {{emr_message.updated_at|date:"m/d/Y"}} by {{emr_message.updated_by.userconfig.full_name}}
                    {% if emr_message.expires_at %}
                    <br>Expires on {{emr_message.expires_at|date:"m/d/Y"}}
                    {% endif %}
                </em>
                </a>
            </p>
            
            <p>                
                {{emr_message.message|linebreaks}}
            </p>  
            <hr>
            {% endfor %}   

            <p><a id="btn_show_expired" class="btn btn-sm btn-secondary btn-delete" href="javascript:showExpiredMessages();">Show Expired Messages</a></p>
            <div id="expired_messages" class="margin-top-2 active-False" style="display: none;">
                <h5 class="active-False margin-bottom-2">Expired Messages</h5>
                {% for emr_message in expired_messages %}
                <p class="small active-False">
                    <a class="hide-link active-False" href="javascript:showPopup('/client/emr_message/{{emr_message.id}}');">
                        <em>Last updated on {{emr_message.updated_at|date:"m/d/Y"}} by {{emr_message.updated_by.userconfig.full_name}}
                        {% if emr_message.expires_at %}
                        <br>Expired on {{emr_message.expires_at|date:"m/d/Y"}}
                        {% endif %}
                    </em>
                    </a>
                </p>
                
                <p>                
                    {{emr_message.message|linebreaks}}
                </p>  
                <hr>
                {% endfor %}
            </div>


        </div>

    </div>
</div>


{%endblock%}
{% block page_javascript %}
<script>
    function showExpiredMessages() {        
        $("#btn_show_expired").fadeOut(50, function() {
            $("#expired_messages").fadeIn();
        });
    }
</script>

{% endblock %}