<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<div class="container client-ribbon">
    <a href="/client/{{client.id}}/" id="ribbon-item-facesheet" class="ribbon-item {% if client_tab == 'facesheet' %}active{%endif%}">
        Face Sheet
    </a>
    
    <a href="/client/emr_episodes/{{client.id}}/" id="ribbon-item-emr-episodes" class="ribbon-item {% if client_tab == 'emr_episodes' %}active{%endif%}">
        Episodes
    </a>
    
    <!--
    <a href="/client/pps_episodes/{{client.id}}/" class="ribbon-item {% if client_tab == 'pps_episodes' %}active{%endif%}">
        PPS Episodes
    </a>
    -->

    {% comment %}
        If the user is an auditor and they do not have the auditor_episode_type of 'b3'
        then they do not meed to see the legacy b3 link
    {% endcomment %}
    {% if request.user.userconfig.user_type == '4' and request.user.userconfig.auditor_episode_type is not None and request.user.userconfig.auditor_episode_type != 'b3' %}

    {% else %}
        <a href="/client/case_notes_index/{{client.id}}/" id="ribbon-item-b3-casenotes" class="ribbon-item {% if client_tab == 'case_notes' %}active{%endif%}">
            B-3 Case Notes
        </a>
    {% endif %}

    <a href="/client/state_forms/{{client.id}}/" id="ribbon-item-state-forms" class="ribbon-item {% if client_tab == 'state_forms' %}active{%endif%}">
        State Forms
    </a>

    {% comment %}
        Auditors do not need access to the client settings view
    {% endcomment %}
    {% if request.user.userconfig.user_type != '4' %}
        <a href="/client/client_settings/{{client.id}}/" id="ribbon-item-settings" class="ribbon-item {% if client_tab == 'settings' %}active{%endif%}">
            Settings
        </a>
    {% endif %}
</div>