<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <div class='row margin-top-4'>
        <div class="col-md-12">
            <h2>
                {% if request.user.userconfig.user_type != "4" %}
                    {% if show_inactive %}
                        Inactive Clients
                        <a class="btn btn-sm btn-secondary ml-4" href="/client/all/">View All Active Clients</a>
                        <a class="btn btn-sm btn-secondary" href="/client/me/">View My Clients</a>
                        <a class="btn btn-sm btn-secondary" href="/client/new/">Create Client</a>
                    {% else %}
                        {% if my_clients %}My{%else%}Active{%endif%} Clients
                        {% if my_clients %}<a class="btn btn-sm btn-secondary ml-4" href="/client/all/">View All Active Clients</a>{%else%}<a class="btn ml-4 btn-sm btn-secondary" href="/client/me">View My Clients</a>{%endif%}
                        <a class="btn btn-sm btn-secondary" href="/client/inactive/">View All Inactive Clients</a>
                        <a class="btn btn-sm btn-secondary" href="/client/new/">Create Client</a>
                    {% endif %}
                {% else %}
                    Clients
                {% endif %}

                
                
            </h2>
        </div>
    </div>
</div>

<div class='container'>
    <div class="row margin-top-1">
        <div class='col-12'>
        	<table class="{{ table_class }}" data-order='[[1, "asc"]]'>
        		<thead>
        			<tr>
                        <th>ID</th>
                        <th>Name</th>
        				<th>Birthdate</th>
        			</tr>
        		</thead>
        		{% if data %}
        		<tbody>
        			{% for item in data %}
        			<tr>
                        <td><a class='active-{{item.active}} monospace' href="/client/{{ item.id }}/" >{{ item.id }}</a></td>
                        <td><a class='active-{{item.active}}' href="/client/{{ item.id }}/" >{{ item.name }}</a></td>
            		    <td><a class='active-{{item.active}} monospace' href="/client/{{ item.id }}/" ><span class='d-none'>{{ item.birthdate|date:'Ymd' }}</span>{{ item.birthdate|date:'m/d/Y' }}</a></td>

                    </tr>
        			{% endfor %}
        		</tbody>
        		{% endif %}
        	</table>

        </div>
    </div>
</div>

{% if '/client/me/' in request.path %}
    {% include 'client/casenote_index.html' %}
{% endif %}

{%endblock%}
