<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% extends 'base.html' %}

{% block breadcrumb %}
<div class='breadcrumb'>
    <div class='container'>
        <a href="{% url 'client:client_index' %}">All Clients</a>
        <a href="{% url 'client:me_index' %}">My Clients</a>
            {{client.name}} ({{client.id}}){% if client.active is False %} (Inactive){% endif %}
    </div>
</div>
{% endblock %}



{% block content %}



{% include 'client/client_ribbon.html' %}


<div class="container">
    <div class="row">
        <div class="col-xl-6">
            <div class="row margin-top-2">
                <div class="col-12">
                    <h3>{{client.name}} is
                        {% if client.active %}
                        <u>Active</u>
                        {% else %}
                        <u>Inactive</u>
                        {% endif %}
                        </h3>

                        

                        {% if client.active %}

                            {% if client.get_open_episodes %}
                                <p>This client has open episodes and cannot be set to inactive.</p>
                            {% else %}
                                <a class="btn btn-sm btn-secondary btn-delete ml-4 margin-top-1" href="/client/set_inactive/{{ client.id }}/">
                                    Set Client to Inactive
                                </a>
                            {% endif %}


                        {% else %}
                            <a class="btn btn-sm btn-secondary ml-4 margin-top-1" href="/client/set_active/{{ client.id }}/">
                                Set Client to Active
                            </a>

                        {% endif %} 
                        

                </div>
            </div>
        </div>
        <div class="col-xl-6">
            {% include 'client/assignedstaff_index.html' %}
        </div>

        <div class="col-xl-6">
            {% include 'client/atp_index.html' %}
        </div>

        <div class="col-xl-6">
            {% include 'client/legal_name_index.html' %}
        </div>
    </div>
    
</div>

{% endblock %}
