<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}



{% block breadcrumb %}
<div class='breadcrumb'>
    <div class='container'>
        <a href="{% url 'client:client_index' %}">All Clients</a>
        <a href="{% url 'client:me_index' %}">My Clients</a>
        {% if instance %}{{instance}}{% if client.active is False %} (Inactive){% endif %}
        {%else%}New Client
        {%endif%}
    </div>
</div>
{% endblock %}


{% block content %}



{% if instance %}
    {% include 'client/client_ribbon.html' %}
{% endif %}

<div class='container'>
    <div class="row">
        <div class='col-lg-12'>
            <div class='row'>
            	<div class="col-12">
                    {% if not instance %}
            		<h2>{{ title }}</h2>
                    {% endif %}
                    <!--<h4>{{subtitle}}</h4>-->
            		<form id="frm" method="post" action="">
                        {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
            			{% csrf_token %}
            			{{ form.as_p }}

            			{% include "form_buttons.html" %}
            		</form>
            	</div>
            </div>
        </div>



        {% if instance.pastlegalname_set.all|length > 0 %}
            <div class="col-md-6 margin-top-2">
                {% if instance.pastlegalname_set.all|length > 1 %}
                        <h4>Past Legal Names</h4>
                {% else %}
                        <h4>Past Legal Name</h4>
                {% endif %}
                <table class="listview-table-no-order-no-search">
                    <thead>
                        <tr>
                            <th>Last</th>
                            <th>First</th>
                            <th>Middle</th>
                            <th>Date Changed</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in instance.pastlegalname_set.all %}
                        <tr>
                            <td><a href="/client/client_settings/{{instance.id}}">{{ item.last_name }}</a></td>
                            <td><a href="/client/client_settings/{{instance.id}}">{{ item.first_name }}</a></td>
                            <td><a href="/client/client_settings/{{instance.id}}">{{ item.middle_name }}</a></td>
                            <td><a href="/client/client_settings/{{instance.id}}">{{ item.date_changed|date:'m/d/Y' }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        <div class='col-lg-12 margin-top-4'>

            {% if instance %}
                {% include 'client/address_index.html' %}
                {% include 'client/contact_index.html' %}
                {% include 'client/insurance_index.html' %}
            {%endif%}
        </div>
    </div>
</div>

{% if request.user.userconfig.notes_under_demo %}
<div class='container'>
    <div class='row margin-top-4'>
        <div class="col-md-12">
            {% if client %}
            <h3>B-3 Case Notes
                <a class="btn btn-sm btn-secondary ml-4 exclude-edit-false" href="/client/casenote/new/?client={{client.id}}">
                    Create Case Note
                </a>

                <a class="btn btn-sm btn-secondary ml-4 exclude-edit-false" href="/client/casenote/view_all/{{client.id}}/">
                    View All Case Notes for {{client.name}}
                </a>
            </h3>
            {%else%}
            <h4>Recent Case Notes</h4>
            {%endif%}
        </div>
    </div>
</div>

<div class='container'>
    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table-no-order-no-search">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Caseworker</th>
                        {% if not client %}<th>Client</th>{%endif%}
                        <th>Service</th>
                        <th>Diagnosis</th>
                    </tr>
                </thead>
                {% if casenote_data %}
                <tbody>
                    {% for item in casenote_data %}
                    <tr>
                        <td class='nowrap'><a class='monospace active-{{item.is_open}}' href="/client/casenote/{{ item.id }}/"><span class='d-none'>{{ item.date | date:'Ymd' }}</span>{{ item.date | date:'m/d/Y' }}</a></td>
                        <td class='nowrap'><a class='monospace active-{{item.is_open}}' href="/client/casenote/{{ item.id }}/">{{item.get_time}}</a></td>
                        <td><a class='active-{{item.is_open}}' href="/client/casenote/{{ item.id }}/">{{ item.get_signer_user }}</a></td>
   {% if not client %}<td><a class='active-{{item.is_open}}' href="/client/casenote/{{ item.id }}/">{{ item.client }}</a></td>{%endif%}
                        <td><a class='active-{{item.is_open}}' href="/client/casenote/{{ item.id }}/">{% if item.is_open is False %}[Closed] {%endif%}{{ item.service }}</a></td>
                        <td><a class='active-{{item.is_open}}' href="/client/casenote/{{ item.id }}/">{{ item.diagnosis }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endif %}


{%endblock%}

{% block page_javascript %}
<script>
    $(document).ready(function() {

        {% if not instance %}
            duplicateNameDetect(
                id_first="id_first_name",
                id_last="id_last_name",
                id_birthdate="id_birthdate");
        {% endif %}

    });

    // We want to be able to keep the client face-sheet screen in edit-mode
    // until the user navigates away from it. People want to be able to make
    // changes to the client's address, contacts, and insurance without having
    // to keep re-enabling edit mode.
    var editSticky = window.localStorage.getItem("editSticky");

    if (editSticky == "true") {
        $("#btn-return").click(function() {
            window.localStorage.removeItem("editSticky");
        });

        $("input[name='delete']").click(function() {
            window.localStorage.removeItem("editSticky");
        });

        $("a").click(function() {
            // want to remove editSticky from local storage if the user is
            // navigating away from the facesheet. In this case any link
            // that is not the client, address, contact or insurance views
            var url = $(this).attr("href");
            var stayUrls = ["/client/address/", "/client/contact", "/client/insurance/"];
            var needsClearing = true;
            for (var item in stayUrls) {
                if (url.includes(stayUrls[item])) {
                    needsClearing = false;
                    break;
                }
            }

            if (needsClearing === true) {
                window.localStorage.removeItem("editSticky");
            }
        });
    }



    if (editSticky != "true" && getUrl("edit") != "true" && window.location.pathname != "/client/new/") {
        renderNoEdit();
        $("#ribbon-item-facesheet").attr("href", "?edit=true");

        $("#ribbon-item-facesheet").click(function() {
            window.localStorage.setItem("editSticky", "true");
        });
    }

    {% if request.user.userconfig.user_type == '4' %}
        /*
            Always want no edit for the auditors. Even though they cannot make
            any changes or press the save button, there's no reason these
            fields should be visible for them
        */
        renderNoEdit();
    {% endif %}

    function showInactiveAddresses() {
        $("#btn-show-inactive-addresses").fadeOut();
        $(".inactive-address").each(function() {
            $(this).fadeIn();
        });
    }


</script>

{% endblock %}