<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% load nova_tags %}

<div class='row margin-top-2'>
    <div class="col-md-12">
        <h4>Contact
            <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/client/contact/new/?client={{instance.id}}');">
                Create Contact
            </a>
        </h4>
    </div>
</div>

<div class="row">
    <div class='col-12'>
    	<table class="listview-table-no-order-no-search">
    		<thead>
    			<tr>
    				<th>Type</th>
    				<th>Name</th>
                    <th>Agency Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Note</th>
    			</tr>
    		</thead>
    		{% if contact_data %}
    		<tbody>
    			{% for item in contact_data %}
    			<tr>
    				<td><a class=' {% if item.active == False %}active-False{%endif%} ' href="javascript:showPopup('/client/contact/{{ item.id }}/');" >{{ item.get_type_of_contact_display }}</a></td>
                    <td><a class=' {% if item.active == False %}active-False{%endif%} ' href="javascript:showPopup('/client/contact/{{ item.id }}/');" >{{ item.get_name|default:'' }}</a></td>
    				<td><a class=' {% if item.active == False %}active-False{%endif%} ' href="javascript:showPopup('/client/contact/{{ item.id }}/');" >{{ item.agency_name|default:'' }}</a></td>
                    <td><a class=' {% if item.active == False %}active-False{%endif%} ' href="javascript:showPopup('/client/contact/{{ item.id }}/');" >{{ item.get_address|default:'' }}</a></td>
                    <td><a class=' {% if item.active == False %}active-False{%endif%} nowrap ' href="javascript:showPopup('/client/contact/{{ item.id }}/');" >
                        {{ item.phone|default:'' }}{{item.phone_ext|ext}}
                        {% if item.alt_phone %}
                            <br>
                            {{ item.alt_phone|default:'' }}{{item.alt_phone_ext|ext}}
                        {% endif %}

                        {% if item.fax %}
                            <br>
                            Fax: {{item.fax}}
                        {% endif %}
                    </a></td>
                    <td><a class=' {% if item.active == False %}active-False{%endif%} ' href="javascript:showPopup('/client/contact/{{ item.id }}/');" >{{ item.email|default:'' }}</a></td>
                    <td><a class=' {% if item.active == False %}active-False{%endif%} ' href="javascript:showPopup('/client/contact/{{ item.id }}/');" >{{ item.notes|default:'' }}</a></td>
                </tr>
    			{% endfor %}
    		</tbody>
    		{% endif %}
    	</table>
    </div>
</div>
