<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% extends 'base.html' %}

{% block breadcrumb %}
<div class='breadcrumb'>
    <div class='container'>
        <a href="{% url 'client:client_index' %}">All Clients</a>
        <a href="{% url 'client:me_index' %}">My Clients</a>
            {{client}}{% if client.active is False %} (Inactive){% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<style>
    .client-ribbon {
        border-bottom: none;
    }

    table.dataTable tbody td {
        border: none;
    }
</style>



{% include 'client/client_ribbon.html' %}
<div class="emr-episode-timeline">
    {% if request.user.userconfig.view_only is False  %}
    <div class="timeline-item">
        <a href="javascript:newEmrEpisode('{{client_id}}');">
            <span class="fas fa-plus-circle"></span>
            Create <br> Episode
            <br>
        </a>

        {% comment %}
            This is all on one line because I was fighting some issue
            with the browser rendering some white space and it was causing
            styling issues with the background color and the border having
            a gap on the active episode
        {% endcomment %}
    </div>{% endif %}{% for epi in grouped_episode_list %}<div class="timeline-item {% if epi.id == episode.id %}active{%endif%}"><a href="/client/emr_episodes/{{epi.client_id}}/{{epi.id}}/">{{epi.epi_type_pretty}}{% if epi.count > 1 %} ({{epi.count}}){% endif %}<br>{{epi.start|date:'m/d/Y'}}{% if epi.end and epi.has_open is True %} - Open{% else %} - {{ epi.end|date:'m/d/Y'}}{% endif %}<br></a></div>{% endfor %}</div>



<div class="emr-sidebar">
    <h5>{{episode.get_episode_type_pretty}} Documents</h5>
    <select id="emr-doc-type" class="emr-doc-type form-control" onchange="navigateEmrDocType(this, '{{episode.id}}')">
        <option value="0">----------</option>
        {% for dtype in emr_doc_types %}
            <option {% if doc_type.id == dtype.id %}selected{% endif %} value="{{dtype.id}}" >
                {{dtype.name}}{% if dtype.count%} ({{dtype.count}}){%endif%}
            </option>
        {% endfor %}
    </select>

    <h5 class="margin-top-2">{{episode.get_episode_type_pretty}} Forms</h5>
    <select id="emr-form-type" class="emr-form-type form-control" onchange="navigateEmrFormType(this, '{{episode.id}}')">
        <option value="0">----------</option>
        {% for frm_type in emr_form_types %}
            {% if note_type_id %}
                <option {% if frm_type.id == note_type_id %}selected{% endif %} value="{{frm_type.id}}">
                    {{frm_type.name}}{% if frm_type.count%} ({{frm_type.count}}){%endif%}
                </option>
            {% else %}
                <option {% if frm_type.id == form_type.id %}selected{% endif %} value="{{frm_type.id}}">
                    {{frm_type.name}}{% if frm_type.count%} ({{frm_type.count}}){%endif%}
                </option>
            {% endif %}

        {% endfor %}
    </select>

    {% comment %}
        If this is a Clinic Pre-Admit episode and the client also has a
        R&I episode open, then provide links to those documents and forms
    {% endcomment %}

    {% if episode.episode_type == "clinic_preadmit" and found_randi_id is not None %}

        <h5 class="margin-top-2">R &amp; I Documents</h5>
        <select id="emr-doc-type-randi" class="emr-doc-type form-control" onchange="navigateEmrDocType(this, '{{found_randi_id}}')">
            <option value="0">----------</option>
            {% for dtype in emr_doc_types_randi %}
            <option {% if doc_type.id == dtype.id %}selected{% endif %} value="{{dtype.id}}">
                {{dtype.name}}{% if dtype.count%} ({{dtype.count}}){%endif%}
            </option>
            {% endfor %}
        </select>

        <h5 class="margin-top-2">R &amp; I Forms</h5>
        <select id="emr-form-type-randi" class="emr-form-type form-control" onchange="navigateEmrFormType(this, '{{found_randi_id}}')">
            <option value="0">----------</option>
            {% for frm_type in emr_form_types_randi %}
                {% if note_type_id %}
                    <option {% if frm_type.id == note_type_id %}selected{% endif %} value="{{frm_type.id}}">
                        {{frm_type.name}}{% if frm_type.count%} ({{frm_type.count}}){%endif%}
                    </option>
                {% else %}
                    <option {% if frm_type.id == form_type.id %}selected{% endif %} value="{{frm_type.id}}">
                        {{frm_type.name}}{% if frm_type.count%} ({{frm_type.count}}){%endif%}
                    </option>
                {% endif %}

            {% endfor %}
        </select>

    {% endif %}


    
</div>

{% comment %}
    The resulting list of of forms/case notes depending on the type selected
    by the user.
{% endcomment %}
<div class="emr-container">
    {% if form_type %}
        <div class="row">
            <div class="col-md-12">
                <h4>{% if form_type.get_name == 'case note' %}
                        {% if note_type_id %}<span style="text-transform: capitalize;">{{note_type_id_pretty}}</span>{% endif %}
                        Case Notes
                    {% else %}
                        {% if episode.episode_type == 'tcm' and form_type.get_name == 'pps aoda admission' %}
                            PPS AODA Forms
                        {% elif episode.episode_type == 'tcm' and form_type.get_name == 'pps mental health admission' %}
                            PPS Mental Health Forms
                        {% elif episode.episode_type == 'cst' and form_type.get_name == 'pps mental health admission' %}
                            PPS Mental Health Forms
                        {% else %}
                            {{form_type.name}} Forms
                        {% endif %}
                    {% endif %}

                    {% if request.user.userconfig.view_only is False  %}
                        <a class="btn btn-sm btn-secondary ml-4" href="/client/emr_form/{{form_type.id}}/{{episode.id}}/">
                            Create {{form_type.name}}
                        </a>

                        {% if episode.episode_type == 'tcm' and form_type.get_name == 'pps aoda admission' %}
                            <a class="btn btn-sm btn-secondary ml-4" href="/client/emr_form/{{pps_discharge_formtype.id}}/{{episode.id}}/">
                                Create PPS AODA Discharge
                            </a>
                        {% elif episode.episode_type == 'tcm' and form_type.get_name == 'pps mental health admission' %}
                            <a class="btn btn-sm btn-secondary ml-4" href="/client/emr_form/{{pps_discharge_formtype.id}}/{{episode.id}}/">
                                Create PPS Mental Health Discharge
                            </a>
                        {% elif episode.episode_type == 'cst' and form_type.get_name == 'pps mental health admission' %}
                            <a class="btn btn-sm btn-secondary ml-4" href="/client/emr_form/{{pps_discharge_formtype.id}}/{{episode.id}}/">
                                Create PPS Mental Health Discharge
                            </a>
                        {% endif %}
                    {% endif %}
                </h4>
            </div>
        </div>
        <div class="row margin-top-1">
            <div class='col-12 '>

                {% if form_type.get_name == 'case note' %}
                    {% comment %}
                        This view is the main case note list view and is accessed
                        by selecting Case Note from the form menu on the left
                    {% endcomment %}
                    <table class="listview-table" data-order='[["2", "desc"]]'>
                        <thead>
                            <tr>
                                <th>Episode</th>
                                <th>Creator</th>
                                <th>Service Date</th>
                                <th>Note Completed</th>
                                <th>Closed By</th>
                                {% if episode.episode_type == "crisis" %}
                                    <th>Report</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in form_list %}
                                {% include 'client/emr_form_listview_item.html' %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'page_controls.html' %}



                {% elif form_type.get_name == "placement" %}
                    {% comment %}
                        Custom view for the TCM and Crisis placement forms. We want to
                        show the values in this form as columns and need to edit
                        this form via popup. The placement form is a bit different
                        than the others and also doesn't get finalized
                    {% endcomment %}
                    <table class="listview-table-no-search" data-order='[["1", "desc"]]'>
                        <thead>
                            <tr>
                                <th>Episode</th>
                                <th>Placement Dates</th>
                                <th>Name of Facility</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Notes</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in form_list %}
                            <tr>
                                <td><a href="javascript:showPopup('/client/emr_form/{{ item.id }}/', 'wide');">
                                    #{{item.emrepisode.get_episode_number}}
                                </a></td>

                                <td><a href="javascript:showPopup('/client/emr_form/{{ item.id }}/', 'wide');">
                                    <span class="d-none">
                                        {{ item.get_emrform_instance.get_sortable_duration }}
                                    </span>
                                    {{item.get_emrform_instance.get_duration}}
                                </a></td>

                                <td><a href="javascript:showPopup('/client/emr_form/{{ item.id }}/', 'wide');">
                                    {{item.get_emrform_instance.facility}}
                                </a></td>

                                <td><a href="javascript:showPopup('/client/emr_form/{{ item.id }}/', 'wide');">
                                    {{item.get_emrform_instance.get_long_address}}
                                </a></td>

                                <td><a href="javascript:showPopup('/client/emr_form/{{ item.id }}/', 'wide');">
                                    {{item.get_emrform_instance.phone|default:''}}{% if item.get_emrform_instance.ext %} ext {{item.get_emrinstance.ext}}{% endif %}
                                </a></td>

                                <td><a href="javascript:showPopup('/client/emr_form/{{ item.id }}/', 'wide');">
                                    {{item.get_emrform_instance.notes|default:''}}
                                </a></td>

                                <!--
                                <td><a href="/report/emr_form/{{ item.id }}/">
                                    Generate report
                                </a></td>
                                -->

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'page_controls.html' %}






                {% else %}
                    {% comment %}
                        This is the main EMR form view and is accessed by selecting
                        any form on the left other than case note
                    {% endcomment %}
                    <table class="listview-table-no-search" data-order='[["0", "desc"]]'>
                        <thead>
                            <tr>
                                <th>Episode</th>
                                <th>Date</th>
                                {% if pps_discharge_formtype %}
                                    <th>PPS Form Type</th>
                                {% endif %}
                                <th>Created By</th>
                                <th>Finalized By</th>
                                <th>Finalized Date</th>
                                {% if form_type.needs_supervisor_signature %}
                                    <th>MHP</th>
                                    <th>MHP Signed Date</th>
                                {% endif %}
                                <th>Linked Docs</th>
                                <th>Report</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in form_list %}
                            <tr>
                                <td><a href="/client/emr_form/{{ item.id }}/">
                                    #{{item.emrepisode.get_episode_number}}
                                </a></td>

                                <td><a href="/client/emr_form/{{ item.id }}/">
                                    {% if item.emrformtype.get_name == 'pps aoda discharge' or item.emrformtype.get_name == 'pps mental health discharge' %}
                                        <span class="d-none">{{ item.get_emrform_instance.end_date|date:'Ymd' }}{{item.updated_at|date:'Ymdmhs'}}</span>{{ item.get_emrform_instance.end_date|date:'m/d/Y' }}
                                    {% else %}
                                        <span class="d-none">{{ item.date|date:'Ymd' }}{{item.created_at|date:'Ymdmhs'}}</span>{{ item.date|date:'m/d/Y' }}
                                    {% endif %}
                                </a></td>

                                {% if pps_discharge_formtype %}
                                    <td><a href="/client/emr_form/{{ item.id }}/">
                                        {{item.emrformtype}}
                                    </a></td>
                                {% endif %}

                                <td><a href="/client/emr_form/{{ item.id }}/">
                                    {{item.created_by.userconfig.full_name}}
                                </a></td>

                                <td><a href="/client/emr_form/{{ item.id }}/">
                                    {{item.get_first_finalized.fields.signed_by.userconfig.full_name}}
                                </a></td>

                                <td><a href="/client/emr_form/{{ item.id }}/">
                                    <span class="d-none">{{ item.get_first_finalized.fields.finalized_date|date:'Ymd' }}</span>{{item.get_first_finalized.fields.finalized_date|date:'m/d/Y'}}
                                </a></td>

                                {% if form_type.needs_supervisor_signature %}
                                    <td><a href="/client/emr_form/{{ item.id }}/">
                                        {% if item.is_finalized %}
                                            {{ item.supervisor_signer.userconfig.full_name|default:'MISSING' }}
                                        {% else %}
                                            {{ item.supervisor_signer.userconfig.full_name|default:''}}
                                        {% endif %}
                                    </a></td>

                                    <td><a href="/client/emr_form/{{ item.id }}/">
                                        <span class="d-none">{{item.supervisor_signed_date|date:'Y/m/d'}}</span>
                                        {{item.supervisor_signed_date|date:'m/d/Y'}}
                                    </a></td>
                                {% endif %}

                                <td><a href="/client/emr_form/{{ item.id }}/">
                                    {% if item.linked_docs.exists %}Yes ({{item.linked_docs.count}}){% else %}No{% endif %}
                                </a></td>

                                <td><a href="/report/emr_form/{{ item.id }}/">
                                    Generate report
                                </a></td>





                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'page_controls.html' %}

                {% endif %}


            </div>
        </div>
    {% endif %}




    {% comment %}
        This is the listview of available document types that shows up on the
        left side and above the form types.
    {% endcomment %}
    {% if doc_type %}
        <div class="row">
            <div class="col-md-12">
                <h4>{{doc_type.name}} Documents
                    {% if request.user.userconfig.view_only is False  %}
                        <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/client/emr_doc/{{doc_type.id}}/{{episode.id}}/');">
                            Create {{doc_type.name}}
                        </a>
                    {% endif %}
                </h4>
            </div>
        </div>
        <div class="row margin-top-1">
            <div class='col-12 '>
                <table class="listview-table" data-order='[["1", "desc"]]'>
                    <thead>
                        <tr>
                            <th>Episode</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Download</th>
                            <th>Uploaded by</th>
                            <th>Upload date</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in doc_list %}
                        <tr>
                            <td>
                                <a href="javascript:showPopup('/client/emr_doc/{{ item.id }}/');">
                                    #{{item.emrepisode.get_episode_number}}
                                </a>
                            </td>

                            <td>
                                <a href="javascript:showPopup('/client/emr_doc/{{ item.id }}/');" >
                                    <span class="d-none">{{ item.date|date:'Ymd' }}{{item.created_at|date:'His'}}</span>{{ item.date|date:'m/d/Y' }}
                                </a>
                            </td>

                            <td>
                                <a href="javascript:showPopup('/client/emr_doc/{{ item.id }}/');">
                                    {{item.description|default:''}}
                                </a>
                            </td>

                            <td>
                                {% if item.doc_file %}
                                    <a target="_blank" href="/client/emr_doc/{{ item.id }}/{{ item.doc_file }}">
                                        Download
                                    </a>
                                {% endif %}
                            </td>

                            <td>
                                <a href="javascript:showPopup('/client/emr_doc/{{ item.id }}/');">
                                    {{item.uploaded_by.userconfig.full_name}}
                                </a>
                            </td>

                            <td>
                                <a href="javascript:showPopup('/client/emr_doc/{{ item.id }}/');" >
                                    <span class="d-none">{{ item.upload_date|date:'Ymd' }}</span>{{ item.upload_date|date:'m/d/Y' }}
                                </a>
                            </td>





                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}




    {% comment %}
        This is the listview of case notes on the main episode view. This
        shows up to the right of the form used to start and close the episode
        case workers will probably use this view the most
    {% endcomment %}
    {% if epi_form and not note_type_id %}
        <div class="row justify-content-center">
            <div class="col-xl-3 margin-bottom-4">
                <h3>{{episode.get_episode_type_pretty}} Episode
                {% if episode.has_multiple_episodes %} #{{episode.get_episode_number}}{%endif%}</h3>
                Opened by {{episode.opened_by.userconfig}}

                {% if item.get_emrform_instance.is_open == False %}
                    <br>Closed by {{ item.created_by.userconfig.full_name }}
                    {% if item.get_emrform_instance.closed_at %}
                        on {{item.get_emrform_instance.closed_at|date:'m/d/Y g:i A'}}
                {% endif %}{% endif %}


                <form id="frm" method="post" action="">
                    {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
                    {% csrf_token %}
                    {{ epi_form.as_p }}
                    {% include "form_buttons.html" %}
                </form>

                {% if past_episodes %}
                <br>
                <h4>Other {{episode.get_episode_type_pretty}} Episodes</h4>
                <table class="listview-table-no-order-no-search">
                    <thead>
                        <tr>
                            <th>Episode</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Closing Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for epi in past_episodes %}
                        <tr>
                            <td><a href="/client/emr_episodes/{{epi.client.id}}/{{epi.id}}/">#{{epi.get_episode_number}}</a></td>
                            <td><a href="/client/emr_episodes/{{epi.client.id}}/{{epi.id}}/">{{epi.start|date:"m/d/Y"}}</a></td>
                            <td><a href="/client/emr_episodes/{{epi.client.id}}/{{epi.id}}/">{{epi.end|date:"m/d/Y"|default:""}}</a></td>
                            <td><a href="/client/emr_episodes/{{epi.client.id}}/{{epi.id}}/">{{epi.get_closing_reason_display|default:""}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>




                {% endif %}

            </div>
            <div class="col-xl-9">
                {% if epi_notes %}
                    <h4>Case Notes
                        {% if request.user.userconfig.view_only is False  %}
                            <a class="btn btn-sm btn-secondary ml-4" href="/client/emr_form/{{case_note_form_type.id}}/{{episode.id}}/">
                                Create Case Note
                            </a>
                        {% endif %}
                    </h4>

                    <table class="listview-table" data-order='[["2", "desc"]]'>
                        <thead>
                            <tr>
                                <th>Episode</th>
                                <th>Creator</th>
                                <th>Service Date</th>
                                <th>Note Completed</th>
                                <th>Closed By</th>
                                {% if episode.episode_type == "crisis" %}
                                    <th>Report</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in epi_notes %}
                                {% include "client/emr_form_listview_item.html" %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'page_controls.html' %}
                {% endif %}
            </div>
        </div>
    {% endif %}




</div> <!-- emr container -->

           
</div>
{% endblock %}



{% block page_javascript %}
<script>
    if (getUrl("edit") != "true" && window.location.pathname != "/client/new/") {
        renderNoEdit();
        $("#ribbon-item-emr-episodes").attr("href", "?edit=true");
    }

    {% if request.user.userconfig.user_type == '4' %}
        /*
            Always want no edit for the auditors. Even though they cannot make
            any changes or press the save button, there's no reason these
            fields should be visible for them
        */
        renderNoEdit();
    {% endif %}

    function navigateEmrFormType(ele, episodeId) {
        // Redirects the user to the correct emr form or document type
        // under the episode and shows a list view of these types of documents
        //console.log("Navigating to EMR Doc Type:", ele.value);
        if (ele.value != "0") {
            window.document.location = "/client/emr_episodes/{{episode.client.id}}/" + episodeId + "/form/" + ele.value + "/";
        }
    }

    function navigateEmrDocType(ele, episodeId) {
        // Redirects the user to the correct emr form or document type
        // under the episode and shows a list view of these types of documents
        //console.log("Navigating to EMR Form Type:", ele.value);
        if (ele.value != "0") {
            window.document.location = "/client/emr_episodes/{{episode.client.id}}/" + episodeId + "/doc/" + ele.value + "/";
        }
    }

    $(document).ready(function(){
        if (getUrl("show_popup") != null){
            showPopup('/client/emr_doc/'+getUrl("show_popup")+'/', 'wide');
        }


        $(".text-preview.text-preview-expandable").click(function() {
            let full_text = $(this).siblings(".text-full").first();
            let wrapper = $(this).parent();
            let row_height = $(this).parent().height();

            full_text.css("display", "inline-block");            
            
            $(this).css("display", "none");            

            wrapper.parent().css("min-height", row_height + full_text.height() + 25);
        });

        $(".text-full").click(function() {
            let text_preview = $(this).siblings(".text-preview").first();
            let wrapper = $(this).parent();
            let row_height = $(this).parent().height();

            text_preview.css("display", "inline-block");            
            
            $(this).css("display", "none");

            wrapper.parent().css("min-height", "4rem");
        });

    });

</script>
{% endblock %}