<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <div class='row margin-top-2'>
        <div class="col-md-12">
            <h2>{{emrform.emrepisode.get_episode_type_display}} {{emrform.emrformtype}} History
                <small><br>{{emrform}}</small>
            </h2>
        </div>
    </div>

    {% if not emrform.history %}
        <div class="row margin-top-1">
            <div class='col-12'>
                <h3>This form has no history information</h3>
            </div>
        </div>
    {% endif %}

    {% for item in emrform.history %}
        <div class="row margin-top-1">
            <div class="col-12">
                <div>
                    <strong>
                        {{item.action_at}}<br>
                        Action: {{item.action}}<br>
                        User: {{item.user_username}} ({{item.user_id}})
                        {% if item.action == "reopen" %}
                            <br>
                            Reason for reopen: <i>{{item.reopen_reason|default:"No reason given"}}</i>
                        {% endif %}
                    </strong>
                </div>
                <div>
                    <br>
                    <strong>Field data:</strong><br>
                    <div class="ml-4">
                        {% for key, value in item.fields.items %}
                            {{key}}:
                            <div class='ml-4 mb-2'>{{value}}</div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <hr>


    {% endfor %}

</div>
{%endblock%}
