<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->



<tr style="position: relative;">

    <td style="min-height: 4rem; display: block;">
        <a href="/client/emr_form/{{ item.id }}/">#{{item.emrepisode.get_episode_number}}</a>
        <div class="text-preview-wrapper"> 
            <span class="text-preview{% if item.note|length > 100 %} text-preview-expandable{% endif %}">
                <em>{{item.note|slice:100|default:''}}{% if item.note|length > 100 %}...{%endif%}</em></span>
            
            {% if item.note|length > 100 %}
            <span class="text-full">
                <em>{{item.note}}</em>
            </span>
            {% endif %}
        </div>
            



    </td>
    <td><a href="/client/emr_form/{{ item.id }}/">{{item.created_by.userconfig}}</a></td>
    <td><a href="/client/emr_form/{{ item.id }}/"><span class="d-none">{{item.date|date:'Ymd'}}{{item.created_at|date:'His'}}</span>{{item.date|date:'m/d/Y'}}</a></td>
    <td><a href="/client/emr_form/{{ item.id }}/">{{item.get_emrform_instance.closed_at|date:'m/d/Y'}}</a></td>
    <td><a href="/client/emr_form/{{ item.id }}/">{{item.get_first_finalized.fields.signed_by.userconfig.full_name}}</a></td>
    {% if episode.episode_type == "crisis" %}
        <td><a href="/report/emr_form/{{ item.id }}/">Generate report</a></td>
    {% endif %}
    
    <!--<td class="case-note-table-cell">

        <a href="/client/emr_form/{{ item.id }}/" >
            <h5>                            
                {{item.date|date:'m/d/Y'}}
                {% if item.service_start%} at {{item.service_start|date:'g:i A'}}{% endif %}
                {% if item.service_end %} - {{ item.service_end|date:'g:i A'}}{% endif %}
            </h5>
        </a>  
        <div style="padding-left:1rem">          
            Opened by {{ item.created_by.userconfig.full_name }} on {{item.created_at|date:'m/d/Y g:i A'}}
            
            {% if item.get_emrform_instance.is_open == False %}
                <br>Closed by {{ item.created_by.userconfig.full_name }}
                {% if item.get_emrform_instance.closed_at %}
                    on {{item.get_emrform_instance.closed_at|date:'m/d/Y g:i A'}}
            {% endif %}{% endif %}

            {% if item.linked_docs %}
            <br>{% for linked in item.linked_docs.all %}
                '{{linked.emrdoctype.name}}{% if linked.description %} ({{linked.description}}){% endif %}'
                <a class="d-inline" style="margin-right:1.5rem; margin-left:-0.5rem" target="_blank" href="/client/emr_doc/view/{{linked.id}}/">
                    <span style="width:1rem;" class='fas fa-external-link-square-alt external-link'></span>
                </a>
            {% endfor %}
            {% endif  %}
        </div>
        
        <div class="case-note-note">                                
            <em>{{ item.note }}</em>
        </div>
        
    </td>-->
</tr>


