<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

{% if not popup %}
<div class='breadcrumb'>
    <div class='container'>
        <a href="{% url 'client:client_index' %}">All Clients</a>
        <a href="{% url 'client:me_index' %}">My Clients</a>
        <a href="/client/{{episode.client.id}}/">{{episode.client}}</a>
        <a href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/">{{episode.get_episode_type_display}}</a>
        <a href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/fov/{{instance.emrdoctype.id}}/">{{instance.emrdoctype.name}} Docs</a>        
        {% if instance %}
            {% if instance.id is None %}New {% endif %}{{instance.emrdoctype.name}}
        {% endif %}
    </div>
</div>
{% endif %}

<div class='container{% if popup%}-fluid{%endif%}'>
<div class="row">
    <div class="col-12">
        <h3>{{ title }}</h3>
        {% if subtitle and not popup %}
        <h5>{{subtitle}}</h5>
        {%endif%}
        <form id="frm" method="post" action="" enctype="multipart/form-data">
            {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
            {% csrf_token %}
            {{ form.as_p }}

            {% if instance.id %}
                <p class="w100" style="float:left; padding: 0 0.25rem;">
                    {% include "shared_link_interface.html" %}
                    {% if request.user.userconfig.view_only is False  %}
                        <a href="/external/sharedlink/create/client/emrdoc/{{instance.id}}/" style="display:block; padding:0 0.25rem; margin-top:0.25rem;">
                            Generate new link
                        </a>

                        <a href="/external/sharedlink/manage/" target="_parent" style="display:block; padding:0 0.25rem; margin-top:0.25rem;">
                            Manage links
                        </a>
                    {% endif %}
                </p>
            {% endif %}

            {% include "form_buttons.html" %}
        </form>
    </div>
</div>
</div>
{%endblock%}
