<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% extends 'base.html' %}

{% block breadcrumb %}
    <div class='breadcrumb'>
        <div class='container'>
            <a href="{% url 'client:client_index' %}">All Clients</a>
            <a href="{% url 'client:me_index' %}">My Clients</a>
            <a href="/client/{{episode.client.id}}/">{{episode.client}}</a>
            <!--<a href="/client/emr_episodes/{{episode.client.id}}/">Episodes</a>-->
            <a href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/">{{episode.get_episode_type_pretty}} Episode</a>
            <a href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/form/{{instance.emrformtype.id}}/">{{instance.emrformtype.name}} Forms</a>
            {% if instance %}
                {% if instance.id is none %}New {% endif %}{{instance.emrformtype.name}}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}



<div id="form-container" class='container{% if popup %}-fluid{% endif %}'>
    <div id="form-row" class="row">
        <div id="form-column" class="col-12">
            <h3 id="form-title">
                {{ title }}
            </h3>
                <p class="small">
                    {% for hist in instance.get_history %}
                        <strong>
                        {% if hist.action == "open" %}
                            Opened
                        {% elif hist.action == "reopen" %}
                            Reopened
                            {% if request.user.userconfig.user_type != '4' %}
                                <span data-toggle-element="reopen-reason{{forloop.counter}}" class="toggle">*</span>
                            {% endif %}

                        {% elif hist.action == "finalize" %}
                            Finalized
                        {% elif hist.action == "supervisor_sign" %}
                            Supervisor signature
                        {% endif %}
                        </strong>
                        <br>
                        {{hist.action_at|date:'m/d/Y H:i:s'}} - {{hist.user.userconfig}}
                        {% if request.user.userconfig.user_type != '4' and hist.action == "reopen" %}
                            <span id="reopen-reason{{forloop.counter}}" class="reopen-reason ml-2"><i>
                                {{hist.reopen_reason}}
                            </i></span>
                        {% endif %}

                        {% if hist.action == "supervisor_sign" %}
                            <br>
                            By signing this form, this Mental Health Professional is
                            acknowledging that the full report associated with this form was reviewed.

                        {% endif %}


                        <br><br>
                    {% endfor %}








                    {% if instance.get_emrform_sigs %}

                        <strong>Electronic signatures</strong><br>
                        {% for sig in instance.get_emrform_sigs %}

                            <span  class="ml-1">{{sig.get_signer_role_display}}</span><br>
                            <a class="ml-2 mb-2 d-block" href="javascript:showPopup('/client/emr_form/{{sig.emrform.id}}/electronic_signature/{{sig.id}}/', 'wide');">
                                {{ sig.created_at|date:'m/d/Y H:i:s' }} - {{sig.signer_first}}{% if sig.signer_middle %} {{sig.signer_middle}}{%endif%} {{sig.signer_last}}
                            </a>

                        {% endfor %}
                    {% endif %}

                </p>






            <div class="col-md-12 text-right">

                {% if supervisor_can_sign %}
                    <a href="javascript:renderPasswordModal('supervisor_sign');" class="ml-4 mb-2 btn btn-sm btn-primary">
                        Sign as Supervisor
                    </a>
                {% endif %}

                {% if routes %}
                    <a class="btn btn-sm btn-secondary ml-2 print-hide" href="javascript:toggleRoutes();">
                        Toggle Pending Actions ({{ routes|length }})
                    </a>
                {% endif %}

                <a class="btn btn-sm btn-secondary ml-2 print-hide" href="javascript:showPopup('/config/route/client/emrform/{{instance.id}}');">
                    Route Form
                </a>

                {% if instance.is_finalized  and emr_form_type.electronic_sig %}
                    <a class="btn btn-sm btn-secondary ml-2 print-hide" href="javascript:showPopup('/client/emr_form/{{instance.id}}/electronic_signature/', 'wide');">
                        Add Electronic Signature
                    </a>
                {% endif %}

                {% if emr_form_type.get_name == "case note" and instance and instance.id %}
                    {% if request.user.userconfig.view_only is False  %}
                        <a class="btn btn-sm btn-secondary ml-2 print-hide" href="/report/emr_case_note_report/{{instance.id}}">
                            Show in Case Note Report
                        </a>
                    {% endif %}
                {% endif %}

                {% if instance and instance.id and emr_form_type.get_name != "case note" %}
                    <a class="ml-2 btn btn-sm btn-secondary print-hide" href="/report/emr_form/{{ instance.id }}/">
                        Generate Report
                    </a>
                {% endif %}

                {% if request.user.userconfig.unlock_forms is True and emr_form_type.get_name != "case note" and instance.is_finalized %}
                    <a href="javascript:reopenEmrFormModal({{instance.id}});" class="ml-2 btn btn-sm btn-secondary print-hide">
                        Reopen Form
                    </a>
                {% endif %}


                {% if instance.is_open is False  %}
                    <a class="ml-2 btn btn-sm btn-secondary print-hide" href="javascript:reopenCaseNote('{{instance.id}}', 'emr');">
                      Reopen Case Note
                    </a>
                {% endif %}




            </div>

            <div id='route-wrapper' class="col-md-12 margin-bottom-2">
                {% if routes %}
                    <h5><a class="hide-link" href="/report/emr_case_note_report_my_open/">Pending Actions</a></h5>
                    <table class="listview-table-no-order-no-search">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Action Type</th>
                                <th>From</th>
                                <th>Message</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for route in routes %}
                                <tr id="route-{{route.id}}" class='route-item'>
                                    <td><span class="cell">{{route.created_at|date:'m/d/Y'}}</span></td>
                                    <td><span class="cell">{{route.get_action_type_display}}</span></td>
                                    <td><span class="cell">
                                        {% if route.created_by == request.user %}
                                            You
                                        {% else %}
                                            {{ route.get_created_by }}
                                        {% endif %}
                                    </span></td>
                                    <td><span class="cell">{{route.message}}</span></td>
                                    <td><a class='text-right' href="javascript:completeRoute({{route.id}})"><span class=' fas route fa-check'></span></a></td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>




            {% if subtitle and not popup %}
            <h5>{{subtitle}}</h5>
            {%endif%}








            {% comment %}
                If custom forms are needed, they can be used right here.
                Right now, a template for each form is not needed, but the
                idea will be to someday move all the existing forms to
                their own templates and then we can get rid of the
                FORM_SECTION.json file!
            {% endcomment %}


            {% if emr_form_type.get_name == "internal referral" %}
                {% include "client/emr_forms/internal_referral.html" %}

            {% elif emr_form_type.get_name == "external referral"  %}
                {% include "client/emr_forms/external_referral.html" %}

            {% elif emr_form_type.get_name == "clinic wait list" %}
                {% include "client/emr_forms/clinic_wait_list.html" %}



            {% else %}
                <form id="frm" class="frm-emr-form" method="post" action="">
                    {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% include "form_buttons.html" %}
                </form>
            {% endif %}



        </div>
    </div>
</div>
{%endblock%}

{% block page_javascript %}
<script>
    {% if instance.is_finalized == True or instance.is_open == False %}
        EMR_FORM_IS_CLOSED = true;
        //console.log("Emr form is closed");
    {% endif %}

    {% if instance.id %}
        EMR_FORM_ID = {{instance.id}};
    {% endif %}


    function getTotalMinutes(updateServiceMinutes=false) {
        // There may be some situations where not all the time tracking fields
        // are used, so if the field(s) do not exist their value can be
        // set to zero

        // updateServiceMinutes is used for when the user picks a start
        // and end time. That way, when they pick their times, the service
        // minutes field will get updated.


        // if the service_start and service_end elements are found, start
        // with getting their minutes

        //console.log("getTotalMinutes()");

        // If there is not a total minutes field then this form doesn't
        // record minutes.
        if (!document.getElementById("id_total_minutes")) {
            return;
        }

        let serviceMin = 0;
        let travelMin = 0;
        let docMin = 0;




        // If the field has no value, then set it to zero
        const srvStart = document.getElementById("id_service_start");
        const srvEnd = document.getElementById("id_service_end");

        let startExclude, endExclude;
        if (srvStart && srvEnd) {
            startExclude = srvStart.getAttribute("data-exclude") === "total_minutes";
            endExclude = srvEnd.getAttribute("data-exclude") === "total_minutes";
        }


        if (srvStart && srvEnd && updateServiceMinutes && !(startExclude && endExclude)) {

            let totalServiceMinutes = parseInt(get_time_difference(srvStart.value, srvEnd.value));

            // There may be up to 10 service time entries. Attempt to loop through
            // them all and calculate the total minutes.
            // Starting at 2 because the numbering of the extra fields start at 2
            for (let i = 2; i < 11; i++) {
                // Service minutes only gets updated when the time pickers values change
                let addTimeStart = document.getElementById("id_service_start" + i);
                let addTimeEnd = document.getElementById("id_service_end" + i);


                if (addTimeStart && addTimeEnd && addTimeStart.value && addTimeEnd.value) {
                    let addMinutes = parseInt(get_time_difference(addTimeStart.value, addTimeEnd.value));

                    totalServiceMinutes += addMinutes;
                }
            }

            document.getElementById("id_service_minutes").value = totalServiceMinutes;
        }

        if (document.getElementById("id_service_minutes")) {
            serviceMin = parseInt(document.getElementById("id_service_minutes").value);
        }

        if (document.getElementById("id_travel_minutes")) {
            travelMin = parseInt(document.getElementById("id_travel_minutes").value);
        }

        if (document.getElementById("id_doc_minutes")) {
            docMin = parseInt(document.getElementById("id_doc_minutes").value);
        }

        if (!serviceMin) {
            serviceMin = 0;
        }
        if (!travelMin) {
            travelMin = 0;
        }
        if (!docMin) {
            docMin = 0;
        }

        //console.log("serviceMin:", serviceMin);
        //console.log("travelMin:", travelMin);
        //console.log("docMin:", docMin);


        let totalMin = parseInt(serviceMin) + parseInt(travelMin) + parseInt(docMin);

        document.getElementById("id_total_minutes").value = totalMin;

        // update the units as well
        fetch("/client/ajax_calculate_units/{{instance.id}}/" + totalMin + "/")
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                // Process the response data
                document.getElementById("id_units").value = data;
            })
            .catch(error => {
                console.error('Error calculating units:', error);
            });
    }






    // This is depricated. We want to see the whole form now and use
    // the index to navigate the anchors
    function saveAndNavigateForm(index) {
        //console.log("the index is:", index);
        // Set the action on the form, and if we're navigating away from 
        // a finalize section, we need to clear out that hidden input
        $("#finalize-input").remove();

        $("#frm").attr("action", "?form_section=" + index + "&normal_save=false");
        $("#frm").submit();
    }





    function hideNonErrorFields() {
        // Loop through each paragraph in the function and only show its 
        // children that have validation errors
        // also hiding form sections so we can show just the error fields
        // without any other interruptions
        // this only needs to show on bigger EMR forms... Make sure to 
        // put exclusions below
        if ("{{instance.emrformtype.get_name}}" == "case note") {
            return;
        }


        $("#frm p").each(function(idx, ele) {
            let found_err = $(this).children(".validation-error");
            if (found_err.length == 0) {
                $(this).css("display", "none");
            }
        });

        $(".form-section").css('display', "none");
    }

function reopenEmrFormModal(id) {
     customHtml = `
        <form id='reopen_emr_form' method='post' action='/client/emr_form/` + id + `/unlock/'>
            <label class='hide-after' for='reopen_reason'>Reopen reason</label>
            <textarea id="id_reopen_reason" name="reopen_reason" required cols='2' class='form-control'></textarea>
            {% csrf_token %}
        </form>
    `;


    showModal(
        titleText="Reopen Form",
        bodyText="Please indicate why the form needs to be reopened.",
        primaryText="Reopen Form",
        secondaryText="Cancel",
        primaryAction=function(){
            const isValid = $("#reopen_emr_form").get()[0].reportValidity();
            if (!isValid) {
                //alert("A reason is required to reopen a case note");
                $("#nova-modal-primary").removeAttr("disabled");
            }
            else {
                $("#reopen_emr_form").submit();
            }

        },
        secondaryAction=hideModal,
        opacity=0.8,
        loadAction=null,
        customHtml=customHtml
    );
}





function renderPasswordModal(customText=null) {
    let customHtml = '';
    if (customText == "supervisor_sign") {
        customHtml = `
            <label class='hide-after' for='emr_form_signature_password'>Your password</label>
            <input id='emr_form_signature_password' class='form-control' type='password' />
            <p class="margin-top-1"><strong>
                By signing this form, this Mental Health Professional is
                acknowledging that the full report associated with this form was reviewed.
            </strong></p>
        `;
    }
    else {
        customHtml = `
            <label class='hide-after' for='emr_form_signature_password'>Your password</label>
            <input id='emr_form_signature_password' class='form-control' type='password' />
        `;
    }

    showModal(
        titleText="Password Required",
        bodyText=null,
        primaryText="Submit",
        secondaryText="Cancel",
        primaryAction=function() {
            verifyPassword(
                token="{{ csrf_token }}",
                inputId="emr_form_signature_password",
                sigType="emr_form",
                instanceId={{instance.id}});
        },
        secondaryAction=hideModal,
        opacity=1,
        loadAction=null,
        customHtml=customHtml
    );
}

function renderSupervisorPickerModal() {
    showModal(
        titleText="Supervisor Signature Required",
        bodyText="This form must be routed to a supervisor for their signature. Please select one from the list of choices below.",
        primaryText="Send",
        secondaryText=null,
        primaryAction=function() {
            requestSupervisorSignature();
        },
        secondaryAction=null,
        opacity=1,
        loadAction=null,
        customHtml="<p><label class='hide-after' for='id_supervisor_list'>Supervisor</label><select id='id_supervisor_list' class='form-control'><option></option></select></p>",
    );
}


</script>












<script>
    // These are all the startup scripts that are needed to render the EMR form
    $(document).ready(function() {
        // If the page is passed pick_supervisor=true then the modal needs
        // to be loaded telling the user that they must pick someone to route
        // this recently closed form to.
        if (getUrl("pick_supervisor") == "true") {
            showPopup("/config/supervisor_sign/emr_form/{{instance.id}}/");
        }
    });


    $('.toggle-reopen-reason').click(function() {
        alert("TEST" + $(this).attr("id"));
        $("#reopen-reason-{{forloop.counter}}").toggle();
    })

    var ul_doc_list = $(".ms-options ul");
    var li_docs = ul_doc_list.find("li").each(function(){
        var input_doc = $(this).find("input");
        var id = input_doc.attr("value");
        var link_url = "/client/emr_doc/" + id + "/view/";
        $(this).append("<a target='_blank' href='" + link_url +"'><span class='fas fa-external-link-square-alt external-link'></span></a>")
    });

    let timeEle;

    timeEle = $("#id_service_start");
    if (timeEle) {
        timeEle.on("change keyup mouseup", function() {
            getTotalMinutes(true);
        });
    }

    timeEle = $("#id_service_end");
    if (timeEle) {
        timeEle.on("change keyup mouseup", function() {
            getTotalMinutes(true);
        });
    }

    for (let i = 2; i < 11; i++) {
        timeEle = $("#id_service_start" + i);
        if (timeEle) {
            timeEle.on("change keyup mouseup", function() {
                getTotalMinutes(true);
            });
        }

        timeEle = $("#id_service_end" + i);
        if (timeEle) {
            timeEle.on("change keyup mouseup", function() {
                getTotalMinutes(true);
            });
        }
    }

    timeEle = $("#id_service_minutes");
    if (timeEle) {
        timeEle.on("change keyup mouseup", function() {
            throttle(getTotalMinutes, 300)();
        });
    }

    timeEle = $("#id_travel_minutes");
    if (timeEle) {
        timeEle.on("change keyup mouseup", function() {
            throttle(getTotalMinutes, 300)();
        });
    }

    timeEle = $("#id_doc_minutes");
    if (timeEle) {
        timeEle.on("change keyup mouseup", function() {
            throttle(getTotalMinutes, 300)();
        });
    }

    getTotalMinutes();

    //console.log("Emr formtype: {{instance.emrformtype.name}}");


    // If there are any validation errors, we want to show only the fields
    // that have errors. Sections will not be shown, either.
    // This is disabled as of 2023-03-08. Don't need to hide non-error fields
    // because we're showing all the page sections at once now and generic errors
    // cause the form to not be rendered properly. Also, we can't use the standard
    // form errors because on EMR forms the validation happens after the
    // closing/finalization of the form, therefore there is no form data
    // for the normal error flow.
    /*
    if ($(".error-msg").length != 0) {
        hideNonErrorFields();
    }
    */





    // Hude or show the individuals present on the case note depending
    // on the case note type
    // TODO move this somewhere else
    /*
    if ($("#id_case_note_type").val() == "annual" || $("#id_case_note_type").val() == "enrollment" || $("#id_case_note_type").val() == "six_month") {

        $("#id_individuals_present").parent().css("display", "block");
    }
    else {
        $("#id_individuals_present").parent().css("display", "none");
    }
    */

    $("#id_case_note_type").change(function() {
        // Depending on which value is selected, pre-populate the
        // note. If the note already has data, prepend the pre-selected
        // text
        let value = $(this).val();

        /*
        if (value == "annual" || value == "enrollment" || value == "six_month") {
            $("#id_individuals_present").parent().css("display", "block");
        }
        else {
            $("#id_individuals_present").parent().css("display", "none");
        }
        */


        if (value == "annual") {
            $("#id_note").val(
                "Writer reviewed the annual recertification documentation "+
                "to include the Functional Screen Informed Consent, "+
                "Releases of Information, brochure on how to report "+
                "abuse and neglect, the CLTS Waiver Brochure, the "+
                "Incident Reporting Brochure, the County Client Rights "+
                "and Grievance Procedure Form, the Benefits of "+
                "Well-Child Check Form, the Participant Rights and "+
                "Responsibilities Form, the Cost Share Form, "+
                "the Parental Declaration Form, the Parental Payment Liability Brochure, "+
                "the Deciding Together Guide, "+
                "the Individualized Service Plan (ISP), and "+
                "Outcomes with the client and parent/guardian. Writer "+
                "gathered information to update the annual assessment, "+
                "updated the client’s CLTS Functional Screen, and "+
                "discussed updates to the ISP and Outcomes utilizing "+
                "the Deciding Together philosophy. Necessary signatures "+
                "were obtained. Writer informed client and "+
                "parent/guardian that writer will provide essential "+
                "providers with ISP and Outcomes."
            );
        }

        else if (value == "enrollment") {
            $("#id_note").val(
                "The client’s referral date was (date). The family was " +
                "contacted on (date). The functional screen was completed " +
                "on (date) and functional eligibility was determined on " +
                "(date). Writer reviewed enrollment paperwork to include " +
                "Releases of Information, brochure on how to report abuse " +
                "and neglect, CLTS Waiver Brochure, Incident Reporting " +
                "Brochure, County Client Rights and Grievance Procedure " +
                "Form, Benefits of Well-Child Check From, Participant " +
                "Rights and Responsibilities Form, Cost Share Form, " +
                "Parental Declaration Form, and Deciding Together " +
                "Guide with the client and parent/guardian. Necessary " +
                "signatures were obtained. Writer gathered information " +
                "for the initial assessment, client and parent/guardian’s " +
                "preferred outcomes, and support and services needed to " +
                "establish the initial Individualized Service Plan " +
                "utilizing the Deciding Together philosophy."
            );
        }

        else if (value == "six_month") {
            $("#id_note").val(
                "Writer discussed with the client and parent/guardian " +
                "preferred outcomes and 6-Month Individualized Service " +
                "Plan utilizing the Deciding Together philosophy. Necessary " +
                "signatures were obtained."
            );
        }

    });
</script>

{% if instance.is_finalized != True and instance.is_open != False %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#frm").on("keyup change mouseup", throttle(function() {
            formAutoSave("{{ csrf_token }}", "/client/emr_form/{{instance.id}}/", "frm");
        }));
    });

</script>
{% endif %}





{% endblock %}