<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% extends 'base.html' %}
{% block content %}

<div class='container{% if popup%}-fluid{%endif%}'>
    <div class="row">
        <div class="col-12">
            <h3>{{ title }}</h3>
            {% if subtitle and not popup %}
            <h5>{{subtitle}}</h5>
            {%endif%}
            <form id="frm" method="post" action="">
                {% if popup %}<input type='hidden' name='popup' value='true' />{%endif%}
                {% csrf_token %}
                {{ form.as_p }}

                {% if not instance %}
                    <p class="w100">
                        <label for="id_topaz_wrapper">Topaz Signature</label>
                        <span class="form-control" id="id_topaz_wrapper" style="height:auto; border:none;">
                            <span id='topaz_sign_btn' class="btn btn-sm btn-secondary" onclick="javascript:topazSign();">Click to record signature from a Topaz Signature Pad</span>
                        </span>
                    </p>

                    <div class="row">
                        <div class="col-md-12">
                            <canvas class="d-none" id="cnv" name="cnv" width="500" height="100"></canvas>
                        </div>
                    </div>

                    <input type="hidden" name="topaz_sigraw_data" id="topaz_sigraw_data" />
                    <input type="hidden" name="topaz_image_data" id="topaz_image_data" />


                    <p class="w100">
                        <label for="id_mouse_sig_canvas" class="hide-after">Mouse Signature</label>

                        <canvas id="id_mouse_sig_canvas"  width="500" height="100" style="border:1px solid #ced4da;display: block;"></canvas>
                        <span onclick="javascript:clearMouseCanvas();" id="id_mouse_sig_clear" class="fa fa-undo"
                            style="min-width: 1rem; min-height: 1rem; position: relative; bottom: 20px; left: 505px; cursor: pointer;"></span>

                    </p>

                    <input type="hidden" name="mouse_image_data" id="mouse_image_data" />

                    <div class="row" style="position: relative; top: 1rem;">
                        <div class="col-md-12">
                            <p>
                                <strong>
                                    By clicking the "Save Electronic Signature" button, I hereby electronically
                                    sign this document and acknowledge that my electronic signature
                                    holds the same legal validity and enforceability as if it were my
                                    handwritten signature.
                                </strong>
                            </p>
                        </div>
                    </div>

                {% endif %}


                {% include "form_buttons.html" %}
            </form>
        </div>
    </div>



    {% if instance %}

        <div class="row margin-top-2 center">
            <div class="col-md-12">
                <hr>
                {% if instance.sig_type == 'topaz' %}
                    <img id="sigImg" name="sigImg" width="500" height="100" style="margin-top:-1rem"
                    src="{{instance.sig_data.topaz_image_data}}"
                    ></img>
                {% elif instance.sig_type == "mouse" %}
                    <img id="mouseImg" name="mouseImg" width="500" height="100" style="margin-top:-1rem"
                    src="{{instance.sig_data.mouse_image_data}}"
                    ></img>
                {% elif instance.sig_type == 'simple_typed' %}
                    <p>
                        <strong><u><i>"{{ instance.sig_data.typed_sig}}"</i></u></strong>
                    </p>
                {% endif %}
                <hr>
                <p>
                    {{ instance.created_at|date:'m/d/Y H:i:s' }}<br>{{instance.get_sig_type_display}}<br>
                </p>
            </div>
        </div>

    {% endif %}




</div>
{%endblock%}



{% block page_javascript %}
<script>
    // Saves a serialized copy of all the form data to be saved when the
    // signature is. Idea behind this is to track all the data that gets
    // generated by any 3rd party signature devices
    $("#frm").on("keyup change mouseup", function() {
        saveFormToJSON("id_sig_data");
    });

    function saveFormToJSON(targetInputId) {
        $("#" + targetInputId).prop("disabled", true);

        let jsonData = {};
        const formData = $("#frm").serializeArray();

        formData.forEach(function(item) {
            jsonData[item.name] = item.value;
        });

        $("#" + targetInputId).prop("disabled", false);
        $("#" + targetInputId).val(JSON.stringify(jsonData));
    }


    saveFormToJSON("id_sig_data");

</script>

{% if not instance %}
    <!-- Mouse signature code -->
    <script>
        var mouseCanvas = document.getElementById("id_mouse_sig_canvas");
        var mouseCtx = mouseCanvas.getContext("2d");

        var drawing = false;
        var mouseX = 0;
        var mouseY = 0;

        function getMousePos(canvas, evt) {
            var rect = mouseCanvas.getBoundingClientRect();
            return {
                x: evt.clientX - rect.left,
                y: evt.clientY - rect.top
            };
        }

        function mouseMoveHandler(e) {
            if (drawing) {
                var mousePos = getMousePos(mouseCanvas, e);
                mouseCtx.lineTo(mousePos.x, mousePos.y);
                mouseCtx.stroke();
            }
        }

        function clearMouseCanvas() {
            mouseCtx.clearRect(0, 0, mouseCanvas.width, mouseCanvas.height);
        }

        mouseCanvas.addEventListener('mousedown', function(e) {
            var mousePos = getMousePos(mouseCanvas, e);
            mouseX = mousePos.x;
            mouseY = mousePos.y;

            drawing = true;

            mouseCtx.beginPath();
            mouseCtx.moveTo(mouseX, mouseY);
        });

        mouseCanvas.addEventListener('mouseup', function(e) {
            drawing = false;
            var mouseData = mouseCanvas.toDataURL("image/png");
            document.getElementById("mouse_image_data").value = mouseData;

        });

        mouseCanvas.addEventListener('mousemove', mouseMoveHandler);

    </script>
{% endif %}



{% if not instance %}
    <!--
        TOPAZ SIGNATURE CODE
        This is a (hopefully) lightly modified version of this example:
        https://sigplusweb.com/sign_chrome_ff_sigplusextlite.html
    -->
    <script>
    var imgWidth;
        var imgHeight;
        function topazSign()
         {
            var isInstalled = document.documentElement.getAttribute('SigPlusExtLiteExtension-installed');
            if (!isInstalled) {
                alert("SigPlusExtLite extension is either not installed or disabled. Please install or enable extension to use Topaz signature pads.");
                return;
            }

            // Quick validation to make sure there is data in at least the
            // first and last names. Yes, proper validation happens on the backend
            // this is to help the UI/UX only
            const signerFirst = document.getElementById("id_signer_first");
            const signerLast = document.getElementById("id_signer_last");
            const signerMiddle = document.getElementById("id_signer_middle")
            if(!signerFirst.value || !signerLast.value) {
                alert("Signer's first and last names are required");
                return;
            }

            let signerFirstStr = signerFirst.value;
            if (signerMiddle) {
                signerFirstStr += " " + signerMiddle.value;
            }

            var canvasObj = document.getElementById('cnv');
            canvasObj.getContext('2d').clearRect(0, 0, canvasObj.width, canvasObj.height);
            //document.getElementById("topaz_image_data").value = "SigString: ";
            //document.getElementById("topaz_sigraw_data").value = "Base64 String: ";

            imgWidth = canvasObj.width;
            imgHeight = canvasObj.height;
            var message = { "firstName": signerFirst.value, "lastName": signerLast.value, "eMail": "", "location": "", "imageFormat": 1, "imageX": imgWidth, "imageY": imgHeight, "imageTransparency": false, "imageScaling": false, "maxUpScalePercent": 0.0, "rawDataFormat": "ENC", "minSigPoints": 25 };

            top.document.addEventListener('SignResponse', SignResponse, false);
            var messageData = JSON.stringify(message);
            var element = document.createElement("MyExtensionDataElement");
            element.setAttribute("messageAttribute", messageData);
            document.documentElement.appendChild(element);
            var evt = document.createEvent("Events");
            evt.initEvent("SignStartEvent", true, false);
            element.dispatchEvent(evt);
        }
        function SignResponse(event)
        {
            var str = event.target.getAttribute("msgAttribute");
            var obj = JSON.parse(str);
            SetValues(obj, imgWidth, imgHeight);
        }
        function SetValues(objResponse, imageWidth, imageHeight)
        {
            var obj = null;
            if(typeof(objResponse) === 'string'){
                obj = JSON.parse(objResponse);
            } else{
                obj = JSON.parse(JSON.stringify(objResponse));
            }

            var ctx = document.getElementById('cnv').getContext('2d');

                if (obj.errorMsg != null && obj.errorMsg!="" && obj.errorMsg!="undefined")
                {
                    alert(obj.errorMsg);
                }
                else
                {
                    if (obj.isSigned)
                    {
                        var img = new Image();
                        img.onload = function ()
                        {
                            ctx.drawImage(img, 0, 0, imageWidth, imageHeight);
                        }
                        const imgSrcString = "data:image/png;base64," + obj.imageData;
                        img.src = imgSrcString;

                        document.getElementById("topaz_sigraw_data").value = obj.sigString;
                        document.getElementById("topaz_image_data").value = imgSrcString;

                        document.getElementById('cnv').classList.remove("d-none");
                        document.getElementById('topaz_sign_btn').style.visibility = "hidden";

                        saveFormToJSON("id_sig_data");
                        parent.resizeIframe();
                    }
                }
        }
        function ClearFormData()
        {
             document.getElementById("topaz_image_data").value = "";
             document.getElementById("topaz_sigraw_data").value = "";
             document.getElementById('cnv').classList.add("d-none");
             document.getElementById('topaz_sign_btn').style.visibility = "visible";

            saveFormToJSON("id_sig_data");
            parent.resizeIframe();
        }


        var isInstalled = document.documentElement.getAttribute('SigPlusExtLiteExtension-installed');
        if (!isInstalled) {
            document.getElementById('topaz_sign_btn').innerText = "Topaz Software Not Installed";
            document.getElementById('topaz_sign_btn').classList.add("btn-delete");
        }

    </script>
{% endif %}

{% endblock %}
