<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->




    <div class='row margin-top-2'>
        <div class="col-md-12">
            <h4>Insurance
                <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/client/insurance/?client={{client.id}}');">
                    Create Insurance
                </a>
            </h4>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table-no-order-no-search" data-order='[[0, "asc"]]'>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Provider</th>
                        <th>Group</th>
                        <th>Subscriber</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                {% if insurance_data %}
                <tbody>
                    {% for item in insurance_data %}
                    <tr>
                        <td>
                            <a href="javascript:showPopup('/client/insurance/{{ item.id }}/');">
                                {{ item.get_insurance_type_display }}
                            </a>
                        </td>

                        <td>
                            <a href="javascript:showPopup('/client/insurance/{{ item.id }}/');">
                                {{ item.provider_name|default:'' }}
                            </a>
                        </td>


                        <td>
                            <a href="javascript:showPopup('/client/insurance/{{ item.id }}/');">
                                {{ item.group_number|default:''  }}
                            </a>
                        </td>

                        <td>
                            <a href="javascript:showPopup('/client/insurance/{{ item.id }}/');">
                                {{ item.subscriber_id|default:''  }}
                            </a>
                        </td>

                        <td>
                            <a href="javascript:showPopup('/client/insurance/{{ item.id }}/');">
                                {{ item.notes|default:''  }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>



