<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>

<div class='container'>
    <div class='row margin-top-4'>
        <div class="col-md-12">
            <h3>Episodes
                <a class="btn btn-sm btn-secondary ml-4" href="/client/pps_aoda_epi/new/?client={{client.id}}">
                    Create AODA Episode
                </a>
                <a class="btn btn-sm btn-secondary ml-4" href="/client/pps_mh_epi/new/?client={{client.id}}">
                    Create Mental Health Episode
                </a>
                <a class="btn btn-sm btn-secondary ml-4" href="/client/pps_core_epi/new/?client={{client.id}}">
                    Create Core Episode
                </a>
                <a class="btn btn-sm btn-secondary ml-4" href="/client/pps_b3_epi/new/?client={{client.id}}">
                    Create Birth to 3 Episode
                </a>
            </h3>
        </div>
    </div>
</div>

<div class='container'>
    <div class="row margin-top-1">
        <div class='col-12'>
        	<table class="listview-table-no-order-no-search">
        		<thead>
        			<tr>
                        <th>Module</th>
        				<th>Start</th>
        				<th>End</th>
        			</tr>
        		</thead>

        		<tbody>
        			{% for item in pps_aoda_epi %}
        			<tr>
                        <td><a href="/client/pps_aoda_epi/{{ item.id }}/">{{item.get_name}}</a></td>
                        <td><a href="/client/pps_aoda_epi/{{ item.id }}/"><span class='d-none'>{{ item.start | date:'Ymd' }}</span>{{ item.start | date:'m/d/Y' }}</a></td>
        				<td><a href="/client/pps_aoda_epi/{{ item.id }}/"><span class='d-none'>{{ item.end | date:'Ymd' }}</span>{{ item.end | date:'m/d/Y' }}</a></td>
                    </tr>
        			{% endfor %}

                    {% for item in pps_mh_epi %}
        			<tr>
                        <td><a href="/client/pps_mh_epi/{{ item.id }}/">{{item.get_name}}</a></td>
                        <td><a href="/client/pps_mh_epi/{{ item.id }}/"><span class='d-none'>{{ item.start | date:'Ymd' }}</span>{{ item.start | date:'m/d/Y' }}</a></td>
        				<td><a href="/client/pps_mh_epi/{{ item.id }}/"><span class='d-none'>{{ item.end | date:'Ymd' }}</span>{{ item.end | date:'m/d/Y' }}</a></td>
                    </tr>
        			{% endfor %}

                    {% for item in pps_core_epi %}
        			<tr>
                        <td><a href="/client/pps_core_epi/{{ item.id }}/">{{item.get_name}}</a></td>
                        <td><a href="/client/pps_core_epi/{{ item.id }}/"><span class='d-none'>{{ item.start | date:'Ymd' }}</span>{{ item.start | date:'m/d/Y' }}</a></td>
        				<td><a href="/client/pps_core_epi/{{ item.id }}/"><span class='d-none'>{{ item.end | date:'Ymd' }}</span>{{ item.end | date:'m/d/Y' }}</a></td>
                    </tr>
        			{% endfor %}

                    {% for item in pps_b3_epi %}
        			<tr>
                        <td><a href="/client/pps_b3_epi/{{ item.id }}/">{{item.get_name}}</a></td>
                        <td><a href="/client/pps_b3_epi/{{ item.id }}/"><span class='d-none'>{{ item.start | date:'Ymd' }}</span>{{ item.start | date:'m/d/Y' }}</a></td>
        				<td><a href="/client/pps_b3_epi/{{ item.id }}/"><span class='d-none'>{{ item.end | date:'Ymd' }}</span>{{ item.end | date:'m/d/Y' }}</a></td>
                    </tr>
        			{% endfor %}
        		</tbody>

        	</table>
        </div>
    </div>
</div>
