<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
<div class='container'>
<div class='row margin-top-4'>
    <div class="col-md-12">
        <h4>PPS Services
            <a class="btn btn-sm btn-secondary ml-4" href="/client/casenote/new/?client={{instance.client.id}}&ppsepi={{instance.pps_epi_uuid}}">
                Create PPS Service
            </a>
        </h4>
    </div>
</div>

<div class="row">
    <div class='col-12'>
    	<table class="listview-table-no-order-no-search">
    		<thead>
    			<tr>
    				<th>Code</th>
    				<th>Start</th>
                    <th>End</th>
    			</tr>
    		</thead>

    		<tbody>
    			{% for item in pps_services %}
    			<tr>
    				<td><a href="/client/casenote/{{ item.id }}/">{{ item.service }}</a></td>
    				<td><a href="/client/casenote/{{ item.id }}/">{{ item.pps_start | date:'m/d/Y' }}</a></td>
                    <td><a href="/client/casenote/{{ item.id }}/">{{ item.pps_end | date:'m/d/Y' }}</a></td>
                </tr>
    			{% endfor %}
    		</tbody>

    	</table>
    </div>
</div>
</div>
