<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <div class='row margin-top-2'>
        <div class="col-md-12">
            <h2>eWiSACWIS Import
            </h2>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table" data-order='[[0, "asc"]]'>
                <thead>
                    <tr>
                        <th>Client</th>
                    </tr>
                </thead>
                {% if import_rows %}
                <tbody>
                    {% for key, value in import_rows.items %}
                    <tr>
                        <td>
                            <h4>{{key}}</h4>
                            <p class="ml-4">
                                {% for row in value %}
                                    {{row}}<br>
                                     <a href="/client/sacwis_import_edit/{{ value }}/">{{ key }} </a>
                                {% endfor %}
                            </p>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
            {% include 'page_controls.html' %}
        </div>
    </div>

</div>
{%endblock%}
