<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
<div class='breadcrumb'>
    <div class='container'>
        <a href="{% url 'client:client_index' %}">All Clients</a>
        <a href="{% url 'client:me_index' %}">My Clients</a>
            {{client.name}} ({{client.id}}){% if client.active is False %} (Inactive){% endif %}
    </div>
</div>
{% endblock %}


{% block content %}




{% include 'client/client_ribbon.html' %}


<div class='container'>
<div class='row margin-top-4'>
<div class='col-12'>
<h3>State Forms</h3>
<table class="listview-table">
    <thead>
    	<tr>
    		<th>Number</th>
    		<th>Title</th>
    	</tr>
    </thead>
    <tbody>
        {% for item in state_forms %}
        <tr>
    		<td><a class='monospace' target='_blank' href='{{item.0|safe}}'>
    			{{item.1}}
    		</a></td>
    		<td><a target='_blank' href='{{item.0|safe}}'>
    			{{item.2}}
    		</a></td>
    	</tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>

{% endblock %}