/*

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/


/*** CSS File for the Reports ***/
form {
    display: none;
}

table {
    width: 100%;
}

thead th {
    padding: 0.3rem 0.5rem;
    font-weight: bold;
}

tbody tr:nth-of-type(odd){
    background-color: #f5f5f5;
}

tbody tr:nth-of-type(even){
    background-color: #ffffff;
}

tr {
    border-top:2px solid rgb(204, 204, 204);
    border-bottom: 2px solid rgb(204, 204, 204);
}