/*

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/


:root{
  --color-light: #ddddda;
  --color-dark: #7697a0;
  --color-dark2: #4a707a;
}


/* Base Nova Colors */
.orange {
    color: #FF7733;
}
.orange-bg {
    background-color: #FF7733;
}



/*** Hide arrows and extra decorations on inputs ***/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.hidden { display:none !important;}
.inline-block { display:inline-block !important; }
.align-center, .center {text-align: center;}
.align-left, .left {text-align: left !important;}
.align-right, .right {text-align: right;}
.float-left { float:left; }
.float-right { float:right;}
.clear-left {clear: left;}
.clear-both {clear: both;}
.vcenter {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.wide {margin:auto; width:60rem !important; max-width: 100% !important;}
.narrow {width: 35rem !important; max-width: 100% !important;}
.full-width {width:100%;}
.nowrap { white-space: nowrap;}
.margin-auto { margin:auto;}
.margin-left-1 {margin-left:1rem !important;}
.margin-left-2 {margin-left:2rem !important;}
.margin-left-4 {margin-left:4rem !important;}
.margin-right-1 {margin-right:1rem !important;}
.margin-right-2 {margin-right:2rem !important;}
.margin-right-4 {margin-right:4rem !important;}
.margin-top-1 {margin-top:1rem !important;}
.margin-top-2 {margin-top:2rem !important;}
.margin-top-4 {margin-top:4rem !important;}
.margin-top-6 {margin-top:6rem !important;}
.margin-top-8 {margin-top:8rem !important;}
.margin-top-10 {margin-top:10rem !important;}
.margin-bottom-1 {margin-bottom:1rem !important;}
.margin-bottom-2 {margin-bottom:2rem !important;}
.margin-bottom-4 {margin-bottom: 4rem !important;}
.margin-bottom-6 {margin-bottom: 6rem !important;}
.margin-bottom-8 {margin-bottom: 8rem !important;}

.padding-left-1 {padding-left:1rem !important;}
.padding-left-2 {padding-left:2rem !important;}
.padding-left-4 {padding-left:4rem !important;}
.padding-right-1 {padding-right:1rem !important;}
.padding-right-2 {padding-right:2rem !important;}
.padding-right-4 {padding-right:4rem !important;}
.padding-top-1 {padding-top:1rem !important;}
.padding-top-2 {padding-top:2rem !important;}
.padding-top-4 {padding-top:4rem !important;}
.padding-top-6 {padding-top:6rem !important;}
.padding-top-8 {padding-top:8rem !important;}
.padding-top-10 {padding-top:10rem !important;}
.padding-bottom-1 {padding-bottom:1rem !important;}
.padding-bottom-2 {padding-bottom:2rem !important;}
.padding-bottom-4 {padding-bottom: 4rem !important;}
.padding-bottom-6 {padding-bottom: 6rem !important;}
.padding-bottom-8 {padding-bottom: 8rem !important;}
.color-black {color:black !important;}
.color-light { color:var(--color-light) !important;}
.color-dark { color:var(--color-dark) !important; }
.color-dark2 {color:var(--color-dark2) !important; }
.color-white { color:white !important; }
.opacity-0 { opacity:0 }
.back-color-black, .bg-black { background-color:black !important; }
.back-color-light, .bg-light { background-color:var(--color-light) !important; }
.back-color-dark, .bg-dark { background-color:var(--color-dark) !important; }
.back-color-dark2, .bg-dark2 { background-color:var(--color-dark2) !important; }
.back-color-white, .bg-white { background-color:white !important;}
.bold, .weight-bold {font-weight:bold !important;}
.bold-600, .weight-600 { font-weight:600 !important; }
.lighter, .weight-lighter { font-weight:lighter !important; }
p.small, p.sm, span.small, span.sm, div.sm { font-size:80% !important; }
p.big, p.lg, p.fs120 {font-size:120% !important}
p.xl, p.fs150 {font-size:150% !important}
p.x2, p.fs200 {font-size:200% !important}
span.narrow-underline { display:block; width:75%; height:0.1rem; margin:auto; background-color:#566743; background-color:var(--color-light); }
span.narrow-underline-white { display:block; width:75%; height:0.1rem; margin:auto; background-color:white; }
.narrow-underline { display:inline-block; }
.circle2 { border-radius:50%; width:2rem; height:2rem; position:relative; display:block; font-size:1.2rem }
.double-border:after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:125%;
  height:125%;
  border: 1px solid #1b1f23;
  border: 1px solid var(--color-dark2);
  border-radius:50%;
  opacity:0.5;
}
.anchor-blank::after {
    content: ' 🡕';
    text-decoration: none;
}

.ui-state-active {
    font-weight: normal !important;
    color: #007bff !important;
}


.hover-show {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.hover-show:hover {
    opacity: 1;

}

.hover-highlight, .hover-highlight a {
    opacity:0.3;
}

.hover-highlight:hover, .hover-highlight a:hover {
    opacity: 1;
}






html { width:100%; min-height:100%;}
body{
    background:white;
    font-family: "IBM Plex Sans", sans-serif;
    color:#333;
    width:100%;
    min-height:100%;
    line-height: 1.3;
}
.monospace {
    font-family: 'IBM Plex Mono', sans-serif;
}
.body-popup{
    padding-top:0.0rem;
}
body.login{
    background: url('images/nova_bg1.jpg') center left;
    background-repeat: no-repeat;
    background-size: cover;
}
#page-content-wrapper {
    min-height:100vh;
}
img{

}
a, a:visited, .multiple-entry-link{
    color:#007bff;
    text-decoration: none;
}


a.page, .page {
    color: #333;
}
a.hide-link {
    color: #333;
}
.page-controls {
    position: relative;
}
.page {
    display: inline-block;
    padding:0.25rem;
    font-size: 1.1rem;
}
.page-results {
    position: absolute;
    left: 0rem;
    bottom: 0.25rem;
}
.page.fas:hover {
    color:#FF7733;
}
.page.active {
    font-weight: bold;
    font-size: 123%;
}
table a, table a:visited {
    color:#333;
    width:100%;
    height:100%;
    min-width: 1rem;
    min-height: 1rem;
    padding:0.2rem 0.2rem;
    table-layout: auto;
}
a:hover, a:active, a:focus,
#toolbar a:hover,
.multiple-entry-link:hover{
    text-decoration: none;
    color:#FF7733;
}

tr:hover > td > a {
    text-decoration: underline;
    color: black;
}

.nav-link, .nav-link:visited,
.navbar-brand, .navbar-brand:visited,
.dropwodn-item, .dropdown-item:visited,
#toolbar a, #toolbar a:visited{
    color:white;
}
.nav-link:hover{
    color:#FF7733;
}
.dropdown-menu a:hover{
    color:#FF7733;
    /* same as nav bg */
    /*background-color:#383F51;*/
    /* slightly lighter than nav bg */
    /* background-color:3E475B; */
    /* slightly lighter than nav bg */
    background-color:#313848;
}

.btn {
    padding: 0.3rem 0.7rem;
    margin: 0.3rem 0.7rem;
    border-radius:0;
}

.btn-primary:visited {
    color: white;
}
.btn-primary:hover{
    background-color:#FF7733;
    border: 1px solid #FF7733;
    text-decoration: underline;
}
.btn-primary:disabled:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-decoration: none;
}

a.btn-secondary,
spanb.tn-secondary,
.btn-secondary,
a.btn-secondary:visited,
spanb.tn-secondary:visited,
.btn-secondary:visited,
a.btn-secondary:active,
spanb.tn-secondary:active,
.btn-secondary:active
{
    color:#007bff;
    border-color: #007bff;
    background:white;
    text-decoration: none;
}
a.btn-secondary:hover,
span.btn-secondary:hover,
.btn-secondary:hover {
    color:#FF7733;
    background:white;
    border-color: #FF7733;
    text-decoration: none;
}



.btn-sm {
    padding: 0.2rem 0.35rem;
}

td .btn-sm {
    padding:0 1.5rem;

}

.btn-delete {
    border-color: #777;
    color: #777;
}

.loading-icon::after{
    content: "";
    display:inline-block;
    position: relative;
    width:1rem;
    height:1rem;
    background: url("images/snake-loader.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-left:0.5rem;
    top:0.2rem;
}

.table-striped tbody tr:hover{
    background-color: #ecf5ff !important;
}

address{
    margin:0;
}
h3, h2 {
    /*text-transform: capitalize;*/
}

form{
    margin-top:1rem;
}
form.list-form {
    margin:0;
}
form p{
    margin-bottom:0.25rem;
}
label, .table-filter label {
    margin-top:0.5rem;
    margin-bottom:0.1rem;
    margin-left:0.2rem;
    font-size: 0.85rem;
    font-weight: bold;
    vertical-align: top;
    display: inline-block;
    clear: both;
    position: relative;
    white-space: pre;
    height: auto;
}
input, select, textarea{
    border-style: solid !important;
    border-width: 1px;
    border-color:#999;
}
input[type=checkbox]{
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin-top: 0.25rem;
}


textarea {
    margin-bottom:  0.5rem;
}

span.multiple-time-entry-widget {
    font-size:80%;
    height: auto;
    min-height:2rem;
}
.multiple-entry-link {
    cursor: pointer;
    padding-right: 1rem;
}
.multiple-entry-item {
    display: inline-block;
    padding:0 0.25rem;
    margin:0.15rem 0.25rem;
    background:#007bff;
    border-radius:0.25rem;
    color:white;
    cursor: pointer;

}



input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    display: none;
}

input[type=number]{
    /*text-align: right;*/
    font-family: 'IBM Plex Mono', serif;
}

input[type=text], input[type=password], .form-input{
    /*width:20rem;*/
    max-width:100%;
}


form .form-control,
input.form-control,
select.form-control {
    padding:0.15rem 0.15rem;
    height: 1.9rem;
    border-radius: 0;
}

textarea.form-control {
    height: auto;
}

form .field-clear-icon {
    display: none;
    content: "˟";
    padding-right:0.25rem;
    padding-left: 0;
    position: absolute;
    left: 0;
    bottom: 0.25rem;
    height:1.75rem;
    width: 1.5rem;
    font-style: normal;
    font-size: 24pt;
    background: transparent;
    color: #CCC;
    cursor: pointer;
}
form .field-clear-icon:hover {
    color: black;
}

ul.form-control {
    height: auto;
    list-style: none;
}
ul.form-control li input {
    display:inline;
}
ul.form-control li label::after {
    content: "";
}

input[type=radio], form input[type=radion].form-control  {
    height: 1rem;
}

div.radio-select {
    display: inline-block;
    height: auto;
    margin-bottom: 0.5rem;
}



.login input{
    width: 20rem;
    max-width: 100%;
}
.login label{
    width: 20rem;
    max-width: 100%;
    text-align:left;
}

label::after {
    content : "optional";
    color: #999;
    font-size:0.7rem;
    font-weight: normal;
    margin-left:0.2rem;
    font-style: italic;
}

label[for=table-filter]::after {
    content: "press enter to apply";
}
label[for=year-filter]::after {
    content: '';
}

form label[for=id_linked_docs] {
    top: 0rem;
}


label.required::after {
    content : "";
}

label[for=id_units]::after {
    content:  "";
}

label.changed-from-auto::after {
    content : "⚠" !important;
    font-weight: bold;
    font-size: 1.2rem;
    font-style: normal;
    color: #FF7733;
    position: absolute;
    bottom: -0.2rem;
    margin-left: 0.5rem;

}

label.warning::after {
    content : "⚠" !important;
    font-weight: bold;
    font-size: 1.2rem;
    font-style: normal;
    color: #FF7733;
    position: absolute;
    bottom: -0.2rem;
    margin-left: 0.5rem;
}

#id_criminal_interactions {
    /*margin-top:-0.25rem;*/
    display: inline-block;
    height: auto;
    width:49%;
    margin-left: 0.25rem;

}
label.criminal-interactions-after::after {
    content: "Select up to 4";

}



label[for=id_change_password], label[for=id_confirm_password], .password{
    display: none;
}




div.ms-options label::after,
label[for=id_assigned_staff]::after,
label[for=id_change_password]::after,
label[for=id_confirm_password]::after,
form#login-form label::after
{
    content:none;
}
form#login-form input {
    display: inline-block;
}
.hide-after::after {
     visibility: hidden;
}

img.ui-datepicker-trigger {
    width:1rem;
    position: absolute;
    bottom:0.65rem;
    right:0.75rem;
    cursor: pointer;

}
.form-input{
    display:block;
}
.btn-group{
    margin-top:1rem;
    padding-left:0.25rem;
    padding-right:0.25rem;
}

.popup-footer .btn-group{
    margin-top:0;
}


input[name=trans_file-clear],
input[name=cn_file-clear],
input[name=doc_file-clear],
input[name=af_file-clear],
input[name=jf_file-clear]{
    display: none;
}
input.file-upload {
    border: 0;


}
a.file-upload {
    font-weight: bold;
    padding-left:0.25rem;
    padding-right:0.25rem;
}




table {
    font-size:0.9rem;
}


table.dataTable thead th{
    padding:0.2rem 0.2rem;
}
table.dataTable thead th, table.dataTable thead td  {
    border-bottom: none;
}
table.dataTable tbody td{
    padding:0rem;
}
table.dataTable thead th,
table.dataTable tbody td {
    border-left:1px solid #DDD;
    border-top:1px solid #DDD;
}
table.dataTable thead tr > th:first-of-type,
table.dataTable tbody tr > td:first-of-type {
    border-left:none;
}

table.dataTable tbody {

}

table.dataTable.no-footer {
    border-bottom: 0.25rem solid #CCC;
}
table.dataTable tfoot th, table.dataTable tfoot td {
    padding:0;
    padding-top:0.5rem;
}
table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting {
    padding-left:0.7rem;
    background-position: -0.3rem center;
}
.dataTables_filter input, .dataTables_length select{
    height : 2rem;
    margin-bottom:0.5rem;
    font-size:1rem;
    color: #495057;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.dataTables_filter label, .dataTables_length label{
    width:auto;
}
.dataTables_paginate.paging_simple_numbers{
    padding-top:0.5rem;
}
.paginate_button.current{
    padding:0.1rem 0.75rem !important;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color:#f5f5f5;
}
td a{
    display: block;
}
td.td-check {
    text-align: left;
    padding-left: 1rem !important;
}

td.title {
    font-weight: bold;
}

table .cell {
    display: block;
    width:100%;
    height:100%;
    min-width: 1rem;
    min-height: 1rem;
    padding:0.2rem 0.2rem;
}
/* Allows to just use the cell-padding class
    on the table instead of having to wrap
    every td content in a .cell span
*/
table.cell-padding tbody tr td {
    padding:0.2rem 0.2rem;
}

.active-False{
    color:#777 !important;
}
.ac-green{
    color:green !important;
}
.ac-red{
    color:red !important;
}
.navbar{
    padding:0 1rem;;
}
.navbar .fa-bars{
    color:white;
}
.navbar-nav{
    font-size: 1.3rem;
    font-weight: lighter;
}
.nav-item{
    padding-right:1rem;
}
.navbar, .dropdown-menu{
    background-color:#383F51;
    color:white;
}
.dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
}
.dropdown-item{
    color:#FFF;
    font-size:1.1rem;
    padding:0.5rem 1.5rem;
    font-weight: lighter;
}
.navbar-brand{
    font-weight: bold;
    font-size: 2rem;
    margin-right:2rem;
}
#toolbar {
    text-align: right;
    color:white;
    padding-right:0.5rem;
    background-color: #383F51;
    position: relative;
    right: 0;
    z-index: 1;
    padding-left: 0.5rem;
}

#autosave-status {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.25rem 1rem 0.25rem 1rem;
    font-size: small;
    background: white;
    display: none;
}

.history-wrapper{
    position: absolute;
    top: 2rem;
    right: 0rem;
    display: block;
    color: white;


    padding:0.2rem 0rem 0rem 0.5rem;
    z-index: 1;
}
.history-wrapper .container{
    position: relative;
}
.history-Deleted{
    color:#888;
}
.history-item{
    display:none;
    background-color: #383F51;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.history-item:first-of-type {
    display:block;
}
.history-toggle{
    font-size:1.2rem;
    cursor:pointer;
    position: absolute;
    top:-0.35rem;
    left:0rem;
    width:1rem;
    height:1rem;

}
.error-msg{
    background:#ff6c6c;
    padding:1rem 0 1rem;
    color:black;
    display: block;
    font-size:0.9rem;
}
.error-msg a,
.error-msg a:hover,
.error-msg a:visited,
.error-msg a:active,
ul.errorlist a,
ul.errorlist a:hover,
ul.errorlist a:visited,
ul.errorlist a:active {
    color: black;
    text-decoration: underline;
}
ul.errorlist {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.errorlist li {
    padding:0;
    margin:0;
}

ul.errorlist > li {
    font-weight: bold;
    text-transform: capitalize;
    margin-top:0.5rem;
}

ul.errorlist > li > ul.errorlist > li {
    margin-top:0;
    font-weight: normal;
    padding-left:0.5rem;
    font-size:0.8rem;
    counter-increment: errors;
    text-transform: none;
}

ul.errorlist > li > ul.errorlist > li::before {
    content: counter(errors) ": ";

}
.validation-error {
    border-color: #ff6c6c;
    transition: 1s;
}
label.validation-error {
    color: #ff6c6c;
}



.breadcrumb{
    background:transparent;
    margin-top:0rem;
    margin-bottom:0.25rem;
    padding: 0;
    display:block;
    color:#FF7733;
    font-size: 90%;


}
.breadcrumb a:after {
    content: " →";
    color:#000;
    font-weight: bold;
    padding: 0 0.25rem;
    font-size: 100%;
}


#popup-overlay{
    display:none;
}
#popup-overlay
{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:rgba(0,0,0, 0.75);
	z-index:4;
}

.popup-wrapper
{
	overflow:visible;
	width:100%;
	display:block;
	position:relative;
    top:10px;
	z-index:99999999999999;
	padding:0px;
	background:white;
    cursor:move;
	border-radius:0.1rem;
	-webkit-box-shadow: 0rem 0rem 3rem rgba(0,0,0, 0.5);
    -moz-box-shadow:    0rem 0rem 3rem rgba(0,0,0, 0.5);
    box-shadow:         0rem 0rem 3rem rgba(0,0,0, 0.5);
}
.popup-frame
{
	border:none;
	width:100%;
	/*min-height:400px;*/
	margin:auto;
	/*border-top:1px solid #DDD;*/
	/*border-bottom:1px solid #DDD;*/
}
.popup-trans{
	min-height: 480px; /*approx 40px per field */
}
.popup-title
{
	padding-left:20px;
}
.popup-title h3
{	color:black;
	padding-top:0.5rem;
	padding-bottom:0rem;
	line-height: normal;
    float:left;

}
.popup-close
{
    text-align: center;
    color:grey;
	font-size: 2rem;
    width:2rem;
	cursor:pointer;
    float:right;
    margin-right:0.5rem;
}
.popup-close:hover{
    color:black;
}
.popup-footer{
    padding:0.5rem;
    visibility: hidden;
}
.popup-footer .btn-group-popup{
    display: block;
}
.popup-footer .btn-delete{
    float:right;
    display: none;
}
#popup-save {
    text-transform: capitalize;
}

.footer {
    padding:2rem 0 2rem 0;
    background: #383F51;
    color:white;
    font-size: 0.9rem;
    margin-top: 6rem;
}
.footer a, .footer a:visited, .footer a:active {
    color: white;
}
.footer a:hover {
    text-decoration: underline;
}
.footer ul {
    list-style: none;
    padding:0;
    margin:0;

}

.helpdesk-link {
    text-align: center;
}
.helpdesk-link a {
    text-decoration: underline;
}
.copy {
    margin-top:1rem;
    text-align:center;
    font-size:0.8rem;
}

.signature-status {
    display: none;
    text-transform: none;
}

#nova-modal-wrapper {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align: center;
    background-color: #383F51;
    z-index: 9;
}

#nova-modal {
    position: relative;
    display: inline-block;
    top:10vh;
    left:0;
    min-width:300px;
    width:30vw;
    max-width:600px;
    background: white;
    border-radius:0.1rem;
    padding:0.5rem 1rem;
    text-align: left;
    -webkit-box-shadow: 0rem 0rem 3rem rgba(0,0,0, 0.5);
    -moz-box-shadow:    0rem 0rem 3rem rgba(0,0,0, 0.5);
    box-shadow:         0rem 0rem 3rem rgba(0,0,0, 0.5);
}
#nova-modal-title {
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}
#nova-modal-body {

}
#nova-modal-buttons {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}
#nova-modal-buttons button {
    margin-right:0;
    margin-left:0;
}

.client-ribbon {
    border-bottom: 1px solid #BBB;
    margin-bottom: 1rem;
    font-size: 12pt;
    display: flex;
}

a.ribbon-item {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    color: #333;
}
a.ribbon-item:hover {
    color:black;
    text-decoration: underline;
}
a.ribbon-item.active {
    font-weight: bold;
    color: #FF7733;
    position: relative;
    font-size:14pt;
    bottom: 0.2rem;
}

.emr-episode-timeline {
    border-top:2px solid #FF7733;
    border-bottom:2px solid #FF7733;
    margin-top: -1rem;
    background: #FF7733;
    padding:0rem 2rem;
    background: linear-gradient(180deg, #FF7733, #FFF);
    background: white;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
}

.timeline-item {
    border-right:1px solid #333;
    display:inline-block;
    padding: 0.25rem 1rem;
    position: relative;
    background: white;
}
.timeline-item a {
    color: #333;
    display: block;
}
.timeline-item a:hover {
    text-decoration: underline;
}
.timeline-item.active {
    font-weight: bold;
    background-color: #FF7733;

}
.timeline-item .fa-plus-circle {
    position: absolute;
    left: -0.5rem;
    top: 0.4rem;
    color: #FF7733;
}


.emr-sidebar {
  margin: 0;
  padding: 1rem;
  padding-top: 3rem;
  width: 200px;
  position: absolute;
  height: 100%;
  overflow: auto;
}
.emr-container {
  margin-left: 200px;
  padding:1.5rem;
  background:white;
  min-height: 600px;
  border-left: 1px solid #AAA;
}



div.emr-epi-type-modal {
    text-align: center;

}

div.emr-epi-type-modal a {
    width:80%;
    display: inline-block;
    text-align: center;
    margin:0.5rem;
    border:1px solid #FF7733;
    font-size:14pt;

    padding:0.25rem;

}

select.emr-form-type, select.emr-doc-type {
    display: block;
    width:100%;
    height: auto;
}

.ms-options {
    margin: 0 !important;
    min-height: auto !important;
    max-height: none !important;
    height: auto;

}

.ms-options label {
    width: auto !important;
}

.ms-options a {
    position: relative;
}

.external-link {
    position: absolute;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    color:#AAA;
}




table.case-note-table td.case-note-table-cell{
    padding:1rem;
}

table.case-note-table div.case-note-note {
    padding-top:1rem;
    padding-left:1.5rem;
}

.form-section {
    float: left;
    clear: both;
    display: block;
    width: 100%;
    margin-top: 2rem;
}

input[type=checkbox].form-control{
    display: inline-block;
    position: relative;
    top:1.25rem;
    margin-right: 0.25rem;
    margin-bottom: 2rem;
}
.form-control + label{
    position: relative;
    top: 1.25rem;
}

.form-section.subsection-only {
    margin-top: 1rem;
}
.form-section.subsection-only h5 {
    margin-bottom: 0rem;
}
.form-section small {
    font-size:  70%;
}

.form-section span.details {
    display: block;
    padding-left:1.5rem;
    padding-right: 0.5rem;
    font-weight:normal;
}

.form-section span.details::after {
    content:"";
}




input.client-statement-chk {
    display: inline-block;
    margin-right: 0.25rem;
}

label.client-statement-label {
    display:inline-block;
    position: relative;
    bottom: 0.5rem;

}
label.client-statement-label::after {
    content:"";
}

.form-values {
    text-transform: capitalize;
    font-size: 8.5pt;
}

.form-values span {
    padding-left: 0.25rem;
    padding-right:  0.25rem;
    display: inline-block;
}


a.emr-case-note-link {
    color: black;
}
a.emr-case-note-link:hover {
    text-decoration: underline;
}

a.emr-doc-unlink, a.emr-doc-unlink:visited, a.emr-doc-unlink:active {
    margin-right: 1rem;
    color: #333;
}

.edit-false > input, .edit-false > select {
    border-width: 0;
    background-color: white !important;
    font-weight: bold;
    appearance:  none;
    -webkit-appearance:  none;
    margin-bottom: 1rem;
    padding-bottom: 0;
    border-bottom: 1px solid #AAA;
}

.edit-false input[type=number] {
    -moz-appearance: textfield;
}

p.edit-false {

}
p.edit-false > label {
    float: none !important;
    font-weight: normal;
    margin-bottom: -0.5rem;

}

p.edit-false > label::after {
    content: '';
}

.btn-group.edit-false, .edit-false > a {
    display: none;
}

a.listview-no-click, a.listview-no-click:hover {
    cursor: default;
    text-decoration: none !important;
}


.text-preview-wrapper {
    display: inline;
    position: absolute;
    top:2rem;
    left: 0;
    padding-left:3rem;
}
.text-preview.text-preview-expandable {
    cursor: se-resize;
}

.text-full {
    display: none;
}
.text-full {
    cursor: nw-resize;
}

#form-column {
    border-left:1px solid #ced4da;
}


#form-index a{
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

#form-index-list {
    font-size: 90%;
    background: white;
    border-radius: 0.5rem;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
}

#report-results {
    margin-top: 2rem;
    border-top:1px solid #AAA;
}

.emr-form-report-wrapper p {
    float: left;
    margin-bottom: 0.5rem;
}

.emr-form-report-wrapper p span {
    font-weight: bold;
    padding-right:0.25rem;
}

.emr-form-report-wrapper .form-section.no-bold-labels p span {
    font-weight: normal;
}

.emr-form-report-wrapper p span::after {
    content: ":";
}
.emr-form-report-wrapper h5 {
    margin-top:-1rem;
}
.emr-form-report-wrapper div.form-section.subsection {

}





span.emr-report-chk {
    display: inline-block;
    position: relative;
    margin-right: 0.25rem;
    border:1px solid #333;
    width:1rem;
    height:1rem;
    top:0.3rem;
    margin-bottom: 0rem;
    border-radius: 3px;
    background-color: white;
    color: #333;
}



span.emr-report-chk + span::after {
    content: none;
}

span.emr-report-chk.checked {
    background-color: #777;
    color: white;
}

span.emr-report-chk.unchecked:after {
   content: "▢";
   position: relative;
   bottom:0.3rem;
   left: 0.05rem;
   height: 1rem;
   width: 1rem;
   visibility: hidden;

}

span.emr-report-chk.checked:after {
    content: "\2714";
    position: relative;
    bottom:0.3rem;
    left: 0.05rem;

}

label.emr-report-chk {
    white-space: normal;
}

.duplicate-name-notify {
    font-weight: bold;
    bottom:  0.25rem;
    left:  0rem;
    position: absolute;
    z-index: 2;
}

.duplicate-name-notify a {
    color: #F73;
}

.changelog-title {
    border-bottom:1px solid black;
}


.next-row-btn {
    cursor: pointer;
    color:  #007bff;
    white-space: nowrap;
}

.emr-report-choices .selected-choice {
    font-size: medium;
    font-weight: bold;
    text-decoration: underline;

}

.emr-report-choices .unselected-choices {
    font-size: small;
    padding-left: 1rem;
}

.emr-report-choices .choice-value {
    margin-bottom: 0.25rem;
}


#test-notify-banner {
    font-weight: bold;
    text-align: center;
    padding:0.5rem;
    background-color: #FF7733;
    text-decoration: underline;
}


.table-filter label {
    top:0;
}


#notify-list-wrapper {
    display: none;
    position: fixed;
    z-index: 9;
    overflow-x: hidden;
    overflow-y: auto;
    padding:0.3rem 0.4rem;
    right:1rem;
    top:2rem;
    width: 22rem;
    max-width: 50%;
    background-color: white;
    height:90%;
    border:1px solid #DDD;
    border-radius:0.5rem;
    box-shadow: 0rem 0.5rem 3rem rgba(0,0,0,0.2);
}
#notify-list-wrapper h4 {
    padding-left:0.3rem;
}

.notify-item {
    padding:0.3rem 0.4rem;
    border-radius: 0.3rem;
    border-bottom: 1px solid #DDD;
}
.notify-item:hover {
    background-color:#EEE;
}

.notify-item.isread, .notify-item.isread span  {
    color: #777;
}

.notify-message {
    font-size:90%;
    margin-bottom:0.5rem;
}

.notify-footer {

}
.notify-created {
    font-size:80%;
    font-weight:600;
    color: #007bff;
}

.notify-controls {
    float: right;
}

.notify-item.isread .notify-controls {
    display: none;
}

#notify-list-wrapper .popup-close {
    margin-top:-0.5rem;
    margin-right: 0;
}

#notify-icon span.orange {
    font-size:12pt;
    vertical-align: bottom;
}




#route-wrapper {
    display: none;
}

.route-comment-footer {
    font-size: 80%;
}

.route-item.complete, .route-item.complete a {
    color:#777;
}



.transaction-report-form input[type="checkbox"].form-control {
    margin-bottom: 0.25rem;
}

.transaction-report-form .btn-group {
    margin-top:2rem;
}

.toggle {
    cursor: pointer;
}
.reopen-reason {
    display: none;
    background: green;
    transition: background-color;
}
.reopen-reason.toggled {
    display: block;
    background-color:transparent;
}












