/*

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/


/* responsive styling */
.w5, .w10, .w14, .w15, .w16, .w20,
.w25, .w30, .w33, .w35, .w40,
.w45, .w50, .w55, .w60,
.w65, .w70, .w75, .w80
.w85, .w90, .w95, .w100 {
    width:100%;
}

.print-show { display: none; }



/* POPUP Only */
@media(min-width:585px){
	.body-popup input[type=text], .form-input	{
		/*width:380px;*/
	}
}

/* Small and Up*/
@media(min-width:768px){
	.popup-wrapper
	{
		width:600px;
        margin:auto;
	}

    .w5{width:5%} .w10{width:10%} .w14{width:14%} .w15{width:15%} .w16{width:16.66%}
    .w20{width:20%} .w25{width:25%} .w30{width:30%} .w33{width:33.3%}
    .w35{width:35%} .w40{width:40%} .w45{width:45%}
    .w50{width:50%} .w55{width:55%} .w60{width:60%}
    .w65{width:65%} .w70{width:70%} .w75{width:75%}
    .w80{width:80%} .w85{width:85%} .w90{width:90%}
    .w95{width:95%} .w100{width:100%}


    #form-index-list {
        min-width: 10%;
        max-width: 16%;
        position: fixed;
        top: 8.75rem;
        text-overflow: ellipsis;
        max-height: 60vh;
    }


}


/* Large and Up*/
@media(min-width:1200px){
    #toolbar { position: absolute; }
    .popup-wrapper {
        width:700px;
    }

    .popup-wrapper.wide {
        width: 900px;
    }

    .popup-wrapper.wider {
        width: 1100px;
    }

    .popup-wrapper.widest {
        width: 95%;
    }


}





@media print{

    a, a:visited { text-decoration: none !important; }
	.page-break  { display:block; page-break-after:always; }
	.print-hide { display: none;}
    div.dataTables_wrapper div.dataTables_info { display: none;}
    div.dataTables_filter { display: none; }
    .tooltip { display:none; }
    .print-show { display: block; }
    .content { margin-top: 0;}
    .row { display: block; }
    .breadcrumb {display: none;}
    .btn { display: none; }
    @page{
        /*margin: 0mm;*/
        margin-top:1rem;
        size:auto;
    }
    .container { width: 100%; max-width: 100%;}
    table { display:block; }
    .container { width: 100%; max-width: 100%; }
    table { font-size: 70%; }

    table.dataTable thead th {
        padding: 0.1rem 0.1rem;
    }
    table .cell {
        padding: 0.1rem 0.1rem;
    }

    /* *** client statement *** */
    .page-break.client-statement {
        max-height:100vh;;
    }
    .client-statement-container {
        height: 65vh;
        border-bottom:2px dotted black;
        font-size: 1.2rem;
    }
    .client-statement-footer {
        height: 28vh;
        font-size: 1.2rem;
    }

    .window-address {
        position: relative;
        top:160px;
        left: 80px;        
        text-transform: uppercase;
    }

    .col-print-1 {width:8%;  float:left;}
    .col-print-2 {width:16%; float:left;}
    .col-print-3 {width:25%; float:left;}
    .col-print-4 {width:33%; float:left;}
    .col-print-5 {width:42%; float:left;}
    .col-print-6 {width:50%; float:left;}
    .col-print-7 {width:58%; float:left;}
    .col-print-8 {width:66%; float:left;}
    .col-print-9 {width:75%; float:left;}
    .col-print-10{width:83%; float:left;}
    .col-print-11{width:92%; float:left;}
    .col-print-12{width:100%; float:left;}


    .w5{width:5%} .w10{width:10%} .w14{width:14%} .w15{width:15%} .w16{width:16.66%}
    .w20{width:20%} .w25{width:25%} .w30{width:30%} .w33{width:33.3%}
    .w35{width:35%} .w40{width:40%} .w45{width:45%}
    .w50{width:50%} .w55{width:55%} .w60{width:60%}
    .w65{width:65%} .w70{width:70%} .w75{width:75%}
    .w80{width:80%} .w85{width:85%} .w90{width:90%}
    .w95{width:95%} .w100{width:100%}

}
