/*

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/


/* Dark mode styles for Nova */
/* 
    Accent colors from background
    00%: #121212
    05%: #1e1e1e
    10%: #2a2a2a 
    20%: #414141    (mostly borders and other design lines and dividers)
    40%: #717171
    50%: #898989

    
    Foreground:                 #C0C0C0;
    Background/black:           #121212
    Desaturated orange:         #af6e4d
    Very desaturated orange:    #563525
    Desaturated blue:           #a0bedf (links, buttons, etc)

    Fully saturated orange :    #FF7733
    Fully saturated blue   :    #007bff

*/
body, #nova-modal, .ms-options-wrap > .ms-options {
    background: #121212;
    background-color: #121212 !important;
    color: #C0C0C0;
}
hr {
    border-color: #414141;
}
label, a.emr-case-note-link, a.emr-case-note-link:visited {
    color:  #C0C0C0;
}

.ui-widget-content {
    color: #C0C0C0;
    background-color: #121212 !important;
    border: none!important;
}


.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: none!important;
    background: #2a2a2a;
}


#notify-list-wrapper {
    background-color: #121212;
    border-color:black;
}

.notify-item:hover {
    background-color: #222;
}

.popup-wrapper {
    background-color: #121212;
    color: #C0C0C0;
    border:1px solid #414141;
}

.popup-close:hover {
    color: #563525;
}

.popup-title h3 {
    color: #C0C0C0;
}

a, a:visited, a:active, .notify-created {
    color: #a0bedf;
}

.form-control, .form-control:focus, input[type='search'], 
.dataTables_filter input, .dataTables_length select {
    background-color: #121212;
    color:  #C0C0C0;
    border-color: #414141;
}

.edit-false > input, .edit-false > select {
    background-color: #121212 !important;
    border-color: #414141;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #2a2a2a;
}

#form-column, .notify-item {
    border-color: #414141;
}



.btn-primary {
    background-color: #a0bedf;
    border-color: #a0bedf;
    color: #121212;
}

.btn-primary:hover {
    background-color: #af6e4d;
    border: 1px solid #af6e4d;
    
}

.btn-secondary,
a.btn-secondary,
span.btn-secondary,
button.btn-secondary,
.btn-secondary:visited,
a.btn-secondary:visited,
span.btn-secondary:visited,
button.btn-secondary:visited
{
    color: #a0bedf;
    background-color: #121212;
    border-color: #a0bedf;
}

.btn-secondary:hover,
a.btn-secondary:hover,
span.btn-secondary:hover,
button.btn-secondary:hover
{
    color:  #af6e4d;
    border-color: #af6e4d;
    background-color: #121212; 
}
.btn-secondary:active,
a.btn-secondary:active,
span.btn-secondary:active,
button.btn-secondary:active {
    background-color: #121212;
}

a.ribbon-item.active, a.ribbon-item:hover {
    color: #af6e4d;
}

a.ribbon-item {
    color:  #C0C0C0;
}


.emr-episode-timeline {
    border-color: #563525
}

.emr-episode-timeline, .timeline-item {
    background-color: #121212;

}

.timeline-item {
    border-color: #563525
}

.timeline-item.active {
    color: black;
    background-color: #af6e4d;
}

.timeline-item.active a {
    color: black;
}

.timeline-item a {
    color: #C0C0C0;
}

.timeline-item .fa-plus-circle {
    color:  #af6e4d;
}

.emr-container {
    background-color: #121212; 
    border-color: #414141 ;
}

.history-wrapper {

}

.breadcrumb {
    color: #af6e4d;
}

.breadcrumb a::after {
    color: #C0C0C0
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color:  #C0C0C0 !important;
    background:  #121212;
}

.dataTables_wrapper .dataTables_paginate .paginate_button  {
    color:  #C0C0C0 !important;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color:  #898989;
}



table a, table a:visited {
    color:  #C0C0C0 !important;
}

table.dataTable tbody tr {
    background:  #121212;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background: #1e1e1e;
}


table.dataTable thead th,
table.dataTable tbody td {
    border-left:1px solid #2a2a2a;
    border-top:1px solid #2a2a2a;
}

.table-striped tbody tr:hover {
    background-color: #2a2a2a  !important;
}

table.dataTable.no-footer {
    border-color: #414141;
}


.changelog-title {
    border-bottom:1px solid #414141;
}

#form-index-list {
    background-color: #121212;
    background-color: rgba(18,18,18,0.9);

}

.next-row-btn {
    color:  #a0bedf;
}

#autosave-status {
    color: #C0C0C0;
}


#test-notify-banner {
    color: #333;
}




