<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% include 'error_page_header.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{title}}</h1>
            <p>
            {% if msg %}
                {{msg|safe}}
            {% else %}            
                There was an error displaying your page.
                An error report has been sent to the system administrator.            
            {% endif %}
            </p>
            <p><a href="#" onclick="history.back()">Go back</a></p>
            <p><a href="/">Go to the login</a></p>
        </div>
    </div>
</div>
