<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>

{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}
<div class='container content-container'>
    <div class='row'>
        <div class='col-9'>
            <h2>{{title}}</h2>

            {% for x in data %}
            <h4 class='margin-top-2'>
                <a href="{{x.0}}">
                    {{x.1}}
                </a>
            </h4>
            <p style='margin-bottom:0'>{{x.2|safe}}</p>
            <p class='small' style='margin-top:0.25rem;'>{{x.1}} fields: {{x.3}}</p>
            {% endfor %}

        </div>
    </div>


</div>
{% endblock %}
