<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% if title %}{{title}} - {%endif%}NOVA</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Andrew Knotek">

    {% if cc_report %}
    {% else %}
	   <link rel="icon" href="{% static 'images/favicon-16x16.png' %}">
    {% endif %}

    {% if cc_report %}
        {{cc_report_assets|safe}}
    {% else %}
	   {% include 'css_base.html' %}
    {% endif %}
</head>

{% if popup %}
    <body class='body-popup' style='visibility:hidden;'>
{%endif%}

{% if not popup %}
    <div id='autosave-status' class='print-hide'>
        Form has not yet been saved
    </div>
{% endif %}

{% if "test." in request.build_absolute_uri %}
    <div id="test-notify-banner">
        This is the Nova test environment. Any changes may be overwritten nightly.
    </div>
{% endif %}

{%if not popup%}
    {% if cc_report %}
        <body>
    {% else %}
        <body style='visibility: hidden;'>
            <div id="toolbar" class='print-hide sm'>
                {{request.user.userconfig.toolbar_data|safe}}
            </div>

            {% comment %} 
                History is disabled for now. I don't think people actually
                used it and I figured it was easier than trying to tweak 
                the styling to fit the new nav/breadcrumb styles
            {% endcomment %}
            {% comment %} 
                Stopped tracking history. Can probably remove the logic
                from the views
                {% if not popup and not cc_report and 'history' in request.session %}
                    <div class='history-wrapper sm print-hide'>
                        <div class='container'>
                            {% if request.session.history|length > 1 %}
                                <span class='history-toggle'>+</span>
                            {% endif %}
                            {% for item in request.session.history %}
                                <div class='history-item history-{{item.action}}'>
                                    <span class='monospace mr-2'>{{item.time}}</span>
                                    {{item.action}} {{item.model}}: {% if item.action == 'Saved' %}<a href='{{item.href}}'>{{item.name}}</a>
                                    {% else %}
                                        {{item.name}}
                                    {%endif%}
                                </div>
                            {%endfor%}
                        </div>
                    </div>
                {% endif %}
            {% endcomment %}

    {% endif %}

    
    {% if cc_report %}
    <nav class="navbar navbar-expand-lg ">
        <div class='container'>
            <a class="navbar-brand" href="/report/cc_report/watcher/">N<span style='color: #FF7733;'>O</span>VA</a>
        </div>
    </nav>    
    {% else %}

    <nav id="header-nav" class="navbar navbar-expand-lg ">
        <div class='container'>
            <a class="navbar-brand" href="/loginsort/">N<span style='color: #FF7733;'>O</span>VA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            {% if request.user_type == '1' or request.user_type == '2' or request.user_type == '4' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'client:client_index' %}">Clients</a>
            </li>
            {%endif%}


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Accounting
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    {% if request.user_type == '1' or request.user_type == '3' %}
                        <a class="dropdown-item" href="{% url 'accounting:account_index' %}">Account</a>
                        <a class="dropdown-item" href="{% url 'accounting:rate_index' %}">Rate</a>
                        <a class="dropdown-item" href="{% url 'accounting:budget_index' %}">Budget</a>
                        <a class="dropdown-item" href="{% url 'accounting:contract_index' %}">Contract</a>
                    {%endif%}

                    {% comment %} T
                        he new auth views should be accessable by
                        caseworkers, too. The rest of the financial stuff
                        can stay financial only
                    {% endcomment %}

                    <a class="dropdown-item" href="{% url 'accounting:auth_index' %}?year={{request.user.userconfig.fiscal_year}}">Authorization</a>

                    {% if request.user_type == '1' or request.user_type == '3' %}
                        <a class="dropdown-item" href="{% url 'accounting:transaction_index' %}">Transaction</a>
                        <a class="dropdown-item" href="{% url 'accounting:lot_index' %}">Transaction Batch</a>
                        <a class="dropdown-item" href="{% url 'accounting:journal_entry_index' %}">Journal Entry</a>
                        <a class="dropdown-item" href="{% url 'accounting:funding_profile_index' %}">Funding Profile</a>
                    {%endif%}
                </div>
            </li>


            {% if request.user_type == "2" %}
                {% comment %}
                    Links to view-only areas for case workers to look at accounting information
                {% endcomment %}
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Accounting
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'accounting:contract_index' %}">Contract</a>
                    </div>
                </li>
            {% endif %}

            {% if request.user.userconfig.sacwis_import_mgmt %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        eWiSACWIS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'sacwis:sac_check_write_index' %}">Check Write</a>
                        <a class="dropdown-item" href="{% url 'sacwis:person_index' %}">Person</a>
                        <a class="dropdown-item" href="{% url 'sacwis:service_type_index' %}">Service Type</a>
                    </div>

                </li>
            {% endif %}

            {% if request.user.userconfig.active and request.user.userconfig.user_type != "4" %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'report:report_index' %}">Reports</a>
            </li>
            {% endif %}


            {% if request.user_type == '1' %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Configuration
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'config:vendor_index' %}">Vendors</a>
                    <a class="dropdown-item" href="{% url 'config:service_index'%}">Services</a>
                    <a class="dropdown-item" href="{% url 'config:diagnosis_index' %}">Diagnoses</a>
                    <a class="dropdown-item" href="{% url 'config:employee_index' %}">Employees</a>
                    {% if request.user.userconfig.access_settings %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'config:app_config_index' %}">Nova Settings</a>
                    {% endif %}
                        <a href="{% url 'config:user_config_edit' %}" class="dropdown-item">User Settings</a>

                    {% if request.user.userconfig.access_user_mgmt %}
                        <a class="dropdown-item" href="{% url 'config:user_mgmt_index' %}">User Management</a>
                    {% endif %}

                    {% if request.user.userconfig.access_restrictions %}
                        <a class="dropdown-item" href="{% url 'config:user_restrict_index' %}">User Restrictions</a>
                    {% endif %}

                    <a class="dropdown-item" href="{% url 'config:changelog' %}">Changelog</a>
                </div>
            </li>
          {%endif%}

          <!--<li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>-->

        </ul>

      </div>
    </div>
</nav>
{% endif %} <!-- cc_report -->
{% endif %}

{% if not popup and not cc_report %}
    {% block breadcrumb %}{% endblock %}
{% endif %}

{% if instance.is_journaled and instance.is_open %}
    <div class='error-msg'>
        <div class="container">
            Some fields are disabled because this form has already been
            linked to a transaction which has been included in a journal entry.
        </div>
    </div>
{% endif %}


{% if request.error or request.report_error %}
    {% if popup %}
        <div id="error-msg" class='error-msg'>
            <div class='container-fluid'>
                {{request.error.msg|safe}}

                {% if request.report_error %}
                    {% for error in request.report_error}
                        <ul class="errorlist">
                            <li>{{error.field}}
                                <ul class="errorlist">
                                    <li>{{error.msg|safe}}</li>
                                </ul>
                            </li>
                        </ul>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div id="error-msg" class='error-msg'>
            <div class='container'>
                {% if instance and instance.emrformtype.name|lower == 'clts/cst assessment' and "is required" in request.error.msg %}
                <div style="margin-top:0.5rem;">
                    <strong>
                        The highlighted fields must be completed before this form can be finalized.
                    </strong>
                </div>

                {% else %}
                    {{request.error.msg|safe}}
                {% endif %}


                {% if request.report_error %}
                    {% for error in request.report_error %}
                        <ul class="errorlist">
                            <li>{{error.field}}
                                <ul class="errorlist">
                                    {% for msg in error.msg %}
                                    <li>{{msg|safe}}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{%endif%}




{% if not popup%}
 <div id="page-content-wrapper">
	<div id="popup-overlay">
		<div class="popup-wrapper">
			<div class="popup-title"><h3></h3><span class="popup-close" onclick='javascript:closePopup();'>×</span></div>
			<iframe id="popup-frame" class="popup-frame {{popup_class}}" src="about:blank"></iframe>
			<div class="popup-footer">{% include 'popup_buttons.html' %}</div>
		</div>
	</div>


    <div id="content">
        {%endif%}

        {% if request and request.timestamp and '/report/client_statement/' not in request.url %}
            {% comment %}
                Checking for request and timestamp here just in case the page is being exported
                as PDF (it won't have a request object), the PDF generator makes its own
                timestamped header.
                Client statement doesn't get the header since it's generating
                printable letters that go into envelopes.
            {% endcomment %}


                <div id="generated-timestamp" class="print-show center">
                    {% if title %}
                        <h2>{{title}}</h2>
                    {% endif %}

                    <h5>
                        Generated by Nova on {{request.timestamp|date:'m/d/Y H:i:s'}}
                    </h5>

                </div>
            {% endif %}

        {% block content %}{% endblock %}
        {% if not popup %}
    </div>

 </div><!-- /#page-content-wrapper -->
{%endif%}

{% if not popup %}
<!-- Footer -->
<div id="footer" class='footer print-hide'>
    <div class='container'>
        <div class='copy'>
            Nova is derived from NovaGPL, an open-source project licensed under AGPL-3.0-or-later.
            <br><br><a href="/license">license</a> | <a href="https://gitlab.com/novagpl" target="_blank">source</a>
        </div>
    </div>
</div>
{% endif %}




{% if not cc_report %}
{% include 'javascript_base.html' %}
{% endif %}
<!-- Page Javascript -->
{% block page_javascript %}
{% endblock %}

{% if not popup %}
    {% if not cc_report %}
        <div id="nova-modal-wrapper">
            <div id="nova-modal">
                <h4 id="nova-modal-title">
                </h4>
                <div id="nova-modal-body">
                </div>
                <div id="nova-modal-buttons">
                    <button class="btn btn-primary" id="nova-modal-primary"></button>
                    <button class="btn btn-secondary btn-delete float-right" id="nova-modal-secondary"></button>
                </div>
            </div>
        </div>

        <div id='notify-list-wrapper'>
            <h4 onclick="javascript:showNotifications();" style='cursor: pointer;'>
                Notifications
                <span class="popup-close">×</span>
            </h4>
            <div id="notify-list">
                Fetching notifications...
            </div>
        </div>
    {% endif %}
{% endif %}


<script>
    {% comment %}
        On validation error, re-fill the fields and highlight fields
        that have errors.
    {% endcomment %}

    {% if request.error and request.error.values %}
        {% for key, value in request.error.values.items %}
            set_field_value("id_{{key}}", `{{value|escapejs}}`);
        {%endfor%}
    {% endif %}

    {% for key, value in request.error.errors.items %}
        set_field_error("{{key}}");
    {% endfor %}

    {% for item in request.report_error %}
        set_field_error("{{item.field}}");
    {% endfor %}
</script>

{% if '/report/' in request.path %}
    <script>
        renderTableFieldClearButtons();
    </script>
{% endif %}



{% if popup %}
{% if not cc_report %}
<!-- this needs to be moved to script.js at some point -->
<script>
$(document).ready(function(){
    parent.resizeIframe();
});
</script>
{% endif %}

{%else%}
    {% if not cc_report %}
        <script>
            document.getElementsByTagName('body')[0].onresize = resizeIframe;            
        </script>
    {% endif %}
{%endif%}




</body>





</html>
