<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% load static %}
{% load nova_tags %}

{% if cc_report %}
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700|IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">


{% else %}
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700|IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bs/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'datatables.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'fontawesome/all.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'google_fonts.css' %}">
    <link rel="stylesheet" href="{% static 'jquery.multiselect.css' %}">

    <link rel="stylesheet" href="{{ 'nova.css' | staticver }}" />
    <link rel="stylesheet" href="{{ 'nova_responsive.css' | staticver }}" />

    {% if request.user.userconfig.enable_dark_mode is True %}
    <!-- Dark mode enabled -->
        <link rel="stylesheet" href="{{ 'nova_dark_mode.css' | staticver }}" />

    {% endif %}



{% endif %}


