<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!-- Error page header -->
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700|IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">

<style>
html { width:100%; min-height:100%;}
body{
    background:white;
    font-family: "IBM Plex Sans", sans-serif;
    color:#333;
    width:100%;
    min-height:100%;
    margin:0;
}
a, a:hover, a:active, a:visited {
    text-decoration: none;
    color:#007bff;
}
a:hover {
    color: #FF7733;
}
.navbar-brand, .navbar-brand:visited{
    color:white;
    font-weight: bold;
    font-size: 2rem;
    margin-right:2rem;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
}
.container {
    max-width:700px;
    margin:auto;
}

</style>


<div style="background-color: #383F51;  color: white; padding:0rem 1rem;">
    <div class="container">
        <a class="navbar-brand" href="/loginsort">N<span style="color: #FF7733;">O</span>VA</a>
    </div>
</div>

<!-- error page header -->
