<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load static %}
{% load nova_tags %}

{% if not locked and not form.locked %}
<div style='clear:both;' class='btn-group-wrapper'>
    <div class="btn-group btn-group-bottom {% if popup %}d-none{%endif%}">
        {% if request.user.userconfig.view_only == False or filter or request.path == '/config/user_config/'%}
            {% if hide_save is not True and instance.is_finalized is not True %}
            <button type="submit" id="btn-return" name="return" value="return" class="btn btn-primary">
                {% if filter %}
                Apply Filter
                {%else%}
                Save
                {%endif%}
            </button>
            {% endif %}
        {% endif %}


        {% if request.user.userconfig.view_only is False or request.path == '/config/user_config/' %}

            {% if instance and instance.is_open == True and instance.is_finalized == False %}
                {% if instance.emrformtype.get_name == "case note" %}
                    <a class='ml-4 btn btn-secondary' href="javascript:renderPasswordModal();">
                       {% if instance.pps_epi_uuid %}Close {{instance.get_pps_epi_name }} Service{% else %}Close Case Note{% endif %}
                    </a>
                {% else %}
                    <a class='ml-4 btn btn-secondary' href="javascript:closeCaseNote();">
                       {% if instance.pps_epi_uuid %}Close {{instance.get_pps_epi_name }} Service{% else %}Close Case Note{% endif %}
                    </a>
                {% endif %}
            {% endif %}

            {% if hide_delete is not True and 'New' not in title and instance.is_finalized is not True  and  instance|get_class != 'CaseNote' and instance|get_class != 'EmrMessage' and instance|get_class != 'UserConfig' and not 'report' in request.path and not filter and 'user_config' not in request.path and 'user_mgmt' not in request.path %}
                <input id="btn-delete" type="submit" name="delete" class="d-none" value="delete">
                <span onclick="deleteForm()"  class="btn btn-secondary btn-delete ml-4">Delete</span>
            {%endif%}

        {% endif %}

        {% if not popup %}
        {% if filter %}
        <span class="btn btn-secondary btn-clear">Clear Filter</span>
        {%endif%}
        {%endif%}
    </div>
</div>

{%endif%}


{% if title and not popup %}
<script>
if (document.getElementById('btn-return')){
    {% if filter %}
    document.getElementById('btn-return').innerHTML = "Apply Filter"

    {% else %}
        if ("{{title}}".includes("Report")){
            document.getElementById('btn-return').innerHTML = "Run {{title}}";
        }
        else{
            {% if instance and instance.id %}
                document.getElementById('btn-return').innerHTML = "Save Changes";
            {% else %}
                document.getElementById('btn-return').innerHTML = "Save";
            {% endif %}
        }
    {% endif %}


}

document.getElementById("frm").addEventListener("submit", function(){ 
    var btnReturn = document.getElementById("btn-return")
    btnReturn.disabled = true; 
    btnReturn.innerHTML = btnReturn.innerHTML.replace("Run", "Running");

    setTimeout(function(){ btnReturn.classList.add("loading-icon"); }, 50);
});

</script>
{% endif %}


<script>
    {% if locked or form.locked %}
    if (parent.document.getElementById('popup-save'))
        parent.document.getElementById('popup-save').style.display = 'none';
    if (parent.document.getElementById('btn-delete-pretty'))
        parent.document.getElementById('btn-delete-pretty').style.visibility = 'hidden';
    {%else%}
    if (parent.document.getElementById('popup-save'))
        parent.document.getElementById('popup-save').style.display = 'inline-block';
    if (parent.document.getElementById('btn-delete-pretty'))
        parent.document.getElementById('btn-delete-pretty').style.visibility = 'visible';
    {% endif %}
</script>
