<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% load static %}
{% load nova_tags %}

<script>
    // Attempt to force a reload if the page was navigated to by the browser
    // back or forward buttons (BFCACHE) this is only required if the
    // DisableClientSideCachingMiddleware is not enabled.
    /*
    window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
            console.log("Refreshing due to loading from BFCACHE");
            window.location.reload();
        }
    });
    */

</script>

{% if cc_report %}

    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB0kckyBwvydVRIQqOQKYZBNfoxsgGp7Yw&libraries=places'></script>


{% else %}
    <script src="{% static 'jquery-3.3.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery.ui-contextmenu.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery.multiselect.js' %}" type="text/javascript"></script>
    <script src="{% static 'bs/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script scr="{% static 'popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'datatables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery-input-mask-phone-number.min.js' %}" type="text/javascript"></script>
    <!--
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB0kckyBwvydVRIQqOQKYZBNfoxsgGp7Yw&libraries=places'></script>
    -->



    <script>
        {% if request.user.is_staff %}
            {% include 'script.js' %}
        {% else %}
            {% include 'script.min.js' %}
        {% endif %}
    </script>


    <script>
    // If you just supply the subtitle, it shows up as a sub-section of the
    // header before it
    // You can apply a header section by using:


    /*

    "FORM_NAME": {
        "report_header_row": {
            "title": "Assessment Description & Background Information",
            "subtitle": null,
            "reportHide": true,  // hides this section in the report view
        },


    }
    */



        var FORM = null;

        // TODO move all of this to the backend so we're not using javascript
        // to load a file.
        fetch('/static/form_section.json')
          .then(response => response.json())
          .then(data => {
            FORM = data;

            //console.log("Episode type: {{episode.episode_type}}");
            //console.log("Form type   : {{instance.emrformtype.get_name}}")
            {% if "report/" not in request.path and episode.episode_type == 'clinic_preadmit' and instance.emrformtype.get_name == 'clinic wait list' %}
                for ([key, value] of Object.entries(FORM["CLINIC_WAIT_LIST"])) {
                    formSection(key, value);
                }
            {% endif %}

            {% if "report/" not in request.path and episode.episode_type == "clts" and instance.emrformtype.get_name == "clts/cst assessment" %}
                for ([key, value] of Object.entries(FORM["CLTS_ASSESSMENT"])) {
                    formSection(key, value);
                }
            {% endif %}


            {% if "report/" not in request.path and episode.episode_type == 'randi' and instance.emrformtype.get_name == 'intake' %}
                for ([key, value] of Object.entries(FORM["RANDI_INTAKE"])) {
                    formSection(key, value);
                }
            {% endif %}

            {% if "report/" not in request.path and episode.episode_type == 'randi' and instance.emrformtype.get_name == 'internal referral' %}
                for ([key, value] of Object.entries(FORM["RANDI_REFERRAL"])) {
                    formSection(key, value);
                }
            {% endif %}

            {% if "report/" not in request.path and episode.episode_type == 'randi' and instance.emrformtype.get_name == 'external referral' %}
                for ([key, value] of Object.entries(FORM["RANDI_REFERRAL"])) {
                    formSection(key, value);
                }
            {% endif %}

            {% if "report/" not in request.path and episode.episode_type == 'crisis' and instance.emrformtype.get_name == 'assessment' %}
                for ([key, value] of Object.entries(FORM["CRISIS_ASSESSMENT"])) {
                    formSection(key, value);
                }
            {% endif %}

            {% if "report/" not in request.path and episode.episode_type == 'crisis' and instance.emrformtype.get_name == 'crisis alert' %}
                for ([key, value] of Object.entries(FORM["CRISIS_ALERT"])) {
                    formSection(key, value);
                }
            {% endif %}


            {% if "report/" not in request.path and episode.episode_type == 'crisis' and instance.emrformtype.get_name == 'follow up and linkage' %}
                for ([key, value] of Object.entries(FORM["CRISIS_FOLLOWUP"])) {
                    formSection(key, value);
                }
            {% endif %}


            {% if "report/" not in request.path and episode.episode_type == 'crisis' and instance.emrformtype.get_name == 'crisis plan' %}
                for ([key, value] of Object.entries(FORM["CRISIS_PLAN"])) {
                    formSection(key, value);
                }
            {% endif %}


            {% if "report/" not in request.path and episode.episode_type == 'tcm' and instance.emrformtype.get_name == 'placement' %}
                for ([key, value] of Object.entries(FORM["TCM_PLACEMENT"])) {
                    formSection(key, value);
                }
            {% endif %}

            {% if "report/" not in request.path and episode.episode_type == 'tcm' and instance.emrformtype.get_name == 'tcm assessment' %}
                for ([key, value] of Object.entries(FORM["TCM_ASSESSMENT"])) {
                    formSection(key, value);
                }
            {% endif %}

            {% if "report/" not in request.path and episode.episode_type == 'tcm' and instance.emrformtype.get_name == 'pps aoda admission' %}
                for ([key, value] of Object.entries(FORM["TCM_PPS_AODA_ADMISSION"])) {
                    formSection(key, value);
                }
            {% endif %}

            {% if "report/" not in request.path and episode.episode_type == 'tcm' and instance.emrformtype.get_name == 'pps aoda discharge' %}
                for ([key, value] of Object.entries(FORM["TCM_PPS_AODA_DISCHARGE"])) {
                    formSection(key, value);
                }
            {% endif %}

            {% if "report/" not in request.path and episode.episode_type == 'tcm' and instance.emrformtype.get_name == 'pps mental health admission' %}
                for ([key, value] of Object.entries(FORM["TCM_PPS_MH_ADMISSION"])) {
                    formSection(key, value);
                }
            {% endif %}

            {% if "report/" not in request.path and episode.episode_type == 'tcm' and instance.emrformtype.get_name == 'pps mental health discharge' %}
                for ([key, value] of Object.entries(FORM["TCM_PPS_MH_DISCHARGE"])) {
                    formSection(key, value);
                }
            {% endif %}

            {% if "report/" not in request.path and episode.episode_type == 'crisis' and instance.emrformtype.get_name == 'nwc assessment and response plan' %}
                for ([key, value] of Object.entries(FORM["NWC_ASSESSMENT_AND_RESPONSE_PLAN"])) {
                    formSection(key, value);
                }
            {% endif %}


            {% if "report/" not in request.path and episode.episode_type == 'crisis' and instance.emrformtype.get_name == 'county assessment and response plan' %}
                for ([key, value] of Object.entries(FORM["COUNTY_ASSESSMENT_AND_RESPONSE_PLAN"])) {
                    formSection(key, value);
                }
            {% endif %}

            {% if "report/" not in request.path and episode.episode_type == 'crisis' and instance.emrformtype.get_name == 'out of county assessment and response plan' %}
                for ([key, value] of Object.entries(FORM["OOC_ASSESSMENT_AND_RESPONSE_PLAN"])) {
                    formSection(key, value);
                }
            {% endif %}

            {% if "report/" not in request.path and episode.episode_type == 'crisis' and instance.emrformtype.get_name == 'nwc note' %}
                for ([key, value] of Object.entries(FORM["NWC_NOTE"])) {
                    formSection(key, value);
                }
            {% endif %}

            {% if "report/" not in request.path and episode.episode_type == 'crisis' and instance.emrformtype.get_name == 'response plan review' %}
                for ([key, value] of Object.entries(FORM["RESPONSE_PLAN_REVIEW"])) {
                    formSection(key, value);
                }
            {% endif %}


            {% if "report/" not in request.path and episode.episode_type == 'cst' and instance.emrformtype.get_name == 'pps mental health admission' %}
                for ([key, value] of Object.entries(FORM["CST_PPS_MH_ADMISSION"])) {
                    formSection(key, value);
                }
            {% endif %}


            {% if "report/" not in request.path and episode.episode_type == 'cst' and instance.emrformtype.get_name == 'pps mental health discharge' %}
                for ([key, value] of Object.entries(FORM["CST_PPS_MH_DISCHARGE"])) {
                    formSection(key, value);
                }
            {% endif %}










            {% if request.path == "/config/user_config/" %}
                for ([key, value] of Object.entries(FORM["USERCONFIG"])) {
                    formSection(key, value);
                }
            {% endif %}







            // STANDARD REPORT VIEWS
            {% if "/report/randi_internal_referral_report/" in request.path %}
                updateEmrFormDownloadPdfLink("RANDI_REFERRAL_REPORT");
                //console.log("FORM AGAIN!:", FORM);
                for([key, value] of Object.entries(FORM["RANDI_REFERRAL_REPORT"])) {
                    formSection(key, value);
                }
            {% endif %}




            createFormIndex();
            renderTwoColumns();
            navigateToAnchor();


            //console.log("Now: {% now "jS F Y H:i:s" %}");

        });

    </script>

{% endif %}

