<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Logged out - NOVA</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
<meta name="description" content="">

<link rel="icon" href="{% static 'images/favicon-16x16.png' %}">

{% include 'css_base.html' %}

</head>

<body class='login'>

<div class='container'>
    <div class='row justify-content-md-center'>
        <div style='margin-top:10vw;' class='col-md-6 color-white'>
            <h1 style='font-weight:bold; font-size:4.5rem'>N<span style="color: #FF7733;">O</span>VA</h1>

            <div class="mt-4">
                <p>You have been logged out.</p>
                <p><a class="btn btn-primary" onclick="window.location='/login/'+window.location.search;">Go to Login</a></p>
            </div>
        </div>
    </div>
</div>


</body>
</html>
