<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% if page and page.paginator.num_pages > 1 %}
{% load humanize %}
<div class="page-controls mt-1 center">   
    <span class='left page-results' >
    {{ page.start_index }} - {{ page.end_index }} of {{ page.paginator.count|intcomma }}
    </span>
    <!-- Page {{page.number}} of {{page.paginator.num_pages}}<br>-->
    {% if page.has_previous %}

    <a class="margin-right-2 page" href="?page={{page.previous_page_number}}{% if filter %}&amp;filter={{filter}}{% endif %}{% if year %}&amp;year={{year}}{%endif%}">
        &lt; Previous
    </a>
    {% endif %}
    {% if page.pageinator.count < 10 %}
        {% for i in page.paginator.page_range %}
            {% if page.number == i%}
                <a class="page active" href="?page={{i}}{% if filter %}&amp;filter={{filter}}{% endif %}{% if year %}&amp;year={{year}}{%endif%}">{{i}}</a>
            {% else %}
                <a class="page" href="?page={{i}}{% if filter %}&amp;filter={{filter}}{% endif %}{% if year %}&amp;year={{year}}{%endif%}">{{i}}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if page.has_next %}
    <a class="margin-left-2 page" href="?page={{page.next_page_number}}{% if filter %}&amp;filter={{filter}}{% endif %}{% if year %}&amp;year={{year}}{%endif%}">
        Next &gt;
    </a>


    {% endif %}
    
</div>
{% endif %}