<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% load nova_tags %}
{% if not locked %}
<div class="btn-group btn-group-popup">
    {% if request.user.userconfig.view_only == False %}
	   <button onClick="javascript:parent.saveFormPopup();" id='popup-save' class="btn btn-primary">&nbsp;</button>
    {% endif %}
        <button id="btn-cancel" type="button" onClick="javascript:parent.closePopup();" name="cancel" class="btn btn-secondary" value="cancel">Cancel</button>
    {% if request.user.userconfig.view_only == False and "user_mgmt" not in request.path %}
        <input id="btn-delete" type="submit" name="popup-delete" class="d-none" value="delete" />

        <span id='btn-delete-pretty' onclick="deleteFormPopup()"  class="btn btn-secondary btn-delete mr-0">Delete</span>
    {% endif %}
</div>
{%endif%}
