<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% extends "base.html" %}
{% block content %}

{% if popup %}
<div class='container'>
    <div class="row justify-content-center">
    	<div class="col-md-8">
    		<span class="delete-confirm display-block center pad-top-50">{{ objecttype }} saved.</span>
    	</div>
    </div>

<script>
parent.closePopup();
parent.location = parent.location.pathname;

</script>
{%endif%}

{% endblock %}
