<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->



<label class="hide-after">Sharing</label>
{% if instance.get_shared_links %}
    {% for link in instance.get_shared_links %}
        <a href="javascript:void(0);" onclick="copyToClipboard(this, '/external/sharedlink/view/{{link.uuid}}/');" style="display:block; padding:0 0.25rem">
            {{ link.get_link_number }}.
            Active until {{link.expires_at|date:"m/d/Y"}} (click to copy URL)
        </a>
    {% endfor %}
{% endif %}
