<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <div class='row margin-top-2'>
        <div class="col-md-12">
            <h2>OBJECT_NAME
                <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('/APP/OBJECT/');">
                    Create OBJECT_NAME
                </a>
            </h2>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
        	<table class="TABLE_CLASS" data-order='[[0, "asc"]]'>
        		<thead>
        			<tr>
                        <th>FIELD</th>
        			</tr>
        		</thead>
        		{% if OBJECT_DATA %}
        		<tbody>
        			{% for item in OBJECT_DATA %}
        			<tr>
                        <td><a href="javascript:showPopup('/APP/OBJECT/{{ item.id }}/');">{{ item.FIELD }}</a></td>
                    </tr>
        			{% endfor %}
        		</tbody>
        		{% endif %}
        	</table>
        </div>
    </div>

</div>
{%endblock%}
