<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <div class="row justify-content-center">
    	<div class="col-md-12">
    		<h2>TITLE</h2>
    		<form id="frm" method="post" action="">
    			{% csrf_token %}
    			{{ form.as_p }}
    			{% include "form_buttons.html" with filter=True %}
    		</form>
    	</div>
    </div>

    <div class='row margin-top-4'>
        <div class="col-md-6">
            <h2>LISTVIEW_TITLE
                <a class="btn btn-sm btn-secondary ml-4" href="javascript:showPopup('URL');">CREATE_ITEM</a>
            </h2>
        </div>
    </div>
</div>

<div class='container'>
    <div class="row margin-top-1">
        <div class='col-12'>
        	<table class="{{ table_class }}">
        		<thead>
        			<tr>
        				<th>Active</th>
        				<th>Name</th>
        				<th>Number</th>
        				<th>City</th>
        				<th>Street</th>
        			</tr>
        		</thead>
        		{% if data %}
            		<tbody>
            			{% for item in data %}
            			<tr>
                			<td><a class="active-{{item.active}}" href="javascript:showPopup('/config/vendor/{{ item.id }}');" >{{ item.active }}</a></td>
                			<td><a class="active-{{item.active}}" href="javascript:showPopup('/config/vendor/{{ item.id }}');" >{{ item.name }}</a></td>
                			<td><a class="active-{{item.active}}" href="javascript:showPopup('/config/vendor/{{ item.id }}');" >{{ item.vendor_number }}</a></td>
                			<td><a class="active-{{item.active}}" href="javascript:showPopup('/config/vendor/{{ item.id }}');" >{{ item.city }}</a></td>
                			<td><a class="active-{{item.active}}" href="javascript:showPopup('/config/vendor/{{ item.id }}');" >{{ item.street }}</a></td>
            			</tr>
            			{% endfor %}
            		</tbody>
        		{% endif %}
        	</table>

        </div>
    </div>
</div>

{%endblock%}
