<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load nova_tags %}
{% load humanize %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left margin-top-2">
    	<div class="col-md-12">
    		<h2>REPORT_NAME</h2>
    		<form id="frm" method="post" action="">
    			{% csrf_token %}
    			{{ form.as_p }}
    			{% include "form_buttons.html" with filter=True %}
    		</form>
    	</div>
    </div>
</div>

{% if results %}
<div id="report-results" class='container'>
    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12 text-right print-hide">
            <a class="btn btn-sm btn-secondary ml-4 print-hide" href="/report/download_as_csv?report_id={{report_id}}&amp;report_name=REPORT_NAME">
                Download as CSV
            </a>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
        	<table class="listview-table-no-order-no-search" data-order='[[0, "asc"]]'>
        		<thead>
        			<tr>
        				<th>FIELD1</th>
                        <th>FIELD2</th>
        			</tr>
        		</thead>

        		<tbody>
        			{% for item in results %}
        			<tr>
                        <td><a class="active-{{item.Active}}" href="/APP/OBJECT/{{ item.id }}/" >{{ item.name }}</a></td>
                        <td><a class="active-{{item.Active}}" href="/APP/OBJECT/{{ item.id }}/" >{{ item.name }}</a></td>
                    </tr>
        			{% endfor %}
        		</tbody>

                <tfoot>
                    <tr>
                        <td colspan="2" class='right total nowrap'>
                            <span class="cell">
                                <strong>
                                    Total results: <span style="min-width:4rem" class="monospace d-inline-block right">{{results|length}}</span>
                                </strong>
                            </span>
                        </td>
                    </tr>
                </tfoot>

        	</table>

        </div>
    </div>
</div>
{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
