<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<div class='table-filter-wrapper d-block' style="overflow: auto;">
<div class='table-filter float-right'>
    <p class="d-block">
        <label class='text-left d-block' for='table-filter'>Search</label>
        <input type="text" class="form-control" id='table-filter' name="table-filter"/>
        {% if year_filter %}
        <label class="text-left d-block" for="year-filter">Year</label>
        <select id="year-filter" class="form-control" name="year-filter">
            {% for year in year_filter %}
            <option value="{{year}}" {% if forloop.first %}selected{%endif%}>
                {{year}}
            </option>
            {% endfor %}
        </select>
        {% endif %}

        <div style="clear: both; float: right;">
            <input type="button" onclick="javascript:applyTableFilter();" class="btn btn-primary" value="Apply Filter" />
        </div>
    </p>

</div>
</div>