<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-center">
    	<div class="col-md-12">
    		<h2>Account Transaction Report</h2>
    		<form id="frm" method="post" action="">
    			{% csrf_token %}
    			{{ form.as_p }}
    			{% include "form_buttons.html" with filter=True %}
    		</form>
    	</div>
    </div>
</div>

{% if results %}
<div class='container'>
    <div class='row margin-top-4'>
        <div class="col-md-12 text-right">
            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv/?report_id={{report_id}}&report_name=Account_transaction">
                Download as CSV
            </a>
        </div>
    </div>

    <div class='row margin-top-4'>
	<div class='col-md-12 panel-wrapper results'>
		<div>

			<table class="{{table_class}}">
				<thead>
					<tr>
						<th>Date</th>
						<th>Description</th>
						<th>Vendor</th>
						<th>Client</th>
						<th class='right'>Debit</th>
						<th class='right'>Credit</th>
						<th class='right'>Balance</th>
					</tr>
				</thead>


				<tbody>

					{% for item in results %}
					<tr>
						<td class='monospace'><span class='d-none'>{{item.0.date|date:'Ymd'}}</span><span class='cell'>{{item.0.date|date:'m/d/Y'}}</span></td>
						<td><a href="{% if item.0.journal_entry %}/accounting/journal_entry/{{ item.0.journal_entry.id }}/{%else%}javascript:showPopup('/accounting/transaction/{{ item.0.id }}/');{%endif%}" >
							{{item.0.description}}
						</a></td>
						<td><span class='cell'>{{item.0.vendor|default:''}}</span></td>
						<td><span class='cell'>{{item.0.client|default:''}}</span></td>

						{% if item.0.trans_type == '1'%}
						<td class='right monospace'><span class='cell'>{{item.0.amount|intcomma}}</span></td>
						<td></td>
						{%else%}
						<td></td>
						<td class='right monospace'><span class='cell'>{{item.0.amount|intcomma}}</span></td>
						{%endif%}
						<td class='right monospace'><span class='cell'>{{item.1|intcomma}}</span></td>
					</tr>
					{% endfor %}
				</tbody>


				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td><span class='cell right bold'>Totals:</span></td>
						<td class='bold right monospace'><span class='cell'>{{total_debit|intcomma}}</span></td>
						<td class='bold right monospace'><span class='cell'>{{total_credit|intcomma}}</span></td>
						<td class='bold right monospace'><span class='cell'>{{upto_balance|intcomma}}</span></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
</div>
{% endif %}

{%endblock%}
