<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class='container'>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2>AR/AP County</h2>
            {% if found_lot %}
                <h4>{{found_lot}}</h4>
            {% endif %}
            <form id="frm" class="print-hide" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
    </div>
</div>

{% if results %}
<div id="report-results"  class='container-fluid'>
    <div class='row margin-top-4'>
        <div class="col-md-12 text-right">
            <a class="btn btn-sm btn-secondary ml-4 print-hide" href="/report/download_as_csv?report_id={{report_id}}&report_name=ar_ap_county">
                Download as CSV
            </a>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table-no-order-no-search">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th class="right">Total</th>
                    </tr>
                </thead>

                <tbody>
                    {% for fund_group in results %}
                    {% for item in fund_group.account_groups %}

                    <tr>
                        <td><span class="cell">{{ item.transaction.account.county_name }}</span></td>
                        <td><span class="cell">{{ item.transaction.account.county_description}}</span></td>
                        <td><span class="cell monospace right">{{ item.account_total|floatformat:2|intcomma}}</span></td>
                    </tr>
                    {% if forloop.last and show_fund_totals == 'on' %}
                    <tr>                      
                        <td></td>
                        <td><span class="cell bold right"></span></td>
                        <td><span class="cell bold right">Fund {{fund_group.fund_name}}: <span class="monospace">{{ fund_group.fund_total|floatformat:2|intcomma }}</span></span></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class='right total'><span class="cell"><strong>Grand total: <span class="monospace">
                            {{ grand_total|floatformat:2|intcomma }}
                        </span></strong></span></td>
                    </tr>
                </tfoot>



            </table>

        </div>
    </div>
</div>
{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}
{%endblock%}
