<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class='container'>
    <div class="row justify-content-center">
    	<div class="col-md-12">
    		<h2>Budget Report</h2>
    		<form id="frm" method="post" action="">
    			{% csrf_token %}
    			{{ form.as_p }}
    			{% include "form_buttons.html" with filter=True %}
    		</form>
    	</div>
    </div>
</div>

{% if results %}
<div  id="report-results" class='container'>
    <div class='row margin-top-4'>
        <div class="col-md-12 text-right">
            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv/?report_id={{report_id}}&report_name=Budget_report">
                Download as CSV
            </a>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table-no-search" data-order='[[2, "desc"]]'>
                <thead>
                    <tr>
                        <th>Active</th>
                        <th>Account</th>
                        <th class='right'>Amount</th>
                        <th class='right'>Utilization</th>
                        <th class="right">Limit</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in results %}
                    <tr>
                        <td><span class="cell">{{ item.active }}</span></td>
                        <td><span class="cell">{{ item.account }}</span></td>
                        <td><span class="cell monospace right">{{ item.amount|floatformat:2|intcomma }}</span></td>
                        <td><span class="cell monospace right">{{ item.utilization }}</span></td>
                        <td><span class="cell monospace right">{{ item.limit|floatformat:2|intcomma }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <td><span class="cell monospace right"></span></td>
                    <td><span class="cell monospace right"></span></td>
                    <td><span class="cell monospace right"><strong>{{grand_total|floatformat:2|intcomma}}</strong></span></td>
                    <td><span class="cell monospace right"></span></td>
                    <td><span class="cell monospace right"></span></td>
                </tfoot>

            </table>
        </div>
    </div>
</div>
{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
