<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container print-hide'>
    <div class="row">
        <div class="col-md-6">
            <h2>Case Notes</h2>
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
    </div>
</div>

{% if results %}
<div  id="report-results" class='container'>
    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12 text-right print-hide">
            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv?report_id={{report_id}}&report_name=Case_Notes_Report">
                Download as CSV
            </a>

            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_pdf?report_id={{pdf_report_id}}&report_name=Case_Notes_Report">
                Download as PDF
            </a>
        </div>
    </div>
    {% for item in results %}
    <div class="row margin-top-2">
        <div class='col-12'>
            <h5>
                {{item.get_signature_datetime|date:'SHORT_DATETIME_FORMAT'}} 
                by {{item.get_signer_full_name}}</h5>
            {{ item.note|safe }}
            <hr>
        </div>
    </div>
    {% endfor %}


    <div class='right total'><strong>Total results: <span class="monospace">
        {{results|length}}
    </span></strong></div>


</div>

{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}


