<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class='container print-hide margin-bottom-4'>
    <div class="row justify-content-left">
    	<div class="col-md-6">
    		<h2>Client Statement</h2>
    		<form id="frm" method="post" action="">
    			{% csrf_token %}
    			{{ form.as_p }}
    			{% include "form_buttons.html" with filter=True %}
    		</form>
    	</div>
        <div class="col-md-6 right">
            <a class="btn btn-sm btn-secondary ml-2" href="javascript:atpAutoDischarge('/report/client_statement/');">ATP Auto Discharge</a>
        </div>
    </div>
</div>


{% if client_results %}
<div id="report-results"  class="container print-hide">
    <div class='row margin-top-4'>
        <div class="col-md-12 text-right">
            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv/?report_id={{report_id}}&report_name=Client_statement">
                Download as CSV
            </a>
        </div>
    </div>
</div>

    {% for item in client_results %}
        {% if show_zero_balances == False and item.balance_total == 0 %}
<!-- client has a balance of zero, skip, this is not being used right now -->
        {% else %}
<div id="client-statement-page-{{item.client.id}}" class="page-break client-statement client-statement-page">
    <div class="container client-statement-container">
        <div class="print-show">
            <div class="row margin-top-2">
                <div class="col-12">
                    <h3>Client Statement</h3>
                </div>
            </div>

            <div class="row margin-top-2">
                <div class="col-12">
                    <p style="float: left">
                        {{item.client.get_billing_address|safe}}<br>
                    </p>

                    <p style="float:right; text-align:right;">
                        {{agency_address|safe}}
                    </p>
                </div>
            </div>


            <div class="row margin-bottom-2">
                <div class="col-12">
                    <h4 class="text-center"><strong>{{month}} {{year}}</strong></h4>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <h4 class="print-hide">{{item.client}}</h4>
                
                <div class="print-hide">
                    <input id="client-statement-{{item.client.id}}" name="client-statement-{{item.client.id}}" checked class="form-control client-statement-chk" type="checkbox"/>
                    <label for="client-statement-{{item.client.id}}" class="client-statement-label">Print</label>
                </div>

                <table class="listview-table-no-order-no-search">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
            				<th class="right">Charges</th>
                            <th class="right">Payments/Adjustments</th>
                            <th class="right">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td><span class="cell">Client balance forward</span></td>
                            <td><span class="cell right monospace">{{item.balance_forward |floatformat:2|intcomma }}</span></td>
                            <td><span class="cell right monospace"></span></td>
                            <td><span class="cell right monospace">{{item.balance_forward |floatformat:2|intcomma }}</span></td>
                        </tr>

                        {% for x in item.transactions %}
                        <tr>
                            <td><span class="monospace cell">
                                {% if x.transaction.client_payment %}
                                    <span class="d-none">{{ x.transaction.date|date:'Ymd' }}</span>{{x.transaction.date|date:'n/d/Y' }}</span>
                                {% else %}
                                    <span class="d-none">{{ x.transaction.service_date|date:'Ymd' }}</span>{{x.transaction.service_date|date:'n/d/Y' }}</span>
                                {% endif %}                                
                            </td>
                            <td><span class="cell">
                                {% if x.transaction.atp_writeoff %}
                                    {{ x.transaction.description }}
                                {% elif x.transaction.client_payment %}
                                    {{ x.transaction.description }}
                                {%else%} 
                                    {{x.transaction.vendor.name}}
                                {%endif%}
                            </span></td>

                            <td><span class="monospace cell right" >
                                {% if x.transaction.account.type == '1' %}
                                {{ x.transaction.amount|floatformat:2|intcomma }}
                                {% endif %}
                            </span></td>

                            <td><span class="monospace cell right">
                                {% if x.transaction.account.type == '0' %}
                                {{ x.transaction.amount|floatformat:2|intcomma }}
                                {% endif %}
                            </span></td>

                            <td><span class="monospace cell right">
                                {{ x.balance }}
                            </span></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
        					<td></td>
        					<td></td>
                            <td class="right monospace"><span class="cell"><span class="print-hide">{{ item.debit_total|floatformat:2|intcomma }}</span></span></td>
                            <td class="right monospace"><span class="cell"><span class="print-hide">{{ item.credit_total|floatformat:2|intcomma }}</span></span></td>
        					<td class='right monospace'><span class='cell'><b>{{ item.balance_total|floatformat:2|intcomma }}</b></span></td>
        				</tr>
                    </tfoot>

                </table>                

            </div>
        </div>

    </div>

    <div class="container client-statement-footer print-show">
        <div class="row margin-top-2 justify-content-center">
            <div class="col-8">
                {{ agency_address | safe}}
            </div>

            <div class="col-2 text-center">
                <strong>
                    <br><br>
                    Balance due<br>
                    ${{item.balance_total|intcomma}}
                </strong>
            </div>

        </div>
        <div class="row margin-top-1">
            <div class="col-6"></div>
            <div class="col-6">
                Client ID: {{ item.client.id }}<br>
                Client name: {{item.client.name_first_last}}
            </div>
        </div>
        <div class="row">
            <div class="window-address">
                {{item.client.get_billing_address|safe}}
            </div>
        </div>
    </div>
</div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if client_Results %}
    <div class="print-hide container">
        <div class="row margin-top-4">
            <div class="col-12">
                <td><h5>Grand Totals</h5></td>
                <table class="listview-table-no-order-no-search">
                    <thead>
                        <th class="right">Charges</th>
                        <th class="right">Payments/Adjustments</th>
                        <th class="right">Balance</th>
                    </thead>

                    <tr>

                        <td class="right"><span class='cell monospace'>{{gt_charges|intcomma}}</span></td>
                        <td class="right"><span class='cell monospace'>{{gt_payments|intcomma}}</span></td>
                        <td class="right"><span class='cell monospace'>{{gt_balance|intcomma}}</span></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
{% block page_javascript %}
<script>
$(document).ready(function(){
    // In case the user has refreshed the page or the browser has for some
    // reason checked or unchecked some of these items, we must loop through
    // them all to make sure things are correct first
    $(".client-statement-page").each(function(index, value){
        // check the checkbox status, apply print-hide or remove it from the
        // main wrapper. Use the client-statement-page ID to parse out the 
        // client ID and use that to select the  checbox and check its status
        let client_id = $(this).attr("id").split("-")[3];
        let checkbox = $("#client-statement-" + client_id);

        if (checkbox.prop("checked")) {
            $(this).removeClass("print-hide");
        }
        else {
            $(this).addClass("print-hide");
        }


    });

    $(".client-statement-chk").change(function(){
        console.log("CHANGE!");
        console.log($(this).attr("id"));
        let client_id = $(this).attr("id").split("-")[2];
        console.log(client_id);

        if ($(this).prop("checked")) {
            $("#client-statement-page-" + client_id).removeClass("print-hide");
        }
        else {
            $("#client-statement-page-" + client_id).addClass("print-hide");
        }
    });
});
</script>
{% endblock %}
