<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load humanize %}
{% load nova_tags %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left">
        <div class="col-md-12">
            <h2>Contract Report</h2>
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
    </div>
</div>

{% if results %}
<div id="report-results" class='container'>
    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12 text-right print-hide">
            <a class="btn btn-sm btn-secondary ml-4 print-hide" href="/report/download_as_csv?report_id={{report_id}}&report_name=Contract_Report">
                Download as CSV
            </a>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table-no-search" data-order='[[0, "desc"], [1, "asc"]]'>
                <thead>
                    <tr>
                        <th class='left'>Year</th>
                        <th>Contract Type</th>
                        <th>Vendor</th>
                        <th>Service</th>
                        <th class='nowrap'>Rate</th>
                        <th class='right nowrap'>Amount</th>
                        <th class='right nowrap'>Used</th>
                        <th class='right nowrap'>Percent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in results %}
                    <tr>
                        <td><a class='monospace' href="/accounting/contract/{{ item.id }}/">{{ item.year }}</a></td>
                        <td><a href="/accounting/contract/{{ item.id }}/">{{ item.get_contract_type_display }}</a></td>
                        <td><a href="/accounting/contract/{{ item.id }}/">{{ item.vendor }}</a></td>
                        <td><a href="/accounting/contract/{{ item.id }}/">{{item.get_services_html|default:''|safe}}</a></td>
                        <td><a class='right monospace nowrap' href="/accounting/contract/{{ item.id }}/">
                            {{ item.amount | intcomma }}
                            {% for amount in item.get_service_amounts %}
                                <br>{{ amount|intcomma }}
                            {% endfor %}
                        </a></td>

                        <td><a class='right monospace nowrap' href="/accounting/contract/{{ item.id }}/">
                            {{ item.amount | intcomma }}
                            {% for amount in item.get_service_amounts %}
                                <br>{{ amount|intcomma }}
                            {% endfor %}
                        </a></td>

                        <td><a class='right monospace nowrap' href="/accounting/contract/{{ item.id }}/">
                            {{ item.get_usage.0|intcomma }}
                            {% for usage in item.get_service_utilizations %}
                                <br>{{ usage.0|intcomma }}
                            {% endfor %}
                        </a></td>

                        <td><a class='right monospace nowrap' href="/accounting/contract/{{ item.id }}/">
                            {{ item.get_usage.2 }}
                            {% for usage in item.get_service_utilizations %}
                                <br>{{ usage.2 }}
                            {% endfor %}
                        </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
