<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load nova_tags %}
{% load humanize %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left margin-top-2">
        <div class="col-md-12">
            <h2>{{title}}</h2>
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
    </div>
</div>

{% if results %}
<div id="report-results" class='container-fluid'>
    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12 text-right print-hide">
            <a class="btn btn-sm btn-secondary ml-4 print-hide" href="/report/download_as_csv?report_id={{report_id}}&amp;report_name=Crisis_Data_Report">
                Download as CSV
            </a>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table-no-search" data-order='[[0, "asc"]]'>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Day</th>
                        <th>Client</th>
                        <th>Gender</th>
                        <th>DOB</th>
                        <th class="right">Age</th>
                        <th>Cty. of Residence</th>
                        <th>Cty. of Incident</th>

                        <th>Form</th>
                        <th>Outcome</th>


                        <th>ED Placement/Facility</th>


                        {% if request.POST.aoda_involved %}
                            <th>AODA Involved</th>
                        {% endif %}

                        {% if request.POST.law_involved %}
                            <th>LE Involved</th>
                            {% if request.POST.law_involved == 'yes' %}
                                <th>LE Dept</th>
                            {% endif %}
                        {% endif %}

                        {% if request.POST.part_of_existing %}
                            <th>Part of Existing Contact</th>
                        {% endif %}




                    </tr>
                </thead>

                <tbody>
                    {% for item in results %}
                    <tr>
                        <td><a  href="/client/emr_form/{{ item.id }}/"><span class="d-none">{{item.date|date:'Y/m/d'}}</span>{{ item.date|date:'m/d/Y' }}</a></td>
                        <td><a  href="/client/emr_form/{{ item.id }}/">{{ item.date|date:'D' }}</a></td>
                        <td><a  href="/client/emr_form/{{ item.id }}/">{{ item.emrepisode.client.name }}</a></td>
                        <td><a  href="/client/emr_form/{{ item.id }}/">{{ item.emrepisode.client.get_gender_display.0 }}</a></td>
                        <td><a  href="/client/emr_form/{{ item.id }}/"><span class="d-none">{{item.emrepisode.client.birthdate|date:'Y/m/d'}}</span>{{ item.emrepisode.client.birthdate|date:'m/d/Y' }}</a></td>
                        <td><a  href="/client/emr_form/{{ item.id }}/"class="monospace right" >{{item.client_age|default:'Unknown'}}</a></td>

                        <td><a  href="/client/emr_form/{{ item.id }}/">
                            {% if item.emrformtype.get_name == "county assessment and response plan" %}
                                {{county_name}}
                            {% else %}
                                {{ item.get_emrform_instance.get_county_of_residence_display|default:'' }}
                            {% endif %}
                        </a></td>

                        <td><a  href="/client/emr_form/{{ item.id }}/">
                            {% if item.emrformtype.get_name == "county assessment and response plan" %}
                                {{county_name}}
                            {% else %}
                                {{ item.get_emrform_instance.get_county_of_incident_display|default:'' }}
                            {% endif %}
                        </a></td>

                        <td><a  href="/client/emr_form/{{ item.id }}/">{{ item.emrformtype.name }}</a></td>
                        <td><a  href="/client/emr_form/{{ item.id }}/">
                            {% if item.get_emrform_instance.rp_outcome %}
                                {{ item.get_emrform_instance.get_rp_outcome_display}}
                            {% elif item.get_emrform_instance.outcome_of_contact %}
                                {{item.get_emrform_instance.get_outcome_of_contact_display}}
                            {% endif %}
                        </a></td>


                        <td><a  href="/client/emr_form/{{ item.id }}/">
                            {% if item.get_emrform_instance.rp_outcome_facility %}
                                {{ item.get_emrform_instance.rp_outcome_facility}}
                            {% elif item.get_emrform_instance.hospital_location %}
                                {{item.get_emrform_instance.hospital_location}}
                            {% endif %}
                        </a></td>


                        {% if request.POST.aoda_involved %}
                            <td><a  href="/client/emr_form/{{ item.id }}/">
                                {{ item.get_emrform_instance.get_alcohol_substance_factor_display }}
                                {{ item.get_emrform_instance.get_alcohol_sa_factor_display }}
                            </a></td>
                        {% endif %}

                        {% if request.POST.law_involved %}
                            <td><a  href="/client/emr_form/{{ item.id }}/">
                                {{ item.get_emrform_instance.get_law_inv_display }}
                            </a></td>
                            {% if request.POST.law_involved == 'yes' %}
                                <td><a  href="/client/emr_form/{{ item.id }}/">
                                    {% if item.get_emrform_instance.law_dept == 'other' %}
                                        {{ item.get_emrform_instance.law_dept_other }}
                                    {% else %}
                                        {{ item.get_emrform_instance.get_law_dept_display }}
                                    {% endif %}
                                </a></td>
                            {% endif %}
                        {% endif %}

                        {% if request.POST.part_of_existing %}
                            <td><a  href="/client/emr_form/{{ item.id }}/">
                                {{ item.get_emrform_instance.part_of_existing|yesno }}
                            </a></td>
                        {% endif %}


                    </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                        {% if request.POST.aoda_involved %}
                            <td></td>
                        {% endif %}
                        {% if request.POST.law_involved %}
                            <td></td>
                            {% if request.POST.law_involved == 'yes' %}
                                <td></td>
                            {% endif %}
                        {% endif %}
                        {% if request.POST.part_of_existing %}
                            <td></td>
                        {% endif %}
                        <td colspan="5" class='right total nowrap'>
                            <span class="cell">
                                <strong>
                                    {% for key, value in totals.items %}
                                        {% if key == "Audio-only Contacts" %}
                                            <hr>
                                        {% endif %}
                                        {{key}} <span style="min-width: 3rem" class="monospace d-inline-block">{{value|intcomma}}</span><br>

                                    {% endfor %}
                                </strong>
                            </span>
                        </td>
                    </tr>
                </tfoot>
            </table>



        </div>
    </div>
</div>
{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
