<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load nova_tags %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left">
        <div class="col-md-6">
            <h2>Current Roster Report</h2>
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
    </div>
</div>

{% if results %}
<div  id="report-results"  class='container-fluid'>
    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12 text-right print-hide">
            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv?report_id={{csv_report_id}}&report_name=Current_Roster_Report">
                Download as CSV
            </a>

            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_pdf?report_id={{pdf_report_id}}&report_name=Current_Roster_Report">
                Download as PDF
            </a>
        </div>
    </div>

    {% for item in results %}
    <div class="row margin-top-2">
        <div class='col-12'>
            <h3>{{item.episode.get_episode_type_display}}</h3>
            <table style="table-layout: fixed;" class="listview-table-no-search" data-order='[[0, "desc"]]'>
                <thead>
                    <tr>
                        <th>Opened</th>
                        <th>Client Name</th>
                        <th>Client DOB</th>
                        <th>Client Gender</th>
                        {% if item.episode.episode_type == "clinic_preadmit" %}
                            <th>Legal Status</th>
                            <th>IV Drug Use</th>
                            <th>Pregnant</th>
                            <th>Insurance</th>
                            <th class="nowrap">Services Requested</th>
                        {% endif %}

                        {% if item.episode.episode_type == "randi" %}
                            <th class="nowrap">Services Requested</th>
                            <th class="nowrap">Intake Finalize Date</th>
                            <th>Needs Finalize</th>
                        {% endif %}

                    </tr>
                </thead>

                <tbody>
                    {% for episode in item.episodes %}
                    <tr>

                        <td>
                            <a  href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/" >
                                <span class="d-none">{{ episode.start|date:"Ymd" }}</span>{{ episode.start|date:"m/d/Y" }}
                            </a>
                        </td>

                        <td>
                            <a  href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/" >
                                {{ episode.client.name }}
                            </a>
                        </td>

                        <td>
                            <a  href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/" >
                                <span class="d-none">{{ episode.client.birthdate|date:"Ymd" }}</span>{{ episode.client.birthdate|date:"m/d/Y" }}
                            </a>
                        </td>

                        <td>
                            <a  href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/" >
                                {{ episode.client.get_gender_display }}
                            </a>
                        </td>

                        {% if episode.episode_type == "clinic_preadmit" %}
                            <td>
                                <a  href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/" >
                                    {{ episode.get_clinic_preadmit_legal_status|default:''}}
                                </a>
                            </td>
                            <td>
                                <a  href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/" >
                                    {{ episode.get_clinic_preadmit_iv_drug_use|yesno}}
                                </a>
                            </td>
                            <td>
                                <a  href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/" >
                                    {{ episode.get_clinic_preadmit_pregnant|yesno}}
                                </a>
                            </td>
                            <td>
                                <a  href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/" >
                                    {{ episode.client.get_insurance_info_html|safe }}
                                </a>
                            </td>

                            <td class="nowrap">
                                <a  href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/" >
                                   {{ episode.get_clinic_preadmit_requested_services_html|default:''|safe }}
                                </a>
                            </td>
                        {% endif %}

                        {% if episode.episode_type == "randi" %}
                            <td class="nowrap">
                                <a  href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/" >
                                   {{ episode.get_randi_referral_requested_services|default:''|safe }}
                                </a>
                            </td>
                            <td>
                                <a href="/client/emr_form/{{ form.id }}/">
                                    <span class="d-none">{{ episode.randi_finalize_date.finalized_date|date:'Ymd' }}</span>
                                    {{ episode.randi_finalize_date.finalized_date|date:'m/d/Y' }}</a>
                            </td>
                            <td>
                                {% for form in episode.needs_randi_finalize %}
                                    <a href="/client/emr_form/{{ form.id }}/">{{ form.emrformtype }}</a>
                                {% endfor %}
                            </td>
                        {% endif %}
                        
                        
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% if item.episode.episode_type == "clinic_preadmit" %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                    {% if item.episode.episode_type == "randi" %}
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}

                    <td class="right total">
                        <span class="cell">
                            <strong>Total {{item.episode.get_episode_type_pretty}}: <span class="monospace">
                                {{item.total}}</span></strong></td>
                        </span>
                </tfoot>

            </table>

        </div>
    </div>
    {% endfor %}

    <hr>
    <div class="right total"><strong>Grand total: {{grand_total}}</strong></div>
</div>
{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
