<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load humanize %}
{% load nova_tags %}
{% block content %}
<div class='container print-hide'>
    <div class="row ">
        <div class="col-12">
            <h2>DCS-942 Report</h2>
        </div>
        <div class="col-6">
            
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
        {% if results %}
        <div class="col-6">
            <h5 class="mt-5">Contact:<br>
                <strong>{{agency_contact}}</strong>
            </h5>
            <h5>Phone:<br>
                <strong>{{agency_phone}}</strong>
            </h5>

        </div>
        {% endif %}
    </div>
</div>

{% if results %}
<div id="report-results"  class='container-fluid'>
    <!--<div class='row margin-top-4'>
        <div class="col-md-12 text-right">
            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv/?report_id={{report_id}}&report_name=DCS-942">
                Download as CSV
            </a>
        </div>
    </div> -->

    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table-no-order-no-search" data-order='[[2, "desc"]]'>
                <thead>
                    <tr class="right">
                        <th class="left">SPC Category</th>
                        <th>No Target</th>
                        <th>Develop-<br>mental<br>Disability<br>(1)</th>
                        <th>Mental<br>Health<br>(2)</th>
                        <th>Alcohol/<br>Other Drug<br>Abuse<br>(3)</th>
                        <th>Physical<br>&<br>Sensory<br>Disability<br>(4)</th>
                        <th>Delinquent<br>&<br>Status<br>Offender<br>(5)</th>
                        <th>Abused<br>&<br>Neglected<br>Children<br>(6)</th>
                        <th>Children<br>&<br>Families<br>(7)</th>
                        <th>Adults<br>&<br>Elderly<br>(8)</th>
                        <th>Totals</th>
                    </tr>
                </thead>
                <tbody>
                    {% for res in results  %}
                    <tr class="right monospace">
                        <td class="left">{{res.spc}}</td>
                        <td><span class="cell">{{res.totals.None|floatformat:2|default_if_zero:''|intcomma}}</span></td>
                        <td><span class="cell">{{res.totals.01|floatformat:2|default_if_zero:''|intcomma}}</span></td>
                        <td><span class="cell">{{res.totals.31|floatformat:2|default_if_zero:''|intcomma}}</span></td>
                        <td><span class="cell">{{res.totals.18|floatformat:2|default_if_zero:''|intcomma}}</span></td>
                        <td><span class="cell">{{res.totals.57|floatformat:2|default_if_zero:''|intcomma}}</span></td>
                        <td><span class="cell">{{res.totals.06|floatformat:2|default_if_zero:''|intcomma}}</span></td>
                        <td><span class="cell">{{res.totals.61|floatformat:2|default_if_zero:''|intcomma}}</span></td>
                        <td><span class="cell">{{res.totals.64|floatformat:2|default_if_zero:''|intcomma}}</span></td>
                        <td><span class="cell">{{res.totals.58|floatformat:2|default_if_zero:''|intcomma}}</span></td>
                        <td><span class="cell">{{res.grand_total|floatformat:2|intcomma}}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="right bold">
                        <td class="left "><span class="cell">Target Totals</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.None|floatformat:2|default_if_zero:''|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.01|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.31|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.57|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.06|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.61|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.64|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.58|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{report_grand_total|floatformat:2|default:'0'|intcomma}}</span></td>
                    </tr>

                    <tr class="right bold">
                        <td class="left"><span class="cell">Over 18</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.None_over18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.01_over18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.31_over18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.18_over18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.57_over18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.06_over18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.61_over18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.64_over18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.58_over18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{report_over18_grand_total|floatformat:2|default:'0'|intcomma}}</span></td>
                    </tr>  
                    <tr class="right bold">
                        <td class="left"><span class="cell">Under 18</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.None_under18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.01_under18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.31_under18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.18_under18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.57_under18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.06_under18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.61_under18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.64_under18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{target_totals.58_under18|floatformat:2|default:'0'|intcomma}}</span></td>
                        <td class="monospace"><span class="cell">{{report_under18_grand_total|floatformat:2|default:'0'|intcomma}}</span></td>
                    </tr> 
                </tfoot>

            </table>
        </div>
    </div>
</div>
{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
