<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left">
        <div class="col-md-6">
            <h2>Discharge Report</h2>
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
    </div>
</div>

{% if results %}
<div  id="report-results"  class='container'>
    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12 text-right print-hide">
            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv?report_id={{report_id}}&report_name=Discharge_Report">
                Download as CSV
            </a>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table-no-search" data-order='[[1, "desc"]]'>
                <thead>
                    <tr>
                        <th style="white-space: nowrap;">Episode Type</th>
                        <th>Opened</th>
                        <th>Closed</th>
                        <th style="white-space: nowrap;">Closing Reason</th>
                        <th>Client Name</th>
                        <th>Client DOB</th>
                        <th>Client Gender</th>
                        
                    </tr>
                </thead>

                <tbody>
                    {% for item in results %}
                    <tr>
                        <td style="white-space: nowrap;">
                            <a  href="/client/emr_episodes/{{item.client.id}}/{{item.id}}/" >
                                {{ item.get_episode_type_display }}
                            </a>
                        </td>

                        <td>
                            <a  href="/client/emr_episodes/{{item.client.id}}/{{item.id}}/" >
                                <span class="d-none">{{ item.start|date:"Ymd" }}</span>{{ item.start|date:"m/d/Y" }}
                            </a>
                        </td>

                        <td>
                            <a  href="/client/emr_episodes/{{item.client.id}}/{{item.id}}/" >
                                <span class="d-none">{{ item.end|date:"Ymd" }}</span>{{ item.end|date:"m/d/Y" }}
                            </a>
                        </td>

                        <td>
                            <a  href="/client/emr_episodes/{{item.client.id}}/{{item.id}}/" >
                                {{ item.get_closing_reason_display }}
                                {% if item.closing_reason2 %}
                                    <br>{{ item.get_closing_reason2_display }}
                                {% endif %}
                                {% if item.closing_reason3 %}
                                    <br>{{ item.get_closing_reason3_display }}
                                {% endif %}
                            </a>
                        </td>

                        <td>
                            <a  href="/client/emr_episodes/{{item.client.id}}/{{item.id}}/" >
                                {{ item.client.name }}
                            </a>
                        </td>
                        

                        <td>
                            <a  href="/client/emr_episodes/{{item.client.id}}/{{item.id}}/" >
                                <span class="d-none">{{ item.client.birthdate|date:"Ymd" }}</span>{{ item.client.birthdate|date:"m/d/Y" }}
                            </a>
                        </td>

                        <td>
                            <a  href="/client/emr_episodes/{{item.client.id}}/{{item.id}}/" >
                                {{ item.client.get_gender_display }}
                            </a>
                        </td>

                        
                        
                    </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class='right total nowrap'><span class="cell"><strong>Total results: <span class="monospace">
                            {{results|length}}
                        </span></strong></span></td>
                    </tr>
                </tfoot>

            </table>

        </div>
    </div>
</div>
{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
