<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left">
        <div class="col-md-6">
            <h2>Documents Report</h2>
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form
>        </div>
    </div>
</div>

{% if results %}
<div class='container'>
    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12 text-right print-hide">
            <a class="btn btn-sm btn-secondary ml-4 print-hide" href="/report/download_as_csv?report_id={{report_id}}&report_name=Documents_Report">
                Download as CSV
            </a>

            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_pdf?report_id={{pdf_report_id}}&report_name=Documents_Report">
                Download as PDF
            </a>
        </div>
    </div>

    {% for item in results %}
    <div class="row margin-top-4">
        <div class='col-12'>
            <h4>
                {{item.episode.get_episode_type_pretty}}
                <small><br>{{item.episode.start|date:'m/d/y'}} - {{item.episode.end|date:'m/d/y'|default:'Open'}}</small>
            </h4>
            <h5>{{item.episode.client.name}}</h5>
            <table table style="table-layout: fixed;" class="listview-table-no-order-no-search">
                <thead>
                    <tr>
                        <th>Document Date</th>
                        <th>Description</th>
                        <th>Upload User</th>
                        <th>Upload Date</th>

                    </tr>
                </thead>

                <tbody>
                    {% for doc in item.docs %}
                    <tr>
                        <td>
                            <a target="_blank" href="/client/emr_doc/{{ doc.id }}" >
                                {{ doc.date|date:'m/d/y' }}
                            </a>
                        </td>


                        <td>
                            <a target="_blank" href="/client/emr_doc/{{ doc.id }}" >
                                {{ doc.description }}
                            </a>
                        </td>


                         <td>
                            <a target="_blank" href="/client/emr_doc/{{ doc.id }}" >
                                {{ doc.uploaded_by }}
                            </a>
                        </td>

                        <td>
                            <a target="_blank" href="/client/emr_doc/{{ doc.id }}" >
                                {{ doc.upload_date|date:'m/d/Y' }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{%endblock%}
