<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load humanize %}
<div class='container print-hide'>
    <div class="row justify-content-left margin-top-2">
        <div class="col-md-12">
            <h2>{% if my_open %}My Open {% endif %}EMR Case Notes</h2>
            
            {% if not my_open %}
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% if results %}
<div  id="report-results" class='container'>
    {% if not my_open %}
    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12 text-right">
            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_pdf/?report_id={{pdf_report_id}}&report_name=EMR_Case_Note_Report">
                Download as PDF
            </a>
        </div>        
    </div>
    {% endif %}

    {% if client %}
        <div class="row margin-top-2">
            <div class="col-12">
                <h3>{{ client.name }}</h3>
            </div>
        </div>
        {% else %}
    {% endif %}

    {% for item in results %}
    <div class="row margin-top-2">
        <div class='col-12'>
            <h5>
                <a class='emr-case-note-link' href="/client/emr_form/{{item.id}}/" >
                        {{item.date|date:'m/d/Y'}}{% if not client %} - {{item.emrepisode.client.name}}{% endif %}
                    <br>
                </a>
            </h5>
            
            <div class="form-values">
                <span>Episode: {{item.emrepisode.get_episode_type_pretty}}</span>
                <span>Status: {% if item.is_open %}Open{% else %}Closed{% endif %}</span>
                {% if item.is_open is False %}<span>Signed by: {{item.signed_by.userconfig}}</span>{% endif %}
                <span>Created by: {{item.created_by.userconfig}}</span>
                <span>Created at: {{item.created_at|date:'m/d/Y g:i A'}}</span>
                <span>Updated at: {{item.updated_at|date:'m/d/Y g:i A'}}</span>

                <span>Service date: {{item.date|date:'m/d/Y'}}</span>
                <span>Service start: {{item.service_start|date:'g:i A'}}</span>
                <span>Service end: {{item.service_end|date:'g:i A'}}</span>

                <span>Minutes: {{item.total_minutes}}</span>
                <span>Units: {{item.units}}</span>

                {% if item.emrepisode.episode_type == 'clts' and item.contact_type %}
                    {% comment %}
                        No longer using contact_type choices, instead we're
                        using a set of bools because a single case note may
                        have more than 1 contact type. I'm leaving this for now
                        as there may be old case notes that still use the choices
                    {% endcomment %}
                    <span>Contact type: {{item.emrform.get_contact_type_display}}</span>

                {% endif %}

                {% if item.emrepisode.episode_type == 'clts' %}
                    <span>Contact type(s): {{item.get_contact_types}}</span>
                {% endif %}

                {% if item.individuals_present %}
                    <span>Individuals present: {{item.individuals_present}}</span>
                {% endif %}




                <span>Service: {{item.service}}</span>
                {% if item.emrepisode.episode_type == "crisis" %}
                    <span>Diagnosis: {{item.diagnosis}}</span>
                {% endif %}
                <span>Place of service: {{item.get_place_of_service_display}}</span>
                
                <span>Service minutes: {{item.service_minutes}}</span>
                <span>Travel minutes: {{item.travel_minutes}}</span>
                <span>Doc minutes: {{item.doc_minutes}}</span>
                <span>Billing code: {{item.billing_code}}</span>
            </div>

            <div class="ml-4 mt-2">
                <em>{{ item.note|linebreaksbr|safe }}</em>
            </div>

            <hr>
        </div>
    </div>
    {% endfor %}
    <div class='right total'>
        <span class="cell">
            <strong>Total results: <span style="min-width:5rem;" class="d-inline-block monospace right">{{results|length|intcomma}}</span></strong><br>
            <strong>Total minutes: <span style="min-width:5rem;" class="d-inline-block monospace right">{{total_minutes|intcomma}}</span></strong>

        </span>
    </div>
</div>
{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
