<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load nova_tags %}
{% block breadcrumb %}
<div class='breadcrumb print-hide'>
    <div class='container print-hide'>
        <a href="{% url 'client:client_index' %}">All Clients</a>
        <a href="{% url 'client:me_index' %}">My Clients</a>
        <a href="/client/{{episode.client.id}}/">{{episode.client}}</a>
        <a href="/client/emr_episodes/{{episode.client.id}}/">Episodes</a>
        <a href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/">{{episode.get_episode_type_pretty}} Episode</a>
        <a href="/client/emr_episodes/{{episode.client.id}}/{{episode.id}}/form/{{instance.emrformtype.id}}/">{{instance.emrformtype.name}} Forms</a>
    </div>
</div>
{% endblock %}


{% block content %}
<div class='container'>
    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12 text-right print-hide">
            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv?report_id={{report_id}}&amp;report_name={{title}}">
                Download as CSV
            </a>

            <a class="btn btn-sm btn-secondary ml-4" id="emr-form-pdf-download" href="/report/download_as_pdf?report_id={{pdf_report_id}}&amp;report_name=EMR Form Report">
                Download as PDF
            </a>
        </div>
    </div>
</div>


<div class='container'>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2>{{title}}</h2>
            <h5>{{ agency_address|safe }}</h5>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
            <div id="emr_form_header" class="emr-form-report-wrapper">
                <div id="report_header_row" class="row">
                    <div class="col-sm-4">
                        <h5 class='mt-1'><strong>Client:</strong> {{instance.emrepisode.client.name}} ({{instance.emrepisode.client.id}})</h5>
                    </div>

                    <div class="col-sm-4">
                        <h5 class='mt-1'><strong>Birthdate:</strong> {{instance.emrepisode.client.birthdate|date:"m/d/Y"}}</h5>
                    </div>

                    {% if instance.emrformtype.get_name == "crisis plan" %}
                        <div class="col-sm-4">
                            <h5 class='mt-1'><strong>Address:</strong> {{instance.emrepisode.client.get_address.get_long_address}}</h5>
                        </div>
                    {% endif %}
                </div>
                <hr>

                    
                {% if instance.emrformtype.get_name == "internal referral" %}
                    {% include "report/emr_report_forms/internal_referral.html" %}

                {% elif instance.emrformtype.get_name == "external referral" %}
                    {% include "report/emr_report_forms/external_referral.html" %}

                {% elif instance.emrformtype.get_name == "intake" %}
                    {% include "report/emr_report_forms/randi_intake.html" %}

                {% elif instance.emrformtype.get_name == "clts/cst assessment" %}
                    {% include "report/emr_report_forms/clts_assessment.html" %}

                {% elif instance.emrformtype.get_name == 'nwc assessment and response plan' %}
                    {% include "report/emr_report_forms/nwc_assessment_and_response_plan.html" %}

                {% elif instance.emrformtype.get_name == 'out of county assessment and response plan' %}
                    {% include "report/emr_report_forms/ooc_assessment_and_response_plan.html" %}

                {% elif instance.emrformtype.get_name == 'county assessment and response plan' %}
                    {% include "report/emr_report_forms/jackson_county_assessment_and_response_plan.html" %}

                {% elif instance.emrformtype.get_name == "crisis plan" %}
                    {% include "report/emr_report_forms/crisis_plan.html" %}

                {% elif instance.emrformtype.get_name == "crisis alert" %}
                    {% include "report/emr_report_forms/crisis_alert.html" %}

                {% elif instance.emrformtype.get_name == "nwc note" %}
                    {% include "report/emr_report_forms/nwc_note.html" %}

                {% elif instance.emrformtype.get_name == "response plan review" %}
                    {% include "report/emr_report_forms/response_plan_review.html" %}

                {% elif instance.emrepisode.episode_type == "crisis" and instance.emrformtype.get_name == "case note" %}
                    {% include "report/emr_report_forms/crisis_case_note.html" %}

                {% elif instance.emrformtype.get_name == "tcm assessment" %}
                    {% include "report/emr_report_forms/tcm_assessment.html" %}

                {% elif instance.emrepisode.episode_type == "tcm" and instance.emrformtype.get_name == "pps mental health admission" %}
                    {% include "report/emr_report_forms/tcm_pps_mh_admission.html" %}

                {% elif instance.emrepisode.episode_type == "tcm" and instance.emrformtype.get_name == "pps mental health discharge" %}
                    {% include "report/emr_report_forms/tcm_pps_mh_discharge.html" %}

                {% elif instance.emrepisode.episode_type == "cst" and instance.emrformtype.get_name == "pps mental health admission" %}
                    {% include "report/emr_report_forms/cst_pps_mh_admission.html" %}

                {% elif instance.emrepisode.episode_type == "cst" and instance.emrformtype.get_name == "pps mental health discharge" %}
                    {% include "report/emr_report_forms/cst_pps_mh_discharge.html" %}

                {% elif instance.emrformtype.get_name == "pps aoda admission" %}
                    {% include "report/emr_report_forms/tcm_pps_aoda_admission.html" %}

                {% elif instance.emrformtype.get_name == "pps aoda discharge" %}
                    {% include "report/emr_report_forms/tcm_pps_aoda_discharge.html" %}



                {% endif %}




                <!-- signature data -->
                <div class="form-section">
                    <h4>Finalized</h4>
                    <hr>

                    <p class="w50">
                        <span>Finalized by</span>{{instance.signed_by.userconfig}}
                    </p>
                    <p class="w50">
                        <span>Finalized at</span>{{instance.get_signature_datetime|date:"m/d/Y H:i:s"}}
                    </p>
                </div>

                {% if instance.emrformtype.needs_supervisor_signature is True %}
                <div class="form-section">
                    <h4>Mental Health Professional</h4>
                    <hr>

                    <p class="w50">
                        <span>Signed by</span>{{instance.supervisor_signer.userconfig}}
                    </p>
                    <p class="w50">
                        <span>Signed at</span>{{instance.supervisor_signed_date|date:"m/d/Y H:i:s"}}
                    </p>

                </div>
                {% endif %}

                {% if instance.get_emrform_sigs %}
                <div class="form-section">
                    <h4>Electronic Signatures</h4>
                    <hr>

                    {% for sig in instance.get_emrform_sigs %}
                        <p class="w100 mb-4">
                            <div>


                                {% if sig.sig_type == 'topaz' %}
                                    <div>
                                        <img id="sigImg" name="sigImg" width="250" height="50" style="margin-top:-1rem"
                                        src="{{sig.sig_data.topaz_image_data}}"
                                        ></img>
                                    </div>
                                {% elif sig.sig_type == "mouse" %}
                                    <div>
                                        <img id="mouseImg" name="mouseImg" width="250" height="50" style="margin-top:-1rem"
                                        src="{{sig.sig_data.mouse_image_data}}"
                                        ></img>
                                    </div>
                                {% elif sig.sig_type == 'simple_typed' %}
                                    <div>
                                        <strong><u><i>"{{ sig.sig_data.typed_sig}}"</i></u></strong>
                                    </div>
                                {% endif %}

                                {{sig.signer_first}}
                                {% if sig.signer_middle %}
                                    {{sig.signer_middle}}
                                {% endif %}
                                {{sig.signer_last}}
                                <br>
                                {{ sig.get_signer_role_display}}
                                <br>

                                <small>{{ sig.created_at|date:'m/d/Y H:i:s' }} - {{sig.get_sig_type_display}}</small><br>
                            </div>
                        </p>
                        <hr>

                    {% endfor %}
                </div>

                {% endif %}





                               
            </div>




        </div>
    </div>
</div>


{%endblock%}


