<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load nova_tags %}
{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-md-6">
            <h2>EMR Case Note Time</h2>
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
    </div>
</div>

{% if results %}
<div id="report-results" class='container'>
    <div class='row margin-top-4'>
        <div class="col-md-12 text-right">
            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv?report_id={{report_id}}&report_name=EMR_Case_Note_Time_Report">
                Download as CSV
            </a>

            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_pdf?report_id={{pdf_report_id}}&report_name=EMR_Case_Note_Time_Report">
                Download as PDF
            </a>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="{{ table_class }}">
                <thead>
                    <tr>
                        <th>User</th>
                        <th class="right">B-3</th>
                        <th class="right">B-3 Pre-Admit</th>
                        <th class="right">Clinic Pre-Admit</th>
                        <th class="right">CLTS</th>
                        <th class="right">CLTS Pre-Admit</th>
                        <th class="right">Crisis</th>
                        <th class="right">CST</th>
                        <th class="right">R &amp; I</th>
                        <th class="right">TCM</th>
                        <th class="right">Time (hours:minutes)</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in results %}
                    <tr>
                        <td><span class="cell">{{ item.user }}</span></td>
                        <td><span class="cell right monospace">{{item.programs.b3|hours_and_minutes}}</span></td>
                        <td><span class="cell right monospace">{{item.programs.b3_preadmit|hours_and_minutes}}</span></td>
                        <td><span class="cell right monospace">{{item.programs.clinic_preadmit|hours_and_minutes}}</span></td>
                        <td><span class="cell right monospace">{{item.programs.clts|hours_and_minutes}}</span></td>
                        <td><span class="cell right monospace">{{item.programs.clts_preadmit|hours_and_minutes}}</span></td>
                        <td><span class="cell right monospace">{{item.programs.crisis|hours_and_minutes}}</span></td>
                        <td><span class="cell right monospace">{{item.programs.cst|hours_and_minutes}}</span></td>
                        <td><span class="cell right monospace">{{item.programs.randi|hours_and_minutes}}</span></td>
                        <td><span class="cell right monospace">{{item.programs.tcm|hours_and_minutes}}</span></td>
                        <td><span class="cell right monospace">{{item.total_minutes|hours_and_minutes}}</span></td>
                    </tr>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <td><span class="cell"><strong>All workers (hours:minutes)</strong></span></td>
                            <td><span class="cell right monospace"><strong>{{program_totals.b3|hours_and_minutes}}</strong></span></td>
                            <td><span class="cell right monospace"><strong>{{program_totals.b3_preadmit|hours_and_minutes}}</strong></span></td>
                            <td><span class="cell right monospace"><strong>{{program_totals.clinic_preadmit|hours_and_minutes}}</strong></span></td>
                            <td><span class="cell right monospace"><strong>{{program_totals.clts|hours_and_minutes}}</strong></span></td>
                            <td><span class="cell right monospace"><strong>{{program_totals.clts_preadmit|hours_and_minutes}}</strong></span></td>
                            <td><span class="cell right monospace"><strong>{{program_totals.crisis|hours_and_minutes}}</strong></span></td>
                            <td><span class="cell right monospace"><strong>{{program_totals.cst|hours_and_minutes}}</strong></span></td>
                            <td><span class="cell right monospace"><strong>{{program_totals.randi|hours_and_minutes}}</strong></span></td>
                            <td><span class="cell right monospace"><strong>{{program_totals.tcm|hours_and_minutes}}</strong></span></td>
                            <td><span class="cell right monospace"><strong>{{grand_total_minutes|hours_and_minutes}}</strong></span></td>
                        </tr>
                    </tfoot>
                </tbody>

            </table>

        </div>
    </div>
</div>

{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
