<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left">
    	<div class="col-md-6">
    		<h2>Funding Profile</h2>
    		<form id="frm" method="post" action="">
    			{% csrf_token %}
    			{{ form.as_p }}
    			{% include "form_buttons.html" with filter=True %}
    		</form>
    	</div>
    </div>
</div>

{% if results %}
<div id="report-results"  class='container-fluid'>
    <div class='row margin-top-4'>
        <div class="col-md-12 text-right">
            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv/?report_id={{report_id}}&report_name=Funding_profile_report">
                Download as CSV
            </a>
        </div>
    </div>

    {% for item in results %}
    <div class="row margin-top-2">
        <div class='col-12'>
            <h4>{{item.funding_profile}}</h4>
        	<table class="listview-table-no-search">
        		<thead>
        			<tr>
                        <th>Account</th>
        				<th class="right">Amount</th>
        			</tr>
        		</thead>
        		<tbody>
                    {% for x in item.accounts %}
                    <tr>
                        <td class=""><span class="cell">{{x.account}}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.total|floatformat:2|intcomma }}</span></td>
                    </tr>
                    {% endfor %}
                    <tr>

						<td><span class='cell float-right'><b>Total:</b></span></td>
						<td class='right monospace'><span class='cell'><b>{{item.fp_total|floatformat:2|intcomma}}</b></span></td>
					</tr>
        		</tbody>
        	</table>
        </div>
    </div>
    {% endfor %}
    <div class='right total monospace margin-top-2'><span class="cell"><strong>{{grand_total|floatformat:2|intcomma}}</strong></span></div>

    
</div>

{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
