<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left">
    	<div class="col-md-6">
    		<h2>Funding Profile - Full Year</h2>
    		<form id="frm" method="post" action="">
    			{% csrf_token %}
    			{{ form.as_p }}
    			{% include "form_buttons.html" with filter=True %}
    		</form>
    	</div>
    </div>
</div>

{% if results %}
<div class='container-fluid'>
    <div class='row margin-top-4'>
        <div class="col-md-12 text-right">
            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv/?report_id={{report_id}}&report_name=Funding_profile_report_year">
                Download as CSV
            </a>
        </div>
    </div>

    {% for item in results %}
    <div class="row margin-top-2">
        <div class='col-12'>
            <h4>{{item.funding_profile}}</h4>
        	<table class="listview-table-no-search funding-profile">
        		<thead>
        			<tr>
                        <th>Account</th>
                        <th class="right">Jan</th>
                        <th class="right">Feb</th>
                        <th class="right">Mar</th>
                        <th class="right">Apr</th>
                        <th class="right">May</th>
                        <th class="right">Jun</th>
                        <th class="right">Jul</th>
                        <th class="right">Aug</th>
                        <th class="right">Sep</th>
                        <th class="right">Oct</th>
                        <th class="right">Nov</th>
                        <th class="right">Dec</th>
                        <th class="right">P13</th>
                        <th class="right">P14</th>
                        <th class="right">P15</th>
                        <th class="right">P16</th>
                        <th class="right">P17</th>
                        <th class="right">P18</th>
        				<th class="right">Total</th>
        			</tr>
        		</thead>
        		<tbody>
                    {% for x in item.accounts %}
                    <tr>
                        <td class=""><span class="cell">{{x.account}}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p1|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p2|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p3|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p4|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p5|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p6|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p7|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p8|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p9|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p10|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p11|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p12|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p13|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p14|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p15|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p16|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p17|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.p18|intcomma }}</span></td>
                        <td class="monospace right"><span class="cell">{{ x.total|intcomma }}</span></td>
                    </tr>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <td><span class='cell'><b>Totals:</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp1_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp2_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp3_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp4_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp5_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp6_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp7_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp8_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp9_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp10_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp11_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp12_total|intcomma}}</b></span></td>

                            <td class="monospace right"><span class="cell"><b>{{item.fp13_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp14_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp15_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp16_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp17_total|intcomma}}</b></span></td>
                            <td class="monospace right"><span class="cell"><b>{{item.fp18_total|intcomma}}</b></span></td>

    						<td class='right monospace'><span class='cell'><b>{{item.fp_total|intcomma}}</b></span></td>
    					</tr>
                </tfoot>
        		</tbody>
        	</table>
        </div>
    </div>
    {% endfor %}
    <div class='right total margin-top-2'><strong>Grand Total: <span class='monospace'>{{grand_total|intcomma}}</span></strong></div>
</div>
{% endif %}

{%endblock%}
