<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left">
        <div class="col-md-6">
            <h2>Length of Service</h2>
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
    </div>
</div>

{% if results %}
<div  id="report-results" class='container'>
    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12">
            <h3>{{client}}</h3>
        </div>
        <div class="col-md-12 text-right print-hide">            
            <a class="btn btn-sm btn-secondary ml-4 print-hide" href="/report/download_as_csv?report_id={{report_id}}&report_name=Length_of_Service">
                Download as CSV
            </a>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table-no-search" data-order='[[1, "desc"]]'>
                <thead>
                    <tr>
                        <th>Episode Type</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Open Days</th>
                        <th>Closing Reason</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in results %}
                    <tr>
                        <td>
                            <a  href="/client/emr_episodes/{{ item.episode.client.id }}/{{item.episode.id}}/" >
                                {{ item.episode.get_episode_type_pretty }}
                            </a>
                        </td>

                        <td>
                            <a  href="/client/emr_episodes/{{ item.episode.client.id }}/{{item.episode.id}}/" >
                                <span class="d-none">{{ item.episode.start|date:"Ymd" }}</span>
                                {{ item.episode.start|date:"m/d/Y" }}
                            </a>
                        </td>

                        <td>
                            <a  href="/client/emr_episodes/{{ item.episode.client.id }}/{{item.episode.id}}/" >
                                <span class="d-none">{{ item.episode.end|date:"Ymd"|default:'' }}</span>
                                {{ item.episode.end|date:"m/d/Y"|default:'' }}
                            </a>
                        </td>

                        <td>
                            <a  href="/client/emr_episodes/{{ item.episode.client.id }}/{{item.episode.rid}}/" >
                                {{ item.epi_days }}
                            </a>
                        </td>

                        <td>
                            <a  href="/client/emr_episodes/{{ item.episode.client.id }}/{{item.episode.rid}}/" >
                                {{ item.episode.get_closing_reason_display|default:'' }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tfoot>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="right"><span class="cell">
                            <strong>Total days: <span class="monospace">{{total_service_days}}</span></strong>
                        </span></td>
                    </tfoot>
                </tbody>

            </table>

        </div>
    </div>
</div>

{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
