<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load nova_tags %}
{% load humanize %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left margin-top-2">
        <div class="col-md-12">
            <h2>PPS TCM Report</h2>
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
    </div>
</div>

{% if results %}
<div id="report-results" class='container-fluid'>
    {% comment %}
    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12 text-right print-hide">
            <a class="btn btn-sm btn-secondary ml-4 print-hide" href="/report/download_as_csv?report_id={{report_id}}&amp;report_name=PPS_Crisis_Report">
                Download as CSV
            </a>
        </div>
    </div>
    {% endcomment %}

    <div class="row margin-top-1">
        <div class='col-12'>
            {% for key, value in results.items %}
                <div class="margin-top-2">
                    <h4>
                        <a href="/client/emr_episodes/{{value.episode.client.id}}/{{value.episode.id}}/">
                            {{value.episode.get_episode_type_pretty}} PPS data for {{value.episode.client}}
                        </a>
                    </h4>

                    <h5>Demographics</h5>
                    <div class="ml-4">
                        <p>
                            <strong>Address:</strong> {{value.episode.client.get_address.get_long_address}}<br>
                            <strong>Gender:</strong> {{value.episode.client.get_gender_display}}<br>
                            <strong>Race:</strong> {{value.episode.client.get_race_display}}<br>
                            <strong>Ethnicity:</strong>  {{value.episode.client.get_hispanic_display}}<br>
                            <strong>Phone:</strong> {{value.episode.client.phone}}{{value.episode.client.phone_ext|ext}}
                        </p>
                    </div>



                    {% if request.POST.aoda_admission or value.has_aoda_admission %}
                        <h5 class="mt-4">PPS AODA Admission Forms</h5>
                        <div class="ml-4">
                            <table class="listview-table-no-order-no-search">
                                <thead>
                                    <tr>
                                        <th>Start Date</th>
                                        <th>Brief Service</th>
                                        <th>Ref. Source</th>
                                        <th>Co-Dependent</th>
                                        <th>Education</th>
                                        <th>30 Day Arrests</th>
                                        <th>Employment</th>
                                        <th>Living Arrangement</th>
                                        <th>Support Group</th>
                                        <th>Pregnant</th>
                                        <th>Use Problem</th>
                                        <th>Route of Admin</th>
                                        <th>Use Frequency</th>
                                        <th>Age at First Use</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for form in value.forms %}
                                        {% if form.emrformtype.get_name == 'pps aoda admission' %}
                                            <tr>
                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.date|list_date}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_brief_service_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_referral_source_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_cd_collat_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_education_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.num_arrests|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_employ_stat_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_living_stat_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_group_attend_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_pregnant_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_substance_problem1_display|default:''}}
                                                    {% if form.substance_problem2 %}
                                                        <br>{{form.get_substance_problem2_display|default:''}}
                                                    {% endif %}
                                                    {% if form.substance_problem3 %}
                                                        <br>{{form.get_substance_problem3_display|default:''}}
                                                    {% endif %}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_route_admin1_display|default:''}}
                                                    {% if form.route_admin2 %}
                                                        <br>{{form.get_route_admin2_display|default:''}}
                                                    {% endif %}
                                                    {% if form.route_admin3 %}
                                                        <br>{{form.get_route_admin3_display|default:''}}
                                                    {% endif %}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_use_freq1_display|default:''}}
                                                    {% if form.use_freq2 %}
                                                        <br>{{form.get_use_freq2_display|default:''}}
                                                    {% endif %}
                                                    {% if form.use_freq3 %}
                                                        <br>{{form.get_use_freq3_display|default:''}}
                                                    {% endif %}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.age_first_use1|default:''}}
                                                    {% if form.age_first_use2 %}
                                                        <br>{{form.age_first_use2|default:''}}
                                                    {% endif %}
                                                    {% if form.age_first_use3 %}
                                                        <br>{{form.age_first_use3|default:''}}
                                                    {% endif %}
                                                </a></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}


                    {% if request.POST.aoda_discharge or value.has_aoda_discharge %}
                        <h5 class="mt-4">PPS AODA Discharge Forms</h5>
                        <div class="ml-4">
                            <table class="listview-table-no-order-no-search">
                                <thead>
                                    <tr>
                                        <th>Start Date</th>
                                        <th>30 Day Arrests</th>
                                        <th>Employment</th>
                                        <th>Living Arrangement</th>
                                        <th>Support Group</th>
                                        <th>Use Frequency</th>
                                        <th>End Date</th>
                                        <th>SPC End Reason</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    {% for form in value.forms %}
                                        {% if form.emrformtype.get_name == 'pps aoda discharge' %}
                                            <tr>
                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.date|list_date}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.close_num_arrests|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_close_employ_stat_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_close_living_stat_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_close_group_attend_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_close_use_freq_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.end_date|list_date}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_pps_aoda_spc_end_reason_display|default:''}}
                                                </a></td>

                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}




                    {% if request.POST.mh_admission or value.has_mh_admission%}
                        <h5 class="mt-4">PPS Mental Health Admission Forms</h5>
                        <div class="ml-4">
                            <table class="listview-table-no-order-no-search">
                                <thead>
                                    <tr>
                                        <th>Start Date</th>
                                        <th>County of Residence</th>
                                        <th>BRC Target Pop</th>
                                        <th>Presenting Problem</th>
                                        <th>Client Characteristic</th>
                                        <th>Commitment Status</th>
                                        <th>Referral Source</th>
                                        <th>Diagnosis</th>


                                    </tr>
                                </thead>

                                <tbody>
                                    {% for form in value.forms %}
                                        {% if form.emrformtype.get_name == 'pps mental health admission' %}
                                            <tr>
                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.date|list_date}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_county_of_residence_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_brc_target_pop_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_presenting_problem_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_client_char_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_commit_stat_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_referral_source_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_diagnosis_codes_html|default:''|safe}}
                                                </a></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}


                    {% if request.POST.mh_discharge or value.has_mh_discharge %}
                        <h5 class="mt-4">PPS Mental Health Discharge Forms</h5>
                        <div class="ml-4">
                            <table class="listview-table-no-order-no-search">
                                <thead>
                                    <tr>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>SPC End Reason</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for form in value.forms %}
                                        {% if form.emrformtype.get_name == 'pps mental health discharge' %}
                                            <tr>
                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.date|list_date}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.end_date|list_date}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_pps_mh_spc_end_reason_display|default:''}}
                                                </a></td>


                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}




                    {% if request.POST.mh_discharge or request.POST.aoda_discharge or value.has_aoda_discharge or value.has_mh_discharge %}
                        <h5 class="mt-4">Case note minutes: {{value.total_casenote_minutes}}</h5>
                    {% endif %}
                </div>
                <hr class="margin-top-2">
            {% endfor %}


        </div>
    </div>
</div>
{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
