<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load nova_tags %}
{% load humanize %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left margin-top-2">
        <div class="col-md-12">
            <h2>PPS CST Report</h2>
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
    </div>
</div>

{% if results %}
<div id="report-results" class='container-fluid'>
    {% comment %}
    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12 text-right print-hide">
            <a class="btn btn-sm btn-secondary ml-4 print-hide" href="/report/download_as_csv?report_id={{report_id}}&amp;report_name=PPS_Crisis_Report">
                Download as CSV
            </a>
        </div>
    </div>
    {% endcomment %}

    <div class="row margin-top-1">
        <div class='col-12'>
            {% for key, value in results.items %}
                <div class="mt-4">
                    <h4>
                        <a href="/client/emr_episodes/{{value.episode.client.id}}/{{value.episode.id}}/">
                            {{value.episode.get_episode_type_pretty}} PPS data for {{value.episode.client}}
                        </a>
                    </h4>

                    <h5>Demographics</h5>
                    <div class="ml-4">
                        <p>
                            <strong>Address:</strong> {{value.episode.client.get_address.get_long_address}}<br>
                            <strong>Gender:</strong> {{value.episode.client.get_gender_display}}<br>
                            <strong>Race:</strong> {{value.episode.client.get_race_display}}<br>
                            <strong>Ethnicity:</strong>  {{value.episode.client.get_hispanic_display}}<br>
                            <strong>Phone:</strong> {{value.episode.client.phone}}{{value.episode.client.phone_ext|ext}}
                        </p>
                    </div>


                    {% if request.POST.mh_admission or show_all_formtypes %}
                        <h5 class="mt-4">PPS Mental Health Admission Forms</h5>
                        <div class="ml-4">
                            <table class="listview-table-no-order-no-search">
                                <thead>
                                    <tr>
                                        <th>Start Date</th>
                                        <th>Service</th>
                                        <th>Commitment status</th>
                                        <th>Employment status</th>
                                        <th>Living arrangement</th>
                                        <th>Criminal Justice System Involvement</th>
                                        <th>Arrests past 30 days</th>
                                        <th>Arrests past 6 months</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for form in value.forms %}
                                        {% if form.emrformtype.get_name == 'pps mental health admission' %}
                                            <tr>
                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.date|list_date}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.service}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_commit_stat_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_employ_stat_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_living_stat_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_cjs_involvement_html|safe}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.num_arrests}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.num_arrests_sixmonths}}
                                                </a></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}


                    {% if request.POST.mh_discharge or show_all_formtypes %}
                        <h5 class="mt-4">PPS Mental Health Discharge Forms</h5>
                        <div class="ml-4">
                            <table class="listview-table-no-order-no-search">
                                <thead>
                                    <tr>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Service</th>
                                        <th>Commitment status</th>
                                        <th>Employment status</th>
                                        <th>Living arrangement</th>
                                        <th>Criminal Justice System Involvement</th>
                                        <th>Arrests past 30 days</th>
                                        <th>Arrests past 6 months</th>
                                        <th>SPC End Reason</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for form in value.forms %}
                                        {% if form.emrformtype.get_name == 'pps mental health discharge' %}
                                            <tr>
                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.date|list_date}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.end_date|list_date}}
                                                </a></td>

                                                 <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.service}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_commit_stat_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_employ_stat_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_living_stat_display|default:''}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_cjs_involvement_html|safe}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.num_arrests}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.num_arrests_sixmonths}}
                                                </a></td>

                                                <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                    {{form.get_pps_mh_spc_end_reason_display|default:''}}
                                                </a></td>


                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                </div>
            {% endfor %}


        </div>
    </div>
</div>
{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
