<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load nova_tags %}
{% load humanize %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left margin-top-2">
        <div class="col-md-12">
            <h2>PPS Crisis Report</h2>
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
    </div>
</div>

{% if results %}
<div id="report-results" class='container'>
    {% comment %}
    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12 text-right print-hide">
            <a class="btn btn-sm btn-secondary ml-4 print-hide" href="/report/download_as_csv?report_id={{report_id}}&amp;report_name=PPS_Crisis_Report">
                Download as CSV
            </a>
        </div>
    </div>
    {% endcomment %}

    <div class="row margin-top-1">
        <div class='col-12'>
            {% for key, value in results.items %}
                <div class="mt-4">
                    <h4>
                        <a href="/client/emr_episodes/{{value.episode.client.id}}/{{value.episode.id}}/">
                            {{value.episode.get_episode_type_pretty}} Episode for {{value.episode.client}}
                        </a>
                    </h4>

                    <h5>Demographics</h5>
                    <div class="ml-4">
                        <p>
                            <strong>Address:</strong> {{value.episode.client.get_address.get_long_address}}<br>
                            <strong>Gender:</strong> {{value.episode.client.get_gender_display}}<br>
                            <strong>Race:</strong> {{value.episode.client.get_race_display}}<br>
                            <strong>Ethnicity:</strong>  {{value.episode.client.get_hispanic_display}}
                        </p>
                    </div>

                    <h5>Episode Data</h5>
                    <div class="ml-4">

                        <p class="">
                            <strong>Start:</strong> {{value.episode.start|list_date}}<br>
                            <strong>End:</strong> {{value.episode.end|list_date|default:''}}<br>
                            <strong>Closing reason:</strong> {{value.episode.get_closing_reason_html}}<br>
                            <strong>Presenting problem(s):</strong> {{value.episode.get_presenting_problem_html|safe}}<br>
                            <strong>Characteristic  code(s):</strong> {{value.episode.get_char_code_html|safe}}<br>
                            <strong>PPS Episode Closing Reason:</strong> {{value.episode.get_pps_mh_end_reason_display|default:''}}<br>
                        </p>
                    </div>



                    <h5>Intake</h5>
                    <div class="ml-4">
                        <table class="listview-table-no-order-no-search">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Form</th>
                                    <th>Diagnosis</th>
                                    <th>Referral Source</th>
                                    <th>County of Incident</th>
                                    <th>County of Residence</th>
                                    <th>Commitment Status</th>
                                    <th>BRC Target Pop.</th>
                                    <th>SPC End Reason</th>
                                    <th>Billing Code</th>
                                    <th class="right">Minutes</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for form in value.forms %}
                                    {% if form.emrformtype.get_name != "case note" %}
                                        <tr>
                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.date|list_date}}
                                            </a></td>

                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.emrformtype.name}}
                                            </a></td>

                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.get_diagnosis_codes_html|default:''}}
                                            </a></td>

                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.get_emrform_instance.get_ref_source_display|default:''}}
                                            </a></td>

                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.get_emrform_instance.get_county_of_incident_display|default:''}}
                                            </a></td>
                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.get_emrform_instance.get_county_of_residence_display|default:''}}
                                            </a></td>

                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.get_emrform_instance.get_legal_status_display|default:''}}
                                                {{form.get_emrform_instance.get_commitment_status_display|default:''}}
                                            </a></td>

                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.get_emrform_instance.get_brc_target_pop_display|default:''}}
                                            </a></td>

                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.get_emrform_instance.get_spc_end_reason_display|default:''}}
                                            </a></td>
                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {% if form.billing_code == 'unbillable' %}N0000{% else %}{{ form.billing_code|default:'' }}{% endif %}
                                            </a></td>

                                            <td><a class="monospace right" href="/client/emr_form/{{form.id}}/" >
                                                {{form.total_minutes}}
                                            </a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="11" class='right total nowrap'>
                                        <span class="cell">
                                            <strong>

                                                {% if value.nwc_note_minutes %}
                                                    NWC note: <span style="min-width:4rem" class="monospace d-inline-block right">{{value.nwc_note_minutes}}</span><br>
                                                {% endif %}

                                                {% if value.county_assessment_minutes %}
                                                    County assessment: <span style="min-width:4rem" class="monospace d-inline-block right">{{value.county_assessment_minutes}}</span><br>
                                                {% endif %}

                                                {% if value.nwc_assessment_minutes %}
                                                    NWC assessment: <span style="min-width:4rem" class="monospace d-inline-block right">{{value.nwc_assessment_minutes}}</span><br>
                                                {% endif %}

                                                Total: <span style="min-width:4rem" class="monospace d-inline-block right">{{value.total_form_minutes}}</span><br>
                                            </strong>
                                        </span>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>





                    <h5 class="mt-4">Case Notes</h5>
                    <div class="ml-4">
                        <table class="listview-table-no-order-no-search">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Form</th>
                                    <th>Diagnosis</th>
                                    <th>Referral Source</th>
                                    <th>County of Incident</th>
                                    <th>County of Residence</th>
                                    <th>Commitment Status</th>
                                    <th>BRC Target Pop.</th>
                                    <th>SPC End Reason</th>
                                    <th>Billing Code</th>
                                    <th class="right">Minutes</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for form in value.forms %}
                                    {% if form.emrformtype.get_name == "case note" %}
                                        <tr>
                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.date|list_date}}
                                            </a></td>

                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.emrformtype.name}}
                                            </a></td>

                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.get_diagnosis_codes_html|default:''}}
                                            </a></td>

                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.get_emrform_instance.get_ref_source_display|default:''}}
                                            </a></td>

                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.get_emrform_instance.get_county_of_incident_display|default:''}}
                                            </a></td>
                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.get_emrform_instance.get_county_of_residence_display|default:''}}
                                            </a></td>

                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.get_emrform_instance.get_legal_status_display|default:''}}
                                                {{form.get_emrform_instance.get_commitment_status_display|default:''}}
                                            </a></td>

                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.get_emrform_instance.get_brc_target_pop_display|default:''}}
                                            </a></td>

                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {{form.get_emrform_instance.get_spc_end_reason_display|default:''}}
                                            </a></td>
                                            <td><a class="" href="/client/emr_form/{{form.id}}/" >
                                                {% if form.billing_code == 'unbillable' %}N0000{% else %}{{ form.billing_code|default:'' }}{% endif %}
                                            </a></td>

                                            <td><a class="monospace right" href="/client/emr_form/{{form.id}}/" >
                                                {{form.total_minutes}}
                                            </a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="11" class='right total nowrap'>
                                        <span class="cell">
                                            <strong>
                                                Case note: <span style="min-width:4rem" class="monospace d-inline-block right">{{value.total_casenote_minutes}}</span><br>
                                            </strong>
                                        </span>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>

                </div>
            {% endfor %}






        </div>
    </div>
</div>
{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}




