<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load nova_tags %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left">
        <div class="col-md-12">
            <h2>R & I Internal Referral Report</h2>
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
    </div>
</div>

{% if results %}
<div id="report-results" class='container-fluid'>
    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12 text-right print-hide">
            <a class="btn btn-sm btn-secondary ml-4 print-hide" href="/report/download_as_csv?report_id={{report_id}}&report_name=Internal_Referral_Report">
                Download as CSV
            </a>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table-no-search" data-order='[[0, "desc"]]'>
                <thead>
                    <tr>
                        <th>Referral Date</th>
                        <th>Client</th>
                        <th>Referrer Name</th>
                        <th>Legal Status</th>
                        <th>Services Requested</th>
                        <th>Gender</th>
                        <th>Birthdate</th>
                        <th>Episode</th>
                        <th>Open Date</th>
                        <th>Close Date</th>
                        <th>Closing Reason</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in results %}
                    <tr>
                        <td><a href="/client/emr_form/{{ item.id }}/"><span class="d-none">{{item.ref_date|date:'Ymd'}}</span>{{ item.ref_date|date:'m/d/Y' }}</a></td>
                        <td><a href="/client/emr_form/{{ item.id }}/">{{ item.client }}</a></td>
                        <td><a href="/client/emr_form/{{ item.id }}/">{{ item.ref_name }}</a></td>
                        <td><a href="/client/emr_form/{{ item.id }}/">{{ item.legal_status|default:'' }}</a></td>
                        <td><a href="/client/emr_form/{{ item.id }}/">{{ item.req_services|default:''|safe }}</a></td>
                        <td><a href="/client/emr_form/{{ item.id }}/">{{ item.gender }}</a></td>
                        <td><a href="/client/emr_form/{{ item.id }}/"><span class="d-none">{{ item.birthdate|date:'Ymd' }}</span>{{ item.birthdate|date:'m/d/Y' }}</a></td>
                        <td><a href="/client/emr_form/{{ item.id }}/">#{{ item.episode_number }}</a></td>
                        <td><a href="/client/emr_form/{{ item.id }}/"><span class="d-none">{{ item.start|date:'Ymd'}}</span>{{ item.start|date:'m/d/Y' }}</a></td>
                        <td><a href="/client/emr_form/{{ item.id }}/"><span class="d-none">{{ item.end|date:'Ymd'}}</span>{{ item.end|date:'m/d/Y' }}</a></td>
                        <td><a href="/client/emr_form/{{ item.id }}/">{{ item.closing_reason }}</a></td>

                    </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class='right total nowrap'><span class="cell"><strong>Total results: <span class="monospace">
                            {{results|length}}
                        </span></strong></span></td>
                    </tr>
                </tfoot>

            </table>

        </div>
    </div>
</div>

{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}


{%endblock%}
