<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container'>

    <div class='row margin-top-2'>
        <div class="col-md-12">
            <h2>{{title}}</h2>
        </div>
    </div>



    <div class="row margin-top-2">
        <div class='col-4'>
            <h4>Recent</h4>
            <table class="listview-table-no-order-no-search">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                {% if my_recent %}
                <tbody>
                    {% for item in my_recent %}
                    <tr>
                        <td><a href="/report/{{ item.report_url}}/" >{{ item.report_name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>


        <div class='col-4'>
            <h4>Frequent</h4>
            <table class="listview-table-no-order-no-search">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                {% if my_top %}
                <tbody>
                    {% for item in my_top %}
                    <tr>
                        <td><a href="/report/{{ item.report_url}}/" >{{ item.report_name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>




    <div class="row margin-top-4">
        <div class='col-4'>
            <h4>Financial</h4>
            <table class="listview-table-no-order">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                {% if financial_reports %}
                <tbody>
                    {% for item in financial_reports %}
                    <tr>
                        <td><a href="/report/{{ item.url}}/" >{{ item.name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>


        <div class='col-4'>
            <h4>Program</h4>
            <table class="listview-table-no-order">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                {% if program_reports %}
                <tbody>
                    {% for item in program_reports %}
                    <tr>
                        <td><a href="/report/{{ item.url}}/" >{{ item.name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>



</div>
{%endblock%}
