<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load nova_tags %}
{% load humanize %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-left margin-top-2">
        <div class="col-md-12">
            <h2>Time to Note Report</h2>
            <form id="frm" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
        </div>
    </div>
</div>

{% if results %}
<div id="report-results" class='container'>
    <div class='row margin-top-4 print-hide'>
        <div class="col-md-12 text-right print-hide">
            <a class="btn btn-sm btn-secondary ml-4 print-hide" href="/report/download_as_csv?report_id={{report_id}}&amp;report_name=REPORT_NAME">
                Download as CSV
            </a>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class='col-12'>
            <table class="listview-table-no-search" data-order='[[0, "asc"]]'>
                <thead>
                    <tr>
                        <th>Service Date</th>
                        <th>Finalized Date</th>
                        <th>Opened By</th>
                        <th>Client</th>
                        <th>Episode Type</th>
                        <th>Form</th>
                        <th>Days to Finalized</th>

                    </tr>
                </thead>

                <tbody>
                    {% for item in results %}
                    <tr>
                        <td><a target=="_blank" href="/client/emr_form/{{ item.id }}/" >{{ item.date|list_date }}</a></td>
                        <td><a target=="_blank" href="/client/emr_form/{{ item.id }}/" >{{ item.get_first_finalized.fields.finalized_date|list_date|default:'' }}</a></td>
                        <td><a target=="_blank" href="/client/emr_form/{{ item.id }}/" >{{ item.created_by.userconfig.full_name }}</a></td>
                        <td><a target=="_blank" href="/client/emr_form/{{ item.id }}/" >{{ item.emrepisode.client }}</a></td>
                        <td><a target=="_blank" href="/client/emr_form/{{ item.id }}/" >{{ item.emrepisode.get_episode_type_pretty }}</a></td>
                        <td><a target=="_blank" href="/client/emr_form/{{ item.id }}/" >{{ item.emrformtype }}</a></td>
                        <td><a target=="_blank" href="/client/emr_form/{{ item.id }}/" >{{ item.get_days_to_finalized}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="7" class='right total nowrap'>
                            <span class="cell">
                                <strong>
                                    Avg days to finalized: <span style="min-width:4rem" class="monospace d-inline-block">{{avg_days_to_finalized|floatformat:"2"}}</span><br>
                                    Open forms: <span style="min-width:4rem" class="monospace d-inline-block">{{num_open_forms}}</span><br>
                                    Total results: <span style="min-width:4rem" class="monospace d-inline-block">{{results|length}}</span>
                                </strong>
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="7" class='right total nowrap'>
                            <span class="cell">
                                <strong>
                                    --- Averages by worker ---<br>
                                    {% for key, value in caseworker_avgs.items %}
                                        {{key.userconfig.full_name}}: <span style="min-width:4rem" class="monospace d-inline-block">{{value|floatformat:"2"}}</span><br>
                                    {% endfor %}
                                </strong>
                            </span>
                        </td>
                    </tr>
                </tfoot>

            </table>

        </div>
    </div>
</div>
{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
