<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2>Transaction Report</h2>
            {% if not cc_report %}
            <form id="frm"  class="transaction-report-form"  method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {% include "form_buttons.html" with filter=True %}
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% if results %}
    {% if not cc_report %}
    <div  id="report-results" class='container-fluid print-hide'>
        <div class='row margin-top-2'>
            <div class="col-md-12 text-right">
                <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv/?report_id={{report_id}}&report_name=Transaction_report">
                    Download as CSV
                </a>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}


{% if cc_report %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 form-values">
                {% for key, value in filter_data.items %}
                    <span>{{key}}: {{value}}</span>
                {% endfor %}
                <hr>
            </div>
        </div>
    </div>
{% endif %}


{% if results %}
<div class="container-fluid">
    <div class="row">
        <div class='col-12'>

            {% for primary_group in results %}

                {% if groupby == "client" %}
                    {% if hide_client == False %}
                        <h5 class='margin-top-2'>{{primary_group.group_name|safe}}</h5>
                    {% else %}
                        <h5 class='margin-top-2'>Client Name Hidden</h5>
                    {% endif %}
                {% else %}
                    <h5 class='margin-top-2'>{{primary_group.group_name|safe}}</h5>
                {% endif %}

            
   
                <table style="table-layout: fixed;" class="listview-table-no-order-no-search-no-info">
                    <thead>
                        <tr>
                            <th>Account</th>
                            {% if show_cfda_number %}<th>CFDA Number</th>{% endif %}
                            <th class="nowrap">Trans Date</th>
                            <th class="nowrap">Srvc Date</th>
                            <th>Batch</th>
                            <th>Desc</th>
                            {% if not hide_vendor %}<th>Vendor</th>{% endif %}
                            <th>Caseworker</th>
                            {% if groupby == "1" %}
                                <th>Year</th>
                                <th>Period</th>
                            {% else %}
                                <th>Client</th>
                            {% endif %}
                            <th>SPC</th>
                            {% if show_target_group %}<th>Tgt Group</th>{% endif %}
                            {% if show_billing_code %}<th>Bill Code</th>{% endif %}
                            {% if show_diagnosis_codes %}<th>Diag Code(s)</th>{% endif %}
                            {% if show_place_of_service %}<th>Place of Service</th>{% endif %}
                            {% if show_type_of_contact %}<th>Type of Contact</th>{% endif %}
                            <th>Invoice</th>
                            <th>Fund Profile</th>
                            <th>Unit Type</th>
                            <th class="right">Units</th>
                            <th class='right'>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mg in primary_group.month_groups %}
                            {% for v in mg.transactions %}
                            <tr>
                                <td class='monospace'><span class='cell'>{{v.account.name}}</span></td>
                                {% if show_cfda_number %}
                                    <td class='monospace'><span class='cell'>{{v.account.cfda_number}}</span></td>
                                {% endif %}
                                <td class='monospace'><span class='d-none'>{{v.date|date:'Ymd'}}</span><span class='cell'>{{v.date|date:'m/d/Y'}}</span></td>
                                <td class='monospace'><span class='d-none'>{{v.service_date|date:'Ymd'}}</span><span class='cell'>{{v.service_date|date:'m/d/Y'}}</span></td>
                                <td><span class="cell">{{ v.lot|default:'' }}</span></td>
                                <td><span class='cell'>{{v.description|default:''}}{% if v.emr_form %} ({{v.emr_form.id}}){% endif %}</span></td>
                                <td><span class='cell'>{% if hide_vendor == False %}{{v.vendor.name|default:''}}{% endif %}</span></td>

                                <td><span class='cell'>
                                    {% if v.case_note %}
                                        {{v.case_note.get_signer_user.userconfig|default:''}}
                                    {% elif v.emr_form %}
                                        {% for cw in v.emr_form.get_caseworkers %}
                                            {{cw}}{% if not forloop.last %}<br>{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </span></td>

                               <td><span class='cell'>{% if hide_client == False %}{{v.client.name|default:''}}{% endif %}</span></td>
                                <td><span class='cell'>{{v.service.spc_code}}</span></td>
                                {% if show_target_group %}
                                <td><span class='cell'>{{v.get_target_group_display|default:''}}</span></td>
                                {% endif %}
                                {% if show_billing_code %}<td><span class='cell'>{{v.get_billing_code_display|default:''}}{% endif %}</span></td>
                                {% if show_diagnosis_codes %}
                                    <td><span class='cell'>{% if v.emr_form %}{% for code in v.emr_form.get_diagnosis_codes %}
                                        {{code.code}}
                                    {% endfor %}{% endif %}</span></td>
                                {% endif %}

                                {% if show_place_of_service %}<td><span class="cell">{% if v.emr_form %}{{v.emr_form.get_place_of_service_display}}{% endif %}</span></td>{% endif %}
                                {% if show_type_of_contact %}<td><span class="cell">{% if v.emr_form %}{{v.emr_form.get_contact_types}}{% endif %}</span></td>{% endif %}


                                <td class=''><span class='cell'>{{v.invoice|default:''}}</span></td>
                                <td class=''><span class='cell'>{{v.account.funding_profile|default:''}}</span></td>

                                <td class=''><span class='cell'>{{v.get_unit_type_display|default:''}}</span></td>
                                <td class='right monospace'><span class='cell'>{{v.units|intcomma|default:''}}</span></td>
                                <td class='right monospace'><span class='cell'>{{v.get_natural_amount|floatformat:2|intcomma}}</span></td>
                            </tr>

                            {% if forloop.last %}
                                <tr>
                                    <td><span class='cell'></span></td>
                                    <td><span class='cell'></span></td>
                                    <td><span class='cell'></span></td>
                                    <td><span class="cell"></span></td>
                                    <td><span class="cell"></span></td>
                                    {% if show_billing_code %}<td></td>{% endif %}
                                    {% if show_cfda_number %}<td></td>{% endif %}
                                    {% if show_target_group %}<td></td>{% endif %}
                                    {% if show_diagnosis_codes %}<td></td>{% endif %}
                                    {% if show_place_of_service %}<td></td>{% endif %}
                                    {% if show_type_of_contact %}<td></td>{% endif %}
                                    <td><span class='cell mt-2 mb-4'><strong>{{mg.get_date_key|safe}}</strong></span></td>
                                    <td><span class='cell'></span></td>
                                    <td><span class='cell'></span></td>
                                    <td><span class='cell'></span></td>
                                    <td><span class='cell'></span></td>
                                    <td><span class="cell"></span></td>
                                    <td><span class='cell'></span></td>
                                    <td class='right monospace'><span class='cell mt-2 mb-4'><strong>{{ mg.total_units|floatformat:2|intcomma }}</strong></span></td>
                                    <td class='right monospace'><span class='cell mt-2 mb-4'><strong>{{ mg.total_amount|floatformat:2|intcomma }}</strong></span></td>
                                </tr>
                            {% endif %}


                            {% endfor %}
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% if show_billing_code %}<td></td>{% endif %}
                            {% if show_cfda_number %}<td></td>{% endif %}
                            {% if show_target_group %}<td></td>{% endif %}
                            {% if show_diagnosis_codes %}<td></td>{% endif %}
                            {% if show_place_of_service %}<td></td>{% endif %}
                            {% if show_type_of_contact %}<td></td>{% endif %}
                            <td><span class='cell float-right'><b>Totals:</b></span></td>
                            <td class='right monospace'><span class='cell'><b>{{primary_group.total_units|floatformat:2|intcomma}}</b></span></td>
                            <td class='right monospace'><span class='cell'><b>{{primary_group.total_amount|floatformat:2|intcomma}}</b></span></td>
                        </tr>
                    </tbody>

                </table>
            {% endfor %}
            <div class='right margin-top-4' style='margin-right:0rem;'><b>Total Units:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='monospace'><b>{{grand_total_units|intcomma}}</b></span></div>
            <div class='right margin-top-1' style='margin-right:0rem;'><b>Total Amount:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='monospace'><b>{{grand_total_amount|floatformat:2|intcomma}}</b></span></div>


        </div>
    </div>
</div>
{% elif cc_report %}
    <div class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}

{% block page_javascript %}

{% endblock %}