<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class='container print-hide'>
    <div class="row justify-content-center">
    	<div class="col-md-12">
    		<h2>Trial Balance</h2>
            {% if subtitle and not popup %}<h5>{{ subtitle }}</h5>{%endif%}
    		<form id="frm" method="post" action="">
    			{% csrf_token %}
    			{{ form.as_p }}
    			{% include "form_buttons.html" with filter=True %}
    		</form>
    	</div>
    </div>
</div>

{% if results  %}
<div id="report-results"  class='container'>
    <div class='row margin-top-4'>
        <div class="col-md-12 text-right">
            <a class="btn btn-sm btn-secondary ml-4" href="/report/download_as_csv/?report_id={{report_id}}&report_name=Trial_balance">
                Download as CSV
            </a>
        </div>
    </div>
    <div class='row margin-top-4'>
    	<div class='col-md-12 '>
    		<div>

    			<table class="{{table_class}}">
    				<thead>
    					<tr>
    						<th class="nowrap">Account</th>
    						<th class="nowrap">County Account</th>
    						<th>Description</th>
    						<!--<th class='right'>Debit</th>-->
    						<!--<th class='right'>Credit</th>-->
                            <th class="right">Balance</th>
    					</tr>
    				</thead>

    				<tbody>
    					{% for item in results %}
    					<tr>
    						<td class='monospace nowrap'><a href="/report/account_transaction/?account={{item.0.id}}">{{item.0.name}}</a></td>
    						<td class='monospace nowrap'><span class='cell'>{{item.0.county_name|default:''}}</span></td>
    						<td><span class='cell'>{{item.0.description}}</span></td>
    						<!--<td class='right monospace'><span class='cell'>{{item.2|intcomma}}</span></td>-->
    						<!--<td class='right monospace'><span class='cell'>{{item.1|intcomma}}</span></td>-->
                            <td class='right monospace'><span class='cell'>{{item.3|floatformat:2|intcomma}}</span></td>
    					</tr>
    					{% endfor %}
    				</tbody>

    				<tfoot>
    					<tr>
                            
    						<td></td>
    						<td></td>
    						<td></td>
    						<!--<td class='right monospace'><span class='cell'><b>{{grand_debit_total|intcomma}}</b><br>Debit</span></td>-->
    						<!--<td class='right monospace'><span class='cell'><b>{{grand_credit_total|intcomma}}</b><br>Credit</span></td>-->
    					    <td class='right total monospace'><span class="cell"><strong>{{balance_grand_total|floatformat:2|intcomma}}</strong></span></td>
                        </tr>
    				</tfoot>

    			</table>

    		</div>
    	</div>
    </div>
</div>

{% elif request.method == "POST" %}
    <div id="report-results" class="container">
        <div class="row margin-top-2">
            <div class="col-md-12 center">
                <hr>
                <h4>No results found</h4>
            </div>
        </div>
    </div>
{% endif %}

{%endblock%}
