<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->


<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class='container'>

<div class='row margin-top-2'>
    <div class="col-md-12">
        <h2>
            Reports

            <a class="btn btn-sm btn-secondary ml-4" href="javascript:showClearReportModal();">
                Clear List
            </a>

        </h2>


    </div>
</div>

<div class="row margin-top-1">
    <div class='col-12'>
        <table class="listview-table-no-order-no-search">
            <thead>
                <tr>
                    <th>Report</th>
                    <th>Standard</th>
                    <th>CSV</th>
                    <th>Submitted</th>
                    <th>Processing Time</th>
                    <th>Total Time</th>
                </tr>
            </thead>
            {% if cc_reports %}
            <tbody id="cc_reports">
                {% include 'report/watcher_ajax.html' %}
            </tbody>
            {% endif %}
        </table>
    </div>
</div>

</div>
{%endblock%}


{% block page_javascript %}
<script>

    setTimeout(
        function (){
            refreshListview();
            checkForChanges();
        }, 1000);

    var FIRST_ROW_READY = null;

    function checkForChanges(){
        // Looks for reports that just finished, and navigates to their results
        var row = $("#cc_reports tr").first();
        var cols = row.find("td");

        if ($(cols[1]).find("a").first().text() != "View") {
            FIRST_ROW_READY = false;
            //console.log("Pending report detected...");
        }

        if (FIRST_ROW_READY == false && $(cols[1]).find("a").first().attr("href") != "#" && $(cols[1]).find("a").first().attr("href") != undefined) {
            //console.log("REady for action!");
            window.location.href = $(cols[1]).find("a").first().attr("href");
        }      

        setTimeout(checkForChanges, 1000);
    }

    function refreshListview(){
        ajaxGet("/report/cc_report/watcher_ajax", "Error. Could not pull report data", "#cc_reports");

        setTimeout(refreshListview, 1000);
    }   


</script>
{% endblock %}