<!--

SPDX-License-Identifier: AGPL-3.0-or-later
Copyright (C) 2025 Andrew Knotek <arknotek@pm.me>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->



{% for item in cc_reports %}
<tr>
    <td><span class="cell">{{item.get_report_name}} {{item.id}}</span></td>   
    {% if item.status == 'complete' %}
        <td><a style="color:green" href="/report/cc_report/complete/{{item.get_html_filename}}/">View</a></td>
        <td><a style="color:green" href="/report/cc_report/complete/{{item.get_csv_filename}}/">Download</a></td>
    {% else %}
        <td><a href="#">{{item.get_status_display}}</a></td>
        <td><a href="#">{{item.get_status_display}}</a></td>
    {% endif %}
    <td><span class="cell monospace">{{item.submitted|date:'m/d/Y H:i:s A'}}</span></td>
    <td><span class="cell">
        {% if item.get_runtime %}
            {{item.get_runtime}}
            {% if item.get_runtime == 1 %} second{% else %} seconds{% endif %}
        {% else %}
            
        {% endif %}
    </span></td>
    <td><span class="cell monospace">{{item.get_elapsed}} seconds</span></td>
</tr>
{% endfor %}


